[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "POST",
    "path": "/v3/marketing/contacts/search",
    "body": {
      "query": "first_name = \"test\""
    },
    "status": 200,
    "response": {
      "result": [
        {
          "address_line_1": "",
          "address_line_2": "",
          "alternate_emails": [],
          "city": "",
          "country": "",
          "email": "test@example.com",
          "first_name": "test",
          "id": "ed62c84e-59fe-4bb5-8a96-323b1b5db10b",
          "last_name": "",
          "list_ids": [],
          "postal_code": "",
          "state_province_region": "",
          "phone_number": "",
          "whatsapp": "",
          "line": "",
          "facebook": "",
          "unique_name": "",
          "_metadata": {
            "self": "https://api.sendgrid.com/v3/marketing/contacts/ed62c84e-59fe-4bb5-8a96-323b1b5db10b"
          },
          "custom_fields": {
            "test": "value"
          },
          "created_at": "2021-11-02T13:25:39Z",
          "updated_at": "2021-11-02T13:26:10Z"
        }
      ],
      "contact_count": 1,
      "_metadata": {
        "self": "https://api.sendgrid.com/v3/marketing/contacts/search"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "6d95ad4e-67b5-4573-b17e-867a6bd6aa1a",
      "x-amz-apigw-id",
      "IfEt1G2WvHcF7zQ=",
      "x-ratelimit-limit",
      "200",
      "x-ratelimit-remaining",
      "199",
      "x-ratelimit-reset",
      "47",
      "Powered-By",
      "SGGateway"
    ],
    "responseIsBinary": false
  }
]