[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "POST",
    "path": "/v3/marketing/contacts/search",
    "body": {
      "query": "first_name = \"test\""
    },
    "status": 200,
    "response": {
      "result": [
        {
          "address_line_1": "",
          "address_line_2": "",
          "alternate_emails": [],
          "city": "",
          "country": "",
          "email": "test@example.com",
          "first_name": "test",
          "id": "9fd2a571-2f57-4410-8974-ddae6a4fb134",
          "last_name": "",
          "list_ids": [],
          "postal_code": "",
          "state_province_region": "",
          "phone_number": "",
          "whatsapp": "",
          "line": "",
          "facebook": "",
          "unique_name": "",
          "_metadata": {
            "self": "https://api.sendgrid.com/v3/marketing/contacts/9fd2a571-2f57-4410-8974-ddae6a4fb134"
          },
          "custom_fields": {
            "existingField": "value"
          },
          "created_at": "2021-10-04T19:31:04Z",
          "updated_at": "2021-10-06T14:11:59Z"
        }
      ],
      "contact_count": 1,
      "_metadata": {
        "self": "https://api.sendgrid.com/v3/marketing/contacts/search"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "c30e5672-c89f-4626-8637-377ea8e7cf98",
      "x-amz-apigw-id",
      "G1bFmEQXPHcFiuA=",
      "x-ratelimit-limit",
      "200",
      "x-ratelimit-remaining",
      "199",
      "x-ratelimit-reset",
      "10",
      "Powered-By",
      "SGGateway"
    ],
    "responseIsBinary": false
  }
]