[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "GET",
    "path": "/v2/ugcPosts?q=authors&sortBy=LAST_MODIFIED&authors=List(urn%3Ali%3Aperson%3AQIMLoK7PG6)&count=10&start=0&projection=(paging,elements*(id,created,specificContent(com.linkedin.ugc.ShareContent(shareMediaCategory,shareCommentary,media(*(media~:playableStreams,originalUrl,description,title,thumbnails))))))",
    "body": "",
    "status": 403,
    "response": {
      "serviceErrorCode": 100,
      "message": "Field Value validation failed in PARAMETER: Data Processing Exception while processing fields [/authors/authors]",
      "status": 403
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "x-restli-gateway-error",
      "true",
      "Content-Type",
      "application/json",
      "162",
      "Thu, 24 Feb 2022 14:29:12 GMT",
      "X-Li-Fabric",
      "prod-ltx1",
      "X-Li-Pop",
      "prod-ltx1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXYxGfv5UziT0kXGM+OxA==",
      "bcookie=\"v=2&ad151221-d463-4c71-88fd-28e0d42f7f72\"; Domain=.linkedin.com; Expires=Sun, 25-Feb-2024 02:06:44 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NDU3MTI5NTI7MjswMjHE2qZiUecN5DLhcHcYn7+/V84b4wZ798pIyAVh2B1CsA==; Domain=.linkedin.com; Expires=Sat, 24 Feb 2024 03:48:33 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=TB77:s=T:r=T:a=T:p=T:g=2867:u=883:x=1:i=1645712952:t=1645780880:v=2:sig=AQE42pZA3aEFcdJnZTk3wtqFzlSOBDI4\"",
      "X-LI-Route-Key",
      "\"b=TB77:s=T:r=T:a=T:p=T:g=2867:u=883:x=1:i=1645712952:t=1645780880:v=2:sig=AQE42pZA3aEFcdJnZTk3wtqFzlSOBDI4\""
    ],
    "responseIsBinary": false
  }
]