[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/!!?page=1",
    "body": "",
    "status": 404,
    "response": {
      "type": "error",
      "error": {
        "message": "No workspace with identifier '!!'."
      }
    },
    "rawHeaders": [
      "nginx",
      "Authorization, Origin",
      "max-age=900",
      "Content-Type",
      "application/json; charset=utf-8",
      "6d12a90238232eee",
      "X-Usage-Output-Ops",
      "0",
      "X-Dc-Location",
      "Micros",
      "max-age=31536000; includeSubDomains; preload",
      "Thu, 04 Nov 2021 09:36:48 GMT",
      "X-Usage-User-Time",
      "0.016724",
      "X-Usage-System-Time",
      "0.001158",
      "9573b763c5bf",
      "X-View-Name",
      "bitbucket.apps.repo2.api.v20.repo.RepositoriesHandler",
      "ETag",
      "\"ebf42936b52272bfd5fb3583a7baa5e7\"",
      "X-Static-Version",
      "6649b3d5cb76",
      "X-Render-Time",
      "0.021735906601",
      "X-Accepted-OAuth-Scopes",
      "repository",
      "close",
      "X-Usage-Input-Ops",
      "0",
      "X-Version",
      "6649b3d5cb76",
      "X-Request-Count",
      "1521",
      "SAMEORIGIN",
      "caching",
      "77"
    ],
    "responseIsBinary": false
  }
]