[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/!!?page=1",
    "body": "",
    "status": 404,
    "response": {
      "type": "error",
      "error": {
        "message": "No workspace with identifier '!!'."
      }
    },
    "rawHeaders": [
      "nginx",
      "Authorization, Origin",
      "max-age=900",
      "Content-Type",
      "application/json; charset=utf-8",
      "ed5bfd65c7664052",
      "X-Usage-Output-Ops",
      "0",
      "X-Dc-Location",
      "Micros",
      "max-age=31536000; includeSubDomains; preload",
      "Fri, 05 Nov 2021 09:11:13 GMT",
      "X-Usage-User-Time",
      "0.018458",
      "X-Usage-System-Time",
      "0.000000",
      "059c6d89f865",
      "X-View-Name",
      "bitbucket.apps.repo2.api.v20.repo.RepositoriesHandler",
      "ETag",
      "\"ebf42936b52272bfd5fb3583a7baa5e7\"",
      "X-Static-Version",
      "6649b3d5cb76",
      "X-Render-Time",
      "0.0175940990448",
      "X-Accepted-OAuth-Scopes",
      "repository",
      "close",
      "X-Usage-Input-Ops",
      "0",
      "X-Version",
      "6649b3d5cb76",
      "X-Request-Count",
      "1645",
      "SAMEORIGIN",
      "caching",
      "77"
    ],
    "responseIsBinary": false
  }
]