[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "POST",
    "path": "/v2/shares",
    "body": {
      "owner": "urn:li:organization:2414183",
      "text": {
        "text": "Test from Superface Station 9."
      },
      "distribution": {
        "linkedInDistributionTarget": {}
      }
    },
    "status": 201,
    "response": {
      "owner": "urn:li:organization:2414183",
      "activity": "urn:li:activity:6905098674272055297",
      "edited": false,
      "created": {
        "actor": "urn:li:person:3W-GHjejaD",
        "time": 1646303814453
      },
      "text": {
        "text": "Test from Superface Station 9."
      },
      "lastModified": {
        "actor": "urn:li:person:3W-GHjejaD",
        "time": 1646303814453
      },
      "id": "6905098673844211713",
      "distribution": {
        "linkedInDistributionTarget": {
          "visibleToGuest": true
        }
      }
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "Content-Type",
      "application/json",
      "Location",
      "/shares/6905098673844211713",
      "x-linkedin-id",
      "6905098673844211713",
      "x-restli-protocol-version",
      "1.0.0",
      "390",
      "Thu, 03 Mar 2022 10:36:54 GMT",
      "X-Li-Fabric",
      "prod-ltx1",
      "{\"group\":\"network-errors\",\"max_age\":2592000,\"endpoints\":[{\"url\":\"https://www.linkedin.com/li/rep\"}],\"include_subdomains\":true}",
      "{\"report_to\":\"network-errors\",\"max_age\":1296000,\"success_fraction\":0.00066,\"failure_fraction\":1,\"include_subdomains\":true}",
      "X-Li-Source-Fabric",
      "prod-lor1",
      "X-Li-Pop",
      "prod-lor1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXZTfoKeTXJHoE4F8UEFQ==",
      "bcookie=\"v=2&c612430d-0f19-4374-8c8f-9364e2662309\"; Domain=.linkedin.com; Expires=Sat, 02-Mar-2024 22:14:26 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NDYzMDM4MTQ7MjswMjEJR6gAt6mZdSleR+H05FPLfiu3/vD7eU1asIjentzPRQ==; Domain=.linkedin.com; Expires=Thu, 22 Feb 2024 20:52:10 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646303814:t=1646304966:v=2:sig=AQG3Hhxv7ivypImEFtdcTZrQ9KFuhvim\"",
      "X-LI-Route-Key",
      "\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646303814:t=1646304966:v=2:sig=AQG3Hhxv7ivypImEFtdcTZrQ9KFuhvim\""
    ],
    "responseIsBinary": false
  }
]