[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "POST",
    "path": "/v2/shares",
    "body": {
      "owner": "urn:li:organization:2414183",
      "text": {
        "text": "This is a post with a link to an example domain."
      },
      "distribution": {
        "linkedInDistributionTarget": {}
      },
      "content": {
        "contentEntities": [
          {
            "entityLocation": "https://example.com"
          }
        ]
      }
    },
    "status": 201,
    "response": {
      "owner": "urn:li:organization:2414183",
      "activity": "urn:li:activity:6920392041046704129",
      "edited": false,
      "created": {
        "actor": "urn:li:person:kTIeOYPJgL",
        "time": 1649950037237
      },
      "text": {
        "text": "This is a post with a link to an example domain."
      },
      "lastModified": {
        "actor": "urn:li:person:kTIeOYPJgL",
        "time": 1649950037237
      },
      "id": "6920392040602091520",
      "distribution": {
        "linkedInDistributionTarget": {
          "visibleToGuest": true
        }
      },
      "content": {
        "contentEntities": [
          {
            "entityLocation": "https://example.com"
          }
        ],
        "shareMediaCategory": "ARTICLE"
      }
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "Content-Type",
      "application/json",
      "Location",
      "/shares/6920392040602091520",
      "x-linkedin-id",
      "6920392040602091520",
      "x-restli-protocol-version",
      "1.0.0",
      "512",
      "Thu, 14 Apr 2022 15:27:17 GMT",
      "X-Li-Fabric",
      "prod-lor1",
      "X-Li-Source-Fabric",
      "prod-lva1",
      "X-Li-Pop",
      "prod-lva1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXcnu3a0jINTDMPdfvZLw==",
      "bcookie=\"v=2&5998d90a-ef9e-4f8d-8267-368bf2ae3b21\"; Domain=.linkedin.com; Expires=Sun, 14-Apr-2024 03:04:49 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NDk5NTAwMzc7MjswMjFfiKcS2vw0MA+1ByniHWzvKyfqBs/Oy+nmN+4zNfGTmQ==; Domain=.linkedin.com; Expires=Sat, 06 Apr 2024 19:44:22 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=OB65:s=O:r=O:a=O:p=O:g=2967:u=284:x=1:i=1649950037:t=1650029753:v=2:sig=AQFXFU-8WxLFoQ4BxdDyhXluqvb7zE0c\"",
      "X-LI-Route-Key",
      "\"b=OB65:s=O:r=O:a=O:p=O:g=2967:u=284:x=1:i=1649950037:t=1650029753:v=2:sig=AQFXFU-8WxLFoQ4BxdDyhXluqvb7zE0c\""
    ],
    "responseIsBinary": false
  }
]