[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "POST",
    "path": "/v2/shares",
    "body": {
      "owner": "urn:li:organization:2414183",
      "text": {
        "text": "Test from Superface Station 8."
      },
      "distribution": {
        "linkedInDistributionTarget": {}
      }
    },
    "status": 422,
    "response": {
      "errorDetailType": "com.linkedin.common.error.BadRequest",
      "message": "com.linkedin.content.common.exception.BadRequestResponseException: Content is a duplicate of urn:li:share:6905097770965745664",
      "errorDetails": {
        "inputErrors": [
          {
            "description": "Duplicate post is detected",
            "input": {},
            "code": "DUPLICATE_POST"
          }
        ]
      },
      "status": 422
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "Content-Type",
      "application/json",
      "x-linkedin-error-response",
      "true",
      "x-restli-gateway-error",
      "false",
      "x-restli-protocol-version",
      "1.0.0",
      "322",
      "Thu, 03 Mar 2022 10:35:37 GMT",
      "X-Li-Fabric",
      "prod-ltx1",
      "X-Li-Source-Fabric",
      "prod-lva1",
      "X-Li-Pop",
      "prod-lva1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXZTfV2+DU7JESH0Ny/Ww==",
      "bcookie=\"v=2&8b1b33bc-56dd-4d19-8134-147acf266978\"; Domain=.linkedin.com; Expires=Sat, 02-Mar-2024 22:13:09 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NDYzMDM3Mzc7MjswMjH956Hj7+L0qwJigj6sTH9fCwYNeKBX1FP0Dp1XAbHNXg==; Domain=.linkedin.com; Expires=Sun, 25 Feb 2024 21:56:41 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646303737:t=1646304966:v=2:sig=AQG8jpQEpK6zsDL4zbIQynYHMVUMvIkP\"",
      "X-LI-Route-Key",
      "\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646303737:t=1646304966:v=2:sig=AQG8jpQEpK6zsDL4zbIQynYHMVUMvIkP\""
    ],
    "responseIsBinary": false
  }
]