[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "POST",
    "path": "/v2/shares",
    "body": {
      "owner": "urn:li:organization:2414183",
      "text": {
        "text": "This is a post with a link to an example domain..."
      },
      "distribution": {
        "linkedInDistributionTarget": {}
      },
      "content": {
        "contentEntities": [
          {
            "entityLocation": "https://example.com"
          }
        ]
      }
    },
    "status": 201,
    "response": {
      "owner": "urn:li:organization:2414183",
      "activity": "urn:li:activity:6905098678680244225",
      "edited": false,
      "created": {
        "actor": "urn:li:person:3W-GHjejaD",
        "time": 1646303815498
      },
      "text": {
        "text": "This is a post with a link to an example domain..."
      },
      "lastModified": {
        "actor": "urn:li:csUser:0",
        "time": 1646303815543
      },
      "id": "6905098678067871744",
      "distribution": {
        "linkedInDistributionTarget": {
          "visibleToGuest": true
        }
      },
      "content": {
        "contentEntities": [
          {
            "entityLocation": "https://example.com"
          }
        ],
        "shareMediaCategory": "ARTICLE"
      }
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "Content-Type",
      "application/json",
      "Location",
      "/shares/6905098678067871744",
      "x-linkedin-id",
      "6905098678067871744",
      "x-restli-protocol-version",
      "1.0.0",
      "505",
      "Thu, 03 Mar 2022 10:36:55 GMT",
      "X-Li-Fabric",
      "prod-ltx1",
      "X-Li-Source-Fabric",
      "prod-lor1",
      "X-Li-Pop",
      "prod-lor1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXZTfoZ2gewtlcW1lxMIg==",
      "bcookie=\"v=2&c4241680-1013-4f9a-8c1c-d1e685b0c8f8\"; Domain=.linkedin.com; Expires=Sat, 02-Mar-2024 22:14:27 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NDYzMDM4MTU7MjswMjFLbSCWzGOJKLh/fET7KoJc2i1gyorpg+Bmt/kj3Z3EHg==; Domain=.linkedin.com; Expires=Sun, 25 Feb 2024 09:06:55 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646303815:t=1646304966:v=2:sig=AQGxFQZ6C7YVRZnNy_6Zy0RaPjGjHfJs\"",
      "X-LI-Route-Key",
      "\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646303815:t=1646304966:v=2:sig=AQGxFQZ6C7YVRZnNy_6Zy0RaPjGjHfJs\""
    ],
    "responseIsBinary": false
  }
]