[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "POST",
    "path": "/v2/shares",
    "body": {
      "owner": "urn:li:organization:2414183",
      "text": {
        "text": "Test from Superface Station 7"
      },
      "distribution": {
        "linkedInDistributionTarget": {}
      }
    },
    "status": 201,
    "response": {
      "owner": "urn:li:organization:2414183",
      "activity": "urn:li:activity:6920392037846437888",
      "edited": false,
      "created": {
        "actor": "urn:li:person:kTIeOYPJgL",
        "time": 1649950036475
      },
      "text": {
        "text": "Test from Superface Station 7"
      },
      "lastModified": {
        "actor": "urn:li:person:kTIeOYPJgL",
        "time": 1649950036475
      },
      "id": "6920392037481541632",
      "distribution": {
        "linkedInDistributionTarget": {
          "visibleToGuest": true
        }
      }
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "Content-Type",
      "application/json",
      "Location",
      "/shares/6920392037481541632",
      "x-linkedin-id",
      "6920392037481541632",
      "x-restli-protocol-version",
      "1.0.0",
      "389",
      "Thu, 14 Apr 2022 15:27:16 GMT",
      "X-Li-Fabric",
      "prod-lor1",
      "X-Li-Source-Fabric",
      "prod-lva1",
      "X-Li-Pop",
      "prod-lva1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXcnu3PHhaQm74B9UMVNA==",
      "bcookie=\"v=2&58a847a2-0eec-4533-8374-0c9b8d8462ff\"; Domain=.linkedin.com; Expires=Sun, 14-Apr-2024 03:04:48 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NDk5NTAwMzY7MjswMjGa9sG264fOI8QvXfBEWe17WmKx3SMjVC6mOgIGYCPTpg==; Domain=.linkedin.com; Expires=Sat, 06 Apr 2024 19:23:21 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=OB65:s=O:r=O:a=O:p=O:g=2967:u=284:x=1:i=1649950036:t=1650029753:v=2:sig=AQEuBx3sXZLX1QNSSX6tg_IXzLbqtSDu\"",
      "X-LI-Route-Key",
      "\"b=OB65:s=O:r=O:a=O:p=O:g=2967:u=284:x=1:i=1649950036:t=1650029753:v=2:sig=AQEuBx3sXZLX1QNSSX6tg_IXzLbqtSDu\""
    ],
    "responseIsBinary": false
  }
]