[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "POST",
    "path": "/v2/shares",
    "body": {
      "owner": "urn:li:organization:2414183",
      "text": {
        "text": "This is a post with a link to an example domain"
      },
      "distribution": {
        "linkedInDistributionTarget": {}
      },
      "content": {
        "contentEntities": [
          {
            "entityLocation": "https://example.com"
          }
        ]
      }
    },
    "status": 201,
    "response": {
      "owner": "urn:li:organization:2414183",
      "activity": "urn:li:activity:6905098354649288704",
      "edited": false,
      "created": {
        "actor": "urn:li:person:3W-GHjejaD",
        "time": 1646303738258
      },
      "text": {
        "text": "This is a post with a link to an example domain"
      },
      "lastModified": {
        "actor": "urn:li:person:3W-GHjejaD",
        "time": 1646303738258
      },
      "id": "6905098354276012033",
      "distribution": {
        "linkedInDistributionTarget": {
          "visibleToGuest": true
        }
      },
      "content": {
        "contentEntities": [
          {
            "entityLocation": "https://example.com"
          }
        ],
        "shareMediaCategory": "ARTICLE"
      }
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "Content-Type",
      "application/json",
      "Location",
      "/shares/6905098354276012033",
      "x-linkedin-id",
      "6905098354276012033",
      "x-restli-protocol-version",
      "1.0.0",
      "511",
      "Thu, 03 Mar 2022 10:35:38 GMT",
      "X-Li-Fabric",
      "prod-ltx1",
      "X-Li-Source-Fabric",
      "prod-lva1",
      "X-Li-Pop",
      "prod-lva1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXZTfV/cxQp7zV0Kgth0g==",
      "bcookie=\"v=2&a4f146db-0116-40a4-8b1c-a43df1951846\"; Domain=.linkedin.com; Expires=Sat, 02-Mar-2024 22:13:10 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NDYzMDM3Mzg7MjswMjE6uh1WHT/cylnp+abK6gcFXzQcwaT7HwbKRRBeyJg66A==; Domain=.linkedin.com; Expires=Sun, 25 Feb 2024 22:30:58 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646303738:t=1646304966:v=2:sig=AQHKtuLkP6iJYlZZdVX0qjogXlWHzpoJ\"",
      "X-LI-Route-Key",
      "\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646303738:t=1646304966:v=2:sig=AQHKtuLkP6iJYlZZdVX0qjogXlWHzpoJ\""
    ],
    "responseIsBinary": false
  }
]