[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "POST",
    "path": "/v2/shares",
    "body": {
      "owner": "urn:li:organization:2414183",
      "text": {
        "text": "This is a post with a link to an example domain."
      },
      "distribution": {
        "linkedInDistributionTarget": {}
      },
      "content": {
        "contentEntities": [
          {
            "entityLocation": "https://example.com"
          }
        ]
      }
    },
    "status": 201,
    "response": {
      "owner": "urn:li:organization:2414183",
      "activity": "urn:li:activity:6905136744518225921",
      "edited": false,
      "created": {
        "actor": "urn:li:person:3W-GHjejaD",
        "time": 1646312891117
      },
      "text": {
        "text": "This is a post with a link to an example domain."
      },
      "lastModified": {
        "actor": "urn:li:person:3W-GHjejaD",
        "time": 1646312891117
      },
      "id": "6905136744035889154",
      "distribution": {
        "linkedInDistributionTarget": {
          "visibleToGuest": true
        }
      },
      "content": {
        "contentEntities": [
          {
            "entityLocation": "https://example.com"
          }
        ],
        "shareMediaCategory": "ARTICLE"
      }
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "Content-Type",
      "application/json",
      "Location",
      "/shares/6905136744035889154",
      "x-linkedin-id",
      "6905136744035889154",
      "x-restli-protocol-version",
      "1.0.0",
      "512",
      "Thu, 03 Mar 2022 13:08:11 GMT",
      "X-Li-Fabric",
      "prod-ltx1",
      "{\"group\":\"network-errors\",\"max_age\":2592000,\"endpoints\":[{\"url\":\"https://www.linkedin.com/li/rep\"}],\"include_subdomains\":true}",
      "{\"report_to\":\"network-errors\",\"max_age\":1296000,\"success_fraction\":0.00066,\"failure_fraction\":1,\"include_subdomains\":true}",
      "X-Li-Source-Fabric",
      "prod-lor1",
      "X-Li-Pop",
      "prod-lor1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXZUBcNL3WUtoKjBPqLdA==",
      "bcookie=\"v=2&f4cbdd38-5716-4544-8642-d2dec1191c0a\"; Domain=.linkedin.com; Expires=Sun, 03-Mar-2024 00:45:43 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NDYzMTI4OTA7MjswMjEWvMQx1Jwe5GdlZKYE9xJFIe2fjCIzWAaX8ZbALeFWTA==; Domain=.linkedin.com; Expires=Sun, 25 Feb 2024 02:29:33 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646312890:t=1646399131:v=2:sig=AQG5QfEqJyBIpwiD0UdZNikrY6DfW0Dy\"",
      "X-LI-Route-Key",
      "\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646312890:t=1646399131:v=2:sig=AQG5QfEqJyBIpwiD0UdZNikrY6DfW0Dy\""
    ],
    "responseIsBinary": false
  }
]