[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "POST",
    "path": "/v2/shares",
    "body": {
      "owner": "urn:li:organization:2414183",
      "text": {
        "text": "Test from Superface Station 7"
      },
      "distribution": {
        "linkedInDistributionTarget": {}
      }
    },
    "status": 201,
    "response": {
      "owner": "urn:li:organization:2414183",
      "activity": "urn:li:activity:6905136740177121281",
      "edited": false,
      "created": {
        "actor": "urn:li:person:3W-GHjejaD",
        "time": 1646312890074
      },
      "text": {
        "text": "Test from Superface Station 7"
      },
      "lastModified": {
        "actor": "urn:li:person:3W-GHjejaD",
        "time": 1646312890074
      },
      "id": "6905136739719938048",
      "distribution": {
        "linkedInDistributionTarget": {
          "visibleToGuest": true
        }
      }
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "Content-Type",
      "application/json",
      "Location",
      "/shares/6905136739719938048",
      "x-linkedin-id",
      "6905136739719938048",
      "x-restli-protocol-version",
      "1.0.0",
      "389",
      "Thu, 03 Mar 2022 13:08:10 GMT",
      "X-Li-Fabric",
      "prod-ltx1",
      "X-Li-Source-Fabric",
      "prod-lor1",
      "{\"group\":\"network-errors\",\"max_age\":2592000,\"endpoints\":[{\"url\":\"https://www.linkedin.com/li/rep\"}],\"include_subdomains\":true}",
      "{\"report_to\":\"network-errors\",\"max_age\":1296000,\"success_fraction\":0.00066,\"failure_fraction\":1,\"include_subdomains\":true}",
      "X-Li-Pop",
      "prod-lor1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXZUBb9HrMH7Jvu5Fzm3w==",
      "bcookie=\"v=2&df77d604-0765-4dc2-8fed-e57eb40d2f59\"; Domain=.linkedin.com; Expires=Sun, 03-Mar-2024 00:45:42 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NDYzMTI4ODk7MjswMjGlgtConY3p7KeeslTJvzVJZX2U2DNSSVVj7EG5938clQ==; Domain=.linkedin.com; Expires=Thu, 22 Feb 2024 19:48:38 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646312889:t=1646399131:v=2:sig=AQG-nazG8Kgup2t0vpY3yawKvg6C2uwr\"",
      "X-LI-Route-Key",
      "\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646312889:t=1646399131:v=2:sig=AQG-nazG8Kgup2t0vpY3yawKvg6C2uwr\""
    ],
    "responseIsBinary": false
  }
]