[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "POST",
    "path": "/v2/shares",
    "body": {
      "owner": "4",
      "text": {
        "text": "Test media publishing from Superface Station."
      },
      "distribution": {
        "linkedInDistributionTarget": {}
      }
    },
    "status": 403,
    "response": {
      "serviceErrorCode": 100,
      "message": "Field Value validation failed in REQUEST_BODY: Data Processing Exception while processing fields [/owner]",
      "status": 403
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "x-restli-gateway-error",
      "true",
      "Content-Type",
      "application/json",
      "155",
      "Thu, 14 Apr 2022 15:27:27 GMT",
      "X-Li-Fabric",
      "prod-lor1",
      "X-Li-Source-Fabric",
      "prod-lva1",
      "X-Li-Pop",
      "prod-lva1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXcnu57vSm9LoDwg6teuw==",
      "bcookie=\"v=2&6878d94e-595c-49a6-878c-d90cc9e7618a\"; Domain=.linkedin.com; Expires=Sun, 14-Apr-2024 03:04:59 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NDk5NTAwNDc7MjswMjH7ATGNpQ8O3rzsc/aeAOImYea1oTsdMajFZ63auQ40aQ==; Domain=.linkedin.com; Expires=Sat, 06 Apr 2024 19:32:40 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=OB65:s=O:r=O:a=O:p=O:g=2967:u=284:x=1:i=1649950047:t=1650029753:v=2:sig=AQFUpbmmsgdiMUP_6XnJgwh3PYZ0tVVF\"",
      "X-LI-Route-Key",
      "\"b=OB65:s=O:r=O:a=O:p=O:g=2967:u=284:x=1:i=1649950047:t=1650029753:v=2:sig=AQFUpbmmsgdiMUP_6XnJgwh3PYZ0tVVF\""
    ],
    "responseIsBinary": false
  }
]