[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "POST",
    "path": "/v2/shares",
    "body": {
      "owner": "urn:li:organization:2414183",
      "text": {
        "text": "Test from Superface Station 9."
      },
      "distribution": {
        "linkedInDistributionTarget": {}
      }
    },
    "status": 422,
    "response": {
      "errorDetailType": "com.linkedin.common.error.BadRequest",
      "message": "com.linkedin.content.common.exception.BadRequestResponseException: Content is a duplicate of urn:li:share:6905136376480632832",
      "errorDetails": {
        "inputErrors": [
          {
            "description": "Duplicate post is detected",
            "input": {},
            "code": "DUPLICATE_POST"
          }
        ]
      },
      "status": 422
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "Content-Type",
      "application/json",
      "x-linkedin-error-response",
      "true",
      "x-restli-gateway-error",
      "false",
      "x-restli-protocol-version",
      "1.0.0",
      "322",
      "Thu, 03 Mar 2022 13:07:32 GMT",
      "X-Li-Fabric",
      "prod-ltx1",
      "X-Li-Source-Fabric",
      "prod-lor1",
      "X-Li-Pop",
      "prod-lor1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXZUBTALnnQn2HmPRJLkg==",
      "bcookie=\"v=2&c42ea4be-e8f7-4933-8710-fd075f8c9241\"; Domain=.linkedin.com; Expires=Sun, 03-Mar-2024 00:45:04 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NDYzMTI4NTI7MjswMjFVVXxeu+gjP1YHE14nEJ9k5TVfKuYK1jdMubfIuNjc4w==; Domain=.linkedin.com; Expires=Thu, 22 Feb 2024 19:50:03 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646312852:t=1646399131:v=2:sig=AQGeSFHWlOQ2RXizb8NoI6ipxkhQo5Fu\"",
      "X-LI-Route-Key",
      "\"b=TB77:s=T:r=T:a=T:p=T:g=2871:u=883:x=1:i=1646312852:t=1646399131:v=2:sig=AQGeSFHWlOQ2RXizb8NoI6ipxkhQo5Fu\""
    ],
    "responseIsBinary": false
  }
]