[
  {
    "scope": "https://discord.com:443",
    "method": "DELETE",
    "path": "/api/channels/000000000000000000/messages/000000000000000000",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Tue, 30 Aug 2022 10:05:07 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=398e5724284b11ed8085162990a0c464; Expires=Sun, 29-Aug-2027 10:05:07 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "da101873bd9ceb21138638aa25f33cb1",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1661853913",
      "x-ratelimit-reset-after",
      "5",
      "34",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "__sdcfduid=398e5724284b11ed8085162990a0c464c53e716d6d4450e738c713c1dfbc0cee0655fc727f78b16b540470b9ec8f9507; Expires=Sun, 29-Aug-2027 10:05:07 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=xBZ4xC0g1lBGSWjb9kcDGK4x%2BDy3jj2Wkv%2FX%2BNBriOSyl%2B4c5%2F9nyIEX0kX56Gt92wMkHp0ZIUihCMSSPDVqP1Nq4ZhX%2FGfaSrf5ZbZerdogm7twt6MxBnPsSj8g\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "742cb4c718c277e6-VIE"
    ],
    "responseIsBinary": false
  }
]