[
  {
    "scope": "https://discord.com:443",
    "method": "DELETE",
    "path": "/api/channels/935962220104396885/messages/000000000000000000",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Message",
      "code": 10008
    },
    "rawHeaders": [
      "Tue, 30 Aug 2022 10:04:09 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=1703c626284b11ed93e5c67441745166; Expires=Sun, 29-Aug-2027 10:04:09 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "da101873bd9ceb21138638aa25f33cb1",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "3",
      "x-ratelimit-reset",
      "1661853854",
      "x-ratelimit-reset-after",
      "5",
      "67",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "__sdcfduid=1703c626284b11ed93e5c6744174516644d46614ba976978f2a36032a4010b6261384e64bf3f556358c7720389d14d44; Expires=Sun, 29-Aug-2027 10:04:09 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=RvS51SjnzpFDHzP8yKqymdoMw63g73j0pk8LZBLw5yLF6JpFPu%2BroEwsKYswghoCLO9Ya9Gi4yrFeNvhdYRmEfPwy1a6vDoDz0ZZ0DhsFOSPLsTKCYLLU6DeR57Y\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "742cb35ccec2c23d-VIE"
    ],
    "responseIsBinary": false
  }
]