[
  {
    "scope": "https://discord.com:443",
    "method": "DELETE",
    "path": "/api/channels/000000000000000000/messages/000000000000000000",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Tue, 27 Sep 2022 08:35:28 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=571b5cec3e3f11edb46dce68fd6f2d55; Expires=Sun, 26-Sep-2027 08:35:28 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "da101873bd9ceb21138638aa25f33cb1",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1664267734",
      "x-ratelimit-reset-after",
      "5",
      "29",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=fkBoYgF7Li26lEVHEt%2Bc8ta%2F0PUSg8iLAdPOpMS54C1nNlTuMrDaNsiqKkV8MANO1qGHQ0sCMsKc6PkmQ2zR2YiqaM08nV%2FMCUFQN7Adl0BDxH6Zuzm6R51hrdxV\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "__sdcfduid=571b5cec3e3f11edb46dce68fd6f2d55d09ce9dee4c9bf7dcc9f1c31e01688c02a352648dd839e01e330494445c8f105; Expires=Sun, 26-Sep-2027 08:35:28 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__cfruid=998aaf21618d53089be6e5f51372fef609f5d331-1664267728; path=/; domain=.discord.com; HttpOnly; Secure; SameSite=None",
      "cloudflare",
      "7512e7f5af98b330-PRG"
    ],
    "responseIsBinary": false
  }
]