[
  {
    "scope": "https://api.tyntec.com:443",
    "method": "GET",
    "path": "/chat-api/v2/messages/23eb4d4a-bd24-41f6-86ed-1f7a74c986f9/history",
    "body": "",
    "status": 200,
    "response": {
      "messageId": "23eb4d4a-bd24-41f6-86ed-1f7a74c986f9",
      "history": [
        {
          "happendAt": "2021-11-05T09:00:29.598Z",
          "state": "message-accepted"
        },
        {
          "deliveryChannel": "sms",
          "happendAt": "2021-11-05T09:00:29.635Z",
          "state": "message-routing-success"
        },
        {
          "deliveryChannel": "sms",
          "happendAt": "2021-11-05T09:00:29.726Z",
          "state": "message-dispatching-success"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-TT-Upstream-Latency",
      "12",
      "X-TT-Proxy-Latency",
      "97"
    ],
    "responseIsBinary": false
  }
]