[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/guilds/000000000000000000/channels",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Guild",
      "code": 10004
    },
    "rawHeaders": [
      "Mon, 29 Aug 2022 07:44:09 GMT",
      "Content-Type",
      "application/json",
      "43",
      "close",
      "__dcfduid=5e041536276e11edabb1ba180f362a72; Expires=Sat, 28-Aug-2027 07:44:09 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=5e041536276e11edabb1ba180f362a72fd3a4566817dfeaa24ce445708ccf793a458d01b980174adebd1ca7354ee4cf3; Expires=Sat, 28-Aug-2027 07:44:09 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "a66d55b18e9649f0915c93ce4c0677af",
      "x-ratelimit-limit",
      "10",
      "x-ratelimit-remaining",
      "8",
      "x-ratelimit-reset",
      "1661759061",
      "x-ratelimit-reset-after",
      "12",
      "20",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=aTolP%2FL9eRn7r3Wxh4RYtLou%2BC80v3xmGgeDM6bI9zpG6JgZLFgj%2BjI7bJB1B4VoXdQMvDY6rRb10zZQlJOZ%2F5444DMJTpBcEggXKUnGOUN3jYoeNMVQudPTMv9h\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "7423a8eb1c78b353-PRG"
    ],
    "responseIsBinary": false
  }
]