[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/guilds/935962220104396881/channels",
    "body": "",
    "status": 200,
    "response": [
      {
        "id": "935962220104396882",
        "type": 4,
        "name": "Information",
        "position": 0,
        "flags": 0,
        "parent_id": null,
        "guild_id": "935962220104396881",
        "permission_overwrites": []
      },
      {
        "id": "935962220104396883",
        "last_message_id": "935962369543245874",
        "type": 0,
        "name": "welcome-and-rules",
        "position": 1,
        "flags": 0,
        "parent_id": "935962220104396882",
        "topic": null,
        "guild_id": "935962220104396881",
        "permission_overwrites": [],
        "rate_limit_per_user": 0,
        "nsfw": false
      },
      {
        "id": "935962220104396884",
        "last_message_id": null,
        "type": 0,
        "name": "announcements",
        "position": 2,
        "flags": 0,
        "parent_id": "935962220104396882",
        "topic": null,
        "guild_id": "935962220104396881",
        "permission_overwrites": [],
        "rate_limit_per_user": 0,
        "nsfw": false
      },
      {
        "id": "935962220104396885",
        "last_message_id": "1014527379613433976",
        [...]
