{
  "recruitment/candidates/breezy-hr/CreateCandidate": {
    "17e477fe899e29fb93a2117a6a9baadf": [
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/candidates/search?email_address=john.doe%40fakemail.com",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
          "Wed, 07 Dec 2022 13:59:37 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "2",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "98",
          "X-RateLimit-Reset",
          "1670421590",
          "ETag",
          "W/\"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w\""
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.breezy.hr:443",
        "method": "POST",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/f1cfc5572a5701/candidates",
        "body": {
          "name": "John Doe",
          "email_address": "john.doe@fakemail.com",
          "address": "25772 Gustave Shore, Iowa, USA",
          "phone_number": "1-859-557-6573",
          "education": [
            {
              "school_name": "University of Pennsylvania",
              "degree": "MBA",
              "field_of_study": null,
              "start_date": "2008-03-01",
              "end_date": "2011-03-30"
            },
            {
              "school_name": "University of Chicago",
              "degree": "B.S.",
              "field_of_study": "Marketing Communication & Economics",
              "start_date": "2004-09-01",
              "end_date": "2007-03-30"
            }
          ],
          "work_history": [
            {
              "title": "Sales Director",
              "summary": "Summary of a work experience at Test Company",
              "company_name": "Test Company",
              "industry": "Telecommunications",
              "is_current": false
            }
          ],
          "social_profiles": {
            "twitter": "https://twitter.com/candidate.username"
          },
          "custom_attributes": [
            {
              "name": "Portfolio",
              "value": "https://url.to.portfolio"
            }
          ],
          "origin": "applied"
        },
        "status": 200,
        "response": [
          "1f8b0800000000000003",
          "cd544b6fdb300cfe2b820f3bc58eedd8719253bb76185a604381b6971585214b4cac55960c494ee615f9efa3ecb469d7618fdb2e86457e7c7e241f8352f0601554e98cd12ccba0281671124c82061c1d551987a22a8a352b783ca828e706ac45559a17454a3e76d6d12d90eb5a1b98900bbda313727b7d8a5066803aa155c9a9036f10a76998a4615cdc24b355be5c6549b4c8e22f0805deb1011bacee1e03cb6aad65a968e3cd6e95d882b1c2f544afc91528657bb9a54a50345c0b90bcd4ebd2ba[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/candidates/search?email_address=demo_testing%40fakemail.com",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
          "Wed, 07 Dec 2022 13:59:42 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "2",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "96",
          "X-RateLimit-Reset",
          "1670421590",
          "ETag",
          "W/\"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w\""
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.breezy.hr:443",
        "method": "POST",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/12345ab789d1dd/candidates",
        "body": {
          "name": "Demo Testing",
          "email_address": "demo_testing@fakemail.com",
          "social_profiles": {},
          "custom_attributes": [],
          "origin": "applied"
        },
        "status": 500,
        "response": {
          "error": {
            "type": "addCandidateError",
            "message": "there was an unknown error creating candidate."
          }
        },
        "rawHeaders": [
          "Wed, 07 Dec 2022 13:59:44 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "97",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "95",
          "X-RateLimit-Reset",
          "1670421590",
          "ETag",
          "W/\"61-VOmYEQW8LNhNin8YPuANSEMH9y8\""
        ],
        "responseIsBinary": false
      }
    ]
  },
  "recruitment/candidates/breezy-hr/GetStageChanges": {
    "ff2de6b28585b881708b22a705d52804": [
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/f1cfc5572a5701/candidate/1e5d0dfd2b6501/stream",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003",
          "ed97db6e9c3010865fa5e2b6e9ca073098ab46aafa02496f1a4568b087955b4ec5265514e5dd6b608f099bdd8ba86d9495f662f57b8cfff9c79f04370f416674900642240a450e0ca42634b808dc7d8b5e57506ba3c1e19503d7db6fedf05ffb75eb3a846ada4c[...]
[...]
