[
  {
    "scope": "https://api-eu.dhl.com:443",
    "method": "GET",
    "path": "/track/shipments?trackingNumber=00340434292135100148",
    "body": "",
    "status": 200,
    "response": {
      "shipments": [
        {
          "serviceUrl": "https://www.dhl.de/de/privatkunden.html?piececode=00340434292135100148&cid=c_dhl_de_352_20205002_151_M040",
          "rerouteUrl": "https://www.dhl.de/de/privatkunden.html?piececode=00340434292135100148&verfuegen_selected_tab=FIRST&cid=c_dhl_de_352_20205001_150_M040",
          "id": "00340434292135100148",
          "service": "parcel-de",
          "origin": {
            "address": {
              "countryCode": "DE"
            }
          },
          "destination": {
            "address": {
              "countryCode": "DE"
            }
          },
          "status": {
            "timestamp": "2021-07-06T19:35:00",
            "statusCode": "pre-transit",
            "status": "The instruction data for this shipment have been provided by the sender to DHL electronically",
            "description": "The instruction data for this shipment have been provided by the sender to DHL electronically"
          },
          "details": {
            "product": {
              "productName": "DHL PAKET (parcel)"
            },
            "totalNumberOfPieces": 1,
            "pieceIds": [
              "340434292135100148"
            ],
            "weight": {
              "value": 2,
              "unitText": "kg"
            },
            "dimensions": {
              "width": {
                "value": 0.3,
                "unitText": "m"
              },
              "height": {
                "value": 0.14,
                "unitText": "m"
              },
              "length": {
                "value": 0.38,
                "unitText": "m"
              }
            }
          },
          "events": [
            {
              "timestamp": "2021-07-06T19:35:00",
              "statusCode": "pre-transit",
              "status": "The instruction data for this shipment have been provided by the sender to DHL electronically",
              "description": "The instruction data for this shipment have been provided by the sender to DHL electronically"
            }
          ]
        }
      ],
      "possibleAdditionalShipmentsUrl": [
        "/track/shipments?trackingNumber=00340434292135100148&service=freight",
        "/track/shipments?trackingNumber=00340434292135100148&service=dgf",
        "/track/shipments?trackingNumber=00340434292135100148&service=ecommerce",
        "/track/shipments?trackingNumber=00340434292135100148&service=parcel-nl",
        "/track/shipments?trackingNumber=00340434292135100148&service=parcel-pl",
        "/track/shipments?trackingNumber=00340434292135100148&service=post-de",
        "/track/shipments?trackingNumber=00340434292135100148&service=sameday",
        "/track/shipments?trackingNumber=00340434292135100148&service=parcel-uk"
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Content-Language",
      "en",
      "Correlation-Id",
      "9a50dd80-f977-4d55-af1f-efe34ecd057d"
    ],
    "reqheaders": {
      "dhl-api-key": [
        "demo-key"
      ]
    },
    "responseIsBinary": false
  },
  {
    "scope": "https://api-eu.dhl.com:443",
    "method": "GET",
    "path": "/track/shipments?trackingNumber=NOT_EXISTING_TRACKING_NUMBER",
    "body": "",
    "status": 404,
    "response": {
      "title": "No result found",
      "status": 404,
      "detail": "No shipment with given tracking number found."
    },
    "rawHeaders": [
      "Content-Type",
      "application/problem+json",
      "Correlation-Id",
      "d7928b91-eb08-4237-8085-7a943e0b424f",
      "Content-Language",
      "en"
    ],
    "reqheaders": {
      "dhl-api-key": [
        "demo-key"
      ]
    },
    "responseIsBinary": false
  }
]
