[
  {
    "scope": "https://api-eu.dhl.com:443",
    "method": "GET",
    "path": "/track/shipments?trackingNumber=NOT_EXISTING_TRACKING_NUMBER",
    "body": "",
    "status": 404,
    "response": {
      "title": "No result found",
      "status": 404,
      "detail": "No shipment with given tracking number found."
    },
    "rawHeaders": [
      "Content-Type",
      "application/problem+json",
      "Correlation-Id",
      "efe6ae8f-90e1-44b0-8008-08637cfdef14",
      "Content-Language",
      "en"
    ],
    "responseIsBinary": false
  }
]