[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/JakubVacek/made-up/pullrequests?page=1",
    "body": "",
    "status": 404,
    "response": {
      "type": "error",
      "error": {
        "message": "The requested repository either does not exist or you do not have access. If you believe this repository exists and you have access, make sure you're authenticated."
      }
    },
    "rawHeaders": [
      "nginx",
      "authorization, cookie, user-context, Origin",
      "max-age=900",
      "Content-Type",
      "application/json; charset=utf-8",
      "673d62eed0db0568",
      "X-Usage-Output-Ops",
      "0",
      "X-Dc-Location",
      "Micros",
      "max-age=31536000; includeSubDomains; preload",
      "Thu, 04 Nov 2021 09:36:47 GMT",
      "X-Usage-User-Time",
      "0.018683",
      "X-Usage-System-Time",
      "0.007602",
      "1f428ae02669",
      "X-View-Name",
      "bitbucket.apps.pullrequests.api.v20.handlers.RepositoryPullRequestsHandler",
      "ETag",
      "\"7d15f36b6efdc797bf0b22d3f051a03f\"",
      "X-Static-Version",
      "6649b3d5cb76",
      "X-Render-Time",
      "0.0320048332214",
      "X-Accepted-OAuth-Scopes",
      "pullrequest",
      "close",
      "X-Usage-Input-Ops",
      "0",
      "X-Version",
      "6649b3d5cb76",
      "X-Request-Count",
      "1894",
      "SAMEORIGIN",
      "caching",
      "207"
    ],
    "responseIsBinary": false
  }
]