[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "POST",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/profile",
    "body": {
      "email": "support+station@superface.ai",
      "person": {
        "nickname": "Station Test",
        "geolocation": {}
      }
    },
    "status": 201,
    "response": {
      "error": false,
      "reason": "added",
      "data": {
        "people_id": "d16f225a-a008-48ae-a2d8-ff9bc5528255"
      }
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 14:42:52 GMT",
      "Content-Type",
      "application/json",
      "92",
      "close",
      "Bloom-Status",
      "DIRECT",
      "5cba487355 99.99 0.019994 0032 da0c",
      "4971e2e2-7958-4000-b52d-006ea4b45ef0",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b755303fa314e1a-FRA",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/data/d16f225a-a008-48ae-a2d8-ff9bc5528255",
    "body": {
      "data": {
        "propertyAddedOnCreation": "field value"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 14:42:52 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "c1698624b5 stream 0.000000 0202 da0c",
      "bfb8f233-fe91-4667-a05f-ea60d4e20a10",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b755304ca036909-FRA",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]