[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "POST",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/profile",
    "body": {
      "email": "support+station@superface.ai",
      "person": {
        "nickname": "Station Test"
      }
    },
    "status": 201,
    "response": {
      "error": false,
      "reason": "added",
      "data": {
        "people_id": "8366ca01-4613-432d-8fcd-2bc00e249317"
      }
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 10:58:32 GMT",
      "Content-Type",
      "application/json",
      "92",
      "close",
      "Bloom-Status",
      "DIRECT",
      "6c2cebbc2d stream 0.000000 0212 da0c",
      "89f89a81-2530-4813-bac6-aa1ed242c707",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b740a667dcb2788-PRG",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/data/8366ca01-4613-432d-8fcd-2bc00e249317",
    "body": {
      "data": {
        "propertyAddedOnCreation": "field value"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 10:58:32 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "f23518d182 stream 0.000000 0202 da0c",
      "b09c8737-cda2-4bcd-8ef6-8b5cee70b13c",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b740a675e335bfd-FRA",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]