[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "POST",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/profile",
    "body": {
      "email": "support+station@superface.ai",
      "person": {
        "nickname": "Station Test"
      }
    },
    "status": 201,
    "response": {
      "error": false,
      "reason": "added",
      "data": {
        "people_id": "8725a5f7-ca97-4823-969d-c465fb6d1585"
      }
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 11:32:45 GMT",
      "Content-Type",
      "application/json",
      "92",
      "close",
      "Bloom-Status",
      "DIRECT",
      "06ec7efb6d 99.99 0.029757 0032 da0c",
      "3b67e7d6-4812-4a4c-a645-e5f9c8fa0e8c",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b743c86abb24120-PRG",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/data/8725a5f7-ca97-4823-969d-c465fb6d1585",
    "body": {
      "data": {
        "propertyAddedOnCreation": "field value"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 11:32:45 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "eb95643cab stream 0.000000 0202 da0c",
      "34959bb3-32ee-458e-ad62-e318559915ef",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b743c878b062798-PRG",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]