[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "POST",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/profile",
    "body": {
      "email": "support+station@superface.ai",
      "person": {
        "nickname": "Station Test"
      }
    },
    "status": 201,
    "response": {
      "error": false,
      "reason": "added",
      "data": {
        "people_id": "53034820-89c8-4e6a-ac18-d2d05787562f"
      }
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 10:20:49 GMT",
      "Content-Type",
      "application/json",
      "92",
      "close",
      "Bloom-Status",
      "DIRECT",
      "41c259528f stream 0.000000 0212 da0c",
      "e8fba921-c30a-4c12-b1d4-99fee54d7cf0",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b73d325fb3168e5-FRA",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/data/53034820-89c8-4e6a-ac18-d2d05787562f",
    "body": {
      "data": {
        "propertyAddedOnCreation": "field value"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 10:20:49 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "0061af4902 stream 0.000000 0202 da0c",
      "542c754c-c795-4e89-95f1-11fbb86338c3",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b73d326c89c27a0-PRG",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]