[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "POST",
    "path": "/v1/website/PARAMS_WEBSITE_ID/people/profile",
    "body": {
      "email": "support+station@superface.ai",
      "person": {
        "nickname": "Station Test",
        "geolocation": {}
      }
    },
    "status": 201,
    "response": {
      "error": false,
      "reason": "added",
      "data": {
        "people_id": "11f0b7f4-5b44-4b13-994c-0972e5de6436"
      }
    },
    "rawHeaders": [
      "Wed, 08 Dec 2021 16:24:00 GMT",
      "Content-Type",
      "application/json",
      "92",
      "close",
      "Bloom-Status",
      "DIRECT",
      "85cd640144 99.99 0.020117 0032 da0c",
      "abacabc3-539c-4d3c-950e-3470308cdd9a",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6ba75769ddd9435d-FRA",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/PARAMS_WEBSITE_ID/people/data/11f0b7f4-5b44-4b13-994c-0972e5de6436",
    "body": {
      "data": {
        "propertyAddedOnCreation": "field value"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Wed, 08 Dec 2021 16:24:00 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "ed13609f56 stream 0.000000 0202 da0c",
      "80d3ad73-74d5-4d83-a834-1460d74ca6f1",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6ba7576abbae2774-PRG",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]