{
  "atlassian/accessible-resources/atlassian-cloud/ListAccessibleResources": {
    "25108c65fc036c9a8e4f709561a52935": [
      {
        "scope": "https://api.atlassian.com:443",
        "method": "GET",
        "path": "/oauth/token/accessible-resources",
        "body": "",
        "status": 200,
        "response": [
          {
            "id": "PARAMS_CLOUD_ID",
            "url": "https://sfc-sandbox.atlassian.net",
            "name": "sfc-sandbox",
            "scopes": [
              "manage:jira-project",
              "read:jira-work",
              "write:jira-work"
            ],
            "avatarUrl": "https://site-admin-avatar-cdn.prod.public.atl-paas.net/avatars/240/rocket.png"
          }
        ],
        "rawHeaders": [
          "Wed, 26 Apr 2023 20:10:42 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "270",
          "SAMEORIGIN",
          "X-Content-Typeoptions",
          "nosniff",
          "Etag",
          "W/\"10e-gyAbOB9TUM2VcQ1A7/xlBVgSAGc\"",
          "AtlassianEdge",
          "X-Trace-Id",
          "b2b5746f3c4317e3",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "b2b5746f3c4317e3",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close"
        ],
        "responseIsBinary": false
      }
    ]
  }
}