[
  {
    "scope": "https://api.freegeoip.app:443",
    "method": "GET",
    "path": "/json/256.256.256.256?apikey=SECURITY_apikey",
    "body": "",
    "status": 404,
    "response": "404 page not found\n",
    "rawHeaders": [
      "Fri, 18 Feb 2022 10:51:18 GMT",
      "Content-Type",
      "text/plain; charset=utf-8",
      "19",
      "close",
      "X-RateLimit-Limit-Hour",
      "20000",
      "RateLimit-Reset",
      "522",
      "X-RateLimit-Remaining-Hour",
      "19968",
      "RateLimit-Remaining",
      "19968",
      "RateLimit-Limit",
      "20000",
      "nosniff",
      "*",
      "0",
      "1",
      "kong/2.5.1",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=8vUcLafDMo4geuWpIXLVhGFgN7w48ELSQ23008K3s44hfxjvyvRUh0dlNwbpCetMu6pi34Vc%2FxBfu5Nk2VoOqu8u4qi2iIg%2FPzP7gbMD5xhvdfzvESF%2Bdkzn5SjlomZFTEnpvw%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "cloudflare",
      "6df6b312f989909d-FRA",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]