[
  {
    "scope": "https://api.breezy.hr:443",
    "method": "GET",
    "path": "/v3/company/PARAMS_COMPANY_ID/positions?state=draft",
    "body": "",
    "status": 200,
    "response": [],
    "rawHeaders": [
      "Wed, 07 Dec 2022 08:03:36 GMT",
      "Content-Type",
      "application/json; charset=utf-8",
      "2",
      "close",
      "nginx/1.22.0",
      "Redstone",
      "X-RateLimit-Limit",
      "100",
      "X-RateLimit-Remaining",
      "98",
      "X-RateLimit-Reset",
      "1670400276",
      "ETag",
      "W/\"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w\""
    ],
    "responseIsBinary": false
  }
]