[
  {
    "scope": "https://swapi.dev:443",
    "method": "GET",
    "path": "/api/people/?search=Duke",
    "body": "",
    "status": 200,
    "response": {
      "count": 0,
      "next": null,
      "previous": null,
      "results": []
    },
    "rawHeaders": [
      "nginx/1.16.1",
      "Thu, 04 Nov 2021 19:24:13 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "SAMEORIGIN",
      "ETag",
      "\"4200165871240e4de02c79cbd62d9180\"",
      "Allow",
      "GET, HEAD, OPTIONS",
      "max-age=15768000"
    ],
    "responseIsBinary": false
  }
]