[
  {
    "scope": "https://api.pinterest.com:443",
    "method": "POST",
    "path": "/v5/oauth/token",
    "body": "grant_type=refresh_token&refresh_token=XXX_REFRESH_TOKEN_REDACTED_XXX&client_id=PARAMS_clientId&client_secret=PARAMS_clientSecret",
    "status": 200,
    "response": {
      "access_token": "XXX_ACCESS_TOKEN_REDACTED_XXX",
      "response_type": "refresh_token",
      "token_type": "bearer",
      "expires_in": 2592000,
      "scope": "boards:read boards:write pins:read pins:write"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "pinterest-version",
      "3295b9e",
      "pinterest-generated-by",
      "tpp-api-prod-0a03af4d",
      "x-pinterest-rid",
      "1984791364771022",
      "AKAMAI-GRN",
      "0.c66ed417.1652088791.412400bb",
      "X-CDN",
      "akamai"
    ],
    "responseIsBinary": false
  }
]