{
  "crm/lists/sendgrid/GetLists": {
    "790a1e221266fa9dd66e8bba804c6fb8": [
      {
        "scope": "https://api.sendgrid.com:443",
        "method": "GET",
        "path": "/v3/marketing/lists",
        "body": "",
        "status": 200,
        "response": {
          "result": [
            {
              "name": "test list",
              "id": "17a9df8c-9003-4c60-8e27-8492aebdacce",
              "contact_count": 2,
              "_metadata": {
                "self": "https://api.sendgrid.com/v3/marketing/lists/17a9df8c-9003-4c60-8e27-8492aebdacce"
              }
            },
            {
              "name": "test list two",
              "id": "761dc899-a2d6-40e2-82c6-312a3db2566c",
              "contact_count": 0,
              "_metadata": {
                "self": "https://api.sendgrid.com/v3/marketing/lists/761dc899-a2d6-40e2-82c6-312a3db2566c"
              }
            }
          ],
          "_metadata": {
            "self": "https://api.sendgrid.com/v3/marketing/lists?page_size=100&page_token=",
            "count": 2
          }
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "x-amzn-requestid",
          "ed84e741-5ca6-4619-86e2-8620e39b2e61",
          "x-amz-apigw-id",
          "e72jMHUJvHcFxIA=",
          "x-ratelimit-limit",
          "600",
          "x-ratelimit-remaining",
          "599",
          "x-ratelimit-reset",
          "37",
          "Powered-By",
          "SGGateway"
        ],
        "responseIsBinary": false
      }
    ]
  }
}