{
  "crm/lists/sendgrid/GetLists": {
    "eb1386702fb9a34bf3d070f436b17057": [
      {
        "scope": "https://api.sendgrid.com:443",
        "method": "GET",
        "path": "/v3/marketing/lists",
        "body": "",
        "status": 200,
        "response": {
          "result": [
            {
              "name": "test list",
              "id": "17a9df8c-9003-4c60-8e27-8492aebdacce",
              "contact_count": 2,
              "_metadata": {
                "self": "https://api.sendgrid.com/v3/marketing/lists/17a9df8c-9003-4c60-8e27-8492aebdacce"
              }
            },
            {
              "name": "test list two",
              "id": "761dc899-a2d6-40e2-82c6-312a3db2566c",
              "contact_count": 0,
              "_metadata": {
                "self": "https://api.sendgrid.com/v3/marketing/lists/761dc899-a2d6-40e2-82c6-312a3db2566c"
              }
            }
          ],
          "_metadata": {
            "self": "https://api.sendgrid.com/v3/marketing/lists?page_size=100&page_token=",
            "count": 2
          }
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "x-amzn-requestid",
          "68e693d1-44e1-429d-affc-f73ad16814a2",
          "x-amz-apigw-id",
          "e5OrhFMQvHcFuJA=",
          "x-ratelimit-limit",
          "600",
          "x-ratelimit-remaining",
          "599",
          "x-ratelimit-reset",
          "37",
          "Powered-By",
          "SGGateway"
        ],
        "responseIsBinary": false
      }
    ],
    "790a1e221266fa9dd66e8bba804c6fb8": [
[...]
      {
        "scope": "https://api.sendgrid.com:443",
        "method": "PUT",
        "path": "/v3/marketing/contacts",
        "body": {
          "list_ids": [
            "17a9df8c-9003-4c60-8e27-8492aebdacce"
          ],
          "contacts": [
            {
              "email": "demo+added_one@superface.ai"
            },
            {
              "email": "demo+added_two@superface.ai"
            }
          ]
        },
        "status": 202,
        "response": {
          "job_id": "d0a7a15f-5aad-4d69-8098-6d6239343a3b"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "x-amzn-requestid",
          "688f4132-6b78-48b3-ba61-251a236038c8",
          "x-amz-apigw-id",
          "e5OroHngvHcFebQ=",
          "x-ratelimit-limit",
          "200",
          "x-ratelimit-remaining",
          "199",
          "x-ratelimit-reset",
          "36"
        ],
        "responseIsBinary": false
      }
    ],
    "b2e17388d0f0ee218b8569d6405547ee": [
[...]
