[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/17873072687761945?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "status": "Finished: Media has been uploaded and it is ready to be published.",
      "status_code": "FINISHED",
      "id": "17873072687761945"
    },
    "rawHeaders": [
      "ETag",
      "\"c3ed15da5b86f480f08ef673f569ca2c9cc69ccb\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":49,\"total_cputime\":0,\"total_time\":20}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AFPHOYO5pmIxhk6aOkbaKDT",
      "BgHkz7ZuEsg",
      "1006251251",
      "txeJwHfvAYgIzjW1XsfqIdXf9KIa3Loy8jrsuTGPntV8ab8UBHAbJ+1phwhf8eYixO0U7TtWhDKrqK6xbCknEg==",
      "Thu, 22 Sep 2022 15:23:05 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "129"
    ],
    "responseIsBinary": false
  }
]