[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/17950244213157265?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "status": "Finished: Media has been uploaded and it is ready to be published.",
      "status_code": "FINISHED",
      "id": "17950244213157265"
    },
    "rawHeaders": [
      "ETag",
      "\"b8e486f0df51f4d6fec8370bf023940a12fa6f7d\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":5,\"total_cputime\":0,\"total_time\":0}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "ADuCcMVwizounB8USRgXh25",
      "EfiiHuJDc6t",
      "1006164866",
      "0C5QM3He5b4rLLJYh4EwUhlLWi7ffgxzPoosASmHWgxTl3nT1u4buC202I1ykBx/3Y2+QXCvgANsvmrgDTB5Ug==",
      "Thu, 08 Sep 2022 16:29:11 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "129"
    ],
    "responseIsBinary": false
  }
]