[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/17944248500128615?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "status": "Finished: Media has been uploaded and it is ready to be published.",
      "status_code": "FINISHED",
      "id": "17944248500128615"
    },
    "rawHeaders": [
      "ETag",
      "\"15b7e192490f2a01ca887bdc747f7524b761f3b0\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":51,\"total_cputime\":0,\"total_time\":25}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AIzYlxUduLjBj0TUhTWIB4c",
      "HA79+ZblGsP",
      "1006251251",
      "xIfJr0xOtYHnpjbvhCGY4So7HRb4nrxxRJw3ZlVxecjxtANLij+HwA4Xknv3n5Mpy02fROm0ens7jGZ/jIyLew==",
      "Thu, 22 Sep 2022 15:23:42 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "129"
    ],
    "responseIsBinary": false
  }
]