[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/17933650889306168?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "status": "Finished: Media has been uploaded and it is ready to be published.",
      "status_code": "FINISHED",
      "id": "17933650889306168"
    },
    "rawHeaders": [
      "ETag",
      "\"06866f1c238cb6e787f769cd2a422f915ea1ffc5\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":8,\"total_cputime\":0,\"total_time\":1}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "A_SzGLogL1mVyzpRv7BhO9w",
      "E+sGEzp2l0i",
      "1006173660",
      "xag2L8vpZ6LHjrYUC+EX1BOnCA/4PaWDuMT7hJNvUxzd5TRBkPwub02T/HVmJesuw2R4oUGnwrbThiSn8aG9vg==",
      "Fri, 09 Sep 2022 17:37:13 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "129"
    ],
    "responseIsBinary": false
  }
]