[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/17974427638683999?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "status": "Finished: Media has been uploaded and it is ready to be published.",
      "status_code": "FINISHED",
      "id": "17974427638683999"
    },
    "rawHeaders": [
      "ETag",
      "\"fabd69039077f8611099314dafce94cbd76f00b9\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":3,\"total_cputime\":0,\"total_time\":0}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "Aof_ioTifinqTxYHeR-Xyue",
      "BxomnQDOJGc",
      "1006165276",
      "q5iFrazUCWfnQm8CpZvsORbryFUnXsGvFGkLXDMu7VlHmTrja5kKWX0GpL7VLUISDioSQ9o+nUAnjRgohAZKlg==",
      "Thu, 08 Sep 2022 16:28:25 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "129"
    ],
    "responseIsBinary": false
  }
]