[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/17921866895548143?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "status": "In Progress: Media is still being processed.",
      "status_code": "IN_PROGRESS",
      "id": "17921866895548143"
    },
    "rawHeaders": [
      "ETag",
      "\"58ad767dd8dac680298bfc13f6fa99b4e032acb5\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":5,\"total_cputime\":0,\"total_time\":0}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "A5ZAvsfzWRcY257M9tSMnJt",
      "CnslgN3+ozG",
      "1006173205",
      "wsT9wyd6b2tBseh+Oq3lpSPYrRhxRma1P3BiXc1uK4QJxVhzhMAm1Cg1o9pemuhx67tBveZfTs+eT1sNZLjXTQ==",
      "Fri, 09 Sep 2022 17:34:46 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "110"
    ],
    "responseIsBinary": false
  }
]