[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/17950798184136322?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "status": "Finished: Media has been uploaded and it is ready to be published.",
      "status_code": "FINISHED",
      "id": "17950798184136322"
    },
    "rawHeaders": [
      "ETag",
      "\"401409df1395c7793568b7247d016ad1d059c835\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":12,\"total_cputime\":0,\"total_time\":2}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AsSHCI6L0wLoj7y3R4cr0NM",
      "FPcEiO7ahkW",
      "1006173205",
      "hKZF6OdfAGPZzSYkmp9vhxYYP3eqSTsuCeENtirD6TZ2tN1/jy5hyjjOCQAsmsQunMwKgjcJ+pvV1Pw/2mJn5w==",
      "Fri, 09 Sep 2022 17:38:03 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "129"
    ],
    "responseIsBinary": false
  }
]