[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/17869100858769828?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "status": "In Progress: Media is still being processed.",
      "status_code": "IN_PROGRESS",
      "id": "17869100858769828"
    },
    "rawHeaders": [
      "ETag",
      "\"a608ef5759f87ae97a8f87353e4463350b188cfd\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":5,\"total_cputime\":0,\"total_time\":0}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AB4JCqTIQMU3VbqgeuJMZGC",
      "BUZotZV8VUA",
      "1006173205",
      "L5BJD0mcSejYumkwok4vjq/uVuailq1j+8x35pUmDBSq+6sFvyQAz0bE1xBV6xRz5EbWsjhDo1cM9IDTpcdvmQ==",
      "Fri, 09 Sep 2022 17:34:49 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "110"
    ],
    "responseIsBinary": false
  }
]