[
  {
    "scope": "https://atlas.microsoft.com:443",
    "method": "GET",
    "path": "/search/address/reverse/json?api-version=1.0&query=40.714224%2C-73.961452&subscription-key=SECURITY_subscription-key",
    "body": "",
    "status": 200,
    "response": {
      "summary": {
        "queryTime": 114,
        "numResults": 1
      },
      "addresses": [
        {
          "address": {
            "buildingNumber": "279",
            "streetNumber": "279",
            "routeNumbers": [],
            "street": "Bedford Avenue",
            "streetName": "Bedford Avenue",
            "streetNameAndNumber": "279 Bedford Avenue",
            "countryCode": "US",
            "countrySubdivision": "NY",
            "countrySecondarySubdivision": "Kings",
            "municipality": "New York",
            "postalCode": "11211",
            "municipalitySubdivision": "Brooklyn",
            "country": "United States",
            "countryCodeISO3": "USA",
            "freeformAddress": "279 Bedford Avenue, Brooklyn, NY 11211",
            "boundingBox": {
              "northEast": "40.714498,-73.961285",
              "southWest": "40.713892,-73.961696",
              "entity": "position"
            },
            "extendedPostalCode": "11211-4003",
            "countrySubdivisionName": "New York",
            "localName": "Brooklyn"
          },
          "position": "40.714241,-73.961456"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-ms-azuremaps-region",
      "West Europe"
    ],
    "responseIsBinary": false
  }
]