[
  {
    "scope": "https://atlas.microsoft.com:443",
    "method": "GET",
    "path": "/search/address/reverse/json?api-version=1.0&query=undefined%2Cundefined&subscription-key=credentials-removed-to-keep-them-secure",
    "body": "",
    "status": 400,
    "response": {
      "error": {
        "code": "400 BadRequest",
        "message": "The provided coordinates in query are invalid, out of range, or not in the expected format"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "x-ms-azuremaps-region",
      "West Europe"
    ],
    "responseIsBinary": false
  }
]