{
  "crm/contacts/crisp/Create": {
    "0d616ab17e2da2ca6cd2f4a1cbc6117b": [
      {
        "scope": "https://api.crisp.chat:443",
        "method": "POST",
        "path": "/v1/website/PARAMS_WEBSITE_ID/people/profile",
        "body": {
          "email": "support+station@superface.ai",
          "person": {
            "nickname": "Station Test",
            "geolocation": {}
          }
        },
        "status": 201,
        "response": {
          "error": false,
          "reason": "added",
          "data": {
            "people_id": "11f0b7f4-5b44-4b13-994c-0972e5de6436"
          }
        },
        "rawHeaders": [
          "Wed, 08 Dec 2021 16:24:00 GMT",
          "Content-Type",
          "application/json",
          "92",
          "close",
          "Bloom-Status",
          "DIRECT",
          "85cd640144 99.99 0.020117 0032 da0c",
          "abacabc3-539c-4d3c-950e-3470308cdd9a",
          "DYNAMIC",
          "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
          "max-age=31536000; includeSubDomains; preload",
          "nosniff",
          "cloudflare",
          "6ba75769ddd9435d-FRA",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.crisp.chat:443",
        "method": "PATCH",
        "path": "/v1/website/PARAMS_WEBSITE_ID/people/data/11f0b7f4-5b44-4b13-994c-0972e5de6436",
        "body": {
          "data": {
            "propertyAddedOnCreation": "field value"
          }
        },
        "status": 200,
        "response": {
          "error": false,
          "reason": "updated",
          "data": {}
        },
        "rawHeaders": [
          "Wed, 08 Dec 2021 16:24:00 GMT",
          "Content-Type",
          "application/json",
          "44",
          "close",
          "Bloom-Status",
          "DIRECT",
          "ed13609f56 stream 0.000000 0202 da0c",
          "80d3ad73-74d5-4d83-a834-1460d74ca6f1",
          "DYNAMIC",
          "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
          "max-age=31536000; includeSubDomains; preload",
          "nosniff",
          "cloudflare",
          "6ba7576abbae2774-PRG",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
        ],
        "responseIsBinary": false
      }
    ],
    "a13378b7f45c4a474d74a036c1579270": []
  },
  "crm/contacts/crisp/Update": {
    "c8340e0f96a0e09b647c6af944146ef6": [
      {
        "scope": "https://api.crisp.chat:443",
        "method": "PATCH",
        "path": "/v1/website/PARAMS_WEBSITE_ID/people/profile/support+station@superface.ai",
        "body": {
          "email": "support+station@superface.ai",
          "person": {
            "nickname": "Station Test Support",
            "phone": "+420123456789",
            "geolocation": {
              "country": "CZ"
            }
          },
          "company": {
            "name": "Superface AI"
          }
        },
        "status": 200,
        "response": {
          "error": false,
          "reason": "updated",
          "data": {}
        },
        "rawHeaders": [
          "Wed, 08 Dec 2021 16:24:00 GMT",
          "Content-Type",
          "application/json",
          "44",
          "close",
          "Bloom-Status",
          "DIRECT",
          "09deffa50d 99.99 0.030197 0032 da0c",
          "724163c3-cedc-4d70-a1d3-abc2143c0840",
          "DYNAMIC",
          "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
          "max-age=31536000; includeSubDomains; preload",
          "nosniff",
          "cloudflare",
          "6ba7576bdfc9d72d-FRA",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.crisp.chat:443",
        "method": "PATCH",
        "path": "/v1/website/PARAMS_WEBSITE_ID/people/data/support+station@superface.ai",
        "body": {
          "data": {
            "propertyAddedOnUpdate": "field value"
          }
        },
        "status": 200,
        "response": {
          "error": false,
          "reason": "updated",
          "data": {}
        },
        "rawHeaders": [
          "Wed, 08 Dec 2021 16:24:00 GMT",
          "Content-Type",
          "application/json",
          "44",
          "close",
          "Bloom-Status",
          "DIRECT",
          "f1d92fbf86 99.99 0.011754 0032 da0c",
          "f759b96c-f400-45cd-a208-fc7f3455ebd8",
          "DYNAMIC",
          "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
          "max-age=31536000; includeSubDomains; preload",
          "nosniff",
          "cloudflare",
          "6ba7576cba5d27c0-PRG",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
        ],
        "responseIsBinary": false
      }
    ],
    "03c6e619cef44dd2c7756b50eddce787": [
      {
        "scope": "https://api.crisp.chat:443",
        "method": "PATCH",
        "path": "/v1/website/PARAMS_WEBSITE_ID/people/profile/999",
        "body": {
          "email": "nonexistent+user@superface.test",
          "person": {
            "phone": "+420123456789",
            "geolocation": {}
          }
        },
        "status": 404,
        "response": [
          "1f8b080000000000000304c1b10d00210c03c05d5c3341964191f0572841265488ddffee82520a563a6c107d67c0b0986bb24756fff2c440c3f072d87def070000ffff030003ea55f634000000"
        ],
        "rawHeaders": [
          "Wed, 08 Dec 2021 16:24:00 GMT",
          "Content-Type",
          "application/json",
          "chunked",
          "close",
          "Bloom-Status",
          "DIRECT",
          "cfcea751e5 99.99 0.009648 0032 da0c",
          "4ce14621-16eb-4de3-a7ae-80da5c400ff0",
          "DYNAMIC",
          "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
          "max-age=31536000; includeSubDomains; preload",
          "nosniff",
          "cloudflare",
          "6ba7576d9f814119-PRG",
          "gzip",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
        ],
        "responseIsBinary": false,
        "decodedResponse": {
          "error": true,
          "reason": "people_not_found",
          "data": {}
        }
      }
    ]
  },
  "crm/contacts/crisp/Search": {
    "9a2c3a13054b6cdb4ef7b63d99d1324f": [
      {
        "scope": "https://api.crisp.chat:443",
        "method": "GET",
        "path": "/v1/website/PARAMS_WEBSITE_ID/people/profiles?search_filter=%5B%7B%22criterion%22%3A%22email%22%2C%22query%22%3A%5B%22support%2Bstation%40superface.ai%22%5D%2C%22operator%22%3A%22eq%22%2C%22model%22%3A%22people%22%7D%5D",
        "body": "",
        "status": 200,
        "response": [
          "1f8b08000000000000036c90c16e833010447f259a6b4c05c198e053ab9e7a4e4f8da2c8314b6a156ccb36ad22c4bf5790e6d6e36[...]
[...]
      {
        "scope": "https://api.crisp.chat:443",
        "method": "GET",
        "path": "/v1/website/PARAMS_WEBSITE_ID/people/profiles?search_filter=%5B%7B%22criterion%22%3A%22email%22%2C%22query%22%3A%5B%22support%2Bstationnoname%40superface.ai%22%5D%2C%22operator%22%3A%22eq%22%2C%22model%22%3A%22people%22%7D%5D",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003548fc16ac42014457fa5dc6d4d8926268dabfe471986477c82345151d33204ffbd4ce8a6cbbb38d[...]
[...]
