[
  {
    "scope": "https://api.plivo.com:443",
    "method": "POST",
    "path": "/v1/Account/PARAMS_authId/Message/",
    "body": {
      "src": "Plivo APIs 2",
      "dst": "+4915207930698",
      "text": "Hello World!"
    },
    "status": 202,
    "response": {
      "api_id": "9aa44b06-3e11-11ec-9cee-0242ac110003",
      "message": "message(s) queued",
      "message_uuid": [
        "9aa59cf4-3e11-11ec-9cee-0242ac110003"
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Plivo-Signature",
      "NzZAufjH0oRt8i/kjbPODBqHJPk=",
      "X-Plivo-Signature-V2",
      "v3fOytMg/2K4ZDyeHheLUeavtQKc0JMvKovC0AJyLvU=",
      "X-Plivo-Signature-MA-V2",
      "v3fOytMg/2K4ZDyeHheLUeavtQKc0JMvKovC0AJyLvU=",
      "X-Plivo-Signature-V2-Nonce",
      "21106843516771128026"
    ],
    "responseIsBinary": false
  }
]