[
  {
    "scope": "https://api.plivo.com:443",
    "method": "POST",
    "path": "/v1/Account/PARAMS_authId/Message/",
    "body": {
      "src": "Plivo APIs",
      "dst": "+4915207930698",
      "text": "Hello World!"
    },
    "status": 202,
    "response": {
      "api_id": "9a1b87da-3e11-11ec-9e36-0242ac110004",
      "message": "message(s) queued",
      "message_uuid": [
        "9a220a60-3e11-11ec-9e36-0242ac110004"
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Plivo-Signature",
      "6pdwLX6eD/2d0FEkuliLWwCFAX8=",
      "X-Plivo-Signature-V2",
      "MvpNwSBgUc0bOpDeR1KTRkm9lK325x53mm75d9/DgEA=",
      "X-Plivo-Signature-MA-V2",
      "MvpNwSBgUc0bOpDeR1KTRkm9lK325x53mm75d9/DgEA=",
      "X-Plivo-Signature-V2-Nonce",
      "24542202346300724920"
    ],
    "responseIsBinary": false
  }
]