{
  "project-management/tasks/asana/CreateTask": {
    "a53c2b131fba1f09efc55062d1942f5a": [
      {
        "scope": "https://app.asana.com:443",
        "method": "POST",
        "path": "/api/1.0/tasks",
        "body": {
          "data": {
            "name": "Hello, World!",
            "notes": "Description of test task",
            "projects": [
              "1204486079660998"
            ],
            "assignee": "1203400162064099"
          }
        },
        "status": 201,
        "response": {
          "data": {
            "gid": "1204486403194398",
            "projects": [
              {
                "gid": "1204486079660998",
                "resource_type": "project",
                "name": "Cross-functional project plan"
              }
            ],
            "resource_type": "task",
            "created_at": "2023-04-27T09:34:33.536Z",
            "modified_at": "2023-04-27T09:34:34.141Z",
            "name": "Hello, World!",
            "notes": "Description of test task",
            "parent": null,
            "actual_time_minutes": 0,
            "completed": false,
            "assignee_status": "inbox",
            "completed_at": null,
            "due_on": null,
            "due_at": null,
            "resource_subtype": "default_task",
            "start_on": null,
            "start_at": null,
            "tags": [],
            "workspace": {
              "gid": "1202159793758022",
              "resource_type": "workspace",
              "name": "superface.ai"
            },
            "num_hearts": 0,
            "num_likes": 0,
            "permalink_url": "https://app.asana.com/0/1204486079660998/1204486403194398",
            "memberships": [
              {
                "project": {
                  "gid": "1204486079660998",
                  "resource_type": "project",
                  "name": "Cross-functional project plan"
                },
                "section": {
                  "gid": "1204486079660999",
                  "resource_type": "section",
                  "name": "To do"
                }
              }
            ],
            "hearted": false,
            "hearts": [],
            "liked": false,
            "likes": [],
            "assignee": {
              "gid": "1203400160251645",
              "resource_type": "user",
              "name": "Demo"
            },
            "followers": [
              {
                "gid": "1204486011707558",
                "resource_type": "user",
                "name": "Super face"
              },
              {
                "gid": "1203400160251645",
                "resource_type": "user",
                "name": "Demo"
              }
            ],
            "custom_fields": [
              {
                "gid": "1204486079661003",
                "resource_type": "custom_field",
                "created_by": {
                  "gid": "1204486011707558",
                  "resource_type": "user",
                  "name": "Super face"
                },
                "resource_subtype": "enum",
                "type": "enum",
                "name": "Priority",
                "enabled": true,
                "enum_value": null,
                "display_value": null,
                "enum_options": [
                  {
                    "gid": "1204486079661004",
                    "resource_type": "enum_option",
                    "enabled": true,
                    "name": "Low",
                    "color": "aqua"
                  },
                  {
                    "gid": "1204486079661005",
                    "resource_type": "enum_option",
                    "enabled": true,
                    "name": "Medium",
                    "color": "yellow-orange"
                  },
                  {
                    "gid": "1204486079661006",
                    "resource_type": "enum_option",
                    "enabled": true,
                    "name": "High",
                   [...]
      {
        "scope": "https://app.asana.com:443",
        "method": "DELETE",
        "path": "/api/1.0/tasks/INPUT_taskId",
        "body": "",
        "status": 200,
        "response": {
          "data": {}
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=UTF-8",
          "X-Asana-Api-Version",
          "1.0",
          "Asana-Change",
          "name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828",
          "Asana-Change",
          "name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true",
          "Datacenter-Time-End",
          "1682588075.855",
          "X-LoadBalancer",
          "prod-lb016.ec2"
        ],
        "responseIsBinary": false
      }
    ],
    "104a5867ddf36faa9e179529612a1d37": [
      {
        "scope": "https://app.asana.com:443",
        "method": "DELETE",
        "path": "/api/1.0/tasks/INPUT_taskId",
        "body": "",
        "status": 200,
        "response": {
          "data": {}
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=UTF-8",
          "X-Asana-Api-Version",
          "1.0",
          "Asana-Change",
          "name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828",
          "Asana-Change",
          "name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true",
          "Datacenter-Time-End",
          "1682588082.583",
          "X-LoadBalancer",
          "prod-lb001.ec2"
        ],
        "responseIsBinary": false
      }
    ],
    "bdb8f2085aaf651f6e66743527dfa75e": [
[...]
      {
        "scope": "https://app.asana.com:443",
        "method": "GET",
        "path": "/api/1.0/projects/1204486079660998/tasks",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003b4cf4d0e82301005e0ab345dbb684bf973ed0d74678c19612a150aa41d620ce1ee8a3191b85597336ff2beccc84b20e0ebfdc8cfb6e46b2e95d03a4bb44864aea358f2156fc1e123d96120163d668fa11b7c8147baf5734010eae53a0ca75752a281a1a1e3f3625a7d1852c7a912713e772e0db52cfbd250424579aed2f4c398fffad51f229332162ad56f63e3c110eb7d77c182d8c95b347f009337b82d2a2c8706596d8bba33863944b2edf90f6ab6502bf0c8c83a6c6c8bec6aa96284e01c10862fe8c374070000ffff",
          "0300f2d730bf98020000"
        ],
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=UTF-8",
          "X-Asana-Api-Version",
          "1.1",
          "Asana-Change",
          "name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828",
          "Asana-Change",
          "name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true",
          "Datacenter-Time-End",
          "1682588081.690",
          "X-LoadBalancer",
          "prod-lb002.ec2"
        ],
        "responseIsBinary": false,
        "decodedResponse": {
          "data": [
            {
              "gid": "1204486406194351",
              "name": "Test 3",
              "resource_type": "task",
              "resource_subtype": "default_task"
            },
            {
              "gid": "1204486145720593",
              "name": "Test 2",
              "resource_type": "task",
              "resource_subtype": "default_task"
            },
            {
              "gid": "1204486202399277",
              "name": "Test 1",
              "resource_type": "task",
              "resource_subtype": "default_task"
            },
            {
              "gid": "1204486081150274",
              "name": "Draft project brief",
              "resource_type": "task",
              "resource_subtype": "default_task"
            },
            {
              "gid": "1204486081150276",
              "name": "Schedule kickoff meeting",
              "resource_type": "task",
              "resource_subtype": "default_task"
            },
            {
              "gid": "1204486081150278",
              "name": "Share timeline with teammates",
              "resource_type": "task",
              "resource_subtype": "default_task"
            }
          ]
        }
      }
    ]
  },
  "project-management/tasks/asana/ReadTask": {
    "db1da6a329a81ea01f173e33375ca954": [
[...]
