{
  "project-management/tasks/asana/CreateTask": {
    "a53c2b131fba1f09efc55062d1942f5a": [
      {
        "scope": "https://app.asana.com:443",
        "method": "POST",
        "path": "/api/1.0/tasks",
        "body": {
          "data": {
            "name": "Hello, World!",
            "projects": [
              "1202159846567214"
            ],
            "parent": "1202225310829823",
            "assignee": "1202159845987230"
          }
        },
        "status": 201,
        "response": {
          "data": {
            "gid": "1202252122545982",
            "projects": [
              {
                "gid": "1202159846567214",
                "resource_type": "project",
                "name": "Customer implementation"
              }
            ],
            "resource_type": "task",
            "created_at": "2022-05-10T08:46:56.193Z",
            "modified_at": "2022-05-10T08:46:57.099Z",
            "name": "Hello, World!",
            "notes": "",
            "completed": false,
            "assignee_status": "inbox",
            "completed_at": null,
            "due_on": null,
            "due_at": null,
            "resource_subtype": "default_task",
            "start_on": null,
            "start_at": null,
            "tags": [],
            "workspace": {
              "gid": "1202159793758022",
              "resource_type": "workspace",
              "name": "superface.ai"
            },
            "num_hearts": 0,
            "num_likes": 0,
            "permalink_url": "https://app.asana.com/0/1202159846567214/1202252122545982",
            "memberships": [
              {
                "project": {
                  "gid": "1202159846567214",
                  "resource_type": "project",
                  "name": "Customer implementation"
                },
                "section": {
                  "gid": "1202159846567215",
                  "resource_type": "section",
                  "name": "To do"
                }
              }
            ],
            "assignee": {
              "gid": "1202159845987230",
              "resource_type": "user",
              "name": "Tomáš Mládek"
            },
            "parent": {
              "gid": "1202225310829823",
              "resource_type": "task",
              "name": "Hello, World!",
              "resource_subtype": "default_task"
            },
            "hearted": false,
            "hearts": [],
            "assignee_section": {
              "gid": "1202159793801852",
              "resource_type": "section",
              "name": "Recently assigned"
            },
            "followers": [
              {
                "gid": "1202159845987230",
                "resource_type": "user",
                "name": "Tomáš Mládek"
              }
            ],
            "liked": false,
            "likes": [],
            "custom_fields": [
              {
                "gid": "1202159846567219",
                "resource_type": "custom_field",
                "created_by": {
                  "gid": "1202159845987230",
                  "resource_type": "user",
                  "name": "Tomáš Mládek"
                },
                "resource_subtype": "enum",
                "type": "enum",
                "name": "Priority",
                "enabled": true,
                "enum_value": null,
                "display_value": null,
                "enum_options": [
                  {
                    "gid": "1202159846567220",
                    "resource_type": "enum_option",
                    "enabled": true,
                    "name": "Low",
                    "color": "aqua"
                  },
                  {
                    "gid": "1202159846567221",
                    "resource_type": "enum_option",
                    "enabled": true,
                    "name": "Medium",
                    "color": "yellow-orange"
                  },
                  {
                    "gid": "1202159846567222",
                    "resource_type": "enum_option",
                    "enabled": true,
                    "name": "High",
                   [...]
