{
  "project-management/tasks/atlassian-cloud/CreateTask": {
    "00dae254b838872697d777d789bfc2aa": [
      {
        "scope": "https://api.atlassian.com:443",
        "method": "POST",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue",
        "body": {
          "fields": {
            "issuetype": {
              "name": "Task"
            },
            "project": {
              "id": "10000"
            },
            "summary": "Hello, World!",
            "description": {
              "version": 1,
              "type": "doc",
              "content": [
                {
                  "type": "paragraph",
                  "content": [
                    {
                      "type": "text",
                      "text": "Description of test task"
                    }
                  ]
                }
              ]
            },
            "assignee": {
              "id": "6270f8636a38370069dd2345"
            }
          }
        },
        "status": 201,
        "response": [
          "1f8b080000000000000024cd310ec2300c40d1bb6426b54d4a201db9022730c1118642ab3a4820c4dd09627ccbff6fa7273738424a1bb7725779351df69e12359a8ca5f95ceb6c0300cfda711dd94cf9dee5e906f2848b2e0c988b5091e229a4def725a3dfc5f5d14b0c11719b19056111abbf060450b387c0fffaf9020000ffff",
          "030079165aba84000000"
        ],
        "rawHeaders": [
          "Thu, 27 Apr 2023 14:44:51 GMT",
          "Content-Type",
          "application/json;charset=UTF-8",
          "AtlassianEdge",
          "*",
          "X-Arequestid",
          "5ff85d30717db9e36fd67a610e5ac3a6",
          "atlassian.xsrf.token=4fd4c3b6-fbdd-49a0-94d0-f7104d695301_df069a1fc2587cd494e607e132e01fe41d0ed492_lin; path=/; SameSite=None; Secure",
          "X-Aaccountid",
          "6270f8636a38370069dd2345",
          "no-cache, no-store, no-transform",
          "X-Trace-Id",
          "9f1745fbcb04e57f",
          "SameOrigin",
          "gzip",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "9f1745fbcb04e57f",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close",
          "chunked"
        ],
        "responseIsBinary": false,
        "decodedResponse": {
          "id": "10195",
          "key": "SB-191",
          "self": "https://api.atlassian.com/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/10195"
        }
      }
    ]
  },
  "teardown-project-management/tasks/atlassian-cloud/DeleteTask": {
    "e7cfe243dbd6f4c2c0bfab7697555a6d": [
      {
        "scope": "https://api.atlassian.com:443",
        "method": "DELETE",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/INPUT_taskId?deleteSubtasks=true",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
          "Thu, 27 Apr 2023 14:44:51 GMT",
          "Content-Type",
          "application/json;charset=UTF-8",
          "AtlassianEdge",
          "*",
          "X-Arequestid",
          "913739d653595ddacec2ec6dbe9c861d",
          "atlassian.xsrf.token=4fd4c3b6-fbdd-49a0-94d0-f7104d695301_1296e3c3743f8e510f35afbabf885132da5f090c_lin; path=/; SameSite=None; Secure",
          "X-Aaccountid",
          "6270f8636a38370069dd2345",
          "no-cache, no-store, no-transform",
          "X-Trace-Id",
          "a9d3ca2bd753d2cf",
          "SameOrigin",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "a9d3ca2bd753d2cf",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close"
        ],
        "responseIsBinary": false
      }
    ],
    "104a5867ddf36faa9e179529612a1d37": [
      {
        "scope": "https://api.atlassian.com:443",
        "method": "DELETE",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/INPUT_taskId?deleteSubtasks=true",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
          "Thu, 27 Apr 2023 14:44:55 GMT",
          "Content-Type",
          "application/json;charset=UTF-8",
          "AtlassianEdge",
          "*",
          "X-Arequestid",
          "d8201de0c2c2462def13e2b290130166",
          "atlassian.xsrf.token=4fd4c3b6-fbdd-49a0-94d0-f7104d695301_8ac7ab98d7730ee2a2610649437916fea2281b3b_lin; path=/; SameSite=None; Secure",
          "X-Aaccountid",
          "6270f8636a38370069dd2345",
          "no-cache, no-store, no-transform",
          "X-Trace-Id",
          "aaf518d03572a761",
          "SameOrigin",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "aaf518d03572a761",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close"
        ],
        "responseIsBinary": false
      }
    ],
    "bdb8f2085aaf651f6e66743527dfa75e": [
[...]
      {
        "scope": "https://api.atlassian.com:443",
        "method": "GET",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/search?jql=project%3D10000",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003cc56db6ee33610fd1541afd585ba5896052cb6e9365ba44db78193dd3e1445405323991bdd2a528edd34ffde19c9b25b3bce538de68de40c39e7cc954f26ac1b5ea566622ab184925b152f419996a9346ff58536136699255fcf417585566632c1bdae352fcc24b44ca95487eac96f4ffb87ea065aae655[...]
      {
        "scope": "https://api.atlassian.com:443",
        "method": "GET",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/INPUT_taskId",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003cc56db6edc3610fd1541afd5859464ed0508d234710ab76e6ad84efa501406971a691953944a52f66e5dff7b87ba788bb5d7401f16cd9bc81971cedccecc830f9b96a9c25ffa1a54011a8a8f02646102c56a3081e16ba859d0b4a099158d320114c2d66059c0d74c55209b2ab8036d5006c525b41a0c283beaf2ced[...]
      {
        "scope": "https://api.atlassian.com:443",
        "method": "DELETE",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/INPUT_taskId?deleteSubtasks=true",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
          "Thu, 27 Apr 2023 14:45:01 GMT",
          "Content-Type",
          "application/json;charset=UTF-8",
          "AtlassianEdge",
          "*",
          "X-Arequestid",
          "0638c2e2872871b13cad429d667cb85a",
          "atlassian.xsrf.token=4fd4c3b6-fbdd-49a0-94d0-f7104d695301_cbe0d1849bec90c6cb9dea98a8d23188c3590654_lin; path=/; SameSite=None; Secure",
          "X-Aaccountid",
          "6270f8636a38370069dd2345",
          "no-cache, no-store, no-transform",
          "X-Trace-Id",
          "b0665fe17c428b4a",
          "SameOrigin",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "b0665fe17c428b4a",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close"
        ],
        "responseIsBinary": false
      }
    ]
  },
  "project-management/tasks/atlassian-cloud/UpdateTask": {
    "f04de6fa6ea0f5c5889cbf874665b771": [
[...]
