{
  "project-management/tasks/atlassian-cloud/CreateTask": {
    "00dae254b838872697d777d789bfc2aa": [
      {
        "scope": "https://api.atlassian.com:443",
        "method": "POST",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue",
        "body": {
          "fields": {
            "issuetype": {
              "name": "Task"
            },
            "project": {
              "id": "10000"
            },
            "summary": "Hello, World!",
            "description": {
              "version": 1,
              "type": "doc",
              "content": [
                {
                  "type": "paragraph",
                  "content": [
                    {
                      "type": "text",
                      "text": "Description of test task"
                    }
                  ]
                }
              ]
            },
            "assignee": {
              "id": "6270f8636a38370069dd2345"
            }
          }
        },
        "status": 201,
        "response": [
          "1f8b080000000000000024cd410e02210c40d1bbb096692b0471965ec113546c233aea648a89c67877312edfe6ffb7ab47373a42cad9addc455e5dfb9da71c3b4d26ed3eb536db08c0731db84d6c56f93694fb15e409e7ba3060512115f514b6d1472de8735a1fbca490103785511016b1f66b40806af610f85f3f5f000000ffff",
          "030077e7e85384000000"
        ],
        "rawHeaders": [
          "Thu, 27 Apr 2023 09:34:33 GMT",
          "Content-Type",
          "application/json;charset=UTF-8",
          "AtlassianEdge",
          "*",
          "X-Arequestid",
          "3e20c6d340c1ac4fa5ffbcd1bf5d33c5",
          "atlassian.xsrf.token=4fd4c3b6-fbdd-49a0-94d0-f7104d695301_14c636b388b8852317a237178faab4dee7120595_lin; path=/; SameSite=None; Secure",
          "X-Aaccountid",
          "6270f8636a38370069dd2345",
          "no-cache, no-store, no-transform",
          "X-Trace-Id",
          "a3023606e122462b",
          "SameOrigin",
          "gzip",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "a3023606e122462b",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close",
          "chunked"
        ],
        "responseIsBinary": false,
        "decodedResponse": {
          "id": "10188",
          "key": "SB-184",
          "self": "https://api.atlassian.com/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/10188"
        }
      }
    ]
  },
  "teardown-project-management/tasks/atlassian-cloud/DeleteTask": {
    "e7cfe243dbd6f4c2c0bfab7697555a6d": [
      {
        "scope": "https://api.atlassian.com:443",
        "method": "DELETE",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/INPUT_taskId?deleteSubtasks=true",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
          "Thu, 27 Apr 2023 09:34:34 GMT",
          "Content-Type",
          "application/json;charset=UTF-8",
          "AtlassianEdge",
          "*",
          "X-Arequestid",
          "1a4e5130a391802ae18acc563a396619",
          "atlassian.xsrf.token=4fd4c3b6-fbdd-49a0-94d0-f7104d695301_d5aac7098159e291b459944399230b7abcc291b4_lin; path=/; SameSite=None; Secure",
          "X-Aaccountid",
          "6270f8636a38370069dd2345",
          "no-cache, no-store, no-transform",
          "X-Trace-Id",
          "a9c1a7d871ddd661",
          "SameOrigin",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "a9c1a7d871ddd661",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close"
        ],
        "responseIsBinary": false
      }
    ],
    "104a5867ddf36faa9e179529612a1d37": [
      {
        "scope": "https://api.atlassian.com:443",
        "method": "DELETE",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/INPUT_taskId?deleteSubtasks=true",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
          "Thu, 27 Apr 2023 09:34:37 GMT",
          "Content-Type",
          "application/json;charset=UTF-8",
          "AtlassianEdge",
          "*",
          "X-Arequestid",
          "b1c80349cdd423fe77cc2da497eabcbc",
          "atlassian.xsrf.token=4fd4c3b6-fbdd-49a0-94d0-f7104d695301_d2e8b9fbd9b4e888becaadf478792a300eceb428_lin; path=/; SameSite=None; Secure",
          "X-Aaccountid",
          "6270f8636a38370069dd2345",
          "no-cache, no-store, no-transform",
          "X-Trace-Id",
          "bc911d077885b0e0",
          "SameOrigin",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "bc911d077885b0e0",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close"
        ],
        "responseIsBinary": false
      }
    ],
    "bdb8f2085aaf651f6e66743527dfa75e": [
[...]
      {
        "scope": "https://api.atlassian.com:443",
        "method": "GET",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/search?jql=project%3D10000",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003cc56db6ee33610fd1541afd58594645916b0d8a6db6c9136dd064e76fb5014014d8d646ea84b45cab19be6df3b942cbb75ec3cd568de48ce9073ce5cf964c3ba615566a7b6e24b289953b11294edd84ab3565f683b258e5db2f51c5427b5b2d309ee75ad99b4d3c8b185521daaa7bf3ded1faa1b6899167[...]
      {
        "scope": "https://api.atlassian.com:443",
        "method": "GET",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/INPUT_taskId",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003cc56db6edc3610fd1541afd5859464ad7681204d13a770eba686eda40f456170a9d12e638a5249cadeadeb7fcf50173b587b0df46151bf899c11e7ccedccdcf9b069992afd85af4195a0a1fc2840962650ac061318be869a054d0b9a59d1281340296c0d96057ccdd40a64b30a6e401b9441790ead0603ca8ebabc3[...]
      {
        "scope": "https://api.atlassian.com:443",
        "method": "DELETE",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/INPUT_taskId?deleteSubtasks=true",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
          "Thu, 27 Apr 2023 09:34:42 GMT",
          "Content-Type",
          "application/json;charset=UTF-8",
          "AtlassianEdge",
          "*",
          "X-Arequestid",
          "0dec0afdec4a22b496e55fd8f849c351",
          "atlassian.xsrf.token=4fd4c3b6-fbdd-49a0-94d0-f7104d695301_b457c61bab3575681a070d181d30932c4f5dae7b_lin; path=/; SameSite=None; Secure",
          "X-Aaccountid",
          "6270f8636a38370069dd2345",
          "no-cache, no-store, no-transform",
          "X-Trace-Id",
          "9288f43b248edb07",
          "SameOrigin",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "9288f43b248edb07",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close"
        ],
        "responseIsBinary": false
      }
    ]
  },
  "project-management/tasks/atlassian-cloud/UpdateTask": {
    "f04de6fa6ea0f5c5889cbf874665b771": [
[...]
