{
  "project-management/tasks/atlassian-cloud/CreateTask": {
    "00dae254b838872697d777d789bfc2aa": [
      {
        "scope": "https://api.atlassian.com:443",
        "method": "POST",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue",
        "body": {
          "fields": {
            "issuetype": {
              "name": "Task"
            },
            "project": {
              "id": "10000"
            },
            "summary": "Hello, World!",
            "description": {
              "version": 1,
              "type": "doc",
              "content": [
                {
                  "type": "paragraph",
                  "content": [
                    {
                      "type": "text",
                      "text": "Description of test task"
                    }
                  ]
                }
              ]
            },
            "assignee": {
              "id": "6270f8636a38370069dd2345"
            }
          }
        },
        "status": 201,
        "response": [
          "1f8b080000000000000024cd310ec2300c40d1bb7826b54342a01db9022730c1168142ab3a4820c4dd09627ccbff6f282718c0136d02ace02aafa6c3dec5bec964d4c673adb30d883c978eebc86685ef5d9e6e284fbc948591b28a5751e7431f5dd44c6e97d647272924a26d6612c245acfe1a18b0983d04ffd3cf170000ffff",
          "03006a1721d983000000"
        ],
        "rawHeaders": [
          "Wed, 26 Apr 2023 19:52:11 GMT",
          "Content-Type",
          "application/json;charset=UTF-8",
          "AtlassianEdge",
          "*",
          "X-Arequestid",
          "d2dc503c2d05cf49ef4c75f6d5cdf16c",
          "atlassian.xsrf.token=4fd4c3b6-fbdd-49a0-94d0-f7104d695301_486c82cac8ae8f749f7db99247db001fd7a696e5_lin; path=/; SameSite=None; Secure",
          "X-Aaccountid",
          "6270f8636a38370069dd2345",
          "no-cache, no-store, no-transform",
          "X-Trace-Id",
          "a117b628fd61d6f0",
          "SameOrigin",
          "gzip",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "a117b628fd61d6f0",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close",
          "chunked"
        ],
        "responseIsBinary": false,
        "decodedResponse": {
          "id": "10053",
          "key": "SB-49",
          "self": "https://api.atlassian.com/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/10053"
        }
      }
    ]
  },
  "prepare-project-management/tasks/atlassian-cloud/CreateTask": {
    "1f42fe469e245859fdc84133f34f75f5": [
[...]
      {
        "scope": "https://api.atlassian.com:443",
        "method": "DELETE",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/INPUT_id?deleteSubtasks=true",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
          "Wed, 26 Apr 2023 19:52:12 GMT",
          "Content-Type",
          "application/json;charset=UTF-8",
          "AtlassianEdge",
          "*",
          "X-Arequestid",
          "3ddb0f54ad05e764f4d3967df7996d65",
          "atlassian.xsrf.token=4fd4c3b6-fbdd-49a0-94d0-f7104d695301_c61d0961a0f4d97f2623657779fdaf6aabd789b1_lin; path=/; SameSite=None; Secure",
          "X-Aaccountid",
          "6270f8636a38370069dd2345",
          "no-cache, no-store, no-transform",
          "X-Trace-Id",
          "9089d2632ea5cebc",
          "SameOrigin",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "9089d2632ea5cebc",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close"
        ],
        "responseIsBinary": false
      }
    ],
    "104a5867ddf36faa9e179529612a1d37": [
      {
        "scope": "https://api.atlassian.com:443",
        "method": "DELETE",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/INPUT_id?deleteSubtasks=true",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
          "Wed, 26 Apr 2023 19:52:16 GMT",
          "Content-Type",
          "application/json;charset=UTF-8",
          "AtlassianEdge",
          "*",
          "X-Arequestid",
          "60c1e158b58f4b07780614675b0c5d8b",
          "atlassian.xsrf.token=4fd4c3b6-fbdd-49a0-94d0-f7104d695301_46449599868b9ac6eabc1ba8aef2e56b8d6d91cb_lin; path=/; SameSite=None; Secure",
          "X-Aaccountid",
          "6270f8636a38370069dd2345",
          "no-cache, no-store, no-transform",
          "X-Trace-Id",
          "8b84b5924b75cd32",
          "SameOrigin",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "8b84b5924b75cd32",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close"
        ],
        "responseIsBinary": false
      }
    ],
    "bdb8f2085aaf651f6e66743527dfa75e": [
[...]
      {
        "scope": "https://api.atlassian.com:443",
        "method": "DELETE",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/INPUT_id?deleteSubtasks=true",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
          "Wed, 26 Apr 2023 19:52:20 GMT",
          "Content-Type",
          "application/json;charset=UTF-8",
          "AtlassianEdge",
          "*",
          "X-Arequestid",
          "49ff9d8abd1fda961dc6ac040663c688",
          "atlassian.xsrf.token=4fd4c3b6-fbdd-49a0-94d0-f7104d695301_c83b2a54296cd8b520db7e5dfe7e7fc93b6b32db_lin; path=/; SameSite=None; Secure",
          "X-Aaccountid",
          "6270f8636a38370069dd2345",
          "no-cache, no-store, no-transform",
          "X-Trace-Id",
          "b86ff5a4d8bba238",
          "SameOrigin",
          "nosniff",
          "1; mode=block",
          "Atl-Traceid",
          "b86ff5a4d8bba238",
          "{\"endpoints\": [{\"url\": \"https://dz8aopenkvv6s.cloudfront.net\"}], \"group\": \"endpoint-1\", \"include_subdomains\": true, \"max_age\": 600}",
          "{\"failure_fraction\": 0.001, \"include_subdomains\": true, \"max_age\": 600, \"report_to\": \"endpoint-1\"}",
          "max-age=63072000; preload",
          "close"
        ],
        "responseIsBinary": false
      }
    ]
  },
  "project-management/tasks/atlassian-cloud/ListTasks": {
    "dacba9440e9d7b79573f1925f20ab676": [
      {
        "scope": "https://api.atlassian.com:443",
        "method": "GET",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/search?jql=project%3D10000&maxResults=9999",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003cc56db72db3610fd150e5fcb0b781125712693baa9d371eba61ed9491f3a1d0f042e29c4e0a504684b75fdefd9254529552c3f5553bf01d805f69cbde2d18675c3abcc4e6d2d565072a7e22568dbb1b5e1ad393376ca1cbbe4eb05e84e196da701c303531baeec34766ca97587fae91[...]
      {
        "scope": "https://api.atlassian.com:443",
        "method": "GET",
        "path": "/ex/jira/PARAMS_CLOUD_ID/rest/api/3/issue/INPUT_id",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003cc56db6ee33610fd1541afd585ba58960d2cb6dbdd6c9136dd064976fb5014014d8d646e284a25295f9ae6df3b942c67ebc401fa60346f2267c439733b33f72e6c5a2a0b77ee2a900528283e721085f624ad417b9a2da1a65ed382a28637527b50705383a11e5b525981682a6f054aa30c8a2b6815689066a7cb3a6d9ab[...]
[...]
