{
  "payments/create-product/stripe/CreateProduct": {
    "793c12fd42afbd2a3e6f6ccd44228b07": [
      {
        "scope": "https://api.stripe.com:443",
        "method": "POST",
        "path": "/v1/products",
        "body": "name=Superface+milk&description=Milk+that+gives+you+super-powers%2C+delivered+to+your+door.",
        "status": 200,
        "response": {
          "id": "prod_Mm42YPzovYT2ug",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1668068086,
          "default_price": null,
          "description": "Milk that gives you super-powers, delivered to your door.",
          "images": [],
          "livemode": false,
          "metadata": {},
          "name": "Superface milk",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1668068086,
          "url": null
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "idempotency-key",
          "a6a09ce1-c9d3-4bd9-b40f-50a8e4d5aada",
          "original-request",
          "req_hZY0OC3Cw3r8Bs",
          "stripe-should-retry",
          "false",
          "stripe-version",
          "2022-08-01"
        ],
        "responseIsBinary": false
      }
    ]
  }
}