{
  "prepare-social-media/publishing-profiles/instagram/GetProfilesForPublishing": {
    "79f6f4068b556146e2bd5e81f6cb8b7c": [
      {
        "scope": "https://graph.facebook.com:443",
        "method": "GET",
        "path": "/v12.0/me/accounts?access_token=PARAMS_accessToken&fields=id%2Cinstagram_business_account",
        "body": "",
        "status": 200,
        "response": {
          "data": [
            {
              "id": "110658944785122",
              "instagram_business_account": {
                "id": "17841450841275119"
              }
            }
          ],
          "paging": {
            "cursors": {
              "before": "MTEwNjU4OTQ0Nzg1MTIy",
              "after": "MTEwNjU4OTQ0Nzg1MTIy"
            }
          }
        },
        "rawHeaders": [
          "ETag",
          "\"afaab171dbd40a3c9faa3c458721cdb0c5b06a68\"",
          "Content-Type",
          "application/json",
          "x-business-use-case-usage",
          "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
          "0",
          "*",
          "facebook-api-version",
          "v14.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "AXUfZ3ecpnNu8i0tPudukf-",
          "BFk8ayiU7LW",
          "1006251251",
          "Mz225KjGrIo6umNU/wwjhYLL8RjzCme9tRKaeXtYJFrv44Co8aObStw9YuAzTAHapETKVc4Pi5NFxH2Ro2Bu7A==",
          "Thu, 22 Sep 2022 15:23:42 GMT",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "177"
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://graph.facebook.com:443",
        "method": "GET",
        "path": "/v13.0/110658944785122?fields=instagram_business_account%7Bid%2Cname%2Cusername%2Cprofile_picture_url%7D&access_token=PARAMS_accessToken",
        "body": "",
        "status": 200,
        "response": [
          "1f8b080000000000000365905d4f83301885ff8ae9055703fad296161262d832bfeecce6e60c4903a503d415a44589c6ff6e34bbf3f23ce7b938395fa833d695cd589e6435d9ce686b65a9543f1987d22fd4d52845c00505cab0a010[...]
[...]
      {
        "scope": "https://graph.facebook.com:443",
        "method": "POST",
        "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F0%2F09%2FSitta-carolinensis-001.jpg&caption=Single+post+from+Superface+Station.",
        "body": "",
        "status": 200,
        "response": {
          "id": "18017539678410998"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=UTF-8",
          "x-business-use-case-usage",
          "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
          "0",
          "*",
          "facebook-api-version",
          "v14.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "Ako2CWBdBYRljtmhrVmenzu",
          "FWBUlFLuB1Z",
          "1005895111",
          "WMegvDOND2h4sAUvoDd4vAnYkNK0uc/7lrQIubBNPsO9FbbkMFckmUMTAEqq3hcuB8AF4b6OH/BhYHq/BPsh0A==",
          "Fri, 22 Jul 2022 19:20:14 GMT",
          "u=3,i",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "26"
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://graph.facebook.com:443",
        "method": "POST",
        "path": "/v14.0/17841450841275119/media_publish?creation_id=18017539678410998",
        "body": "",
        "status": 200,
        "response": {
          "id": "17903829641624005"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=UTF-8",
          "x-business-use-case-usage",
          "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
          "0",
          "*",
          "facebook-api-version",
          "v14.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "AJxmk8PkXKRv6WD2b6srx7e",
          "DoLcZ3O8lKE",
          "1005895111",
          "KgO8i6pHTKle60swBRBwYVEjRvLZ/7c+kpFxwstoT6MYHsOZGixmEVs0g9halfWOlh0YwhFFgJ0DGumGjQUI+w==",
          "Fri, 22 Jul 2022 19:20:16 GMT",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "26"
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://graph.facebook.com:443",
        "method": "GET",
        "path": "/v14.0/17903829641624005?fields=permalink",
        "body": "",
        "status": 200,
        "response": {
          "permalink": "https://www.instagram.com/p/CgU3ilsNGN8/",
          "id": "17903829641624005"
        },
        "rawHeaders": [
          "ETag",
          "\"496e64a655e72538c8d2d3172de32560234b6b54\"",
          "Content-Type",
          "application/json; charset=UTF-8",
          "x-business-use-case-usage",
          "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
          "0",
          "*",
          "facebook-api-version",
          "v14.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "A-qdP_VoSRYGKM193YwaE7g",
          "G6bQRuJXV5O",
          "1005895111",
          "agFdvcejdHmTMXSkAsjXSDS4xaNvCRkannUcjiANMnEC6N9hcY3/dhqqlZ6y+581O3lxZlx2+nyaziRNNgz7vg==",
          "Fri, 22 Jul 2022 19:20:16 GMT",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "86"
        ],
        "responseIsBinary": false
      }
    ],
    "62c5b003cd399cde0b2db50397da2e06": [
      {
        "scope": "https://graph.facebook.com:443",
        "method": "POST",
        "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fb%2Fb5%2FBloem_van_een_Astrantia_major_%2527Roma%2527._24-06-2021_%2528actm.%2529_01.jpg%2F960px-Bloem_van_een_Astrantia_major_%2527Roma%2527._24-06-2021_%2528actm.%2529_01.jpg&is_carousel_item=true",
        "body": "",
        "status": 200,
        "response": {
          "id": "17931401468234972"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=UTF-8",
          "x-business-use-case-usage",
          "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
          "0",
          "*",
          "facebook-api-version",
          "v14.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "AzjZm6EwYJlijrNj5BDZkCa",
          "Hjq1/2H6vn6",
          "1005895111",
          "qVFGso8TQijEh7SSKUvbAafYmH2tOiJDglPwBddV9J9Nx6rsFaZBEEzIfUcE+X2TJh7euzleAWFTs7IXviGYrw==",
          "Fri, 22 Jul 2022 19:20:20 GMT",
          "u=3,i",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "26"
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://graph.facebook.com:443",
        "method": "POST",
        "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F0%2F09%2FSitta-carolinensis-001.jpg&is_carousel_item=true",
        "body": "",
        "status": 200,
        "response": {
          "id": "17938910873241210"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=UTF-8",
          "x-business-use-case-usage",
          "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
          "0",
          "*",
          "facebook-api-version",
          "v14.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "A8kRtLG-1WJf8qqMLgpL8zj",
          "E/SVflNDHxb",
          "1005895111",
          "+6jXR7CEOg1Jz6B03XXdNns/nFCrOUaGCxR8y9S7a208XFLepkpICP34buWd0NBFwc4AMGx4ptgCnNq2m6kBTQ==",
          "Fri, 22 Jul 2022 19:20:22 GMT",
          "u=3,i",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "26"
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://graph.facebook.com:443",
        "method": "POST",
        "path": "/v14.0/17841450841275119/media?caption=Carousel+post+from+Superface+Station.&media_type=CAROUSEL&children=%5B%2217931401468234972%22%2C%2217938910873241210%22%5D",
        "body": "",
        "status": 200,
        "response": {
          "id": "17964475606774245"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=UTF-8",
          "x-business-use-case-usage",
          "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
          "0",
          "*",
          "facebook-api-version",
          "v14.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "AkTQqsyeutkLog2PNC9NvWv",
          "EhkdNSqoSR1",
          "1005895111",
          "fzrQCGeDEUvBM43qXF27TKa8tLiX8BslG2CLOGyXW6XEpbyc4QCGZVQoUAyJrY34K3CvCA7Ic3jClL5OBPJ34g==",
          "Fri, 22 Jul 2022 19:20:25 GMT",
          "u=3,i",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "26"
        ],
        "responseIsBinary": false
      },
[...]
      {
        "scope": "https://graph.facebook.com:443",
        "method": "POST",
        "path": "/v14.0/4/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F0%2F09%2FSitta-carolinensis-001.jpg&caption=Test+media+publishing+from+Superface+Station.",
        "body": "",
        "status": 400,
        "response": [
          "1f8b08000000000000034590416bc2401085ffca30172f31b155a1e426286d0e5229d8534036bba3d9d6ec6c7726ad22fef7122df436f378ef1bde5c9052e284e5053b123107c212b7[...]
