[
  {
    "scope": "https://api.stripe.com:443",
    "method": "POST",
    "path": "/v1/products",
    "body": "name=Temporary+Product&description=Used+just+for+testing.",
    "status": 200,
    "response": {
      "id": "prod_MgAzqLkwfbgOGp",
      "object": "product",
      "active": true,
      "attributes": [],
      "created": 1666710134,
      "default_price": null,
      "description": "Used just for testing.",
      "images": [],
      "livemode": false,
      "metadata": {},
      "name": "Temporary Product",
      "package_dimensions": null,
      "shippable": null,
      "statement_descriptor": null,
      "tax_code": null,
      "type": "service",
      "unit_label": null,
      "updated": 1666710134,
      "url": null
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "idempotency-key",
      "1d476f1c-786a-4c9e-aa7e-4d733d812110",
      "original-request",
      "req_KYtk2F5E6HCUAg",
      "stripe-should-retry",
      "false",
      "stripe-version",
      "2022-08-01"
    ],
    "responseIsBinary": false
  }
]