[
  {
    "scope": "https://api.stripe.com:443",
    "method": "POST",
    "path": "/v1/products",
    "body": "name=Superface+milk&description=Milk+that+gives+you+super-powers%2C+delivered+to+your+door.",
    "status": 200,
    "response": {
      "id": "prod_MgAzlI2HZqQeJR",
      "object": "product",
      "active": true,
      "attributes": [],
      "created": 1666710135,
      "default_price": null,
      "description": "Milk that gives you super-powers, delivered to your door.",
      "images": [],
      "livemode": false,
      "metadata": {},
      "name": "Superface milk",
      "package_dimensions": null,
      "shippable": null,
      "statement_descriptor": null,
      "tax_code": null,
      "type": "service",
      "unit_label": null,
      "updated": 1666710135,
      "url": null
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "idempotency-key",
      "632d90d1-9155-42c3-ae68-e5ae840e0e83",
      "original-request",
      "req_rTuoqbet1kmqwD",
      "stripe-should-retry",
      "false",
      "stripe-version",
      "2022-08-01"
    ],
    "responseIsBinary": false
  }
]