[
  {
    "scope": "https://api.stripe.com:443",
    "method": "POST",
    "path": "/v1/products",
    "body": "name=Superface+milk&description=Milk+that+gives+you+super-powers%2C+delivered+to+your+door.",
    "status": 200,
    "response": {
      "id": "prod_Mg9Gq2xbAbOQ0f",
      "object": "product",
      "active": true,
      "attributes": [],
      "created": 1666703688,
      "default_price": null,
      "description": "Milk that gives you super-powers, delivered to your door.",
      "images": [],
      "livemode": false,
      "metadata": {},
      "name": "Superface milk",
      "package_dimensions": null,
      "shippable": null,
      "statement_descriptor": null,
      "tax_code": null,
      "type": "service",
      "unit_label": null,
      "updated": 1666703689,
      "url": null
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "idempotency-key",
      "5507d177-de0c-4915-adb0-14ccd202d250",
      "original-request",
      "req_3XfcV8otPUyHaG",
      "stripe-should-retry",
      "false",
      "stripe-version",
      "2022-08-01"
    ],
    "responseIsBinary": false
  }
]