[
  {
    "scope": "https://parameters-removed-to-keep-them-secure.mixpanel.com:443",
    "method": "POST",
    "path": "/engage",
    "body": "data=%7B%22%24token%22%3A%22parameters-removed-to-keep-them-secure%22%2C%22%24distinct_id%22%3A%22user_1%22%2C%22%24set%22%3A%7B%22%24email%22%3A%22test%40example.com%22%2C%22%24name%22%3A%22Test+User%22%2C%22First+Name%22%3A%22Test%22%2C%22Last+Name%22%3A%22User%22%2C%22Source%22%3A%22sfc.is%22%7D%7D",
    "status": 200,
    "response": 1,
    "rawHeaders": [
      "content-type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]