[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "GET",
    "path": "/v3/templates/d-f577efee0b034497966e4841faadfc35",
    "body": "",
    "status": 200,
    "response": {
      "id": "d-f577efee0b034497966e4841faadfc35",
      "name": "Station Update template test (DELETE ME)",
      "generation": "dynamic",
      "updated_at": "2021-11-05 13:37:46",
      "versions": [
        {
          "id": "c1b3bff1-db89-4ddf-9a08-b8d10240851b",
          "user_id": 23845111,
          "template_id": "d-f577efee0b034497966e4841faadfc35",
          "active": 1,
          "name": "v1636119465553",
          "html_content": "\n<!doctype html>\n<html>\n\n<head>\n  <meta name=\"viewport\" content=\"width=device-width\">\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n  <title>Integration Test Email #1</title>\n</head>\n\n<body class=\"\">\nThis template is used by integration tests only\n</body>\n\n</html>\n",
          "plain_content": "Empty",
          "generate_plain_content": false,
          "subject": "Test Email",
          "updated_at": "2021-11-05 13:37:47",
          "editor": "code",
          "thumbnail_url": "//us-east-2-production-thumbnail-bucket.s3.amazonaws.com/cdc4b3c6d74c4aeeef36080e87382eb38380823ec0f1b7ad2ab19934103234b4.png"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "f6c551c7-f8ea-47e5-a3d4-32e536045bec",
      "x-amzn-remapped-content-length",
      "921",
      "x-amz-apigw-id",
      "IVUCxEaKiYcFpXw=",
      "x-amzn-remapped-date",
      "Fri, 05 Nov 2021 13:37:47 GMT",
      "x-client-ff",
      "1000",
      "x-ratelimit-remaining",
      "599",
      "x-ratelimit-limit",
      "600",
      "x-ratelimit-reset",
      "1636119480",
      "Powered-By",
      "Mako"
    ],
    "responseIsBinary": false
  },
[...]
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "POST",
    "path": "/v3/templates/d-f577efee0b034497966e4841faadfc35/versions",
    "status": 201,
    "response": {
      "id": "b1d27541-88e4-4855-8d86-cb8f821b3b5a",
      "template_id": "d-f577efee0b034497966e4841faadfc35",
      "active": 1,
      "name": "v1636119467212",
      "html_content": "\n<!doctype html>\n<html>\n\n<head>\n  <meta name=\"viewport\" content=\"width=device-width\">\n  <meta http-equiv=\"Content-Type\" co[...]
