[
  {
    "scope": "https://api.binance.com:443",
    "method": "GET",
    "path": "/api/v3/ticker/price?symbol=FOOBAR",
    "body": "",
    "status": 400,
    "response": {
      "code": -1121,
      "msg": "Invalid symbol."
    },
    "rawHeaders": [
      "Content-Type",
      "application/json;charset=UTF-8",
      "x-mbx-uuid",
      "f97873e5-01ac-4532-a0d0-39ffbb7377e3",
      "x-mbx-used-weight",
      "4",
      "x-mbx-used-weight-1m",
      "4",
      "X-Content-Security-Policy",
      "default-src 'self'",
      "X-WebKit-CSP",
      "default-src 'self'"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.binance.com:443",
    "method": "GET",
    "path": "/api/v3/ticker/price?symbol=BARFOO",
    "body": "",
    "status": 400,
    "response": {
      "code": -1121,
      "msg": "Invalid symbol."
    },
    "rawHeaders": [
      "Content-Type",
      "application/json;charset=UTF-8",
      "x-mbx-uuid",
      "095fab38-b400-4789-9dc6-9e3f31b8ebdf",
      "x-mbx-used-weight",
      "5",
      "x-mbx-used-weight-1m",
      "5",
      "X-Content-Security-Policy",
      "default-src 'self'",
      "X-WebKit-CSP",
      "default-src 'self'"
    ],
    "responseIsBinary": false
  }
]