[
  {
    "scope": "https://api.binance.com:443",
    "method": "GET",
    "path": "/api/v3/ticker/price?symbol=BTCUSDT",
    "body": "",
    "status": 200,
    "response": {
      "symbol": "BTCUSDT",
      "price": "67709.58000000"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json;charset=UTF-8",
      "x-mbx-uuid",
      "24187269-6903-4c95-9e22-5a80e0b62ae5",
      "x-mbx-used-weight",
      "1",
      "x-mbx-used-weight-1m",
      "1",
      "X-Content-Security-Policy",
      "default-src 'self'",
      "X-WebKit-CSP",
      "default-src 'self'"
    ],
    "responseIsBinary": false
  }
]