[
  {
    "scope": "https://api.binance.com:443",
    "method": "GET",
    "path": "/api/v3/ticker/price?symbol=USDTBTC",
    "body": "",
    "status": 400,
    "response": {
      "code": -1121,
      "msg": "Invalid symbol."
    },
    "rawHeaders": [
      "Content-Type",
      "application/json;charset=UTF-8",
      "x-mbx-uuid",
      "3a294115-990f-4b56-8951-a318bf4e47f7",
      "x-mbx-used-weight",
      "2",
      "x-mbx-used-weight-1m",
      "2",
      "X-Content-Security-Policy",
      "default-src 'self'",
      "X-WebKit-CSP",
      "default-src 'self'"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.binance.com:443",
    "method": "GET",
    "path": "/api/v3/ticker/price?symbol=BTCUSDT",
    "body": "",
    "status": 200,
    "response": {
      "symbol": "BTCUSDT",
      "price": "67708.95000000"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json;charset=UTF-8",
      "x-mbx-uuid",
      "0b4e1e66-2a46-486e-a4c8-b1393e133106",
      "x-mbx-used-weight",
      "3",
      "x-mbx-used-weight-1m",
      "3",
      "X-Content-Security-Policy",
      "default-src 'self'",
      "X-WebKit-CSP",
      "default-src 'self'"
    ],
    "responseIsBinary": false
  }
]