[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/jakuvacek/testrepository/src/made-up/README.md",
    "body": "",
    "status": 404,
    "response": {
      "data": {
        "shas": [
          "made-up"
        ]
      },
      "type": "error",
      "error": {
        "message": "Commit not found",
        "data": {
          "shas": [
            "made-up"
          ]
        }
      }
    },
    "rawHeaders": [
      "nginx",
      "Authorization, Origin",
      "max-age=900",
      "Content-Type",
      "application/json; charset=utf-8",
      "ad643eadbfc42ac1",
      "X-Usage-Output-Ops",
      "0",
      "X-Dc-Location",
      "Micros",
      "max-age=31536000; includeSubDomains; preload",
      "Thu, 04 Nov 2021 09:36:48 GMT",
      "X-Usage-User-Time",
      "0.026635",
      "X-Usage-System-Time",
      "0.001631",
      "ad51bc9ca0f9",
      "X-View-Name",
      "bitbucket.apps.repo2.api.v20.src.SourceHandler",
      "ETag",
      "\"45e1542b4d3f024a330d558e6870f1d3\"",
      "X-Static-Version",
      "6649b3d5cb76",
      "X-Accepted-OAuth-Scopes",
      "repository",
      "X-Render-Time",
      "0.066085100174",
      "close",
      "X-Usage-Input-Ops",
      "0",
      "X-Request-Count",
      "1742",
      "SAMEORIGIN",
      "X-Version",
      "6649b3d5cb76",
      "caching",
      "111"
    ],
    "responseIsBinary": false
  }
]