[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/jakuvacek/testrepository/src/master/README.md",
    "body": "",
    "status": 200,
    "response": "# README #\n\nThis README would normally document whatever steps are necessary to get your application up and running.\n\n### What is this repository for? ###\n\n* Quick summary\n* Version\n* [Learn Markdown](https://bitbucket.org/tutorials/markdowndemo)\n\n### How do I get set up? ###\n\n* Summary of set up\n* Configuration\n* Dependencies\n* Database configuration\n* How to run tests\n* Deployment instructions\n\n### Contribution guidelines ###\n\n* Writing tests\n* Code review\n* Other guidelines\n\n### Who do I talk to? ###\n\n* Repo owner or admin\n* Other community or team contact",
    "rawHeaders": [
      "Content-Type",
      "text/plain",
      "X-Usage-Output-Ops",
      "0",
      "X-Dc-Location",
      "Micros",
      "X-Usage-User-Time",
      "0.033301",
      "X-Usage-System-Time",
      "0.006207",
      "X-View-Name",
      "bitbucket.apps.repo2.api.v20.src.SourceHandler",
      "ETag",
      "8127910144713604019",
      "X-Static-Version",
      "00cb093ff433",
      "X-Accepted-OAuth-Scopes",
      "repository",
      "X-Render-Time",
      "0.0997948646545",
      "X-Usage-Input-Ops",
      "40",
      "X-Request-Count",
      "4026",
      "X-Version",
      "00cb093ff433"
    ],
    "reqheaders": {
    },
    "responseIsBinary": false
  },
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/jakuvacek/testrepository/src/made-up/README.md",
    "body": "",
    "status": 404,
    "response": {
      "data": {
        "shas": [
          "made-up"
        ]
      },
      "type": "error",
      "error": {
        "message": "Commit not found",
        "data": {
          "shas": [
            "made-up"
          ]
        }
      }
    },
    "rawHeaders": [
      "nginx",
      "Authorization, Origin",
      "max-age=900",
      "Content-Type",
      "application/json; charset=utf-8",
      "a7c45bf40ccb2ab0",
      "X-Usage-Output-Ops",
      "0",
      "X-Dc-Location",
      "Micros",
      "max-age=31536000; includeSubDomains; preload",
      "Wed, 06 Oct 2021 11:50:05 GMT",
      "X-Usage-User-Time",
      "0.031792",
      "X-Usage-System-Time",
      "0.003161",
      "94d8c7ed909b",
      "X-View-Name",
      "bitbucket.apps.repo2.api.v20.src.SourceHandler",
      "ETag",
      "\"45e1542b4d3f024a330d558e6870f1d3\"",
      "X-Static-Version",
      "00cb093ff433",
      "X-Accepted-OAuth-Scopes",
      "repository",
      "X-Render-Time",
      "0.0727849006653",
      "close",
      "X-Usage-Input-Ops",
      "16",
      "X-Request-Count",
      "160",
      "SAMEORIGIN",
      "X-Version",
      "00cb093ff433",
      "caching",
      "111"
    ],
    "reqheaders": {
    },
    "responseIsBinary": false
  }
]