[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/jakuvacek/testrepository/src/master/README.md",
    "body": "",
    "status": 200,
    "response": "# README #\n\nThis README would normally document whatever steps are necessary to get your application up and running.\n\n### What is this repository for? ###\n\n* Quick summary\n* Version\n* [Learn Markdown](https://bitbucket.org/tutorials/markdowndemo)\n\n### How do I get set up? ###\n\n* Summary of set up\n* Configuration\n* Dependencies\n* Database configuration\n* How to run tests\n* Deployment instructions\n\n### Contribution guidelines ###\n\n* Writing tests\n* Code review\n* Other guidelines\n\n### Who do I talk to? ###\n\n* Repo owner or admin\n* Other community or team contact",
    "rawHeaders": [
      "Content-Type",
      "text/plain",
      "X-Usage-Output-Ops",
      "0",
      "X-Dc-Location",
      "Micros",
      "X-Usage-User-Time",
      "0.030179",
      "X-Usage-System-Time",
      "0.005390",
      "X-View-Name",
      "bitbucket.apps.repo2.api.v20.src.SourceHandler",
      "ETag",
      "8127910144713604019",
      "X-Static-Version",
      "6649b3d5cb76",
      "X-Accepted-OAuth-Scopes",
      "repository",
      "X-Render-Time",
      "0.0784249305725",
      "X-Usage-Input-Ops",
      "8",
      "X-Request-Count",
      "705",
      "X-Version",
      "6649b3d5cb76"
    ],
    "responseIsBinary": false
  }
]