[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/17985138253529188?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "status": "Finished: Media has been uploaded and it is ready to be published.",
      "status_code": "FINISHED",
      "id": "17985138253529188"
    },
    "rawHeaders": [
      "ETag",
      "\"7e21289b3aa495107998d6bfe2e9700c2aaf01ee\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":12,\"total_cputime\":0,\"total_time\":2}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AoiusMN1XxwYEioB5ZF4Kg2",
      "Ell3ePX/Hut",
      "1006145250",
      "8sfBrf5gOdWCMA4QmZ1+5gDnSaRDf4UiSn+ihKsKTfhlB2cgp7shcSBE19ll77w5rFYtaf1R+ncdnLuhLNeC2Q==",
      "Tue, 06 Sep 2022 18:15:30 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "129"
    ],
    "responseIsBinary": false
  }
]