[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fassets.mixkit.co%2Fvideos%2Fdownload%2Fmixkit-waves-in-the-water-1164.mp4&video_url=https%3A%2F%2Fassets.mixkit.co%2Fvideos%2Fdownload%2Fmixkit-waves-in-the-water-1164.mp4&caption=Single+reel+from+Superface+Station.&media_type=REELS",
    "body": "",
    "status": 200,
    "response": {
      "id": "17944248500128615"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "A20iAoLR4svM8196JHVIgcf",
      "AldKSZ1TU8c",
      "1006251251",
      "6wozGG20r9JT+RiSgoy30eWNzENuQbAcZwbL7kQzhxy5UlUndhNIozO+cFWbdgkJ143/HKe7eAXkyjZbnuuprQ==",
      "Thu, 22 Sep 2022 15:23:16 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  }
]