[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fassets.mixkit.co%2Fvideos%2Fdownload%2Fmixkit-waves-in-the-water-1164.mp4&video_url=https%3A%2F%2Fassets.mixkit.co%2Fvideos%2Fdownload%2Fmixkit-waves-in-the-water-1164.mp4&caption=Single+reel+from+Superface+Station.&media_type=REELS",
    "body": "",
    "status": 200,
    "response": {
      "id": "17950798184136322"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "Am-_opOCVbU9GAblnYTPJ6E",
      "EPxtYSg2x6Q",
      "1006173205",
      "QEsZ1kn6YR8yf4wtRirIy5KyOF+oKaRMB5VErbYnieGdkIc81FRQGGX/EGYS+SD9jC0YLNFB6OVI/3QLH1mHLw==",
      "Fri, 09 Sep 2022 17:37:21 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  }
]