{
  "language/analyze-plain-text-sentiment/ibm-cloud-natural-language-understanding/AnalyzePlainTextSentiment": {
    "a1733ac38a17424ff0c21e73ada8cef5": [
      {
        "scope": "https://api.PARAMS_REGION.natural-language-understanding.watson.cloud.ibm.com:443",
        "method": "POST",
        "path": "/instances/PARAMS_INSTANCE_ID/v1/analyze?version=2021-08-01",
        "body": {
          "text": "Enjoy your stay!",
          "language": "en",
          "features": {
            "sentiment": {
              "document": true
            }
          }
        },
        "status": 200,
        "response": {
          "usage": {
            "text_units": 1,
            "text_characters": 16,
            "features": 1
          },
          "sentiment": {
            "document": {
              "score": 0.956482,
              "label": "positive"
            }
          },
          "language": "en"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=utf-8",
          "x-dp-watson-tran-id",
          "97d23618-4b35-402c-9545-5f83d86a3646",
          "x-dp-watson-tran-id",
          "97d23618-4b35-402c-9545-5f83d86a3646",
          "x-global-transaction-id",
          "97d23618-4b35-402c-9545-5f83d86a3646",
          "X-EdgeConnect-MidMile-RTT",
          "5",
          "X-EdgeConnect-Origin-MEX-Latency",
          "181"
        ],
        "responseIsBinary": false
      }
    ],
    "6407645b9ef5c27f82c86c8083dc01c5": [
[...]
      {
        "scope": "https://api.PARAMS_REGION.natural-language-understanding.watson.cloud.ibm.com:443",
        "method": "POST",
        "path": "/instances/PARAMS_INSTANCE_ID/v1/analyze?version=2021-08-01",
        "body": {
          "text": "",
          "language": "wrong_language_code",
          "features": {
            "sentiment": {
              "document": true
            }
          }
        },
        "status": 400,
        "response": {
          "error": "invalid request: content is empty",
          "code": 400
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=utf-8",
          "x-dp-watson-tran-id",
          "2a833db2-6ac1-4097-ada8-527f1938d20d",
          "x-dp-watson-tran-id",
          "2a833db2-6ac1-4097-ada8-527f1938d20d",
          "x-global-transaction-id",
          "2a833db2-6ac1-4097-ada8-527f1938d20d",
          "X-EdgeConnect-MidMile-RTT",
          "5",
          "X-EdgeConnect-Origin-MEX-Latency",
          "22"
        ],
        "responseIsBinary": false
      }
    ]
  }
}