[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "POST",
    "path": "/v3/mail/send",
    "body": {
      "template_id": "d-ef6d417300f74f96a9f722050edae85f",
      "from": {
        "email": "demo@demo.superface.org"
      },
      "personalizations": [
        {
          "to": [
            {
              "email": "demo@demo.superface.org"
            }
          ],
          "dynamic_template_data": {
            "from": "demo@demo.superface.org",
            "to": "demo@demo.superface.org",
            "templateId": "d-ef6d417300f74f96a9f722050edae85f"
          }
        }
      ]
    },
    "status": 202,
    "response": "",
    "rawHeaders": [
      "X-Message-Id",
      "h0o34XCETjaLjnHkJMVUtw",
      "X-No-CORS-Reason",
      "https://sendgrid.com/docs/Classroom/Basics/API/cors.html"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "POST",
    "path": "/v3/mail/send",
    "body": {
      "template_id": "invalid",
      "from": {
        "email": "invalidemail"
      },
      "personalizations": [
        {
          "to": [
            {
              "email": "invalidemail"
            }
          ]
        }
      ]
    },
    "status": 400,
    "response": {
      "errors": [
        {
          "message": "The from email does not contain a valid address.",
          "field": "from.email",
          "help": "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.from"
        },
        {
          "message": "Does not contain a valid address.",
          "field": "personalizations.0.to.0.email",
          "help": "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.personalizations.to"
        },
        {
          "message": "The template_id must be a valid GUID, you provided 'invalid'.",
          "field": "template_id",
          "help": "http://send[...]
