[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "POST",
    "path": "/v3/mail/send",
    "body": {
      "template_id": "d-ef6d417300f74f96a9f722050edae85f",
      "from": {
        "email": "demo@demo.superface.org"
      },
      "personalizations": [
        {
          "to": [
            {
              "email": "demo@demo.superface.org"
            }
          ],
          "dynamic_template_data": {
            "from": "demo@demo.superface.org",
            "to": "demo@demo.superface.org",
            "templateId": "d-ef6d417300f74f96a9f722050edae85f"
          }
        }
      ]
    },
    "status": 202,
    "response": "",
    "rawHeaders": [
      "X-Message-Id",
      "gyax6ce9QLKQ80VOqsRX2g",
      "X-No-CORS-Reason",
      "https://sendgrid.com/docs/Classroom/Basics/API/cors.html"
    ],
    "responseIsBinary": false
  }
]