{
  "payments/read-plans/stripe/GetPlan": {
    "47c75cd27247d26dd7a9af4d5641c05f": [
      {
        "scope": "https://api.stripe.com:443",
        "method": "GET",
        "path": "/v1/plans/INPUT_planId",
        "body": "",
        "status": 200,
        "response": {
          "id": "INPUT_planId",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 123400,
          "amount_decimal": "123400",
          "billing_scheme": "per_unit",
          "created": 1668068087,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "nickname": "Temporary Plan",
          "product": "prod_Mm42AXFG1Af2wt",
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "stripe-version",
          "2022-08-01"
        ],
        "responseIsBinary": false
      }
    ]
  },
  "payments/read-plans/stripe/ListPlans": {
    "0d46196e4318f1dfae9825a3e68f5afe": [
      {
        "scope": "https://api.stripe.com:443",
        "method": "GET",
        "path": "/v1/plans?limit=100",
        "body": "",
        "status": 200,
        "response": {
          "object": "list",
          "data": [
            {
              "id": "price_1M2VuNGkdIyBfLnZZwBIsEtc",
              "object": "plan",
              "active": true,
              "aggregate_usage": null,
              "amount": 123400,
              "amount_decimal": "123400",
              "billing_scheme": "per_unit",
              "created": 1668068087,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
       [...]
      {
        "scope": "https://api.stripe.com:443",
        "method": "POST",
        "path": "/v1/products",
        "body": "name=Temporary+Product&description=Used+just+for+testing.",
        "status": 200,
        "response": {
          "id": "prod_Mm42SxOklWPOct",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1668068088,
          "default_price": null,
          "description": "Used just for testing.",
          "images": [],
          "livemode": false,
          "metadata": {},
          "name": "Temporary Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1668068088,
          "url": null
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "idempotency-key",
          "83259cf6-b053-46db-834a-26fc6571bfa1",
          "original-request",
          "req_TvUIoPy41LZbVV",
          "stripe-should-retry",
          "false",
          "stripe-version",
          "2022-08-01"
        ],
        "responseIsBinary": false
      }
    ]
  },
  "prepare-payments/create-plan/stripe/CreatePlan": {
    "972f9b1ddddd13823a1dbe9cfe8fdf63": [
      {
        "scope": "https://api.stripe.com:443",
        "method": "POST",
        "path": "/v1/prices",
        "body": "product=INPUT_productId&nickname=Temporary+Plan&unit_amount=123400&currency=usd&recurring%5Binterval%5D=month",
        "status": 200,
        "response": {
          "id": "price_1M2VuOGkdIyBfLnZk2RnXvJu",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1668068088,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": "Temporary Plan",
          "product": "INPUT_productId",
          "recurring": {
            "aggregate_usage": null,
            "interval": "month",
            "interval_count": 1,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 123400,
          "unit_amount_decimal": "123400"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "idempotency-key",
          "25d48327-a849-406d-96a8-11c76b552e91",
          "original-request",
          "req_F29KNWBU6Gr3x7",
          "stripe-should-retry",
          "false",
          "stripe-version",
          "2022-08-01"
        ],
        "responseIsBinary": false
      }
    ]
  }
}