[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "PUT",
    "path": "/v3/marketing/contacts",
    "body": {
      "contacts": [
        {
          "email": "TEST@example.com",
          "custom_fields": {
            "e1_T": "value"
          }
        }
      ]
    },
    "status": 202,
    "response": {
      "job_id": "f4c06a56-c9c5-4d76-bbfc-6c69aa9ada1c"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "d5918f85-7c38-4e09-bfce-f55c7affb979",
      "x-amz-apigw-id",
      "Gspy5GkZPHcFb4w=",
      "x-ratelimit-limit",
      "200",
      "x-ratelimit-remaining",
      "199",
      "x-ratelimit-reset",
      "56"
    ],
    "responseIsBinary": false
  }
]
