[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "PUT",
    "path": "/v3/marketing/contacts",
    "body": {
      "contacts": [
        {
          "email": "TEST@example.com",
          "custom_fields": {
            "e1_T": "value"
          }
        }
      ]
    },
    "status": 202,
    "response": {
      "job_id": "d7af417b-c956-42b8-9488-fcd2420e9e61"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "723b5473-23c9-41ee-9e6f-9ae0ed47a0d0",
      "x-amz-apigw-id",
      "GuWCnEH2PHcFdyw=",
      "x-ratelimit-limit",
      "200",
      "x-ratelimit-remaining",
      "199",
      "x-ratelimit-reset",
      "58"
    ],
    "responseIsBinary": false
  }
]