[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/channels/000000000000000000/messages",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Tue, 08 Feb 2022 13:14:29 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=0acd23cd88e111ec838142010a0a0d94; Expires=Sun, 07-Feb-2027 13:14:28 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=0acd23cd88e111ec838142010a0a0d9432c18b71b458b130d6b33f7af445b6c52561d347384862848561b160e09844fe; Expires=Sun, 07-Feb-2027 13:14:28 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "fccc1d589e71dd6f0c55fde9faa2838d",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1644326074",
      "x-ratelimit-reset-after",
      "5",
      "18",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=ovfDgzrPGtWBCpSUSjlIvbEkgPjncnUk%2FSmO8NW%2BIfG9OYEjgsbW63k%2FgHxlSVAQAlzRjgjWYgH7l%2BDs3qeWP5W%2FvBWRVslH6MVKChBOyOXGs5brjO7J5Rzlb19S\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "6da51f0a79ab413e-PRG"
    ],
    "responseIsBinary": false
  }
]