[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/channels/000000000000000000/messages",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Thu, 03 Feb 2022 17:55:52 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=86474485851a11ec844a42010a0a0bb1; Expires=Tue, 02-Feb-2027 17:55:52 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=86474485851a11ec844a42010a0a0bb1693874d678e924be48041d4a354d021598ec28cdf6ad480b0e70e5b1159014e2; Expires=Tue, 02-Feb-2027 17:55:52 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "fccc1d589e71dd6f0c55fde9faa2838d",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1643910958",
      "x-ratelimit-reset-after",
      "5",
      "72",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=iA0p4AqjipOFeydO9mH3ygiec%2FSmT8zDnOLJm8iKk1A0hV4Qt4ez%2BBQisSNttJjUalgmhyd%2BXkLhZRTvcMmz9vjrHH%2FQAeeg5aU6wxLNIUt4dQG1BhOH4Egmzwgv\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "6d7d8859c91627a0-PRG"
    ],
    "responseIsBinary": false
  }
]