[
  {
    "scope": "https://api.stripe.com:443",
    "method": "POST",
    "path": "/v1/products/prod_Mg9GwxTZuB92Pr",
    "body": "name=New+name&description=New+description",
    "status": 200,
    "response": {
      "id": "prod_Mg9GwxTZuB92Pr",
      "object": "product",
      "active": true,
      "attributes": [],
      "created": 1666703688,
      "default_price": null,
      "description": "New description",
      "images": [],
      "livemode": false,
      "metadata": {},
      "name": "New name",
      "package_dimensions": null,
      "shippable": null,
      "statement_descriptor": null,
      "tax_code": null,
      "type": "service",
      "unit_label": null,
      "updated": 1666703688,
      "url": null
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "idempotency-key",
      "cf1b824f-1fb3-4f53-84a8-090cc79b88eb",
      "original-request",
      "req_47I1FBpHxMbiJa",
      "stripe-should-retry",
      "false",
      "stripe-version",
      "2022-08-01"
    ],
    "responseIsBinary": false
  }
]