[
  {
    "scope": "https://api.stripe.com:443",
    "method": "POST",
    "path": "/v1/products/INPUT_productId",
    "body": "name=New+name&description=New+description",
    "status": 200,
    "response": {
      "id": "INPUT_productId",
      "object": "product",
      "active": true,
      "attributes": [],
      "created": 1668068086,
      "default_price": null,
      "description": "New description",
      "images": [],
      "livemode": false,
      "metadata": {},
      "name": "New name",
      "package_dimensions": null,
      "shippable": null,
      "statement_descriptor": null,
      "tax_code": null,
      "type": "service",
      "unit_label": null,
      "updated": 1668068087,
      "url": null
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "idempotency-key",
      "f5a6bcd6-c027-4bd9-9e03-af827e602637",
      "original-request",
      "req_IHEWTjRzIfjHkh",
      "stripe-should-retry",
      "false",
      "stripe-version",
      "2022-08-01"
    ],
    "responseIsBinary": false
  }
]