[
  {
    "scope": "https://api.twilio.com:443",
    "method": "POST",
    "path": "/2010-04-01/Accounts/PARAMS_accountSid/Messages.json",
    "body": "To=%2B4915207930698&From=%2B13369019173&Body=Hello+World+2%21+",
    "status": 201,
    "response": {
      "sid": "SM4a81e54d478f4ef281c77e3a6702a253",
      "date_created": "Fri, 05 Nov 2021 08:16:26 +0000",
      "date_updated": "Fri, 05 Nov 2021 08:16:26 +0000",
      "date_sent": null,
      "account_sid": "AC9f56b1cce8444dbd5699095b19e3a1bc",
      "to": "+4915207930698",
      "from": "+13369019173",
      "messaging_service_sid": null,
      "body": "Sent from your Twilio trial account - Hello World 2!",
      "status": "queued",
      "num_segments": "1",
      "num_media": "0",
      "direction": "outbound-api",
      "api_version": "2010-04-01",
      "price": null,
      "price_unit": "USD",
      "error_code": null,
      "error_message": null,
      "uri": "/2010-04-01/Accounts/AC9f56b1cce8444dbd5699095b19e3a1bc/Messages/SM4a81e54d478f4ef281c77e3a6702a253.json",
      "subresource_uris": {
        "media": "/2010-04-01/Accounts/AC9f56b1cce8444dbd5699095b19e3a1bc/Messages/SM4a81e54d478f4ef281c77e3a6702a253/Media.json"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Twilio-Concurrent-Requests",
      "1",
      "Twilio-Request-Id",
      "RQ39257af60d67ad0cfe3aa7ec5ec2191d",
      "Twilio-Request-Duration",
      "0.094",
      "X-Shenanigans",
      "none",
      "X-Home-Region",
      "us1",
      "X-API-Domain",
      "api.twilio.com"
    ],
    "responseIsBinary": false
  }
]