[
  {
    "scope": "https://gitlab.com:443",
    "method": "GET",
    "path": "/api/v4/projects/Jakub-Vacek%2Fempty-test/repository/files/README.md?ref=made-up",
    "body": "",
    "status": 404,
    "response": {
      "message": "404 Commit Not Found"
    },
    "rawHeaders": [
      "Thu, 04 Nov 2021 09:36:47 GMT",
      "Content-Type",
      "application/json",
      "34",
      "close",
      "no-cache",
      "nosniff",
      "SAMEORIGIN",
      "01FKN4XNNEE5EH6PCH2WDT7YZ0",
      "0.031560",
      "RateLimit-Observed",
      "13",
      "RateLimit-Remaining",
      "1987",
      "RateLimit-Reset",
      "1636018667",
      "RateLimit-ResetTime",
      "Thu, 04 Nov 2021 09:37:47 GMT",
      "RateLimit-Limit",
      "2000",
      "GitLab-LB",
      "fe-02-lb-gprd",
      "GitLab-SV",
      "localhost",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000",
      "cloudflare",
      "6a8cdc2a1b4d27b4-PRG"
    ],
    "responseIsBinary": false
  }
]