[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/guilds/000000000000000000/threads/active",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Guild",
      "code": 10004
    },
    "rawHeaders": [
      "Fri, 25 Mar 2022 12:02:39 GMT",
      "Content-Type",
      "application/json",
      "43",
      "close",
      "__dcfduid=77d81748ac3311ec8ede3634a976c221; Expires=Wed, 24-Mar-2027 12:02:39 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "35",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "__sdcfduid=77d81748ac3311ec8ede3634a976c2217e2a3fc039c9b594d3accf6d1c926856c4256110869b06bb31e0d72e74e0ea09; Expires=Wed, 24-Mar-2027 12:02:39 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=%2BF6pdp5oyfaJQvSw6%2B%2B5XSk8tKckC1Vn5S51%2FUo09B24dbK9Z4Xn%2BT%2BPGCsbq71dGLEOgcrpHTg92dNByrZOWW3lvoh%2FHf1%2BmmXFpUg4culvPPohAwmOJ0R7Pyze\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "6f177fb49a63781b-VIE"
    ],
    "responseIsBinary": false
  }
]