{
  "social-media/replies/linkedin/GetPostReplies": {
    "e964a44e60670580ca6b5c21fd5518ec": [
      {
        "scope": "https://api.linkedin.com:443",
        "method": "GET",
        "path": "/v2/socialActions/urn:li:activity:6905096044615405568/comments?count=10&start=0",
        "body": "",
        "status": 200,
        "response": {
          "paging": {
            "start": 0,
            "count": 10,
            "links": [],
            "total": 2
          },
          "elements": [
            {
              "actor": "urn:li:organization:81974063",
              "created": {
                "actor": "urn:li:organization:81974063",
                "impersonator": "urn:li:person:DT2dEpUrPf",
                "time": 1652352261767
              },
              "lastModified": {
                "actor": "urn:li:organization:81974063",
                "impersonator": "urn:li:person:DT2dEpUrPf",
                "time": 1652352261767
              },
              "id": "6930467700934590464",
              "$URN": "urn:li:comment:(urn:li:activity:6905096044615405568,6930467700934590464)",
              "message": {
                "attributes": [],
                "text": "rabbit"
              },
              "content": [
                {
                  "type": "IMAGE",
                  "entity": {
                    "digitalmediaAsset": "urn:li:digitalmediaAsset:D4D2CAQF8T4WJR2Ic0g"
                  },
                  "url": "https://media.licdn.com/dms/image/D4D2CAQF8T4WJR2Ic0g/comment-image-shrink_8192_800/0/1652352261211?e=1678320000&v=beta&t=gu60rgMpNcLtAHt3CZvsuX5semU4GBLSb17jtSAyvy0"
                }
              ],
              "object": "urn:li:activity:6905096044615405568"
            },
            {
              "actor": "urn:li:organization:81974063",
              "created": {
                "actor": "urn:li:organization:81974063",
                "impersonator": "urn:li:person:DT2dEpUrPf",
                "time": 1652352009384
              },
              "lastModified": {
                "actor": "urn:li:organization:81974063",
                "impersonator": "urn:li:person:DT2dEpUrPf",
                "time": 1652352009384
              },
              "id": "6930466642367774720",
              "$URN": "urn:li:comment:(urn:li:activity:6905096044615405568,6930466642367774720)",
              "message": {
                "attributes": [],
                "text": "cats"
              },
              "likesSummary": {
                "selectedLikes": [
                  "urn:li:like:(urn:li:company:81974063,urn:li:comment:(urn:li:activity:6905096044615405568,6930466642367774720))"
                ],
                "aggregatedTotalLikes": 1,
                "likedByCurrentUser": false,
                "totalLikes": 1
              },
              "object": "urn:li:activity:6905096044615405568"
            }
          ]
        },
        "rawHeaders": [
          "x-li-responseorigin",
          "RGW",
          "Content-Type",
          "application/json",
          "x-restli-protocol-version",
          "1.0.0",
          "1509",
          "Tue, 21 Feb 2023 23:23:14 GMT",
          "X-Li-Fabric",
          "prod-lor1",
          "X-Li-Pop",
          "prod-lor1-x",
          "X-LI-Proto",
          "http/1.1",
          "X-LI-UUID",
          "AAX1PhBaScYkO81ohNOmhg==",
          "bcookie=\"v=2&829ae86c-f76d-40f3-8a5f-bdc374b8263c\"; Domain=.linkedin.com; Expires=Wed, 21-Feb-2024 23:23:14 GMT; Path=/; Secure; SameSite=None",
          "li_gc=MTswOzE2NzcwMjE3OTQ7MjswMjGG6Rtz+35gtlde6SPhf5ybz2/tBEQLJNuY9RZI0BAkLA==; Domain=.linkedin.com; Expires=Sun, 20 Aug 2023 23:23:14 GMT; Path=/; Secure; SameSite=None",
          "lidc=\"b=OB65:s=O:r=O:a=O:p=O:g=3771:u=309:x=1:i=1677021794:t=1677022489:v=2:sig=AQHvOueWZfOHMjWZQF229_OgBj3zIYc6\"",
          "X-LI-Route-Key",
          "\"b=OB65:s=O:r=O:a=O:p=O:g=3771:u=309:x=1:i=1677021794:t=1677022489:v=2:sig=AQHvOueWZfOHMjWZQF229_OgBj3zIYc6\""
        ],
        "responseIsBinary": false
      }
    ]
  }
}