{
  "social-media/replies/linkedin/GetPostReplies": {
    "e964a44e60670580ca6b5c21fd5518ec": [
      {
        "scope": "https://api.linkedin.com:443",
        "method": "GET",
        "path": "/v2/socialActions/urn:li:activity:6905096044615405568/comments?count=10&start=0",
        "body": "",
        "status": 200,
        "response": {
          "paging": {
            "start": 0,
            "count": 10,
            "links": [],
            "total": 2
          },
          "elements": [
            {
              "actor": "urn:li:organization:81974063",
              "created": {
                "actor": "urn:li:organization:81974063",
                "impersonator": "urn:li:person:DT2dEpUrPf",
                "time": 1652352261767
              },
              "lastModified": {
                "actor": "urn:li:organization:81974063",
                "impersonator": "urn:li:person:DT2dEpUrPf",
                "time": 1652352261767
              },
              "id": "6930467700934590464",
              "$URN": "urn:li:comment:(urn:li:activity:6905096044615405568,6930467700934590464)",
              "message": {
                "attributes": [],
                "text": "rabbit"
              },
              "content": [
                {
                  "type": "IMAGE",
                  "entity": {
                    "digitalmediaAsset": "urn:li:digitalmediaAsset:D4D2CAQF8T4WJR2Ic0g"
                  },
                  "url": "https://media-exp2.licdn.com/dms/image/D4D2CAQF8T4WJR2Ic0g/comment-image-shrink_8192_480/0/1652352261211?e=1656547200&v=beta&t=qD6PqbJoNqoQmUFw2Fbt6Yko_EXChTruUa0ppjqRdn0"
                }
              ],
              "object": "urn:li:activity:6905096044615405568"
            },
            {
              "actor": "urn:li:organization:81974063",
              "created": {
                "actor": "urn:li:organization:81974063",
                "impersonator": "urn:li:person:DT2dEpUrPf",
                "time": 1652352009384
              },
              "lastModified": {
                "actor": "urn:li:organization:81974063",
                "impersonator": "urn:li:person:DT2dEpUrPf",
                "time": 1652352009384
              },
              "id": "6930466642367774720",
              "$URN": "urn:li:comment:(urn:li:activity:6905096044615405568,6930466642367774720)",
              "message": {
                "attributes": [],
                "text": "cats"
              },
              "likesSummary": {
                "selectedLikes": [
                  "urn:li:like:(urn:li:company:81974063,urn:li:comment:(urn:li:activity:6905096044615405568,6930466642367774720))"
                ],
                "aggregatedTotalLikes": 1,
                "likedByCurrentUser": false,
                "totalLikes": 1
              },
              "object": "urn:li:activity:6905096044615405568"
            }
          ]
        },
        "rawHeaders": [
          "x-li-responseorigin",
          "RGW",
          "Content-Type",
          "application/json",
          "x-restli-protocol-version",
          "1.0.0",
          "1514",
          "Mon, 13 Jun 2022 09:11:35 GMT",
          "X-Li-Fabric",
          "prod-ltx1",
          "X-Li-Source-Fabric",
          "prod-lva1",
          "X-Li-Pop",
          "prod-lva1-x",
          "X-LI-Proto",
          "http/1.1",
          "X-LI-UUID",
          "AAXhUKy4s4+BUF6kKtO6Jg==",
          "bcookie=\"v=2&6bac3059-3f3e-470c-8836-fe78e695a71b\"; Domain=.linkedin.com; Expires=Wed, 12-Jun-2024 20:49:07 GMT; Path=/; Secure; SameSite=None",
          "li_gc=MTswOzE2NTUxMTE0OTU7MjswMjE88Ol1akSn5kX5LAyxeg8qGh44tZrne4o9yu680jPtJw==; Domain=.linkedin.com; Expires=Fri, 31 May 2024 17:37:53 GMT; Path=/; Secure; SameSite=None",
          "lidc=\"b=TB00:s=T:r=T:a=T:p=T:g=6016:u=105:x=1:i=1655111494:t=1655197806:v=2:sig=AQHSP04_D3egjhl7c8eNOXD1lj5sKlja\"",
          "X-LI-Route-Key",
          "\"b=TB00:s=T:r=T:a=T:p=T:g=6016:u=105:x=1:i=1655111494:t=1655197806:v=2:sig=AQHSP04_D3egjhl7c8eNOXD1lj5sKlja\""
        ],
        "responseIsBinary": false
      }
    ]
  }
}