[
  {
    "scope": "http://api.ipstack.com:80",
    "method": "GET",
    "path": "/check?access_key=IPSTACK_API_KEY_REDACTED",
    "body": "",
    "status": 200,
    "response": {
      "ip": "94.127.131.198",
      "type": "ipv4",
      "continent_code": "EU",
      "continent_name": "Europe",
      "country_code": "CZ",
      "country_name": "Czechia",
      "region_code": "51",
      "region_name": "Liberecký kraj",
      "city": "Jablonec nad Nisou",
      "zip": "468 22",
      "latitude": 50.68013000488281,
      "longitude": 15.321399688720703,
      "location": {
        "geoname_id": 3074603,
        "capital": "Prague",
        "languages": [
          {
            "code": "cs",
            "name": "Czech",
            "native": "Čeština"
          },
          {
            "code": "sk",
            "name": "Slovak",
            "native": "Slovenčina"
          }
        ],
        "country_flag": "https://assets.ipstack.com/flags/cz.svg",
        "country_flag_emoji": "🇨🇿",
        "country_flag_emoji_unicode": "U+1F1E8 U+1F1FF",
        "calling_code": "420",
        "is_eu": true
      }
    },
    "rawHeaders": [
      "content-type",
      "application/json",
      "x-apilayer-transaction-id",
      "ab8f36ca-a55c-4453-8dad-478bd875cd6f",
      "x-quota-limit",
      "100",
      "x-quota-remaining",
      "45",
      "x-increment-usage",
      "1",
      "x-request-time",
      "0.032"
    ],
    "responseIsBinary": false
  }
]