[
  {
    "scope": "http://api.ipstack.com:80",
    "method": "GET",
    "path": "/8.8.8.8?access_key=IPSTACK_API_KEY_REDACTED",
    "body": "",
    "status": 200,
    "response": {
      "ip": "8.8.8.8",
      "type": "ipv4",
      "continent_code": "NA",
      "continent_name": "North America",
      "country_code": "US",
      "country_name": "United States",
      "region_code": "CA",
      "region_name": "California",
      "city": "Mountain View",
      "zip": "94041",
      "latitude": 37.38801956176758,
      "longitude": -122.07431030273438,
      "location": {
        "geoname_id": 5375480,
        "capital": "Washington D.C.",
        "languages": [
          {
            "code": "en",
            "name": "English",
            "native": "English"
          }
        ],
        "country_flag": "https://assets.ipstack.com/flags/us.svg",
        "country_flag_emoji": "🇺🇸",
        "country_flag_emoji_unicode": "U+1F1FA U+1F1F8",
        "calling_code": "1",
        "is_eu": false
      }
    },
    "rawHeaders": [
      "content-type",
      "application/json",
      "x-apilayer-transaction-id",
      "cc4198bd-f7f0-4748-8287-379b10a3dc56",
      "x-quota-limit",
      "100",
      "x-quota-remaining",
      "46",
      "x-increment-usage",
      "1",
      "x-request-time",
      "0.039"
    ],
    "responseIsBinary": false
  }
]