[
  {
    "scope": "http://api.ipstack.com:80",
    "method": "GET",
    "path": "/256.256.256.256?access_key=IPSTACK_API_KEY_REDACTED",
    "body": "",
    "status": 200,
    "response": {
      "success": false,
      "error": {
        "code": 106,
        "type": "invalid_ip_address",
        "info": "The IP Address supplied is invalid."
      }
    },
    "rawHeaders": [
      "content-type",
      "application/json",
      "x-apilayer-transaction-id",
      "551028ba-dc22-4998-8713-d62ae6d15056",
      "x-quota-limit",
      "100",
      "x-quota-remaining",
      "32",
      "x-increment-usage",
      "1",
      "x-request-time",
      "0.042"
    ],
    "responseIsBinary": false
  }
]