[
  {
    "scope": "https://api.stripe.com:443",
    "method": "POST",
    "path": "/v1/prices",
    "body": "product=INPUT_productId&nickname=Temporary+Plan&unit_amount=123400&currency=usd&recurring%5Binterval%5D=month",
    "status": 200,
    "response": {
      "id": "price_1M1tMYGkdIyBfLnZrcwilgrE",
      "object": "price",
      "active": true,
      "billing_scheme": "per_unit",
      "created": 1667919918,
      "currency": "usd",
      "custom_unit_amount": null,
      "livemode": false,
      "lookup_key": null,
      "metadata": {},
      "nickname": "Temporary Plan",
      "product": "INPUT_productId",
      "recurring": {
        "aggregate_usage": null,
        "interval": "month",
        "interval_count": 1,
        "trial_period_days": null,
        "usage_type": "licensed"
      },
      "tax_behavior": "unspecified",
      "tiers_mode": null,
      "transform_quantity": null,
      "type": "recurring",
      "unit_amount": 123400,
      "unit_amount_decimal": "123400"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "idempotency-key",
      "3bee355a-2cb0-4f85-a026-93fca17d6045",
      "original-request",
      "req_RLHICqm4Xx5nNO",
      "stripe-should-retry",
      "false",
      "stripe-version",
      "2022-08-01"
    ],
    "responseIsBinary": false
  }
]