[
  {
    "scope": "https://api.stripe.com:443",
    "method": "POST",
    "path": "/v1/prices",
    "body": "product=INPUT_productId&nickname=A+Man%2C+A+Plan%2C+A+Canal%2C+Panama&unit_amount=123400&currency=usd&recurring%5Binterval%5D=month",
    "status": 200,
    "response": {
      "id": "price_1M2VuPGkdIyBfLnZx07wFz5M",
      "object": "price",
      "active": true,
      "billing_scheme": "per_unit",
      "created": 1668068089,
      "currency": "usd",
      "custom_unit_amount": null,
      "livemode": false,
      "lookup_key": null,
      "metadata": {},
      "nickname": "A Man, A Plan, A Canal, Panama",
      "product": "INPUT_productId",
      "recurring": {
        "aggregate_usage": null,
        "interval": "month",
        "interval_count": 1,
        "trial_period_days": null,
        "usage_type": "licensed"
      },
      "tax_behavior": "unspecified",
      "tiers_mode": null,
      "transform_quantity": null,
      "type": "recurring",
      "unit_amount": 123400,
      "unit_amount_decimal": "123400"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "idempotency-key",
      "48f4a86c-e50c-4a23-a3fa-46cac63d5015",
      "original-request",
      "req_UrScFOcdu8xZAM",
      "stripe-should-retry",
      "false",
      "stripe-version",
      "2022-08-01"
    ],
    "responseIsBinary": false
  }
]