[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/profile/support+station@superface.ai",
    "body": {
      "email": "support+station@superface.ai",
      "person": {
        "nickname": "Station Test Support",
        "phone": "+420123456789",
        "geolocation": {
          "country": "CZ"
        }
      },
      "company": {
        "name": "Superface AI"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 11:32:45 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "51e1431ef5 99.99 0.017290 0032 da0c",
      "35c64231-fbc4-43aa-9546-5b29df98668e",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b743c8889692790-PRG",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/data/support+station@superface.ai",
    "body": {
      "data": {
        "propertyAddedOnUpdate": "field value"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 11:32:45 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "dd2aaa750f 99.99 0.011757 0032 da0c",
      "08f65473-bfbe-44b5-a3b3-e7372d5963df",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b743c8949445b92-FRA",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]