[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/profile/999",
    "body": {
      "email": "nonexistent+user@superface.test",
      "person": {
        "phone": "+420123456789",
        "geolocation": {}
      }
    },
    "status": 404,
    "response": [
      "1f8b080000000000000304c1b10d00210c03c05d5c3341964191f0572841265488ddffee82520a563a6c107d67c0b0986bb24756fff2c440c3f072d87def070000ffff030003ea55f634000000"
    ],
    "rawHeaders": [
      "Thu, 02 Dec 2021 14:42:52 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "Bloom-Status",
      "DIRECT",
      "a93bd21747 99.99 0.017084 0032 da0c",
      "a7cd0fb8-6de0-4e0c-aa5a-1a5d4f5be202",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b755307bf6f2c52-FRA",
      "gzip",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]