[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/PARAMS_WEBSITE_ID/people/profile/support+station@superface.ai",
    "body": {
      "email": "support+station@superface.ai",
      "person": {
        "nickname": "Station Test Support",
        "phone": "+420123456789",
        "geolocation": {
          "country": "CZ"
        }
      },
      "company": {
        "name": "Superface AI"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Wed, 08 Dec 2021 16:24:00 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "09deffa50d 99.99 0.030197 0032 da0c",
      "724163c3-cedc-4d70-a1d3-abc2143c0840",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6ba7576bdfc9d72d-FRA",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/PARAMS_WEBSITE_ID/people/data/support+station@superface.ai",
    "body": {
      "data": {
        "propertyAddedOnUpdate": "field value"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Wed, 08 Dec 2021 16:24:00 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "f1d92fbf86 99.99 0.011754 0032 da0c",
      "f759b96c-f400-45cd-a208-fc7f3455ebd8",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6ba7576cba5d27c0-PRG",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]