[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/profile/support+station@superface.ai",
    "body": {
      "email": "support+station@superface.ai",
      "person": {
        "nickname": "Station Test Support",
        "phone": "+420123456789",
        "geolocation": {
          "country": "CZ"
        }
      },
      "company": {
        "name": "Superface AI"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 10:20:49 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "517e5bc9ad 99.99 0.023212 0032 da0c",
      "8d8a6919-16f5-4d29-980e-09e16eb899a9",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b73d327bbd42794-PRG",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/data/support+station@superface.ai",
    "body": {
      "data": {
        "propertyAddedOnUpdate": "field value"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 10:20:49 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "3ce42fd5aa 99.99 0.013528 0032 da0c",
      "13d65baa-8053-4a18-ab69-25ec471a09fd",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b73d3289de4413e-PRG",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]