[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/profile/support+station@superface.ai",
    "body": {
      "email": "support+station@superface.ai",
      "person": {
        "nickname": "Station Test Support",
        "phone": "+420123456789",
        "geolocation": {
          "country": "CZ"
        }
      },
      "company": {
        "name": "Superface AI"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 10:58:32 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "5fa4f8662c 99.99 0.017969 0032 da0c",
      "b900535a-de76-4099-8ed8-b21c7a36fecb",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b740a683e6ff9d2-PRG",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.crisp.chat:443",
    "method": "PATCH",
    "path": "/v1/website/parameters-removed-to-keep-them-secure/people/data/support+station@superface.ai",
    "body": {
      "data": {
        "propertyAddedOnUpdate": "field value"
      }
    },
    "status": 200,
    "response": {
      "error": false,
      "reason": "updated",
      "data": {}
    },
    "rawHeaders": [
      "Thu, 02 Dec 2021 10:58:32 GMT",
      "Content-Type",
      "application/json",
      "44",
      "close",
      "Bloom-Status",
      "DIRECT",
      "4bc6b1c601 99.99 0.014277 0032 da0c",
      "162eef3d-e931-4c07-a61d-7c91ffff0352",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6b740a690fa9f9ce-PRG",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]