[
  {
    "scope": "https://slack.com:443",
    "method": "GET",
    "path": "/api/conversations.history?channel=not-existing-dest&limit=100",
    "body": "",
    "status": 200,
    "response": [
      "1f8b0800000000000003ab56cacf56b24a4bcc294ed5514a2d2aca2f52b2524ace48cccb4bcd89cfcb2f894fcb2fcd4b51aa0500f86f946928000000"
    ],
    "rawHeaders": [
      "x-slack-backend",
      "r",
      "x-oauth-scopes",
      "identify,channels:history,groups:history,im:history,mpim:history,channels:read,groups:read,reactions:read,users:read,chat:write,identity.basic,identity.email,identity.avatar,identity.team",
      "x-accepted-oauth-scopes",
      "channels:history,groups:history,mpim:history,im:history,read",
      "x-slack-req-id",
      "f609be83c15c69a3abfcb707d6190e92",
      "content-type",
      "application/json; charset=utf-8",
      "x-backend",
      "main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow main_control_with_overflow main_bedrock_control_with_overflow",
      "x-server",
      "slack-www-hhvm-main-iad-836k",
      "x-slack-shared-secret-outcome",
      "no-match",
      "x-edge-backend",
      "envoy-www",
      "x-slack-edge-shared-secret-outcome",
      "no-match"
    ],
    "responseIsBinary": false
  }
]