[
  {
    "scope": "https://slack.com:443",
    "method": "GET",
    "path": "/api/conversations.replies?channel=CF3H7S63W&ts=not-existing-thread-dest&limit=999",
    "body": "",
    "status": 200,
    "response": [
      "1f8b0800000000000003ab56cacf56b24a4bcc294ed5514a2d2aca2f52b2522ac9284a4d4c89cfcb2f894fcb2fcd4b51aa05002b1797c027000000"
    ],
    "rawHeaders": [
      "x-slack-backend",
      "r",
      "x-oauth-scopes",
      "identify,channels:history,groups:history,im:history,mpim:history,channels:read,groups:read,reactions:read,users:read,chat:write,identity.basic,identity.email,identity.avatar,identity.team",
      "x-accepted-oauth-scopes",
      "channels:history,groups:history,mpim:history,im:history,read",
      "x-slack-req-id",
      "379f4299aa7d0fdb088112ebb190b48b",
      "content-type",
      "application/json; charset=utf-8",
      "x-backend",
      "main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow main_control_with_overflow main_bedrock_control_with_overflow",
      "x-server",
      "slack-www-hhvm-main-iad-o8re",
      "x-slack-shared-secret-outcome",
      "no-match",
      "x-edge-backend",
      "envoy-www",
      "x-slack-edge-shared-secret-outcome",
      "no-match"
    ],
    "responseIsBinary": false
  }
]