[
  {
    "scope": "https://slack.com:443",
    "method": "GET",
    "path": "/api/conversations.history?channel=C03UL8E5YMR&cursor=INPUT_page&limit=2",
    "body": "",
    "status": 200,
    "response": {
      "ok": true,
      "messages": [
        {
          "bot_id": "B02V2LYNQHG",
          "type": "message",
          "text": "Test 2",
          "user": "UF4PRBHL7",
          "ts": "1661939963.608659",
          "app_id": "A02V5F6CH1N",
          "team": "TF3U3G65B",
          "bot_profile": {
            "id": "B02V2LYNQHG",
            "deleted": false,
            "name": "TestApp",
            "updated": 1642781336,
            "app_id": "A02V5F6CH1N",
            "icons": {
              "image_36": "https://a.slack-edge.com/80588/img/plugins/app/bot_36.png",
              "image_48": "https://a.slack-edge.com/80588/img/plugins/app/bot_48.png",
              "image_72": "https://a.slack-edge.com/80588/img/plugins/app/service_72.png"
            },
            "team_id": "TF3U3G65B"
          },
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "YOt",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "text",
                      "text": "Test 2"
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          "bot_id": "B02V2LYNQHG",
          "type": "message",
          "text": "Test 1",
          "user": "UF4PRBHL7",
          "ts": "1661939963.103119",
          "app_id"[...]
