[
  {
    "scope": "https://slack.com:443",
    "method": "GET",
    "path": "/api/conversations.history?channel=not-existing-dest&limit=999",
    "body": "",
    "status": 200,
    "response": {
      "ok": false,
      "error": "channel_not_found"
    },
    "rawHeaders": [
      "x-slack-backend",
      "r",
      "x-slack-unique-id",
      "Yw8xAq-67FtLqmfR2cBvsQAAEDQ",
      "x-oauth-scopes",
      "identify,channels:history,groups:history,im:history,mpim:history,channels:read,groups:read,reactions:read,users:read,channels:write,chat:write,identity.basic,identity.email,identity.avatar,identity.team",
      "x-accepted-oauth-scopes",
      "channels:history,groups:history,mpim:history,im:history,read",
      "x-slack-req-id",
      "773691604d66c03315bd4a7a592f2fe2",
      "content-type",
      "application/json; charset=utf-8",
      "x-backend",
      "main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow main_control_with_overflow main_bedrock_control_with_overflow",
      "x-server",
      "slack-www-hhvm-main-iad-qrmn",
      "x-slack-shared-secret-outcome",
      "no-match",
      "x-edge-backend",
      "envoy-www",
      "x-slack-edge-shared-secret-outcome",
      "no-match"
    ],
    "responseIsBinary": false
  }
]