[
  {
    "scope": "https://app.asana.com:443",
    "method": "DELETE",
    "path": "/api/1.0/tasks/1203399327963727",
    "body": "",
    "status": 200,
    "response": {
      "data": {}
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "X-Asana-Api-Version",
      "1.0",
      "Asana-Change",
      "name=external_goal_metrics;info=https://forum.asana.com/t/changes-to-goal-metrics-progress-sources/221257",
      "Asana-Change",
      "name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828",
      "Asana-Change",
      "name=new_project_templates;info=https://forum.asana.com/t/a-new-api-for-project-templates/156432",
      "Datacenter-Time-End",
      "1668769120.684",
      "X-LoadBalancer",
      "prod-lb003.ec2"
    ],
    "responseIsBinary": false
  }
]