{
  "recruitment/list-candidates/breezy-hr/ListCandidates": {
    "69b62ec6f42ed36dd8c65a9c02e2015b": [
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID",
        "body": "",
        "status": 200,
        "response": {
          "_id": "PARAMS_COMPANY_ID",
          "name": "Superface4",
          "friendly_id": "superface4",
          "creation_date": "2023-01-05T09:16:53.888Z",
          "updated_date": "2023-01-05T09:16:53.888Z",
          "member_count": 1,
          "initial": "S"
        },
        "rawHeaders": [
          "Thu, 05 Jan 2023 12:44:39 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "187",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "92",
          "X-RateLimit-Reset",
          "1672922740",
          "ETag",
          "W/\"bb-2hak48+A1wGgIIu4KDBVg9IRXgQ\""
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/214429f1ca4c01",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003",
          "8d57fd6f533714fd57ac4cda40bca64956bad15548ac1436344447d1aa31a6c879be79cfab631b7f2404c4ffbe63fba5792925e29724cfeffadc73cffdb0f3693095627032988c8f8e268fe6e39a1fd5a3f1a01a84b5a5c1c9a7417e3b8f4abd910bc2bae6f83a193cc3ca415efa5c0d7ce0212dda3853[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/214429f1ca4c01/candidates",
        "body": "",
        "status": 200,
        "response": [
          {
            "_id": "b71d7a8d2e6c01",
            "meta_id": "029965ac3d4701",
            "creation_date": "2023-01-05T10:04:58.325Z",
            "email_address": "john.doe@fakemail.com",
            "headline": "Sales Director @ Test Company",
            "initial": "J",
            "name": "John Doe",
            "origin": "applied",
            "phone_number": "1-859-557-6573",
            "resume": {
              "url": "https://app.breezy.hr/public/api/v3/company/PARAMS_COMPANY_ID/position/214429f1ca4c01/candidate/b71d7a8d2e6c01/resume",
              "file_name": "ed0e6671-ee4a-497d-afa0-38b998336864.pdf"
            },
            "source": {
              "id": "breezy-api",
              "name": "Breezy API"
            },
            "stage": {
              "id": "applied",
              "name": "Applied",
              "type": {
                "id": "applied",
                "name": "Applied",
                "icon": "user"
              }
            },
            "tags": [],
            "overall_score": {
              "very_good": [],
              "good": [],
              "neutral": [],
              "poor": [],
              "very_poor": [],
              "scored_count": 0,
              "average_score": null
            },
            "updated_date": "2023-01-05T10:04:58.325Z"
          }
        ],
        "rawHeaders": [
          "Thu, 05 Jan 2023 12:44:40 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "768",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "90",
          "X-RateLimit-Reset",
          "1672922740",
          "ETag",
          "W/\"300-p9qhpizIJxulAQ2ys/evuyN9kf8\""
        ],
        "responseIsBinary": false
      }
    ],
    "6c68f323e82937491e730432d97d9441": [
[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/12345ab789d1dd",
        "body": "",
        "status": 500,
        "response": {
          "error": {
            "type": "getPositionError",
            "message": "there was an unknown error getting position."
          }
        },
        "rawHeaders": [
          "Thu, 05 Jan 2023 12:44:42 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "94",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "88",
          "X-RateLimit-Reset",
          "1672922740",
          "ETag",
          "W/\"5e-3ik2KTQWrGkPvEysMKXxAO0v33o\""
        ],
        "responseIsBinary": false
      }
    ],
    "67b5f8146db589c755f1658404c01d20": [
[...]
