{
  "recruitment/list-candidates/breezy-hr/ListCandidates": {
    "69b62ec6f42ed36dd8c65a9c02e2015b": [
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID",
        "body": "",
        "status": 200,
        "response": {
          "_id": "PARAMS_COMPANY_ID",
<<<<<<< HEAD
          "name": "Superface4",
          "friendly_id": "superface4",
          "creation_date": "2023-01-05T09:16:53.888Z",
          "updated_date": "2023-01-05T09:16:53.888Z",
=======
          "name": "Superface3",
          "friendly_id": "superface-s-r--o",
          "creation_date": "2022-12-21T14:33:20.068Z",
          "updated_date": "2022-12-21T14:35:41.156Z",
>>>>>>> 35e16559 (feat: add list candidates breezy-hr map)
          "member_count": 1,
          "initial": "S"
        },
        "rawHeaders": [
<<<<<<< HEAD
          "Thu, 05 Jan 2023 12:44:39 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "Content-Length",
          "187",
=======
          "Tue, 03 Jan 2023 09:26:03 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "Content-Length",
          "193",
>>>>>>> 35e16559 (feat: add list candidates breezy-hr map)
          "Connection",
          "close",
          "Server",
          "nginx/1.22.0",
          "X-Powered-By",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "99",
          "X-RateLimit-Reset",
<<<<<<< HEAD
          "1672922740",
          "ETag",
          "W/\"bb-2hak48+A1wGgIIu4KDBVg9IRXgQ\"",
=======
          "1672738024",
          "ETag",
          "W/\"c1-WX3uPA27eVN/85vmp+1xEl/Pz7s\"",
>>>>>>> 35e16559 (feat: add list candidates breezy-hr map)
          "Vary",
          "Accept-Encoding"
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
<<<<<<< HEAD
        "path": "/v3/company/PARAMS_COMPANY_ID/position/214429f1ca4c01",
=======
        "path": "/v3/company/PARAMS_COMPANY_ID/position/701c3f2fc42a01",
>>>>>>> 35e16559 (feat: add list candidates breezy-hr map)
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003",
<<<<<<< HEAD
          "8d57fd6f533714fd57ac4cda40bca64956bad15548ac1436344447d1aa31a6c879be79cf[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
<<<<<<< HEAD
        "path": "/v3/company/PARAMS_COMPANY_ID/position/214429f1ca4c01/candidates",
=======
        "path": "/v3/company/PARAMS_COMPANY_ID/position/701c3f2fc42a01/candidates",
>>>>>>> 35e16559 (feat: add list candidates breezy-hr map)
        "body": "",
        "status": 200,
        "response": [
          {
<<<<<<< HEAD
            "_id": "b71d7a8d2e6c01",
            "meta_id": "029965ac3d4701",
            "creation_date": "2023-01-05T10:04:58.325Z",
=======
            "_id": "abe9c32f78a601",
            "meta_id": "cb4e54e5046601",
            "creation_date": "2022-12-30T14:40:26.915Z",
>>>>>>> 35e16559 (feat: add list candidates breezy-hr map)
            "email_address": "john.doe@fakemail.com",
            "headline": "Sales Director @ Test Company",
            "initial": "J",
            "name": "John Doe",
            "origin": "applied",
            "phone_number": "1-859-557-6573",
            "resume": {
<<<<<<< HEAD
              "url": "https://app.breezy.hr/public/api/v3/company/PARAMS_COMPANY_ID/position/214429f1ca4c01/candidate/b71d7a8d2e6c01/resume",
              "file_name": "ed0e6671-ee4a-497d-afa0-38b998336864.pdf"
=======
              "file_name": "cv-sample.pdf",
              "url": "https://app.breezy.hr/public/api/v3/company/PARAMS_COMPANY_ID/position/701c3f2fc42a01/candidate/abe9c32f78a601/resume"
>>>>>>> 35e16559 (feat: add list candidates breezy-hr map)
            },
            "source": {
              "id": "breezy-api",
              "name": "Breezy API"
            },
            "stage": {
              "id": "applied",
              "name": "Applied",
              "type": {
                "id": "applied",
                "name": "Applied",
                "icon": "user"
              }
            },
            "tags": [],
            "overall_score": {
              "very_good": [],
              "good": [],
              "neutral": [],
              "poor": [],
<<<<<<< HEAD
              "very_poor": [],
              "scored_count": 0,
              "average_score": null
            },
            "updated_date": "2023-01-05T10:04:58.325Z"
=======
              "very_poor": []
            },
            "updated_date": "2022-12-30T14:40:29.334Z"
>>>>>>> 35e16559 (feat: add list candidates breezy-hr map)
          }
        ],
        "rawHeaders": [
<<<<<<< HEAD
          "Thu, 05 Jan 2023 12:44:40 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "Content-Length",
          "768",
=======
          "Tue, 03 Jan 2023 09:26:05 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "Content-Length",
          "703",
>>>>>>> 35e16559 (feat: add list candidates breezy-hr map)
          "Connection",
          "close",
          "Server",
          "nginx/1.22.0",
          "X-Powered-By",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "97",
          "X-RateLimit-Reset",
<<<<<<< HEAD
          "1672922740",
          "ETag",
          "W/\"300-p9qhpizIJxulAQ2ys/evuyN9kf8\"",
=======
          "1672738024",
          "ETag",
          "W/\"2bf-hchmn1QDBskx97YuLaYwMVtCkj0\"",
>>>>>>> 35e16559 (feat: add list candidates breezy-hr map)
          "Vary",
          "Accept-Encoding"
        ],
        "responseIsBinary": false
      }
    ],
    "6c68f323e82937491e730432d97d9441": [
[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/12345ab789d1dd",
        "body": "",
        "status": 500,
        "response": {
          "error": {
            "type": "getPositionError",
            "message": "there was an unknown error getting position."
          }
        },
        "rawHeaders": [
<<<<<<< HEAD
          "Thu, 05 Jan 2023 12:44:42 GMT",
=======
          "Tue, 03 Jan 2023 09:26:06 GMT",
>>>>>>> 35e16559 (feat: add list candidates breezy-hr map)
          "Content-Type",
          "application/json; charset=utf-8",
          "Content-Length",
          "94",
          "Connection",
          "close",
          "Server",
          "nginx/1.22.0",
          "X-Powered-By",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "95",
          "X-RateLimit-Reset",
<<<<<<< HEAD
          "1672922740",
=======
          "1672738024",
>>>>>>> 35e16559 (feat: add list candidates breezy-hr map)
          "ETag",
          "W/\"5e-3ik2KTQWrGkPvEysMKXxAO0v33o\"",
          "Vary",
          "Accept-Encoding"
        ],
        "responseIsBinary": false
      }
    ],
    "67b5f8146db589c755f1658404c01d20": [
[...]
