{
  "recruitment/list-candidates/breezy-hr/ListCandidates": {
    "69b62ec6f42ed36dd8c65a9c02e2015b": [
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID",
        "body": "",
        "status": 200,
        "response": {
          "_id": "PARAMS_COMPANY_ID",
          "name": "Superface3",
          "friendly_id": "superface-s-r--o",
          "creation_date": "2022-12-21T14:33:20.068Z",
          "updated_date": "2022-12-21T14:35:41.156Z",
          "member_count": 1,
          "initial": "S"
        },
        "rawHeaders": [
          "Tue, 03 Jan 2023 09:26:03 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "193",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "99",
          "X-RateLimit-Reset",
          "1672738024",
          "ETag",
          "W/\"c1-WX3uPA27eVN/85vmp+1xEl/Pz7s\""
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/701c3f2fc42a01",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003",
          "8d576d8f133710fe2b562ab52036b94bb8a3343d21d17040511194433d955245ce7a76d73dc7367e490888ffdec7decd65731c115f2e97b167e699675e3cf93c984b31980e7e3e1e97f7ab49559e4cf8f178500cc2c6d260fa79904faba8d45bb924c835c7c774f0149261167d29063ef09084362e94f4[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/701c3f2fc42a01/candidates",
        "body": "",
        "status": 200,
        "response": [
          {
            "_id": "abe9c32f78a601",
            "meta_id": "cb4e54e5046601",
            "creation_date": "2022-12-30T14:40:26.915Z",
            "email_address": "john.doe@fakemail.com",
            "headline": "Sales Director @ Test Company",
            "initial": "J",
            "name": "John Doe",
            "origin": "applied",
            "phone_number": "1-859-557-6573",
            "resume": {
              "file_name": "cv-sample.pdf",
              "url": "https://app.breezy.hr/public/api/v3/company/PARAMS_COMPANY_ID/position/701c3f2fc42a01/candidate/abe9c32f78a601/resume"
            },
            "source": {
              "id": "breezy-api",
              "name": "Breezy API"
            },
            "stage": {
              "id": "applied",
              "name": "Applied",
              "type": {
                "id": "applied",
                "name": "Applied",
                "icon": "user"
              }
            },
            "tags": [],
            "overall_score": {
              "very_good": [],
              "good": [],
              "neutral": [],
              "poor": [],
              "very_poor": []
            },
            "updated_date": "2022-12-30T14:40:29.334Z"
          }
        ],
        "rawHeaders": [
          "Tue, 03 Jan 2023 09:26:05 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "703",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "97",
          "X-RateLimit-Reset",
          "1672738024",
          "ETag",
          "W/\"2bf-hchmn1QDBskx97YuLaYwMVtCkj0\""
        ],
        "responseIsBinary": false
      }
    ],
    "6c68f323e82937491e730432d97d9441": [
[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/12345ab789d1dd",
        "body": "",
        "status": 500,
        "response": {
          "error": {
            "type": "getPositionError",
            "message": "there was an unknown error getting position."
          }
        },
        "rawHeaders": [
          "Tue, 03 Jan 2023 09:26:06 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "94",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "95",
          "X-RateLimit-Reset",
          "1672738024",
          "ETag",
          "W/\"5e-3ik2KTQWrGkPvEysMKXxAO0v33o\""
        ],
        "responseIsBinary": false
      }
    ],
    "67b5f8146db589c755f1658404c01d20": [
[...]
