[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "POST",
    "path": "/v3/mail/send",
    "body": {
      "from": {
        "email": "demo@demo.superface.org"
      },
      "subject": "Station test",
      "content": [
        {
          "type": "text/plain",
          "value": "Station test - sendgrid"
        }
      ],
      "personalizations": [
        {
          "to": [
            {
              "email": "demo@demo.superface.org"
            }
          ]
        }
      ],
      "attachments": null
    },
    "status": 202,
    "response": "",
    "rawHeaders": [
      "X-Message-Id",
      "SLTHy9l9QTKH7mGzsXjCmQ",
      "X-No-CORS-Reason",
      "https://sendgrid.com/docs/Classroom/Basics/API/cors.html"
    ],
    "responseIsBinary": false
  }
]