[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "POST",
    "path": "/v3/mail/send",
    "body": {
      "from": {
        "email": "demo@demo.superface.org"
      },
      "subject": "Station test with attachements",
      "content": [
        {
          "type": "text/plain",
          "value": "Station test - sendgrid"
        }
      ],
      "personalizations": [
        {
          "to": [
            {
              "email": "demo@demo.superface.org"
            }
          ]
        }
      ],
      "attachments": [
        {
          "content": "dGVzdA==",
          "filename": "test.txt",
          "type": "text/plain"
        },
        {
          "content": "dGVzdC==",
          "filename": "test2.json",
          "type": "application/json"
        }
      ]
    },
    "status": 202,
    "response": "",
    "rawHeaders": [
      "X-Message-Id",
      "DOf4crjyTrm-sX1opzduzA",
      "X-No-CORS-Reason",
      "https://sendgrid.com/docs/Classroom/Basics/API/cors.html"
    ],
    "responseIsBinary": false
  }
]