[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "POST",
    "path": "/v3/mail/send",
    "body": {
      "from": {
        "email": "hello@superface.ai"
      },
      "subject": "Station test",
      "content": [
        {
          "type": "text/plain",
          "value": "Station test - sendgrid"
        }
      ],
      "personalizations": [
        {
          "to": [
            {
              "email": "hello@superface.ai"
            }
          ]
        }
      ]
    },
    "status": 202,
    "response": "",
    "rawHeaders": [
      "X-Message-Id",
      "lzQgRi0xSDGJzSXdcKjXFA",
      "X-No-CORS-Reason",
      "https://sendgrid.com/docs/Classroom/Basics/API/cors.html"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "POST",
    "path": "/v3/mail/send",
    "body": {
      "from": {
        "email": "invalidemail"
      },
      "subject": "",
      "content": [],
      "personalizations": [
        {
          "to": [
            {
              "email": "invalidemail"
            }
          ]
        }
      ]
    },
    "status": 400,
    "response": {
      "errors": [
        {
          "message": "The from email does not contain a valid address.",
          "field": "from.email",
          "help": "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.from"
        },
        {
          "message": "Does not contain a valid address.",
          "field": "personalizations.0.to.0.email",
          "help": "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.personalizations.to"
        },
        {
          "message": "The subject is required. You can get around this requirement if you use a template with a subject defined or if every personalization has a subject defined.",
          "field": "subject",
          "help": "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.subject"
        },
        {
          "message": "Unless a valid template_id is provided, the content parameter is required. There must be at least one defined content block. We typically suggest both text/plain and text/html blocks are included, but only one block is required.",
          "field": "content",
          "help": "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.content"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-No-CORS-Reason",
      "https://sendgrid.com/docs/Classroom/Basics/API/cors.html"
    ],
    "responseIsBinary": false
  }
]