[
  {
    "scope": "https://app.asana.com:443",
    "method": "POST",
    "path": "/api/1.0/tasks",
    "body": {
      "data": {
        "name": "Hello, World!",
        "notes": "Description of test task",
        "projects": [
          "1203400042224704"
        ],
        "assignee": "1203400162064099"
      }
    },
    "status": 201,
    "response": {
      "data": {
        "gid": "1203400536546865",
        "projects": [
          {
            "gid": "1203400042224704",
            "resource_type": "project",
            "name": "superface-test"
          }
        ],
        "resource_type": "task",
        "created_at": "2022-11-18T14:27:03.133Z",
        "modified_at": "2022-11-18T14:27:03.969Z",
        "name": "Hello, World!",
        "notes": "Description of test task",
        "completed": false,
        "assignee_status": "inbox",
        "completed_at": null,
        "due_on": null,
        "due_at": null,
        "resource_subtype": "default_task",
        "start_on": null,
        "start_at": null,
        "tags": [],
        "workspace": {
          "gid": "1202159793758022",
          "resource_type": "workspace",
          "name": "superface.ai"
        },
        "num_hearts": 0,
        "num_likes": 0,
        "permalink_url": "https://app.asana.com/0/1203400042224704/1203400536546865",
        "memberships": [
          {
            "project": {
              "gid": "1203400042224704",
              "resource_type": "project",
              "name": "superface-test"
            },
            "section": {
              "gid": "1203400042224705",
              "resource_type": "section",
              "name": "To do"
            }
          }
        ],
        "assignee": {
          "gid": "1203400160251645",
          "resource_type": "user",
          "name": "Demo"
        },
        "parent": null,
        "hearted": false,
        "hearts": [],
        "liked": false,
        "likes": [],
        "assignee_section": {
          "gid": "1203400162064124",
          "resource_type": "section",
          "name": "Recently assigned"
        },
        "followers": [
          {
            "gid": "1203400160251645",
            "resource_type": "user",
            "name": "Demo"
          }
        ],
        "custom_fields": [
          {
            "gid": "1203400042224709",
            "resource_type": "custom_field",
            "created_by": null,
            "resource_subtype": "enum",
            "type": "enum",
            "name": "Priority",
            "enabled": true,
            "enum_value": null,
            "display_value": null,
            "enum_options": [
              {
                "gid": "1203400042224710",
                "resource_type": "enum_option",
                "enabled": true,
                "name": "High",
                "color": "red"
              },
              {
                "gid": "1203400042224711",
                "resource_type": "enum_option",
                "enabled": true,
                "name": "Medium",
                "color": "orange"
              },
              {
                "gid": "1203400042224712",
                "resource_type": "enum_option",
                "enabled": true,
                "name": "Low",
                "color": "yellow-orange"
              }
            ]
          }
        ]
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "Location",
      "/api/1.0/tasks/1203400536546865",
      "X-Asana-Api-Version",
      "1.0",
      "Asana-Change",
      "name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828;affected=true",
      "Asana-Change",
      "name=external_goal_metrics;info=https://forum.asana.com/t/changes-to-goal-metrics-progress-sources/221257",
      "Asana-Change",
      "name=new_project_templates;info=https://forum.asana.com/t/a-new-api-for-project-templates/156432;affected=true",
      "Datacenter-Time-End",
      "1668781624.718",
      "X-LoadBalancer",
      "prod-lb017.ec2"
    ],
    "responseIsBinary": false
  }
]