[
  {
    "scope": "https://app.asana.com:443",
    "method": "POST",
    "path": "/api/1.0/tasks",
    "body": {
      "data": {
        "name": "Test 3",
        "notes": "Task description",
        "projects": [
          "1203384186840261"
        ],
        "assignee": "1203384186605863"
      }
    },
    "status": 201,
    "response": {
      "data": {
        "gid": "1203399327658817",
        "projects": [
          {
            "gid": "1203384186840261",
            "resource_type": "project",
            "name": "superface-test"
          }
        ],
        "resource_type": "task",
        "created_at": "2022-11-18T10:58:24.688Z",
        "modified_at": "2022-11-18T10:58:25.277Z",
        "name": "Test 3",
        "notes": "Task description",
        "completed": false,
        "assignee_status": "inbox",
        "completed_at": null,
        "due_on": null,
        "due_at": null,
        "resource_subtype": "default_task",
        "start_on": null,
        "start_at": null,
        "tags": [],
        "workspace": {
          "gid": "1203384186670091",
          "resource_type": "workspace",
          "name": "My Workspace"
        },
        "num_hearts": 0,
        "num_likes": 0,
        "permalink_url": "https://app.asana.com/0/1203384186840261/1203399327658817",
        "memberships": [
          {
            "project": {
              "gid": "1203384186840261",
              "resource_type": "project",
              "name": "superface-test"
            },
            "section": {
              "gid": "1203384186840262",
              "resource_type": "section",
              "name": "task section 1"
            }
          }
        ],
        "assignee": {
          "gid": "1203384186605863",
          "resource_type": "user",
          "name": "Martin Albert"
        },
        "parent": null,
        "hearted": false,
        "hearts": [],
        "liked": false,
        "likes": [],
        "assignee_section": {
          "gid": "1203384186720075",
          "resource_type": "section",
          "name": "Recently assigned"
        },
        "followers": [
          {
            "gid": "1203384186605863",
            "resource_type": "user",
            "name": "Martin Albert"
          }
        ],
        "custom_fields": [
          {
            "gid": "1203384186840266",
            "resource_type": "custom_field",
            "created_by": {
              "gid": "1203384186605863",
              "resource_type": "user",
              "name": "Martin Albert"
            },
            "resource_subtype": "enum",
            "type": "enum",
            "name": "Priority",
            "enabled": true,
            "enum_value": null,
            "display_value": null,
            "enum_options": [
              {
                "gid": "1203384186840267",
                "resource_type": "enum_option",
                "enabled": true,
                "name": "Low",
                "color": "aqua"
              },
              {
                "gid": "1203384186840268",
                "resource_type": "enum_option",
                "enabled": true,
                "name": "Medium",
                "color": "yellow-orange"
              },
              {
                "gid": "1203384186840269",
                "resource_type": "enum_option",
                "enabled": true,
                "name": "High",
                "color": "purple"
              }
            ]
       [...]
