{
  "crypto/exchange-rate/binance/GetExchangeRate": {
    "a292e9e854e2e111650b3f62b594a1f2": [
      {
        "scope": "https://api.binance.com:443",
        "method": "GET",
        "path": "/api/v3/ticker/price?symbol=BTCUSDT",
        "body": "",
        "status": 200,
        "response": {
          "symbol": "BTCUSDT",
          "price": "67709.58000000"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json;charset=UTF-8",
          "x-mbx-uuid",
          "24187269-6903-4c95-9e22-5a80e0b62ae5",
          "x-mbx-used-weight",
          "1",
          "x-mbx-used-weight-1m",
          "1",
          "X-Content-Security-Policy",
          "default-src 'self'",
          "X-WebKit-CSP",
          "default-src 'self'"
        ],
        "responseIsBinary": false
      }
    ],
    "f4c769781e0b25a582a971dab02ea38b": [
      {
        "scope": "https://api.binance.com:443",
        "method": "GET",
        "path": "/api/v3/ticker/price?symbol=USDTBTC",
        "body": "",
        "status": 400,
        "response": {
          "code": -1121,
          "msg": "Invalid symbol."
        },
        "rawHeaders": [
          "Content-Type",
          "application/json;charset=UTF-8",
          "x-mbx-uuid",
          "3a294115-990f-4b56-8951-a318bf4e47f7",
          "x-mbx-used-weight",
          "2",
          "x-mbx-used-weight-1m",
          "2",
          "X-Content-Security-Policy",
          "default-src 'self'",
          "X-WebKit-CSP",
          "default-src 'self'"
        ],
        "responseIsBinary": false
      },
[...]
      {
        "scope": "https://api.binance.com:443",
        "method": "GET",
        "path": "/api/v3/ticker/price?symbol=FOOBAR",
        "body": "",
        "status": 400,
        "response": {
          "code": -1121,
          "msg": "Invalid symbol."
        },
        "rawHeaders": [
          "Content-Type",
          "application/json;charset=UTF-8",
          "x-mbx-uuid",
          "f97873e5-01ac-4532-a0d0-39ffbb7377e3",
          "x-mbx-used-weight",
          "4",
          "x-mbx-used-weight-1m",
          "4",
          "X-Content-Security-Policy",
          "default-src 'self'",
          "X-WebKit-CSP",
          "default-src 'self'"
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.binance.com:443",
        "method": "GET",
        "path": "/api/v3/ticker/price?symbol=BARFOO",
        "body": "",
        "status": 400,
        "response": {
          "code": -1121,
          "msg": "Invalid symbol."
        },
        "rawHeaders": [
          "Content-Type",
          "application/json;charset=UTF-8",
          "x-mbx-uuid",
          "095fab38-b400-4789-9dc6-9e3f31b8ebdf",
          "x-mbx-used-weight",
          "5",
          "x-mbx-used-weight-1m",
          "5",
          "X-Content-Security-Policy",
          "default-src 'self'",
          "X-WebKit-CSP",
          "default-src 'self'"
        ],
        "responseIsBinary": false
      }
    ]
  }
}