[
  {
    "scope": "https://maps.googleapis.com:443",
    "method": "GET",
    "path": "/maps/api/geocode/json?address=++++&key=SECURITY_apikey",
    "body": "",
    "status": 200,
    "response": [
      "1f",
      "8b",
      "08",
      "00",
      "00",
      "00000002ffabe6525050502a4a2d2ecd29295652b052888ed5010b1597249694824594a25c83fce3835c83437d428295b86ab9006b49ff8f34000000"
    ],
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "Tue, 09 Nov 2021 08:15:18 GMT",
      "no-cache",
      "Fri, 01 Jan 1990 00:00:00 GMT",
      "no-cache, must-revalidate",
      "*",
      "gzip",
      "mafe",
      "0",
      "SAMEORIGIN",
      "gfet4t7; dur=181",
      "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000,h3-Q050=\":443\"; ma=2592000,h3-Q046=\":443\"; ma=2592000,h3-Q043=\":443\"; ma=2592000,quic=\":443\"; ma=2592000; v=\"46,43\"",
      "close",
      "chunked"
    ],
    "responseIsBinary": false
  }
]