[
  {
    "scope": "https://api.breezy.hr:443",
    "method": "GET",
    "path": "/v3/company/PARAMS_COMPANY_ID/candidates/search?email_address=demo_testing%40fakemail.com",
    "body": "",
    "status": 200,
    "response": [],
    "rawHeaders": [
      "Wed, 07 Dec 2022 13:59:42 GMT",
      "Content-Type",
      "application/json; charset=utf-8",
      "2",
      "close",
      "nginx/1.22.0",
      "Redstone",
      "X-RateLimit-Limit",
      "100",
      "X-RateLimit-Remaining",
      "96",
      "X-RateLimit-Reset",
      "1670421590",
      "ETag",
      "W/\"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w\""
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.breezy.hr:443",
    "method": "POST",
    "path": "/v3/company/PARAMS_COMPANY_ID/position/12345ab789d1dd/candidates",
    "body": {
      "name": "Demo Testing",
      "email_address": "demo_testing@fakemail.com",
      "social_profiles": {},
      "custom_attributes": [],
      "origin": "applied"
    },
    "status": 500,
    "response": {
      "error": {
        "type": "addCandidateError",
        "message": "there was an unknown error creating candidate."
      }
    },
    "rawHeaders": [
      "Wed, 07 Dec 2022 13:59:44 GMT",
      "Content-Type",
      "application/json; charset=utf-8",
      "97",
      "close",
      "nginx/1.22.0",
      "Redstone",
      "X-RateLimit-Limit",
      "100",
      "X-RateLimit-Remaining",
      "95",
      "X-RateLimit-Reset",
      "1670421590",
      "ETag",
      "W/\"61-VOmYEQW8LNhNin8YPuANSEMH9y8\""
    ],
    "responseIsBinary": false
  }
]