[
  {
    "scope": "https://api.breezy.hr:443",
    "method": "POST",
    "path": "/v3/company/PARAMS_COMPANY_ID/position/12345ab789d1dd/candidates",
    "body": {
      "name": "Demo Testing",
      "email_address": "demo_testing@fakemail.com",
      "social_profiles": {},
      "origin": "applied"
    },
    "status": 500,
    "response": {
      "error": {
        "type": "addCandidateError",
        "message": "there was an unknown error creating candidate."
      }
    },
    "rawHeaders": [
      "Tue, 06 Dec 2022 09:38:41 GMT",
      "Content-Type",
      "application/json; charset=utf-8",
      "97",
      "close",
      "nginx/1.22.0",
      "Redstone",
      "X-RateLimit-Limit",
      "100",
      "X-RateLimit-Remaining",
      "98",
      "X-RateLimit-Reset",
      "1670319577",
      "ETag",
      "W/\"61-VOmYEQW8LNhNin8YPuANSEMH9y8\""
    ],
    "responseIsBinary": false
  }
]