[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "PUT",
    "path": "/v3/marketing/contacts",
    "body": {
      "contacts": [
        {
          "email": "TEST@example.com",
          "custom_fields": {
            "e1_T": "value"
          }
        }
      ]
    },
    "status": 202,
    "response": {
      "job_id": "bf365950-aa3f-4613-bf15-398cb649ed37"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "69964d25-9522-4b82-8d41-301e511610f1",
      "x-amz-apigw-id",
      "ILZtmFouvHcFr8g=",
      "x-ratelimit-limit",
      "200",
      "x-ratelimit-remaining",
      "199",
      "x-ratelimit-reset",
      "35"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "PUT",
    "path": "/v3/marketing/contacts",
    "body": {
      "contacts": [
        {
          "email": "test@example.com",
          "first_name": "test"
        }
      ]
    },
    "status": 202,
    "response": {
      "job_id": "9d79c51f-ff05-4dc3-a5d0-9807b8a0ccfb"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "a4a02a2e-4b84-4d23-99b5-4f99502479ab",
      "x-amz-apigw-id",
      "ILZtyGNrvHcFgjw=",
      "x-ratelimit-limit",
      "200",
      "x-ratelimit-remaining",
      "198",
      "x-ratelimit-reset",
      "34"
    ],
    "responseIsBinary": false
  }
]