[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "PUT",
    "path": "/v3/marketing/contacts",
    "body": {
      "contacts": [
        {
          "email": "test@example.com",
          "first_name": "test"
        }
      ]
    },
    "status": 202,
    "response": {
      "job_id": "8a078d45-45c2-4bec-88d3-1cc25b4c34e9"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "23f8f79b-acd0-474d-9ea4-bdccebe3b98f",
      "x-amz-apigw-id",
      "IfEtrEUJPHcFT1g=",
      "x-ratelimit-limit",
      "200",
      "x-ratelimit-remaining",
      "198",
      "x-ratelimit-reset",
      "48"
    ],
    "responseIsBinary": false
  }
]