[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "PUT",
    "path": "/v3/marketing/contacts",
    "body": {
      "contacts": [
        {
          "email": "TEST@example.com",
          "custom_fields": {
            "e1_T": "value"
          }
        }
      ]
    },
    "status": 202,
    "response": {
      "job_id": "7a5bdf21-78be-4801-a806-3f0912bfe0f0"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "9724c0df-02ed-4eb8-abb2-d014c75820af",
      "x-amz-apigw-id",
      "Gyp9yEsCPHcFwaQ=",
      "x-ratelimit-limit",
      "200",
      "x-ratelimit-remaining",
      "199",
      "x-ratelimit-reset",
      "20"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "PUT",
    "path": "/v3/marketing/contacts",
    "body": {
      "contacts": [
        {
          "email": "test@example.com",
          "first_name": "test",
          "custom_fields": {}
        }
      ]
    },
    "status": 202,
    "response": {
      "job_id": "694d6076-c099-4363-aeb3-f6a3135bb41d"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "f8e94ec2-ca84-43d4-90ff-f99053074112",
      "x-amz-apigw-id",
      "Gyp98HUsPHcFVSQ=",
      "x-ratelimit-limit",
      "200",
      "x-ratelimit-remaining",
      "198",
      "x-ratelimit-reset",
      "19"
    ],
    "responseIsBinary": false
  }
]