{
  "recruitment/create-candidate/breezy-hr/CreateCandidate": {
    "31a3fea4072c2e165f0536e233478584": [
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID",
        "body": "",
        "status": 200,
        "response": {
          "_id": "PARAMS_COMPANY_ID",
          "name": "Superface demo",
          "friendly_id": "superface2",
          "creation_date": "2022-12-07T13:43:08.399Z",
          "updated_date": "2022-12-08T09:41:48.076Z",
          "member_count": 0,
          "initial": "SD"
        },
        "rawHeaders": [
          "Wed, 21 Dec 2022 08:19:25 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "192",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "98",
          "X-RateLimit-Reset",
          "1671610826",
          "ETag",
          "W/\"c0-DjNzuI2opLAZ6wp8Dlz5dqGfi18\""
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/f1cfc5572a5701",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003",
          "8d57fd6f533714fd57ac4cda40bca46da0ebc82a24160a0c0dc1285a35c61439cff7bde7d5b18d3f1202e27fdfb1df4bf35242c42f4d635f9f7beeb91f763e0f66520c2683eaa4accad3d3b3313f3d3b3e191483b0b634987c1eb4bb51a9b7724158d71c1f93c153ac0cf3d29762e0030f69d1c6b992be[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/candidates/search?email_address=john.doe%40fakemail.com",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
          "Wed, 21 Dec 2022 08:19:27 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "2",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "92",
          "X-RateLimit-Reset",
          "1671610826",
          "ETag",
          "W/\"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w\""
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.breezy.hr:443",
        "method": "POST",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/f1cfc5572a5701/candidates",
        "body": {
          "name": "John Doe",
          "email_address": "john.doe@fakemail.com",
          "address": "25772 Gustave Shore, Iowa, USA",
          "phone_number": "1-859-557-6573",
          "education": [
            {
              "school_name": "University of Pennsylvania",
              "degree": "MBA",
              "field_of_study": null,
              "start_date": "2008-03-01",
              "end_date": "2011-03-30"
            },
            {
              "school_name": "University of Chicago",
              "degree": "B.S.",
              "field_of_study": "Marketing Communication & Economics",
              "start_date": "2004-09-01",
              "end_date": "2007-03-30"
            }
          ],
          "work_history": [
            {
              "title": "Sales Director",
              "summary": "Summary of a work experience at Test Company",
              "company_name": "Test Company",
              "industry": "Telecommunications",
              "is_current": false
            }
          ],
          "social_profiles": {
            "twitter": "https://twitter.com/candidate.username"
          },
          "custom_attributes": [
            {
              "name": "Portfolio",
              "value": "https://url.to.portfolio"
            }
          ],
          "origin": "applied"
        },
        "status": 200,
        "response": [
          "1f8b0800000000000003",
          "cd54c96edb3010fd1542879e2cd99225cbf6a9e98222055a04487a695108237264b1a14881a492ba81ffbd43c9a993a6e872eb85e0eccb9b99bba89222da4675bd14ab4db3c4a2ce1769348b3af430897281655d960d2fc562148110169d2351569465c6de0ccec30db2cbd6589cb173730b33f6e1f28c54b945f0d2e84a80c760b0c8b238cde22cbd5aacb7e966bb4c93749d7f245514031f75a3eda7bbc8f1d6185569e882d9072d6fd03ae9f7cc34ec02b5767b75035a0219361295a84c53393f[...]
[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/12345ab789d1dd",
        "body": "",
        "status": 500,
        "response": {
          "error": {
            "type": "getPositionError",
            "message": "there was an unknown error getting position."
          }
        },
        "rawHeaders": [
          "Wed, 21 Dec 2022 08:19:32 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "94",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "78",
          "X-RateLimit-Reset",
          "1671610826",
          "ETag",
          "W/\"5e-3ik2KTQWrGkPvEysMKXxAO0v33o\""
        ],
        "responseIsBinary": false
      }
    ]
  }
}