[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/jakuvacek/testrepository/pullrequests/999",
    "body": "",
    "status": 404,
    "response": "Not Found",
    "rawHeaders": [
      "nginx",
      "Authorization, Origin",
      "max-age=900",
      "Content-Type",
      "text/plain",
      "e30d4f35c09f58d3",
      "X-Usage-Output-Ops",
      "0",
      "X-Dc-Location",
      "Micros",
      "max-age=31536000; includeSubDomains; preload",
      "Fri, 05 Nov 2021 09:11:13 GMT",
      "X-Usage-User-Time",
      "0.024571",
      "X-Usage-System-Time",
      "0.004136",
      "b357b5b5c5ee",
      "X-View-Name",
      "bitbucket.apps.pullrequests.api.v20.handlers.PullRequestHandler",
      "ETag",
      "\"9d1ead73e678fa2f51a70a933b0bf017\"",
      "X-Static-Version",
      "6649b3d5cb76",
      "X-Accepted-OAuth-Scopes",
      "pullrequest",
      "X-Render-Time",
      "0.0545020103455",
      "close",
      "X-Usage-Input-Ops",
      "0",
      "X-Request-Count",
      "1861",
      "SAMEORIGIN",
      "X-Version",
      "6649b3d5cb76",
      "caching",
      "9"
    ],
    "responseIsBinary": false
  }
]