[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/jakuvacek/testrepository/pullrequests/999",
    "body": "",
    "status": 404,
    "response": "Not Found",
    "rawHeaders": [
      "nginx",
      "Authorization, Origin",
      "max-age=900",
      "Content-Type",
      "text/plain",
      "9f8d094dfea6365f",
      "X-Usage-Output-Ops",
      "0",
      "X-Dc-Location",
      "Micros",
      "max-age=31536000; includeSubDomains; preload",
      "Thu, 04 Nov 2021 09:36:46 GMT",
      "X-Usage-User-Time",
      "0.027506",
      "X-Usage-System-Time",
      "0.000000",
      "ea45495c841a",
      "X-View-Name",
      "bitbucket.apps.pullrequests.api.v20.handlers.PullRequestHandler",
      "ETag",
      "\"9d1ead73e678fa2f51a70a933b0bf017\"",
      "X-Static-Version",
      "6649b3d5cb76",
      "X-Accepted-OAuth-Scopes",
      "pullrequest",
      "X-Render-Time",
      "0.048849105835",
      "close",
      "X-Usage-Input-Ops",
      "0",
      "X-Request-Count",
      "1744",
      "SAMEORIGIN",
      "X-Version",
      "6649b3d5cb76",
      "caching",
      "9"
    ],
    "responseIsBinary": false
  }
]