[
  {
    "scope": "https://api.twitter.com:443",
    "method": "POST",
    "path": "/2/oauth2/token",
    "body": "grant_type=refresh_token&refresh_token=XXX_REFRESH_TOKEN_REDACTED_XXX&client_id=PARAMS_clientId&client_secret=PARAMS_clientSecret",
    "status": 200,
    "response": {
      "token_type": "bearer",
      "expires_in": 7200,
      "access_token": "XXX_ACCESS_TOKEN_REDACTED_XXX",
      "scope": "tweet.write users.read tweet.read offline.access",
      "refresh_token": "XXX_REFRESH_TOKEN_REDACTED_XXX"
    },
    "rawHeaders": [
      "Tue, 08 Feb 2022 09:20:59 GMT",
      "no-cache",
      "tsa_o",
      "Tue, 31 Mar 1981 05:00:00 GMT",
      "guest_id_marketing=v1%3A164431205968846455; Max-Age=63072000; Expires=Thu, 08 Feb 2024 09:20:59 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "guest_id_ads=v1%3A164431205968846455; Max-Age=63072000; Expires=Thu, 08 Feb 2024 09:20:59 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "personalization_id=\"v1_pqfIbHi6UjEdghxq96LuWQ==\"; Max-Age=63072000; Expires=Thu, 08 Feb 2024 09:20:59 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "guest_id=v1%3A164431205968846455; Max-Age=63072000; Expires=Thu, 08 Feb 2024 09:20:59 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "content-type",
      "application/json; charset=utf-8",
      "no-cache, no-store, must-revalidate, pre-check=0, post-check=0",
      "last-modified",
      "Tue, 08 Feb 2022 09:20:59 GMT",
      "319",
      "SAMEORIGIN",
      "0",
      "content-disposition",
      "attachment; filename=json.json",
      "nosniff",
      "x-twitter-response-tags",
      "BouncerCompliant",
      "max-age=631138519",
      "x-response-time",
      "131",
      "x-connection-hash",
      "5371bdaef0bd7656559bff644d007c7e5ebdb2af93f0208cda84d0f0818dcb4b",
      "close"
    ],
    "responseIsBinary": false
  }
]