[
  {
    "scope": "https://api.twitter.com:443",
    "method": "POST",
    "path": "/2/oauth2/token",
    "body": "grant_type=refresh_token&refresh_token=XXX_REFRESH_TOKEN_REDACTED_XXX&client_id=PARAMS_clientId&client_secret=PARAMS_clientSecret",
    "status": 200,
    "response": {
      "token_type": "bearer",
      "expires_in": 7200,
      "access_token": "XXX_ACCESS_TOKEN_REDACTED_XXX",
      "scope": "tweet.write users.read tweet.read offline.access",
      "refresh_token": "XXX_REFRESH_TOKEN_REDACTED_XXX"
    },
    "rawHeaders": [
      "Tue, 08 Feb 2022 09:20:58 GMT",
      "no-cache",
      "tsa_o",
      "Tue, 31 Mar 1981 05:00:00 GMT",
      "guest_id_marketing=v1%3A164431205934418007; Max-Age=63072000; Expires=Thu, 08 Feb 2024 09:20:59 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "guest_id_ads=v1%3A164431205934418007; Max-Age=63072000; Expires=Thu, 08 Feb 2024 09:20:59 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "personalization_id=\"v1_RsdD9omR14b7N9w4GQQJ9A==\"; Max-Age=63072000; Expires=Thu, 08 Feb 2024 09:20:59 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "guest_id=v1%3A164431205934418007; Max-Age=63072000; Expires=Thu, 08 Feb 2024 09:20:59 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "content-type",
      "application/json; charset=utf-8",
      "no-cache, no-store, must-revalidate, pre-check=0, post-check=0",
      "last-modified",
      "Tue, 08 Feb 2022 09:20:59 GMT",
      "319",
      "SAMEORIGIN",
      "0",
      "content-disposition",
      "attachment; filename=json.json",
      "nosniff",
      "x-twitter-response-tags",
      "BouncerCompliant",
      "max-age=631138519",
      "x-response-time",
      "131",
      "x-connection-hash",
      "e4ab75ef1dc9f90bba9b1c3032d23093f22b4b39c6082086636e1b00b2df6220",
      "close"
    ],
    "responseIsBinary": false
  }
]