[
  {
    "scope": "https://api.PARAMS_REGION.text-to-speech.watson.cloud.ibm.com:443",
    "method": "POST",
    "path": "/instances/PARAMS_INSTANCE_ID/v1/synthesize?voice=en-US_AllisonV3Voice",
    "body": {
      "text": "Hello world!"
    },
    "status": 400,
    "response": {
      "error": "unable to transcode data stream audio/l16 -> audio/wav ",
      "code": 400,
      "code_description": "Bad Request"
    },
    "rawHeaders": [
      "watson-gateway",
      "session-name",
      "KHBIWJJYBLWVRAQQ-en-US_AllisonV3Voice",
      "Content-Type",
      "application/json",
      "content-disposition",
      "inline; filename=\"result.wav\"",
      "127",
      "1",
      "nosniff",
      "DENY",
      "default-src 'none'",
      "max-age=31536000; includeSubDomains;",
      "x-dp-watson-tran-id",
      "98d18fa6-f01c-47c3-8afe-d532efa8b9a5",
      "98d18fa6-f01c-47c3-8afe-d532efa8b9a5",
      "x-global-transaction-id",
      "98d18fa6-f01c-47c3-8afe-d532efa8b9a5",
      "X-EdgeConnect-MidMile-RTT",
      "10",
      "X-EdgeConnect-Origin-MEX-Latency",
      "454",
      "Mon, 08 Nov 2021 08:26:15 GMT",
      "close"
    ],
    "responseIsBinary": false
  }
]