{
  "vcs/single-file-content/bitbucket/SingleFileContent": {
    "36c3ec4728b38a74cab22ea7fb4ff96a": [
      {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/jakuvacek/testrepository/src/master/README.md",
        "body": "",
        "status": 200,
        "response": "# README #\n\nThis README would normally document whatever steps are necessary to get your application up and running.\n\n### What is this repository for? ###\n\n* Quick summary\n* Version\n* [Learn Markdown](https://bitbucket.org/tutorials/markdowndemo)\n\n### How do I get set up? ###\n\n* Summary of set up\n* Configuration\n* Dependencies\n* Database configuration\n* How to run tests\n* Deployment instructions\n\n### Contribution guidelines ###\n\n* Writing tests\n* Code review\n* Other guidelines\n\n### Who do I talk to? ###\n\n* Repo owner or admin\n* Other community or team contact",
        "rawHeaders": [
          "Content-Type",
          "text/plain",
          "X-Usage-Output-Ops",
          "0",
          "X-Dc-Location",
          "Micros",
          "X-Usage-User-Time",
          "0.030179",
          "X-Usage-System-Time",
          "0.005390",
          "X-View-Name",
          "bitbucket.apps.repo2.api.v20.src.SourceHandler",
          "ETag",
          "8127910144713604019",
          "X-Static-Version",
          "6649b3d5cb76",
          "X-Accepted-OAuth-Scopes",
          "repository",
          "X-Render-Time",
          "0.0784249305725",
          "X-Usage-Input-Ops",
          "8",
          "X-Request-Count",
          "705",
          "X-Version",
          "6649b3d5cb76"
        ],
        "responseIsBinary": false
      }
    ],
    "4790c47fa80815782574a92dd67dbd46": [
      {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/jakuvacek/testrepository/src/made-up/README.md",
        "body": "",
        "status": 404,
        "response": {
          "data": {
            "shas": [
              "made-up"
            ]
          },
          "type": "error",
          "error": {
            "message": "Commit not found",
            "data": {
              "shas": [
                "made-up"
              ]
            }
          }
        },
        "rawHeaders": [
          "nginx",
          "Authorization, Origin",
          "max-age=900",
          "Content-Type",
          "application/json; charset=utf-8",
          "2bfbadbe10f8d9df",
          "X-Usage-Output-Ops",
          "0",
          "X-Dc-Location",
          "Micros",
          "max-age=31536000; includeSubDomains; preload",
          "Fri, 05 Nov 2021 09:11:13 GMT",
          "X-Usage-User-Time",
          "0.027806",
          "X-Usage-System-Time",
          "0.003190",
          "4c87d1490ec2",
          "X-View-Name",
          "bitbucket.apps.repo2.api.v20.src.SourceHandler",
          "ETag",
          "\"45e1542b4d3f024a330d558e6870f1d3\"",
          "X-Static-Version",
          "6649b3d5cb76",
          "X-Accepted-OAuth-Scopes",
          "repository",
          "X-Render-Time",
          "0.058443069458",
          "close",
          "X-Usage-Input-Ops",
          "8",
          "X-Request-Count",
          "44",
          "SAMEORIGIN",
          "X-Version",
          "6649b3d5cb76",
          "caching",
          "111"
        ],
        "responseIsBinary": false
      }
    ]
  }
}