{
  "vcs/single-file-content/gitlab/SingleFileContent": {
    "a8750cbb2127face1efb8d233943e189": [
      {
        "scope": "https://gitlab.com:443",
        "method": "GET",
        "path": "/api/v4/projects/Jakub-Vacek%2Fempty-test/repository/files/README.md?ref=master",
        "body": "",
        "status": 404,
        "response": {
          "message": "404 Project Not Found"
        },
        "rawHeaders": [
          "Fri, 05 Nov 2021 09:11:13 GMT",
          "Content-Type",
          "application/json",
          "35",
          "close",
          "no-cache",
          "nosniff",
          "SAMEORIGIN",
          "01FKQNVHYW8ZN3GTV577VT5S95",
          "0.020279",
          "RateLimit-Observed",
          "7",
          "RateLimit-Remaining",
          "1993",
          "RateLimit-Reset",
          "1636103533",
          "RateLimit-ResetTime",
          "Fri, 05 Nov 2021 09:12:13 GMT",
          "RateLimit-Limit",
          "2000",
          "GitLab-LB",
          "fe-05-lb-gprd",
          "GitLab-SV",
          "localhost",
          "DYNAMIC",
          "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
          "max-age=31536000",
          "cloudflare",
          "6a94f41258e8f9d2-PRG"
        ],
        "responseIsBinary": false
      }
    ],
    "b37410a87a147138672c7761b732c9e0": [
      {
        "scope": "https://gitlab.com:443",
        "method": "GET",
        "path": "/api/v4/projects/Jakub-Vacek%2Fempty-test/repository/files/README.md?ref=made-up",
        "body": "",
        "status": 404,
        "response": {
          "message": "404 Project Not Found"
        },
        "rawHeaders": [
          "Fri, 05 Nov 2021 09:11:13 GMT",
          "Content-Type",
          "application/json",
          "35",
          "close",
          "no-cache",
          "nosniff",
          "SAMEORIGIN",
          "01FKQNVJAWB9ZGEWHXZZZS9M8F",
          "0.020564",
          "RateLimit-Observed",
          "8",
          "RateLimit-Remaining",
          "1992",
          "RateLimit-Reset",
          "1636103533",
          "RateLimit-ResetTime",
          "Fri, 05 Nov 2021 09:12:13 GMT",
          "RateLimit-Limit",
          "2000",
          "GitLab-LB",
          "fe-07-lb-gprd",
          "GitLab-SV",
          "localhost",
          "DYNAMIC",
          "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
          "max-age=31536000",
          "cloudflare",
          "6a94f413bea3277c-PRG"
        ],
        "responseIsBinary": false
      }
    ]
  }
}