[
  {
    "scope": "https://api.messente.com:443",
    "method": "GET",
    "path": "/v1/omnimessage/cbf93379-0870-4d1b-b0e5-388a30f89a41/status",
    "body": "",
    "status": 404,
    "response": {
      "errors": [
        {
          "code": "101",
          "detail": "Message with id cbf93379-0870-4d1b-b0e5-388a30f89a41 not found not found",
          "source": null,
          "title": "Not found"
        }
      ]
    },
    "rawHeaders": [
      "content-type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]