[
  {
    "scope": "https://rest.nexmo.com:443",
    "method": "POST",
    "path": "/sms/json",
    "body": "api_secret=PARAMS_apiSecret&from=Vonage+APIs&to=%2B4915207930698&text=Hello+World%21&api_key=SECURITY_apiKey",
    "status": 200,
    "response": {
      "message-count": "1",
      "messages": [
        {
          "to": "4915207930698",
          "message-id": "150000003351F9D7",
          "status": "0",
          "remaining-balance": "1.74370000",
          "message-price": "0.07510000",
          "network": "26202"
        }
      ]
    },
    "rawHeaders": [
      "nginx",
      "Fri, 05 Nov 2021 08:30:25 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "max-age=1",
      "deny",
      "1; mode=block;",
      "max-age=31536000; includeSubdomains",
      "Content-Disposition",
      "attachment; filename=\"api.txt\"",
      "X-Nexmo-Trace-Id",
      "4916bcb87136b0df8f4c7f2903bc7440"
    ],
    "responseIsBinary": false
  }
]