[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "POST",
    "path": "/v3/templates",
    "body": {
      "name": "Station Create template test (DELETE ME)",
      "generation": "dynamic"
    },
    "status": 201,
    "response": {
      "id": "d-8be96c63de164e6799c5dbf2521d7959",
      "name": "Station Create template test (DELETE ME)",
      "generation": "dynamic",
      "updated_at": "2021-11-05 13:37:45",
      "versions": []
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "417272a5-1e8c-47c6-b22d-903f0da36d7e",
      "x-amzn-remapped-content-length",
      "166",
      "x-amz-apigw-id",
      "IVUCgF8KiYcFRXw=",
      "x-amzn-remapped-date",
      "Fri, 05 Nov 2021 13:37:45 GMT",
      "x-client-ff",
      "1000",
      "x-ratelimit-remaining",
      "599",
      "x-ratelimit-limit",
      "600",
      "x-ratelimit-reset",
      "1636119480",
      "Powered-By",
      "Mako"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "POST",
    "path": "/v3/templates/d-8be96c63de164e6799c5dbf2521d7959/versions",
    "status": 201,
    "response": {
      "id": "4e526aaf-65da-4222-a539-9aaf1c79508e",
      "template_id": "d-8be96c63de164e6799c5dbf2521d7959",
      "active": 1,
      "name": "v1636119464683",
      "html_content": "\n<!doctype html>\n<html>\n\n<head>\n  <meta name=\"viewport\" content=\"width=device-width\">\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n  <title>Integration Test Email #1</title>\n</head>\n\n<body class=\"\">\nThis template is used by integration tests only\n</body>\n\n</html>\n",
      "plain_content": "This template is used by integration tests only",
      "generate_plain_content": false,
      "subject": "Test Email",
      "editor": "code",
      "thumbnail_url": "//us-east-2-production-thumbnail-bucket.s3.amazonaws.com/cdc4b3c6d74c4aeeef36080e87382eb38380823ec0f1b7ad2ab19934103234b4.png"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "2fdbf30f-eab0-4395-8ddb-af33cfe9ad9b",
      "x-amzn-remapped-content-length",
      "744",
      "x-amz-apigw-id",
      "IVUCkHP6iYcFYFQ=",
      "x-amzn-remapped-date",
      "Fri, 05 Nov 2021 13:37:45 GMT",
      "x-client-ff",
      "1000",
      "x-ratelimit-remaining",
      "599",
      "x-ratelimit-limit",
      "600",
      "x-ratelimit-reset",
      "1636119480",
      "Powered-By",
      "Mako"
    ],
    "responseIsBinary": false
  }
]