{
  "language/keyword-extraction/ibm-cloud-natural-language-understanding/ExtractKeywords": {
    "ae4f9cabdfd737462f0d58357baca534": [
      {
        "scope": "https://api.PARAMS_REGION.natural-language-understanding.watson.cloud.ibm.com:443",
        "method": "POST",
        "path": "/instances/PARAMS_INSTANCE_ID/v1/analyze?version=2022-04-07",
        "body": {
          "text": "Artificial Intelligence (AI) is making its way into everyday developer life, but the use of AI along the API lifecycle is yet to be improved",
          "features": {
            "keywords": {
              "sentiment": false,
              "emotion": false
            }
          }
        },
        "status": 200,
        "response": {
          "usage": {
            "text_units": 1,
            "text_characters": 140,
            "features": 1
          },
          "language": "en",
          "keywords": [
            {
              "text": "Artificial Intelligence",
              "relevance": 0.999628,
              "count": 1
            },
            {
              "text": "everyday developer life",
              "relevance": 0.664127,
              "count": 1
            },
            {
              "text": "way",
              "relevance": 0.632349,
              "count": 1
            },
            {
              "text": "use of AI",
              "relevance": 0.29227,
              "count": 1
            },
            {
              "text": "API lifecycle",
              "relevance": 0.160556,
              "count": 1
            }
          ]
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=utf-8",
          "x-dp-watson-tran-id",
          "7376dbf4-12c7-40bb-8777-2824612d8771",
          "x-dp-watson-tran-id",
          "7376dbf4-12c7-40bb-8777-2824612d8771",
          "x-global-transaction-id",
          "7376dbf4-12c7-40bb-8777-2824612d8771",
          "X-EdgeConnect-MidMile-RTT",
          "10",
          "X-EdgeConnect-Origin-MEX-Latency",
          "76"
        ],
        "responseIsBinary": false
      }
    ],
    "992ebb703de3caeb1e48ef43483e817f": [
[...]
      {
        "scope": "https://api.PARAMS_REGION.natural-language-understanding.watson.cloud.ibm.com:443",
        "method": "POST",
        "path": "/instances/PARAMS_INSTANCE_ID/v1/analyze?version=2022-04-07",
        "body": {
          "text": "iuzvahejnfuzubaáýzhj",
          "language": "nonsense",
          "features": {
            "keywords": {
              "sentiment": false,
              "emotion": false
            }
          }
        },
        "status": 400,
        "response": {
          "language": "sq",
          "error": "unsupported text language: sq",
          "code": 400
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=utf-8",
          "x-dp-watson-tran-id",
          "c3edddf8-efc3-4bfd-a26f-43a41cdae368",
          "x-dp-watson-tran-id",
          "c3edddf8-efc3-4bfd-a26f-43a41cdae368",
          "x-global-transaction-id",
          "c3edddf8-efc3-4bfd-a26f-43a41cdae368",
          "X-EdgeConnect-MidMile-RTT",
          "10",
          "X-EdgeConnect-Origin-MEX-Latency",
          "45"
        ],
        "responseIsBinary": false
      }
    ]
  }
}