{
  "recruitment/create-lead/breezy-hr/CreateLead": {
    "70ad4a85e21aa086bf76a82a46aa12c3": [
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/candidates/search?email_address=john.doe%40fakemail.com",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
          "Thu, 15 Dec 2022 13:31:48 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "2",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "99",
          "X-RateLimit-Reset",
          "1671111168",
          "ETag",
          "W/\"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w\""
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.breezy.hr:443",
        "method": "POST",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/f1cfc5572a5701/candidates",
        "body": {
          "name": "John Doe",
          "email_address": "john.doe@fakemail.com",
          "address": "25772 Gustave Shore, Iowa, USA",
          "phone_number": "1-859-557-6573",
          "education": [
            {
              "school_name": "University of Pennsylvania",
              "degree": "MBA",
              "field_of_study": null,
              "start_date": "2008-03-01",
              "end_date": "2011-03-30"
            },
            {
              "school_name": "University of Chicago",
              "degree": "B.S.",
              "field_of_study": "Marketing Communication & Economics",
              "start_date": "2004-09-01",
              "end_date": "2007-03-30"
            }
          ],
          "work_history": [
            {
              "title": "Sales Director",
              "summary": "Summary of a work experience at Test Company",
              "company_name": "Test Company",
              "industry": "Telecommunications",
              "is_current": false
            }
          ],
          "social_profiles": {
            "twitter": "https://twitter.com/candidate.username"
          },
          "custom_attributes": [
            {
              "name": "Portfolio",
              "value": "https://url.to.portfolio"
            }
          ],
          "origin": "sourced",
          "source": "LinkedIn, Indeed, Glassdoor"
        },
        "status": 200,
        "response": [
          "1f8b0800000000000003",
          "8d54db4e1b3110fd15cb0f7d69127265439e405021505b21055e8ad06a62cf66dd78ed95ed4d48a3fc7bc7bb4bc2a56a2b21b19e39733b73263b9e2ac9675c4c87e274314d468b49d21ff00e2f3040e31a4b4c1649928944f66b1748e9d07b720d27493264d7950fb04636cfadc30ebbb11be8b087f90541854308ca9a5442c018d01f0ebb03fa9bdc0f46b3d160363eeb8da7a31f044559891acb678f3bee456ead4e0d1431ecc1a8353aafc296d98cdda1317eabd76014[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/candidates/search?email_address=demo_testing%40fakemail.com",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
          "Thu, 15 Dec 2022 13:31:52 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "2",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "97",
          "X-RateLimit-Reset",
          "1671111168",
          "ETag",
          "W/\"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w\""
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.breezy.hr:443",
        "method": "POST",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/12345ab789d1dd/candidates",
        "body": {
          "name": "Demo Testing",
          "email_address": "demo_testing@fakemail.com",
          "social_profiles": {},
          "custom_attributes": [],
          "origin": "sourced"
        },
        "status": 500,
        "response": {
          "error": {
            "type": "addCandidateError",
            "message": "there was an unknown error creating candidate."
          }
        },
        "rawHeaders": [
          "Thu, 15 Dec 2022 13:31:53 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "97",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "96",
          "X-RateLimit-Reset",
          "1671111168",
          "ETag",
          "W/\"61-VOmYEQW8LNhNin8YPuANSEMH9y8\""
        ],
        "responseIsBinary": false
      }
    ]
  }
}