{
  "recruitment/create-lead/breezy-hr/CreateLead": {
    "e841a0307afe8e1e8aad08686d2e7ef5": [
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID",
        "body": "",
        "status": 200,
        "response": {
          "_id": "PARAMS_COMPANY_ID",
          "name": "Superface demo",
          "friendly_id": "superface2",
          "creation_date": "2022-12-07T13:43:08.399Z",
          "updated_date": "2022-12-08T09:41:48.076Z",
          "member_count": 0,
          "initial": "SD"
        },
        "rawHeaders": [
          "Wed, 21 Dec 2022 08:19:26 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "192",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "93",
          "X-RateLimit-Reset",
          "1671610826",
          "ETag",
          "W/\"c0-DjNzuI2opLAZ6wp8Dlz5dqGfi18\""
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/f1cfc5572a5701",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003",
          "8d57fd6f533714fd57ac4cda40bca46da0ebc82a24160a0c0dc1285a35c61439cff7bde7d5b18d3f1202e27fdfb1df4bf35242c42f4d635f9f7beeb91f763e0f66520c2683eaa4accad3d3b3313f3d3b3e191483b0b634987c1eb4bb51a9b7724158d71c1f93c153ac0cf3d29762e0030f69d1c6b992be[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/candidates/search?email_address=john.lead%40fakemail.com",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [
          "Wed, 21 Dec 2022 08:19:27 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "2",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "86",
          "X-RateLimit-Reset",
          "1671610826",
          "ETag",
          "W/\"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w\""
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.breezy.hr:443",
        "method": "POST",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/f1cfc5572a5701/candidates",
        "body": {
          "name": "John Lead",
          "email_address": "john.lead@fakemail.com",
          "address": "25772 Gustave Shore, Iowa, USA",
          "phone_number": "1-859-557-6573",
          "education": [
            {
              "school_name": "University of Pennsylvania",
              "degree": "MBA",
              "field_of_study": null,
              "start_date": "2008-03-01",
              "end_date": "2011-03-30"
            },
            {
              "school_name": "University of Chicago",
              "degree": "B.S.",
              "field_of_study": "Marketing Communication & Economics",
              "start_date": "2004-09-01",
              "end_date": "2007-03-30"
            }
          ],
          "work_history": [
            {
              "title": "Sales Director",
              "summary": "Summary of a work experience at Test Company",
              "company_name": "Test Company",
              "industry": "Telecommunications",
              "is_current": false
            }
          ],
          "social_profiles": {
            "twitter": "https://twitter.com/candidate.username"
          },
          "custom_attributes": [
            {
              "name": "Portfolio",
              "value": "https://url.to.portfolio"
            }
          ],
          "origin": "sourced",
          "source": "LinkedIn, Indeed, Glassdoor"
        },
        "status": 200,
        "response": [
          "1f8b0800000000000003",
          "8d54db6e1a3110fd15cb0f7d294b6093e5f69428a9a244695589e4a551b41aec5970f1da2bdb0ba1887fef7897402e55db27d633676e67ceb0e5b9927cc2c7623613e32c1d0bd9ebf579879718a0759da58331f48bde309b8d1b1748e9d07b72a5d97098b2ebda0758219b2eacc30ebbb16be8b087e90541854308ca9a5c42c018d04bd3a49f2669ffbe379af4c79374d41d8c863f088ab2160d964f1eb7dc8b85b53a3750c6b007a356e8bc0a1b660bf61d8df11bbd02a3[...]
[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/12345ab789d1dd",
        "body": "",
        "status": 500,
        "response": {
          "error": {
            "type": "getPositionError",
            "message": "there was an unknown error getting position."
          }
        },
        "rawHeaders": [
          "Wed, 21 Dec 2022 08:19:31 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "94",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "80",
          "X-RateLimit-Reset",
          "1671610826",
          "ETag",
          "W/\"5e-3ik2KTQWrGkPvEysMKXxAO0v33o\""
        ],
        "responseIsBinary": false
      }
    ],
    "cc04d9c36758af7996111bbb3bc304bc": [
[...]
