[
  {
    "scope": "https://api.PARAMS_REGION.natural-language-understanding.watson.cloud.ibm.com:443",
    "method": "POST",
    "path": "/instances/PARAMS_INSTANCE_ID/v1/analyze?version=2022-04-07",
    "body": {
      "text": "Je moje auto uzamčeno?",
      "language": "cs",
      "features": {
        "keywords": {
          "sentiment": false,
          "emotion": false
        }
      }
    },
    "status": 200,
    "response": {
      "usage": {
        "text_units": 1,
        "text_characters": 22,
        "features": 1
      },
      "language": "cs",
      "keywords": [
        {
          "text": "auto",
          "relevance": 0.5,
          "count": 1
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "x-dp-watson-tran-id",
      "696b6f5b-5e68-499b-8477-0efe88272983",
      "x-dp-watson-tran-id",
      "696b6f5b-5e68-499b-8477-0efe88272983",
      "x-global-transaction-id",
      "696b6f5b-5e68-499b-8477-0efe88272983",
      "X-EdgeConnect-MidMile-RTT",
      "10",
      "X-EdgeConnect-Origin-MEX-Latency",
      "84"
    ],
    "responseIsBinary": false
  }
]