[
  {
    "scope": "https://api.PARAMS_REGION.natural-language-understanding.watson.cloud.ibm.com:443",
    "method": "POST",
    "path": "/instances/PARAMS_INSTANCE_ID/v1/analyze?version=2022-04-07",
    "body": {
      "text": "iuzvahejnfuzubaáýzhj",
      "language": "nonsense",
      "features": {
        "keywords": {
          "sentiment": false,
          "emotion": false
        }
      }
    },
    "status": 400,
    "response": {
      "language": "sq",
      "error": "unsupported text language: sq",
      "code": 400
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "x-dp-watson-tran-id",
      "3aa7b9f2-f4b5-4f6d-b570-8bda88fcea53",
      "x-dp-watson-tran-id",
      "3aa7b9f2-f4b5-4f6d-b570-8bda88fcea53",
      "x-global-transaction-id",
      "3aa7b9f2-f4b5-4f6d-b570-8bda88fcea53",
      "X-EdgeConnect-MidMile-RTT",
      "2",
      "X-EdgeConnect-Origin-MEX-Latency",
      "51"
    ],
    "responseIsBinary": false
  }
]