[
  {
    "scope": "https://api.stripe.com:443",
    "method": "POST",
    "path": "/v1/subscriptions",
    "body": "customer=cus_Mg9C5oLdeekQJX&items%5B0%5D%5Bprice%5D=price_1LwmxuGkdIyBfLnZcX4g4ULA",
    "status": 200,
    "response": {
      "id": "sub_1LwmxvGkdIyBfLnZ2Ds8K6vl",
      "object": "subscription",
      "application": null,
      "application_fee_percent": null,
      "automatic_tax": {
        "enabled": false
      },
      "billing_cycle_anchor": 1666703687,
      "billing_thresholds": null,
      "cancel_at": null,
      "cancel_at_period_end": false,
      "canceled_at": null,
      "collection_method": "charge_automatically",
      "created": 1666703687,
      "currency": "usd",
      "current_period_end": 1669382087,
      "current_period_start": 1666703687,
      "customer": "cus_Mg9C5oLdeekQJX",
      "days_until_due": null,
      "default_payment_method": null,
      "default_source": null,
      "default_tax_rates": [],
      "description": null,
      "discount": null,
      "ended_at": null,
      "items": {
        "object": "list",
        "data": [
          {
            "id": "si_Mg9GOJ3dmzbAiO",
            "object": "subscription_item",
            "billing_thresholds": null,
            "created": 1666703687,
            "metadata": {},
            "plan": {
              "id": "price_1LwmxuGkdIyBfLnZcX4g4ULA",
              "object": "plan",
              "active": true,
              "aggregate_usage": null,
              "amount": 123400,
              "amount_decimal": "123400",
              "billing_scheme": "per_unit",
              "created": 1666703686,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "nickname": "Temporary Plan",
              "product": "prod_Mg9GrlyMxSoc0Z",
              "tiers_mode": null,
              "transform_usage": null,
              "trial_period_days": null,
              "usage_type": "licensed"
            },
            "price": {
              "id": "price_1LwmxuGkdIyBfLnZcX4g4ULA",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1666703686,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": "Temporary Plan",
              "product": "prod_Mg9GrlyMxSoc0Z",
              "recurring": {
                "aggregate_usage": null,
                "interval": "month",
                "interval_count": 1,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 123400,
              "unit_amount_decimal": "123400"
            },
            "quantity": 1,
            "subscription": "sub_1LwmxvGkdIyBfLnZ2Ds8K6vl",
            "tax_rates": []
          }
        ],
        "has_more": false,
        "total_count": 1,
        "url": "/v1/subscription_items?subscription=sub_1LwmxvGkdIyBfLnZ2Ds8K6vl"
      },
      "latest_invoice": "in_1LwmxvGkdIyBfLnZay6kgrhw",
      "livemode": false,
      "metadata": {},
      "next_pending_invoice_item_invoice": null,
      "pause_collection": null,
      "payment_settings": {
        "payment_method_options": null,
        "payment_method_types": null,
        "save_default_payment_method": "off"
      },
      "pending_invoice_item_interval": null,
      "pending_setup_intent": null,
      "pending_update": null,
      "plan": {
        "id": "price_1LwmxuGkdIyBfLnZcX4g4ULA",
        "object": "plan",
        "active": true,
        "aggregate_usage": null,
        "amount": 123400,
        "amount_decimal": "123400",
        "billing_scheme": "per_unit",
        "created": 1666703686,
        "currency": "usd",
        "interval": "month",
        "interval_count": 1,
        "livemode": false,
        "metadata": {},
        "nickname": "Temporary Plan",
        "product": "prod_Mg9GrlyMxSoc0Z",
        "tiers_mode": null,
        "transform_usage": null,
        "trial_period_days": null,
        "usage_type": "licensed"
      },
      "quantity": 1,
      "schedule": null,
      "start_date": 1666703687,
      "status": "active",
      "test_clock": null,
      "transfer_data": null,
      "trial_end": null,
      "trial_start": null
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "idempotency-key",
      "ef4674ae-642f-48dc-a687-e97e33fbecd2",
      "original-request",
      "req_fOeU4KRAIZ7Fp8",
      "stripe-should-retry",
      "false",
      "stripe-version",
      "2022-08-01"
    ],
    "responseIsBinary": false
  }
]