{
  "recruitment/get-cv/breezy-hr/GetCV": {
    "58888a572acc073acfae96b1353ba3c0": [
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID",
        "body": "",
        "status": 200,
        "response": {
          "_id": "PARAMS_COMPANY_ID",
          "name": "Superface4",
          "friendly_id": "superface4",
          "creation_date": "2023-01-05T09:16:53.888Z",
          "updated_date": "2023-01-05T09:16:53.888Z",
          "member_count": 1,
          "initial": "S"
        },
        "rawHeaders": [
          "Fri, 06 Jan 2023 18:05:03 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "187",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "93",
          "X-RateLimit-Reset",
          "1673028315",
          "ETag",
          "W/\"bb-2hak48+A1wGgIIu4KDBVg9IRXgQ\""
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/214429f1ca4c01",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003",
          "8d57fd6f533714fd57ac4cda40bca64956bad15548ac1436344447d1aa31a6c879be79cfab631b7f2404c4ffbe63fba5792925e29724cfeffadc73cffdb0f3693095627032988c8f8e268fe6e39a1fd5a3f1a01a84b5a5c1c9a7417e3b8f4abd910bc2bae6f83a193cc3ca415efa5c0d7ce0212dda3853[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/214429f1ca4c01/candidate/0bd8a05e457101",
        "body": "",
        "status": 200,
        "response": [
          "1f8b0800000000000003",
          "85545d6fdb3614fd2b041ff6647d5992651b28d6ac2d8a14d81020c9cb8a42a0c82b8b0b450a24e54c0bfcdf77293971b3aeed9b783fcf3de75e3dd15a0abaa76923b62c2da128ab2ccde88af6e0d9d9b5deed3625e3b928aad9c584b0e01cbad66555adc9c7d17976047[...]
[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/214429f1ca4c01/candidate/0bd8a05e457101/resume",
        "body": "",
        "status": 403,
        "response": {
          "error": {
            "type": "getResumeUnauthorized",
            "message": "user does not have access to this candidate resume"
          }
        },
        "rawHeaders": [
          "Fri, 06 Jan 2023 18:05:06 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "105",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "89",
          "X-RateLimit-Reset",
          "1673028315",
          "ETag",
          "W/\"69-aOTWWR13EGQSF3Nhf78ajvF3yOA\""
        ],
        "responseIsBinary": false
      }
    ],
    "1a03df51c407b80a4dc59db940f70729": [
[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/WRONG_JOB_ID",
        "body": "",
        "status": 400,
        "response": {
          "error": {
            "type": "invalidParameter",
            "message": "positionId WRONG_JOB_ID is not valid"
          }
        },
        "rawHeaders": [
          "Fri, 06 Jan 2023 17:11:35 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "86",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "76",
          "X-RateLimit-Reset",
          "1673025104",
          "ETag",
          "W/\"56-LV5LP9wIaOCJee3nN3GsB7awl3Q\""
        ],
        "responseIsBinary": false
      }
    ],
    "5c1c862ee236d39e320b8c73f3079875": [
[...]
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/company/PARAMS_COMPANY_ID/position/214429f1ca4c01/candidate/WRONG_CANDITE_ID",
        "body": "",
        "status": 400,
        "response": {
          "error": {
            "type": "invalidParameter",
            "message": "candidateId WRONG_CANDITE_ID is not valid"
          }
        },
        "rawHeaders": [
          "Fri, 06 Jan 2023 17:11:36 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "91",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "73",
          "X-RateLimit-Reset",
          "1673025104",
          "ETag",
          "W/\"5b-quOKXstLx2yhgwxaDs0eQxwFy6w\""
        ],
        "responseIsBinary": false
      }
    ],
    "48d96247761fb2facb28e3d10df446ba": [
[...]
