[
  {
    "scope": "https://gitlab.com:443",
    "method": "GET",
    "path": "/api/v4/projects/Jakub-Vacek%2Fmade-up/merge_requests?scope=all&state=all&page=1",
    "body": "",
    "status": 404,
    "response": {
      "message": "404 Project Not Found"
    },
    "rawHeaders": [
      "Fri, 05 Nov 2021 09:11:12 GMT",
      "Content-Type",
      "application/json",
      "35",
      "close",
      "no-cache",
      "nosniff",
      "SAMEORIGIN",
      "01FKQNVHF9REYCP6HGSK9T42S1",
      "0.022000",
      "RateLimit-Observed",
      "6",
      "RateLimit-Remaining",
      "1994",
      "RateLimit-Reset",
      "1636103532",
      "RateLimit-ResetTime",
      "Fri, 05 Nov 2021 09:12:12 GMT",
      "RateLimit-Limit",
      "2000",
      "GitLab-LB",
      "fe-07-lb-gprd",
      "GitLab-SV",
      "localhost",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000",
      "cloudflare",
      "6a94f40f3b9a412b-PRG"
    ],
    "responseIsBinary": false
  }
]