[
  {
    "scope": "https://gitlab.com:443",
    "method": "GET",
    "path": "/api/v4/projects/Jakub-Vacek%2Fmade-up/merge_requests?scope=all&state=all&page=1",
    "body": "",
    "status": 404,
    "response": {
      "message": "404 Project Not Found"
    },
    "rawHeaders": [
      "Thu, 04 Nov 2021 09:36:46 GMT",
      "Content-Type",
      "application/json",
      "35",
      "close",
      "no-cache",
      "nosniff",
      "SAMEORIGIN",
      "01FKN4XMHRM2CXYQFEPEGHSDAQ",
      "0.025405",
      "RateLimit-Observed",
      "11",
      "RateLimit-Remaining",
      "1989",
      "RateLimit-Reset",
      "1636018666",
      "RateLimit-ResetTime",
      "Thu, 04 Nov 2021 09:37:46 GMT",
      "RateLimit-Limit",
      "2000",
      "GitLab-LB",
      "fe-07-lb-gprd",
      "GitLab-SV",
      "localhost",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000",
      "cloudflare",
      "6a8cdc22fa59f9d2-PRG"
    ],
    "responseIsBinary": false
  }
]