[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "PUT",
    "path": "/v3/marketing/contacts",
    "body": {
      "contacts": [
        {
          "email": "TEST@example.com",
          "custom_fields": {
            "e1_T": "value"
          }
        }
      ]
    },
    "status": 202,
    "response": {
      "job_id": "842ef7e2-78d0-43d5-b168-5c9cc10ebacd"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "8d703771-d8d6-4042-b22e-617e035c2f27",
      "x-amz-apigw-id",
      "G1hcnENZPHcFcgQ=",
      "x-ratelimit-limit",
      "200",
      "x-ratelimit-remaining",
      "199",
      "x-ratelimit-reset",
      "46"
    ],
    "responseIsBinary": false
  }
]