[
  {
    "scope": "https://api.sendgrid.com:443",
    "method": "PUT",
    "path": "/v3/marketing/contacts",
    "body": {
      "contacts": [
        {
          "email": "TEST@example.com",
          "custom_fields": {
            "e1_T": "value"
          }
        }
      ]
    },
    "status": 202,
    "response": {
      "job_id": "5fb97ceb-5625-4da5-b857-0f781b718c4c"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-requestid",
      "fc13642a-cf16-4669-8e4e-f56e021ee1a0",
      "x-amz-apigw-id",
      "IfEteH5JvHcFwrg=",
      "x-ratelimit-limit",
      "200",
      "x-ratelimit-remaining",
      "199",
      "x-ratelimit-reset",
      "50"
    ],
    "responseIsBinary": false
  }
]