{
  "social-media/publishing-profiles/instagram/GetProfilesForPublishing": {
    "fb6711f597ca796a60bc98005e7d355c": [
      {
        "scope": "https://graph.facebook.com:443",
        "method": "GET",
        "path": "/v12.0/me/accounts?access_token=PARAMS_accessToken&fields=id%2Cinstagram_business_account",
        "body": "",
        "status": 200,
        "response": {
          "data": [
            {
              "id": "110658944785122",
              "instagram_business_account": {
                "id": "17841450841275119"
              }
            }
          ],
          "paging": {
            "cursors": {
              "before": "MTEwNjU4OTQ0Nzg1MTIy",
              "after": "MTEwNjU4OTQ0Nzg1MTIy"
            }
          }
        },
        "rawHeaders": [
          "ETag",
          "\"afaab171dbd40a3c9faa3c458721cdb0c5b06a68\"",
          "Content-Type",
          "application/json",
          "x-business-use-case-usage",
          "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
          "0",
          "*",
          "facebook-api-version",
          "v12.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "ADXkKUoKWvITL2fhFd_hW-5",
          "HnxxOESFoj3",
          "1005895111",
          "dxF1obG9QuNfGsY9uTJm3oncnSEF87ffWFfI93AnS1DDLhOFf8frmB+n3K2DCHxFaCnmRGQTEXc1AUb4DSJbag==",
          "Fri, 22 Jul 2022 19:20:17 GMT",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "177"
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://graph.facebook.com:443",
        "method": "GET",
        "path": "/v13.0/110658944785122?fields=instagram_business_account%7Bid%2Cname%2Cusername%2Cprofile_picture_url%7D&access_token=PARAMS_accessToken",
        "body": "",
        "status": 200,
        "response": [
          "1f8b08000000000000036590c14f83301c85ff15d303a701fd95961612623aa78b1e34d16df140d240e918ba15428bd966fcdfcd166f1edff7bec3cbfb469d75be6ac7eaa0eac975d638a72aadfbc97a947fa3ae4139022e28508605[...]
