{
  "social-media/publishing-profiles/pinterest/GetProfilesForPublishing": {
    "7188dda20a5165422a2843d3933f2721": [
      {
        "scope": "https://api.pinterest.com:443",
        "method": "GET",
        "path": "/v5/boards?page_size=100",
        "body": "",
        "status": 200,
        "response": {
          "items": [
            {
              "name": "Infographic",
              "owner": {
                "username": "sf_jnv"
              },
              "description": "",
              "privacy": "PUBLIC",
              "id": "989877261786423005"
            },
            {
              "name": "Projects to try",
              "owner": {
                "username": "sf_jnv"
              },
              "description": "",
              "privacy": "PUBLIC",
              "id": "989877261786425902"
            },
            {
              "name": "Stuff to buy",
              "owner": {
                "username": "sf_jnv"
              },
              "description": "",
              "privacy": "PUBLIC",
              "id": "989877261786425900"
            },
            {
              "name": "Things to wear",
              "owner": {
                "username": "sf_jnv"
              },
              "description": "",
              "privacy": "PUBLIC",
              "id": "989877261786425901"
            }
          ],
          "bookmark": null
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "pinterest-version",
          "b9cef79",
          "pinterest-generated-by",
          "tpp-api-control-0a032813",
          "X-RateLimit-Limit",
          "100, 100;w=1, 1000;w=86400, 1000;w=60",
          "X-RateLimit-Remaining",
          "99",
          "X-RateLimit-Reset",
          "1",
          "x-pinterest-rid",
          "1717167172404541",
          "AKAMAI-GRN",
          "0.c66ed417.1652710272.4c30c002",
          "X-CDN",
          "akamai"
        ],
        "responseIsBinary": false
      }
    ]
  }
}