[
  {
    "scope": "https://api.mailgun.net:443",
    "method": "POST",
    "path": "/v3/PARAMS_DOMAIN/messages",
    "body": "----------------------------462627680497938171117001\r\nContent-Disposition: form-data; name=\"from\"\r\n\r\ndemo@PARAMS_DOMAIN\r\n----------------------------462627680497938171117001\r\nContent-Disposition: form-data; name=\"to\"\r\n\r\ndemo@superface.ai\r\n----------------------------462627680497938171117001\r\nContent-Disposition: form-data; name=\"subject\"\r\n\r\nStation test with attachements\r\n----------------------------462627680497938171117001\r\nContent-Disposition: form-data; name=\"text\"\r\n\r\nStation test - mailgun\r\n----------------------------462627680497938171117001--\r\n",
    "status": 400,
    "response": {
      "message": "Boundary not found for multipart/form-data request"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  }
]