[
  {
    "scope": "https://api.mailgun.net:443",
    "method": "POST",
    "path": "/v3/parameters-removed-to-keep-them-secure/messages",
    "body": "from=demo%40demo.superface.org&to=demo%40superface.ai&subject=Station+test+with+attachements&text=Station+test+-+mailgun&attachment=%5B%7B%22type%22%3A%22Buffer%22%2C%22data%22%3A%5B116%2C101%2C115%2C116%5D%7D%2C%7B%22type%22%3A%22Buffer%22%2C%22data%22%3A%5B116%2C101%2C115%2C116%5D%7D%5D",
    "status": 200,
    "response": {
      "id": "<20220110105344.5efe479771b385a6@demo.superface.org>",
      "message": "Queued. Thank you."
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "X-Ratelimit-Limit",
      "2000000",
      "X-Ratelimit-Remaining",
      "1999998",
      "X-Ratelimit-Reset",
      "1641812032913",
      "X-Recipient-Limit",
      "1000000",
      "X-Recipient-Remaining",
      "999998",
      "X-Recipient-Reset",
      "1641812032913"
    ],
    "responseIsBinary": false
  }
]