[
  {
    "scope": "https://api.mailgun.net:443",
    "method": "POST",
    "path": "/v3/demo.superface.org/messages",
    "body": "from=hello%40demo.superface.org&to=hello%40superface.ai&subject=Station+test&text=Station+test+-+mailgun",
    "status": 200,
    "response": {
      "id": "<20210924075951.1.7AF8B5427F9D5288@demo.superface.org>",
      "message": "Queued. Thank you."
    },
    "rawHeaders": [
      "Content-Disposition",
      "inline",
      "Content-Type",
      "application/json",
      "X-Ratelimit-Limit",
      "2000000",
      "X-Ratelimit-Remaining",
      "1999999",
      "X-Ratelimit-Reset",
      "1632470401811",
      "X-Recipient-Limit",
      "1000000",
      "X-Recipient-Remaining",
      "999999",
      "X-Recipient-Reset",
      "1632470401808"
    ],
    "responseIsBinary": false
  },
[...]
