[
  {
    "scope": "https://api.mailgun.net:443",
    "method": "POST",
    "path": "/v3/PARAMS_DOMAIN/messages",
    "body": "from=demo%40PARAMS_DOMAIN&to=demo%40superface.ai&subject=Station+test+with+attachements&text=Station+test+-+mailgun&attachment=%5B%7B%22type%22%3A%22Buffer%22%2C%22data%22%3A%5B116%2C101%2C115%2C116%5D%7D%2C%7B%22type%22%3A%22Buffer%22%2C%22data%22%3A%5B116%2C101%2C115%2C116%5D%7D%5D",
    "status": 200,
    "response": {
      "id": "<20220411133933.40efa2f5f264ea71@PARAMS_DOMAIN>",
      "message": "Queued. Thank you."
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "X-Ratelimit-Limit",
      "4000000",
      "X-Ratelimit-Remaining",
      "3999998",
      "X-Ratelimit-Reset",
      "1649684381317",
      "X-Recipient-Limit",
      "2000000",
      "X-Recipient-Remaining",
      "1999998",
      "X-Recipient-Reset",
      "1649684381321"
    ],
    "responseIsBinary": false
  }
]