[
  {
    "scope": "https://api.mailgun.net:443",
    "method": "POST",
    "path": "/v3/PARAMS_DOMAIN/messages",
    "body": "from=demo%40demo.superface.org&to=demo%40superface.ai&subject=Station+test&text=Station+test+-+mailgun",
    "status": 200,
    "response": {
      "id": "<20220110105342.48d62d6b5013cbfb@demo.superface.org>",
      "message": "Queued. Thank you."
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "X-Ratelimit-Limit",
      "2000000",
      "X-Ratelimit-Remaining",
      "1999999",
      "X-Ratelimit-Reset",
      "1641812032913",
      "X-Recipient-Limit",
      "1000000",
      "X-Recipient-Remaining",
      "999999",
      "X-Recipient-Reset",
      "1641812032913"
    ],
    "responseIsBinary": false
  }
]