[
  {
    "scope": "https://api.mailgun.net:443",
    "method": "POST",
    "path": "/v3/PARAMS_DOMAIN/messages",
    "body": "from=demo%40PARAMS_DOMAIN&to=demo%40superface.ai&subject=Station+test&text=Station+test+-+mailgun",
    "status": 200,
    "response": {
      "id": "<20220411133931.bef4a483b977bb6a@PARAMS_DOMAIN>",
      "message": "Queued. Thank you."
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "X-Ratelimit-Limit",
      "4000000",
      "X-Ratelimit-Remaining",
      "3999999",
      "X-Ratelimit-Reset",
      "1649684381317",
      "X-Recipient-Limit",
      "2000000",
      "X-Recipient-Remaining",
      "1999999",
      "X-Recipient-Reset",
      "1649684381321"
    ],
    "responseIsBinary": false
  }
]