[
  {
    "scope": "https://api.mailgun.net:443",
    "method": "POST",
    "path": "/v3/PARAMS_DOMAIN/messages",
    "body": "----------------------------165135979437108878771064\r\nContent-Disposition: form-data; name=\"from\"\r\n\r\ninvalidemail\r\n----------------------------165135979437108878771064\r\nContent-Disposition: form-data; name=\"to\"\r\n\r\ninvalidemail\r\n----------------------------165135979437108878771064\r\nContent-Disposition: form-data; name=\"subject\"\r\n\r\n\r\n----------------------------165135979437108878771064--\r\n",
    "status": 400,
    "response": {
      "message": "Boundary not found for multipart/form-data request"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  }
]