[
  {
    "scope": "https://api.mailgun.net:443",
    "method": "POST",
    "path": "/v3/demo.superface.org/messages",
    "body": "from=hello%40demo.superface.org&to=hello%40superface.ai&template=station-test&h%3Ax-mailgun-variables=%7B%22from%22%3A%22hello%40demo.superface.org%22%2C%22to%22%3A%22hello%40superface.ai%22%2C%22domain%22%3A%22demo.superface.org%22%2C%22templateId%22%3A%22station-test%22%7D",
    "status": 200,
    "response": {
      "id": "<20210924083001.1.87AA7862F3410AB2@demo.superface.org>",
      "message": "Queued. Thank you."
    },
    "rawHeaders": [
      "Content-Disposition",
      "inline",
      "Content-Type",
      "application/json",
      "X-Ratelimit-Limit",
      "2000000",
      "X-Ratelimit-Remaining",
      "1999999",
      "X-Ratelimit-Reset",
      "1632472211683",
      "X-Recipient-Limit",
      "1000000",
      "X-Recipient-Remaining",
      "999999",
      "X-Recipient-Reset",
      "1632472211684"
    ],
    "responseIsBinary": false
  },
[...]
