[
  {
    "scope": "https://api.mailgun.net:443",
    "method": "POST",
    "path": "/v3/PARAMS_DOMAIN/messages",
    "body": "from=demo%40demo.superface.org&to=demo%40superface.ai&template=station-test&h%3Ax-mailgun-variables=%7B%22from%22%3A%22demo%40demo.superface.org%22%2C%22to%22%3A%22demo%40superface.ai%22%2C%22templateId%22%3A%22station-test%22%7D",
    "status": 200,
    "response": {
      "id": "<20211109100908.635f65bcd02c4b75@demo.superface.org>",
      "message": "Queued. Thank you."
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "X-Ratelimit-Limit",
      "2000000",
      "X-Ratelimit-Remaining",
      "1999999",
      "X-Ratelimit-Reset",
      "1636452558920",
      "X-Recipient-Limit",
      "1000000",
      "X-Recipient-Remaining",
      "999999",
      "X-Recipient-Reset",
      "1636452558922"
    ],
    "responseIsBinary": false
  }
]