[
  {
    "scope": "https://api.pinterest.com:443",
    "method": "GET",
    "path": "/v5/boards?page_size=100",
    "body": "",
    "status": 200,
    "response": {
      "items": [
        {
          "description": "",
          "privacy": "PUBLIC",
          "id": "989877261786423005",
          "owner": {
            "username": "sf_jnv"
          },
          "name": "Infographic"
        },
        {
          "description": "",
          "privacy": "PUBLIC",
          "id": "989877261786425902",
          "owner": {
            "username": "sf_jnv"
          },
          "name": "Projects to try"
        },
        {
          "description": "",
          "privacy": "PUBLIC",
          "id": "989877261786425900",
          "owner": {
            "username": "sf_jnv"
          },
          "name": "Stuff to buy"
        },
        {
          "description": "",
          "privacy": "PUBLIC",
          "id": "989877261786425901",
          "owner": {
            "username": "sf_jnv"
          },
          "name": "Things to wear"
        }
      ],
      "bookmark": null
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "pinterest-version",
      "b91e27c",
      "pinterest-generated-by",
      "tpp-api-prod-0a03f1fc",
      "X-RateLimit-Limit",
      "100, 100;w=1, 1000;w=86400, 1000;w=60",
      "X-RateLimit-Remaining",
      "99",
      "X-RateLimit-Reset",
      "1",
      "x-pinterest-rid",
      "6547671399502701",
      "AKAMAI-GRN",
      "0.b46ed417.1652173058.306271a9",
      "X-CDN",
      "akamai"
    ],
    "responseIsBinary": false
  }
]