[
  {
    "scope": "https://api.pinterest.com:443",
    "method": "GET",
    "path": "/v5/boards?page_size=100",
    "body": "",
    "status": 200,
    "response": {
      "items": [
        {
          "name": "Infographic",
          "description": "",
          "id": "989877261786423005",
          "privacy": "PUBLIC",
          "owner": {
            "username": "sf_jnv"
          }
        },
        {
          "name": "Projects to try",
          "description": "",
          "id": "989877261786425902",
          "privacy": "PUBLIC",
          "owner": {
            "username": "sf_jnv"
          }
        },
        {
          "name": "Stuff to buy",
          "description": "",
          "id": "989877261786425900",
          "privacy": "PUBLIC",
          "owner": {
            "username": "sf_jnv"
          }
        },
        {
          "name": "Things to wear",
          "description": "",
          "id": "989877261786425901",
          "privacy": "PUBLIC",
          "owner": {
            "username": "sf_jnv"
          }
        }
      ],
      "bookmark": null
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "pinterest-version",
      "3295b9e",
      "pinterest-generated-by",
      "tpp-api-prod-0a03c246",
      "X-RateLimit-Limit",
      "100, 100;w=1, 1000;w=86400, 1000;w=60",
      "X-RateLimit-Remaining",
      "99",
      "X-RateLimit-Reset",
      "1",
      "x-pinterest-rid",
      "3112619013961848",
      "AKAMAI-GRN",
      "0.c66ed417.1652089651.41451f8d",
      "X-CDN",
      "akamai"
    ],
    "responseIsBinary": false
  }
]