{
  "address/ip-geolocation/ipstack/IpGeolocation": {
    "7e98b51dc354dcf132d685615badd7a0": [
      {
        "scope": "http://api.ipstack.com:80",
        "method": "GET",
        "path": "/8.8.8.8?access_key=IPSTACK_API_KEY_REDACTED",
        "body": "",
        "status": 200,
        "response": {
          "ip": "8.8.8.8",
          "type": "ipv4",
          "continent_code": "NA",
          "continent_name": "North America",
          "country_code": "US",
          "country_name": "United States",
          "region_code": "CA",
          "region_name": "California",
          "city": "Mountain View",
          "zip": "94041",
          "latitude": 37.38801956176758,
          "longitude": -122.07431030273438,
          "location": {
            "geoname_id": 5375480,
            "capital": "Washington D.C.",
            "languages": [
              {
                "code": "en",
                "name": "English",
                "native": "English"
              }
            ],
            "country_flag": "https://assets.ipstack.com/flags/us.svg",
            "country_flag_emoji": "🇺🇸",
            "country_flag_emoji_unicode": "U+1F1FA U+1F1F8",
            "calling_code": "1",
            "is_eu": false
          }
        },
        "rawHeaders": [
          "content-type",
          "application/json",
          "x-apilayer-transaction-id",
          "302653bd-a123-4901-a6f0-652d50c98fbb",
          "x-quota-limit",
          "100",
          "x-quota-remaining",
          "34",
          "x-increment-usage",
          "1",
          "x-request-time",
          "0.042"
        ],
        "responseIsBinary": false
      }
    ],
    "49e8cba55e9a08c06ede4bcdc9be61a9": [
      {
        "scope": "http://api.ipstack.com:80",
        "method": "GET",
        "path": "/check?access_key=IPSTACK_API_KEY_REDACTED",
        "body": "",
        "status": 200,
        "response": {
          "ip": "94.127.131.198",
          "type": "ipv4",
          "continent_code": "EU",
          "continent_name": "Europe",
          "country_code": "CZ",
          "country_name": "Czechia",
          "region_code": "51",
          "region_name": "Liberecký kraj",
          "city": "[...]
      {
        "scope": "http://api.ipstack.com:80",
        "method": "GET",
        "path": "/256.256.256.256?access_key=IPSTACK_API_KEY_REDACTED",
        "body": "",
        "status": 200,
        "response": {
          "success": false,
          "error": {
            "code": 106,
            "type": "invalid_ip_address",
            "info": "The IP Address supplied is invalid."
          }
        },
        "rawHeaders": [
          "content-type",
          "application/json",
          "x-apilayer-transaction-id",
          "551028ba-dc22-4998-8713-d62ae6d15056",
          "x-quota-limit",
          "100",
          "x-quota-remaining",
          "32",
          "x-increment-usage",
          "1",
          "x-request-time",
          "0.042"
        ],
        "responseIsBinary": false
      }
    ]
  }
}