{
  "payments/update-product/stripe/UpdateProduct": {
    "9ec2abc3c4e1f031df3063a638722d4e": [
      {
        "scope": "https://api.stripe.com:443",
        "method": "POST",
        "path": "/v1/products/INPUT_productId",
        "body": "name=New+name&description=New+description",
        "status": 200,
        "response": {
          "id": "INPUT_productId",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1668068086,
          "default_price": null,
          "description": "New description",
          "images": [],
          "livemode": false,
          "metadata": {},
          "name": "New name",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1668068087,
          "url": null
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "idempotency-key",
          "f5a6bcd6-c027-4bd9-9e03-af827e602637",
          "original-request",
          "req_IHEWTjRzIfjHkh",
          "stripe-should-retry",
          "false",
          "stripe-version",
          "2022-08-01"
        ],
        "responseIsBinary": false
      }
    ]
  },
  "prepare-payments/create-product/stripe/CreateProduct": {
    "754061576e347ce571770d85bae0148a": [
      {
        "scope": "https://api.stripe.com:443",
        "method": "POST",
        "path": "/v1/products",
        "body": "name=Temporary+Product&description=Used+just+for+testing.",
        "status": 200,
        "response": {
          "id": "prod_Mm42SxOklWPOct",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1668068088,
          "default_price": null,
          "description": "Used just for testing.",
          "images": [],
          "livemode": false,
          "metadata": {},
          "name": "Temporary Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1668068088,
          "url": null
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "idempotency-key",
          "83259cf6-b053-46db-834a-26fc6571bfa1",
          "original-request",
          "req_TvUIoPy41LZbVV",
          "stripe-should-retry",
          "false",
          "stripe-version",
          "2022-08-01"
        ],
        "responseIsBinary": false
      }
    ]
  }
}