[
  {
    "scope": "https://api.pinterest.com:443",
    "method": "POST",
    "path": "/v5/pins",
    "body": {
      "board_id": "989877261786423005",
      "description": "Test media publishing from Superface Station.",
      "media_source": {
        "source_type": "image_url",
        "url": "https://upload.wikimedia.org/wikipedia/commons/0/09/Sitta-carolinensis-001.jpg"
      }
    },
    "status": 201,
    "response": {
      "board_owner": {
        "username": "sf_jnv"
      },
      "board_id": "989877261786423005",
      "alt_text": null,
      "board_section_id": null,
      "description": "Test media publishing from Superface Station.",
      "title": "",
      "media": {
        "media_type": "image",
        "images": {
          "150x150": {
            "width": 150,
            "height": 150,
            "url": "https://i.pinimg.com/150x150/d2/3d/a7/d23da743dd90892fb1a884a4d49bc14e.jpg"
          },
          "400x300": {
            "width": 400,
            "height": 300,
            "url": "https://i.pinimg.com/400x300/d2/3d/a7/d23da743dd90892fb1a884a4d49bc14e.jpg"
          },
          "600x": {
            "width": 600,
            "height": 600,
            "url": "https://i.pinimg.com/600x/d2/3d/a7/d23da743dd90892fb1a884a4d49bc14e.jpg"
          },
          "1200x": {
            "width": 1024,
            "height": 1024,
            "url": "https://i.pinimg.com/1200x/d2/3d/a7/d23da743dd90892fb1a884a4d49bc14e.jpg"
          },
          "originals": {
            "width": 1024,
            "height": 1024,
            "url": "https://i.pinimg.com/originals/d2/3d/a7/d23da743dd90892fb1a884a4d49bc14e.jpg"
          }
        }
      },
      "link": null,
      "id": "989877193072186515",
      "created_at": "2022-05-09T15:08:56"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "pinterest-version",
      "3295b9e",
      "pinterest-generated-by",
      "tpp-api-prod-0a03ca0d",
      "X-RateLimit-Limit",
      "100, 100;w=1, 1000;w=86400, 100;w=60",
      "X-RateLimit-Remaining",
      "97",
      "X-RateLimit-Reset",
      "1",
      "x-pinterest-rid",
      "1262015756242341",
      "AKAMAI-GRN",
      "0.c66ed417.1652108936.44132c4e",
      "X-CDN",
      "akamai"
    ],
    "responseIsBinary": false
  }
]