[
  {
    "scope": "https://api.pinterest.com:443",
    "method": "POST",
    "path": "/v5/pins",
    "body": {
      "board_id": "989877261786423005",
      "description": "Test media publishing from Superface Station.",
      "title": "Test post title",
      "media_source": {
        "source_type": "image_url",
        "url": "https://upload.wikimedia.org/wikipedia/commons/0/09/Sitta-carolinensis-001.jpg"
      }
    },
    "status": 201,
    "response": {
      "description": "Test media publishing from Superface Station.",
      "title": "Test post title",
      "media": {
        "media_type": "image",
        "images": {
          "150x150": {
            "width": 150,
            "height": 150,
            "url": "https://i.pinimg.com/150x150/d2/3d/a7/d23da743dd90892fb1a884a4d49bc14e.jpg"
          },
          "400x300": {
            "width": 400,
            "height": 300,
            "url": "https://i.pinimg.com/400x300/d2/3d/a7/d23da743dd90892fb1a884a4d49bc14e.jpg"
          },
          "600x": {
            "width": 600,
            "height": 600,
            "url": "https://i.pinimg.com/600x/d2/3d/a7/d23da743dd90892fb1a884a4d49bc14e.jpg"
          },
          "1200x": {
            "width": 1024,
            "height": 1024,
            "url": "https://i.pinimg.com/1200x/d2/3d/a7/d23da743dd90892fb1a884a4d49bc14e.jpg"
          },
          "originals": {
            "width": 1024,
            "height": 1024,
            "url": "https://i.pinimg.com/originals/d2/3d/a7/d23da743dd90892fb1a884a4d49bc14e.jpg"
          }
        }
      },
      "board_section_id": null,
      "alt_text": null,
      "board_id": "989877261786423005",
      "created_at": "2022-05-16T14:11:08",
      "id": "989877193072294309",
      "link": null,
      "board_owner": {
        "username": "sf_jnv"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "pinterest-version",
      "b9cef79",
      "pinterest-generated-by",
      "tpp-api-control-0a01d7d6",
      "X-RateLimit-Limit",
      "100, 100;w=1, 1000;w=86400, 100;w=60",
      "X-RateLimit-Remaining",
      "98",
      "X-RateLimit-Reset",
      "1",
      "x-pinterest-rid",
      "4786369514074747",
      "AKAMAI-GRN",
      "0.c66ed417.1652710267.4c309b9c",
      "X-CDN",
      "akamai"
    ],
    "responseIsBinary": false
  }
]