[
  {
    "scope": "https://api.pinterest.com:443",
    "method": "POST",
    "path": "/v5/pins",
    "body": {
      "board_id": "4",
      "description": "Test media publishing from Superface Station.",
      "media_source": {
        "source_type": "image_url",
        "url": "https://upload.wikimedia.org/wikipedia/commons/0/09/Sitta-carolinensis-001.jpg"
      }
    },
    "status": 404,
    "response": {
      "code": 40,
      "message": "Board not found."
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "pinterest-version",
      "b91e27c",
      "pinterest-generated-by",
      "tpp-api-prod-0a03f1fc",
      "X-RateLimit-Limit",
      "100, 100;w=1, 1000;w=86400, 100;w=60",
      "X-RateLimit-Remaining",
      "93",
      "X-RateLimit-Reset",
      "30",
      "x-pinterest-rid",
      "3783729523733431",
      "AKAMAI-GRN",
      "0.b46ed417.1652173050.30624a58",
      "X-CDN",
      "akamai"
    ],
    "responseIsBinary": false
  }
]