[
  {
    "scope": "https://api.parameters-removed-to-keep-them-secure.speech-to-text.watson.cloud.ibm.com:443",
    "method": "POST",
    "path": "/instances/parameters-removed-to-keep-them-secure/v1/recognize?max_alternatives=1",
    "body": "invalid audio file content",
    "status": 400,
    "response": {
      "error": "Stream was 26 bytes but needs to be at least 100 bytes.",
      "code": 400,
      "code_description": "Bad Request"
    },
    "rawHeaders": [
      "session-name",
      "AYSHZIQEQQUJXDBM-en-US_BroadbandModel",
      "Content-Type",
      "application/json",
      "x-dp-watson-tran-id",
      "6fc34a9d-0c36-4b3a-9694-57721c5b9bf7",
      "x-global-transaction-id",
      "6fc34a9d-0c36-4b3a-9694-57721c5b9bf7",
      "X-EdgeConnect-MidMile-RTT",
      "10",
      "X-EdgeConnect-Origin-MEX-Latency",
      "134"
    ],
    "responseIsBinary": false
  }
]