{
  "communication/send-email/sendgrid/SendEmail": {
    "1b9f4419c6f0e83f9809faae992031f6": [
      {
        "scope": "https://api.sendgrid.com:443",
        "method": "POST",
        "path": "/v3/mail/send",
        "body": {
          "from": {
            "email": "demo@demo.superface.org"
          },
          "subject": "Station test",
          "content": [
            {
              "type": "text/plain",
              "value": "Station test - sendgrid"
            }
          ],
          "personalizations": [
            {
              "to": [
                {
                  "email": "demo@demo.superface.org"
                }
              ]
            }
          ],
          "attachments": null,
          "reply_to": {
            "email": "demo+replyto@demo.superface.org"
          }
        },
        "status": 202,
        "response": "",
        "rawHeaders": [
          "X-Message-Id",
          "R588AR2fTj2hUas1wGTEkQ",
          "X-No-CORS-Reason",
          "https://sendgrid.com/docs/Classroom/Basics/API/cors.html"
        ],
        "responseIsBinary": false
      }
    ],
    "9de2c1a715069de302158a5a0fd5e472": [
      {
        "scope": "https://api.sendgrid.com:443",
        "method": "POST",
        "path": "/v3/mail/send",
        "body": {
          "from": {
            "email": "demo@demo.superface.org"
          },
          "subject": "Station test with attachements",
          "content": [
            {
              "type": "text/plain",
              "value": "Station test - sendgrid"
            }
          ],
          "personalizations": [
            {
              "to": [
                {
                  "email": "demo@demo.superface.org"
                }
              ]
            }
          ],
          "attachments": [
            {
              "content": "dGVzdA==",
              "filename": "test.txt",
              "type": "text/plain"
            },
            {
              "content": "dGVzdC==",
              "filename": "test2.json",
              "type": "application/json"
            }
          ],
          "reply_to": {
            "email": "demo+replyto@demo.superface.org"
          }
        },
        "status": 202,
        "response": "",
        "rawHeaders": [
          "X-Message-Id",
          "I3DuZrM5TcynRf4GHapIeQ",
          "X-No-CORS-Reason",
          "https://sendgrid.com/docs/Classroom/Basics/API/cors.html"
        ],
        "responseIsBinary": false
      }
    ],
    "0e575205766cd49b836f98fac5b922e6": [
      {
        "scope": "https://api.sendgrid.com:443",
        "method": "POST",
        "path": "/v3/mail/send",
        "body": {
          "from": {
            "email": "invalidemail"
          },
          "subject": "",
          "content": [],
          "personalizations": [
            {
              "to": [
                {
                  "email": "invalidemail"
                }
              ]
            }
          ],
          "attachments": null,
          "reply_to": {
            "email": "demo+replyto@demo.superface.org"
          }
        },
        "status": 400,
        "response": {
          "errors": [
            {
              "message": "The from email does not contain a valid address.",
              "field": "from.email",
              "help": "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.from"
            },
            {
              "message": "Does not contain a valid address.",
              "field": "personalizations.0.to.0.email",
              "help": "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.personalizations.to"
            },
            {
              "message": "The subject is required. You can get around this requirement if you use a template with a subject defined or if every personalization has a subject defined.",
              "field": "subject",
              "help": "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.subject"
            },
            {
              "message": "Unless a valid template_id is provided, the content parameter is required. There must be at least one defined content block. We typically suggest both text/plain and text/html blocks are included, but only one block is required.",
              "field": "content",
              "help": "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.content"
            }
          ]
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "X-No-CORS-Reason",
          "https://sendgrid.com/docs/Classroom/Basics/API/cors.html"
        ],
        "responseIsBinary": false
      }
    ]
  }
}