[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v12.0/110658944785122?fields=access_token&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "access_token": "PAGE_ACCESS_TOKEN_VALUE_REDACTED",
      "id": "110658944785122"
    },
    "rawHeaders": [
      "ETag",
      "\"a15ddd3f1ae28c16476b255e511b13868a898aff\"",
      "Content-Type",
      "application/json",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":0,\"total_cputime\":0,\"total_time\":0}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "ACxN5ZEvoQsjajF6584BJ_1",
      "GYE9dFY0xrl",
      "1004957475",
      "5vf6rB3TRxMu4r9Qg2NJy9eOgJkbzYP4gMUUhrQHf+MuDKCOEjvGC/HRApTG2y0sdNDatlNbwd7FZyepFx8h8Q==",
      "Thu, 20 Jan 2022 12:15:45 GMT",
      "h3=\":443\"; ma=3600, h3-29=\":443\"; ma=3600",
      "close",
      "246"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/110658944785122/feed?access_token=PAGE_ACCESS_TOKEN_VALUE_REDACTED&message=Test+from+Superface+Station+7.&fields=id%2Cpermalink_url",
    "body": "",
    "status": 200,
    "response": {
      "id": "110658944785122_125744069943276",
      "permalink_url": "https://www.facebook.com/110658944785122/posts/125744069943276/"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-business-use-case-usage",
      "{\"110658944785122\":[{\"type\":\"pages\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AE5-dY8W_hWgcBnRDISkVSL",
      "DLXVHM8Ujwb",
      "1004957475",
      "zLO/CHbAxWrK0HZDq4/927mpiCdu7mKrzEI0R3inQ1oydAwUJFiBtwGEP/jqIT7+aFsiq6TgbSbWwJeazcg1rg==",
      "Thu, 20 Jan 2022 12:15:47 GMT",
      "u=3,i",
      "h3=\":443\"; ma=3600, h3-29=\":443\"; ma=3600",
      "close",
      "128"
    ],
    "responseIsBinary": false
  }
]