[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v12.0/34298089714?fields=access_token&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "access_token": "PAGE_ACCESS_TOKEN_VALUE_REDACTED",
      "id": "34298089714"
    },
    "rawHeaders": [
      "ETag",
      "\"84f3bb67ed386060bda193013cebdaed848a34e8\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":10,\"total_cputime\":0,\"total_time\":2}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AwQSNwAgI8ay7lkCMwDO8oi",
      "B01Grr4hnxo",
      "1005354385",
      "te02Ax/Zr8ToPzwuVHBaGhnP+dBSBW11sKVf/bisjAQbhbeEqTXKXg05h0OX5DKkhGX1f9+vqX5PUCq6NWxO/g==",
      "Thu, 14 Apr 2022 15:28:16 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "238"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/34298089714/feed?access_token=PAGE_ACCESS_TOKEN_VALUE_REDACTED&message=Test+from+Superface+Station+7.&fields=id%2Cpermalink_url",
    "body": "",
    "status": 200,
    "response": {
      "id": "34298089714_10160007513114715",
      "permalink_url": "https://www.facebook.com/34298089714/posts/10160007513114715/"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"34298089714\":[{\"type\":\"pages\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "A7qfgoeWXcIawX-m7uP7E1J",
      "Gdukw7f992i",
      "1005354385",
      "UfLlaoAgPIvQYQy7Si3VN36eFuZtZ1TlPLc+yma18j35a3R+nURDbBYlVWotzTmnD6gPjYJ6eYMk7YGq+0ASoQ==",
      "Thu, 14 Apr 2022 15:28:18 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "124"
    ],
    "responseIsBinary": false
  }
]