[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v12.0/110658944785122?fields=access_token&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "access_token": "PARAMS_pageAccessToken",
      "id": "110658944785122"
    },
    "rawHeaders": [
      "ETag",
      "\"af1b9a30e756880d62f4a1e8ac0dcfd544cd7754\"",
      "Content-Type",
      "application/json",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":3,\"total_cputime\":0,\"total_time\":0}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AOEqnVj5_WAmTVJm-_h6Ijl",
      "Cc6MIKFyK5M",
      "1004956910",
      "iiUWUx/4UZxiX8G9P9OJ3wF+eXP6QSy02vo+MZnP7CK5YoRJp3WQbw/g2rS0jJsxmsq/uTuvwtGH3+CNl2X3kA==",
      "Thu, 20 Jan 2022 07:29:10 GMT",
      "h3=\":443\"; ma=3600, h3-29=\":443\"; ma=3600",
      "close",
      "245"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/110658944785122/feed?access_token=PARAMS_pageAccessToken&message=Test+from+Superface+Station+7.&fields=id%2Cpermalink_url",
    "body": "",
    "status": 200,
    "response": {
      "id": "110658944785122_125682506616099",
      "permalink_url": "https://www.facebook.com/110658944785122/posts/125682506616099/"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-business-use-case-usage",
      "{\"110658944785122\":[{\"type\":\"pages\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AgA4COGyBU7F9Hs63XYb9cX",
      "Dh8uhOFqpE9",
      "1004956910",
      "gjo6HiE6RdMRrTqwFkiMxU/Ro2yClQe53roQ7tsZnXnvypntMYT5KcpskYYK2vRHXgl7aAdZCiAkjNxiRdyMTg==",
      "Thu, 20 Jan 2022 07:29:12 GMT",
      "u=3,i",
      "h3=\":443\"; ma=3600, h3-29=\":443\"; ma=3600",
      "close",
      "128"
    ],
    "responseIsBinary": false
  }
]