[
  {
    "scope": "https://nominatim.openstreetmap.org:443",
    "method": "GET",
    "path": "/search?format=json&q=Prague",
    "body": "",
    "status": 200,
    "response": [
      {
        "place_id": 282329133,
        "licence": "Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",
        "osm_type": "relation",
        "osm_id": 435514,
        "boundingbox": [
          "49.9419006",
          "50.1774301",
          "14.2244355",
          "14.7067867"
        ],
        "lat": "50.0874654",
        "lon": "14.4212535",
        "display_name": "Hlavní město Praha, Praha, Česko",
        "class": "boundary",
        "type": "administrative",
        "importance": 0.7434914632787466,
        "icon": "https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"
      },
      {
        "place_id": 282036082,
        "licence": "Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",
        "osm_type": "relation",
        "osm_id": 439840,
        "boundingbox": [
          "49.9419006",
          "50.1774301",
          "14.2244355",
          "14.7067867"
        ],
        "lat": "50.0596288",
        "lon": "14.446459273258009",
        "displa[...]
