[
  {
    "scope": "https://api.stripe.com:443",
    "method": "GET",
    "path": "/v1/plans/INPUT_planId",
    "body": "",
    "status": 200,
    "response": {
      "id": "INPUT_planId",
      "object": "plan",
      "active": true,
      "aggregate_usage": null,
      "amount": 123400,
      "amount_decimal": "123400",
      "billing_scheme": "per_unit",
      "created": 1668068087,
      "currency": "usd",
      "interval": "month",
      "interval_count": 1,
      "livemode": false,
      "metadata": {},
      "nickname": "Temporary Plan",
      "product": "prod_Mm42AXFG1Af2wt",
      "tiers_mode": null,
      "transform_usage": null,
      "trial_period_days": null,
      "usage_type": "licensed"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "stripe-version",
      "2022-08-01"
    ],
    "responseIsBinary": false
  }
]