{
  "payments/create-subscription/stripe/CreateSubscription": {
    "99da1a2af6e092888d612afdd52253b6": [
      {
        "scope": "https://api.stripe.com:443",
        "method": "POST",
        "path": "/v1/subscriptions",
        "body": "customer=cus_Mg9C5oLdeekQJX&items%5B0%5D%5Bprice%5D=INPUT_planId",
        "status": 200,
        "response": {
          "id": "sub_1M2VuNGkdIyBfLnZypOR4YqF",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false
          },
          "billing_cycle_anchor": 1668068087,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1668068087,
          "currency": "usd",
          "current_period_end": 1670660087,
          "current_period_start": 1668068087,
          "customer": "cus_Mg9C5oLdeekQJX",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_Mm42pIvkHx3UiP",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1668068088,
                "metadata": {},
                "plan": {
                  "id": "INPUT_planId",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 123400,
                  "amount_decimal": "123400",
                  "billing_scheme": "per_unit",
                  "created": 1668068087,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": "Temporary Plan",
                  "product": "prod_Mm42IfOWuZk8ay",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "INPUT_planId",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1668068087,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": "Temporary Plan",
                  "product": "prod_Mm42IfOWuZk8ay",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 123400,
                  "unit_amount_decimal": "123400"
                },
                "quantity": 1,
                "subscription": "sub_1M2VuNGkdIyBfLnZypOR4YqF",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1M2VuNGkdIyBfLnZypOR4YqF"
          },
          "latest_invoice": "in_1M2VuNGkdIyBfLnZL4YsVYs5",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "INPUT_planId",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 123400,
            "amount_decimal": "123400",
            "billing_scheme": "per_unit",
            "created": 1668068087,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": "Temporary Plan",
            "product": "prod_Mm42IfOWuZk8ay",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1668068087,
          "status": "active",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_start": null
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "idempotency-key",
          "bcdb08d8-0df7-4bbb-a91d-b688a0183da9",
          "original-request",
          "req_gBnYn4C2UUy6aW",
          "stripe-should-retry",
          "false",
          "stripe-version",
          "2022-08-01"
        ],
        "responseIsBinary": false
      }
    ]
  },
  "prepare-payments/create-product/stripe/CreateProduct": {
    "754061576e347ce571770d85bae0148a": [
      {
        "scope": "https://api.stripe.com:443",
        "method": "POST",
        "path": "/v1/products",
        "body": "name=Temporary+Product&description=Used+just+for+testing.",
        "status": 200,
        "response": {
          "id": "prod_Mm42SxOklWPOct",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1668068088,
          "default_price": null,
          "description": "Used just for testing.",
          "images": [],
          "livemode": false,
          "metadata": {},
          "name": "Temporary Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1668068088,
          "url": null
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "idempotency-key",
          "83259cf6-b053-46db-834a-26fc6571bfa1",
          "original-request",
          "req_TvUIoPy41LZbVV",
          "stripe-should-retry",
          "false",
          "stripe-version",
          "2022-08-01"
        ],
        "responseIsBinary": false
      }
    ]
  },
  "prepare-payments/create-plan/stripe/CreatePlan": {
    "972f9b1ddddd13823a1dbe9cfe8fdf63": [
      {
        "scope": "https://api.stripe.com:443",
        "method": "POST",
        "path": "/v1/prices",
        "body": "product=INPUT_productId&nickname=Temporary+Plan&unit_amount=123400&currency=usd&recurring%5Binterval%5D=month",
        "status": 200,
        "response": {
          "id": "price_1M2VuOGkdIyBfLnZk2RnXvJu",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1668068088,
          "currency": "usd",
        [...]
