[
  {
    "scope": "https://api.postmarkapp.com:443",
    "method": "POST",
    "path": "/email/withTemplate",
    "body": {
      "From": "invalidemail",
      "To": "invalidemail",
      "TemplateId": "invalid"
    },
    "status": 422,
    "response": {
      "ErrorCode": 403,
      "Message": "Received valid, but incompatible JSON input."
    },
    "rawHeaders": [
      "content-type",
      "application/json; charset=utf-8",
      "x-postmark-account",
      "220280",
      "x-postmark-server",
      "8386826",
      "x-pm-apierrorcode",
      "403"
    ],
    "responseIsBinary": false
  }
]