[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "POST",
    "path": "/v1/website/PARAMS_WEBSITE_ID/people/events/nonexistent+user@superface.test",
    "body": {
      "text": "order_sent",
      "data": {}
    },
    "status": 404,
    "response": [
      "1f8b080000000000000304c1b10d00210c03c05d5c3341964191f0572841265488ddffee82520a563a6c107d67c0b0986bb24756fff2c440c3f072d87def070000ffff030003ea55f634000000"
    ],
    "rawHeaders": [
      "Thu, 27 Jan 2022 17:25:37 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "Bloom-Status",
      "DIRECT",
      "1a23137a01 99.99 0.021626 0032 da0c",
      "683ba8c8-5332-4466-91ce-601aaa70185d",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6d43ae6ce9634131-PRG",
      "gzip",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]