[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "POST",
    "path": "/v1/website/PARAMS_WEBSITE_ID/people/events/support+station@superface.ai",
    "body": {
      "text": "order_sent",
      "data": {
        "orderId": "or_12345",
        "amount": "42",
        "currency": "EUR"
      }
    },
    "status": 201,
    "response": {
      "error": false,
      "reason": "added",
      "data": {}
    },
    "rawHeaders": [
      "Thu, 27 Jan 2022 16:59:15 GMT",
      "Content-Type",
      "application/json",
      "42",
      "close",
      "Bloom-Status",
      "DIRECT",
      "25ee2d5517 99.99 0.032230 0032 da0c",
      "5492995b-f6a8-4936-9ffd-67ea3d7eb1e0",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6d4387cf3dac92a7-FRA",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]