[
  {
    "scope": "https://api.crisp.chat:443",
    "method": "POST",
    "path": "/v1/website/PARAMS_WEBSITE_ID/people/events/support+station@superface.ai",
    "body": {
      "text": "order_sent",
      "data": {
        "orderId": "or_12345",
        "amount": "42",
        "currency": "EUR"
      }
    },
    "status": 201,
    "response": {
      "error": false,
      "reason": "added",
      "data": {}
    },
    "rawHeaders": [
      "Thu, 27 Jan 2022 17:25:37 GMT",
      "Content-Type",
      "application/json",
      "42",
      "close",
      "Bloom-Status",
      "DIRECT",
      "58bdffdff3 99.99 0.021467 0032 da0c",
      "20ff1024-e02b-4d02-b73b-cf0d565482f9",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000; includeSubDomains; preload",
      "nosniff",
      "cloudflare",
      "6d43ae6b6b1bf9de-PRG",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]