[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/17928162404359628?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "status": "Finished: Media has been uploaded and it is ready to be published.",
      "status_code": "FINISHED",
      "id": "17928162404359628"
    },
    "rawHeaders": [
      "ETag",
      "\"c2a9e1485c95f29d32d9274611b6b9a9b46c26c6\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":10,\"total_cputime\":0,\"total_time\":2}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "Aq7PtEzQP7s_Bx9-a8RXDI6",
      "HzobHLXdVFj",
      "1006155584",
      "SWDW0eEvzRWy3VR5EBwt3Ea0w7xV1b/maR2Vvc0IDGAyWaZ2/tr6F7gyX+330vWcQwqW07ICrBEjCH93Ic1Zkw==",
      "Wed, 07 Sep 2022 14:33:48 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "129"
    ],
    "responseIsBinary": false
  }
]