[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/17953314143089493?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "status": "Finished: Media has been uploaded and it is ready to be published.",
      "status_code": "FINISHED",
      "id": "17953314143089493"
    },
    "rawHeaders": [
      "ETag",
      "\"d4f702d6c9566ae65b58c58b1720789cad51ad66\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":5,\"total_cputime\":0,\"total_time\":0}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "A4_i_djfUM6WZ9C9BsddSZh",
      "CTL2C9EU4eD",
      "1006155584",
      "K1gpk7VQ2+7ildakkGOLMWaQzoZIvqldHGjeCIrqq9AFSSb/5BsVAsyE4EbPJaeO1yWQiqYDzcttcMgcvO8oVA==",
      "Wed, 07 Sep 2022 14:20:04 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "129"
    ],
    "responseIsBinary": false
  }
]