[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/17952174199986251?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": {
      "status": "Finished: Media has been uploaded and it is ready to be published.",
      "status_code": "FINISHED",
      "id": "17952174199986251"
    },
    "rawHeaders": [
      "ETag",
      "\"33111b1d738463f7dbd57119053df4a94eb09c17\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "cross-origin",
      "x-app-usage",
      "{\"call_count\":7,\"total_cputime\":0,\"total_time\":1}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AE6A4vNPlMAUwvYjqn-z6Ge",
      "CIhBbvprWT1",
      "1006155584",
      "56+i3ReJ0q5+NSAYarX9f6ikHP1DPtmqRgoEVYJVvgcpbad35wOwEzT7rfQHtJ3bavS/I47vsDaOr0lr8qO4zw==",
      "Wed, 07 Sep 2022 14:33:11 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "129"
    ],
    "responseIsBinary": false
  }
]