{
  "crm/add-contacts-to-list/hubspot/AddContactsToList": {
    "4d390968687714cc7143a64ccb5d2056": [
      {
        "scope": "https://api.hubapi.com:443",
        "method": "POST",
        "path": "/contacts/v1/lists/1/add",
        "body": {
          "emails": [
            "emailmaria@hubspot.com",
            "bh@hubspot.com"
          ]
        },
        "status": 200,
        "response": [
          "1f8b0800000000000003000000ffff",
          "aa562a2d48492c494d51b28a36d431358cd5514ac92c4e4e2c4a010bc5ea2865e69525e664a68465a614a308b8e62666e680856a01000000ffff03008c6be76145000000"
        ],
        "rawHeaders": [
          "Wed, 01 Feb 2023 15:06:04 GMT",
          "Content-Type",
          "application/json;charset=utf-8",
          "chunked",
          "close",
          "792b96c0a826b329-PRG",
          "max-age=31536000; includeSubDomains; preload",
          "DYNAMIC",
          "false",
          "X-HubSpot-Correlation-Id",
          "6c002e66-d1e8-42e4-9689-9f15880672bd",
          "X-HubSpot-RateLimit-Daily",
          "500000",
          "X-HubSpot-RateLimit-Daily-Remaining",
          "499985",
          "X-HubSpot-RateLimit-Interval-Milliseconds",
          "10000",
          "X-HubSpot-RateLimit-Max",
          "150",
          "X-HubSpot-RateLimit-Remaining",
          "148",
          "X-HubSpot-RateLimit-Secondly",
          "15",
          "X-HubSpot-RateLimit-Secondly-Remaining",
          "14",
          "X-Trace",
          "2BD0D2B7BDC6A4C713D667790DB365C93539C47329000000000000000000",
          "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=uqscpYOx4emQbt8%2FnambwSkT2HqMGFi7lZj4v4COH04XWkG9ZgCm5Bn5S5m30hM1W00GDB2OaOuZZjJTblhajhOiJasyJMW2lc0J4FcYLo1SyciPOo0agcdmBoX8E2se\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
          "{\"success_fraction\":0.01,\"report_to\":\"cf-nel\",\"max_age\":604800}",
          "cloudflare",
          "gzip",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
        ],
        "responseIsBinary": false,
        "decodedResponse": {
          "updated": [
            1,
            51
          ],
          "discarded": [],
          "invalidVids": [],
          "invalidEmails": []
        }
      }
    ]
  }
}