{
  "crm/add-contacts-to-list/sendgrid/AddContactsToList": {
    "5ff3c36dea63976eccde377fcf858e78": [
      {
        "scope": "https://api.sendgrid.com:443",
        "method": "PUT",
        "path": "/v3/marketing/contacts",
        "body": {
          "list_ids": [
            "17a9df8c-9003-4c60-8e27-8492aebdacce"
          ],
          "contacts": [
            {
              "email": "demo+added_one@superface.ai"
            },
            {
              "email": "demo+added_two@superface.ai"
            }
          ]
        },
        "status": 202,
        "response": {
          "job_id": "97778c0a-f81e-4955-a5b9-87df872d9fde"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "x-amzn-requestid",
          "f13f2ffb-b8dd-4466-b533-7ca92137bdea",
          "x-amz-apigw-id",
          "e72jNGwuvHcFuKA=",
          "x-ratelimit-limit",
          "200",
          "x-ratelimit-remaining",
          "199",
          "x-ratelimit-reset",
          "37"
        ],
        "responseIsBinary": false
      }
    ]
  }
}