{
  "weather/current-city/openweathermap/GetCurrentWeatherInCity": {
    "3e26a207e141bab15e545293cb739e70": [
      {
        "scope": "https://api.openweathermap.org:443",
        "method": "GET",
        "path": "/data/2.5/weather?q=Prague%2CCZ&units=metric&appid=SECURITY_apikey",
        "body": "",
        "status": 200,
        "response": {
          "coord": {
            "lon": 14.4208,
            "lat": 50.088
          },
          "weather": [
            {
              "id": 500,
              "main": "Rain",
              "description": "light rain",
              "icon": "10d"
            }
          ],
          "base": "stations",
          "main": {
            "temp": 8.11,
            "feels_like": 7.68,
            "temp_min": 5.61,
            "temp_max": 9.7,
            "pressure": 1020,
            "humidity": 85
          },
          "visibility": 10000,
          "wind": {
            "speed": 1.34,
            "deg": 222,
            "gust": 4.02
          },
          "rain": {
            "1h": 0.42
          },
          "clouds": {
            "all": 90
          },
          "dt": 1636116019,
          "sys": {
            "type": 2,
            "id": 2010430,
            "country": "CZ",
            "sunrise": 1636091933,
            "sunset": 1636126374
          },
          "timezone": 3600,
          "id": 3067696,
          "name": "Prague",
          "cod": 200
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
      }
    ]
  }
}