[
  {
    "scope": "https://nominatim.openstreetmap.org:443",
    "method": "GET",
    "path": "/search?format=json&q=Prague",
    "body": "",
    "status": 200,
    "response": [
      {
        "place_id": 282329133,
        "licence": "Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",
        "osm_type": "relation",
        "osm_id": 435514,
        "boundingbox": [
          "49.9419006",
          "50.1774301",
          "14.2244355",
          "14.7067867"
        ],
        "lat": "50.0874654",
        "lon": "14.4212535",
        "display_name": "Hlavní město Praha, Praha, Česko",
        "class": "boundary",
        "type": "administrative",
        "importance": 0.7434914632787466,
        "icon": "https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"
      },
      {
        "place_id": 282036082,
        "licence": "Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",
        "osm_type": "relation",
        "osm_id": 439840,
        "boundingbox": [
          "49.9419006",
          "50.1774301",
          "14.2244355",
          "14.7067867"
        ],
        "lat": "50.0596288",
        "lon": "14.446459273258009",
        "displa[...]
  {
    "scope": "https://nominatim.openstreetmap.org:443",
    "method": "GET",
    "path": "/search?format=json",
    "body": "",
    "status": 200,
    "response": [],
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://nominatim.openstreetmap.org:443",
    "method": "GET",
    "path": "/reverse?format=json&lat=40.714224&lon=-73.961452",
    "body": "",
    "status": 200,
    "response": {
      "place_id": 169108540,
      "licence": "Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",
      "osm_type": "way",
      "osm_id": 279767995,
      "lat": "40.714128099999996",
      "lon": "-73.96131110000002",
      "display_name": "281, Bedford Avenue, Williamsburg, Brooklyn, Kings County, New York, 11211, United States",
      "address": {
        "house_number": "281",
        "road": "Bedford Avenue",
        "quarter": "Williamsburg",
        "suburb": "Brooklyn",
        "city_district": "Kings County",
        "city": "New York",
        "state": "New York",
        "postcode": "11211",
        "country": "United States",
        "country_code": "us"
      },
      "boundingbox": [
        "40.714064",
        "40.7141922",
        "-73.9614164",
        "-73.9612058"
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://nominatim.openstreetmap.org:443",
    "method": "GET",
    "path": "/reverse?format=json",
    "body": "",
    "status": 400,
    "response": {
      "error": {
        "code": 400,
        "message": "Need coordinates or OSM object to lookup."
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8"
    ],
    "responseIsBinary": false
  }
]