[
  {
    "scope": "https://nominatim.openstreetmap.org:443",
    "method": "GET",
    "path": "/reverse?format=json&lat=40.714224&lon=-73.961452",
    "body": "",
    "status": 200,
    "response": {
      "place_id": 169108540,
      "licence": "Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright",
      "osm_type": "way",
      "osm_id": 279767995,
      "lat": "40.714128099999996",
      "lon": "-73.96131110000002",
      "display_name": "281, Bedford Avenue, Williamsburg, Brooklyn, New York, 11211, United States",
      "address": {
        "house_number": "281",
        "road": "Bedford Avenue",
        "quarter": "Williamsburg",
        "borough": "Brooklyn",
        "city": "New York",
        "state": "New York",
        "postcode": "11211",
        "country": "United States",
        "country_code": "us"
      },
      "boundingbox": [
        "40.714064",
        "40.7141922",
        "-73.9614164",
        "-73.9612058"
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8"
    ],
    "responseIsBinary": false
  }
]