{
  "captcha/verify-token/google-recaptcha/ValidateCaptchaResponse": {
    "e8691d81597cee705378307a3a26f177": [
      {
        "scope": "https://www.google.com:443",
        "method": "POST",
        "path": "/recaptcha/api/siteverify",
        "body": "response=invalid+response&secret=SECURITY_secretKey",
        "status": 200,
        "response": [
          "1f",
          "8b",
          "08",
          "00",
          "0000000000ffabe65250502a2e4d4e4e2d2e56b252484bcc294ed50189a51615e517e926e7a7a482c4a3814240c1ccbcb2c49ccc14ddccbc82d212dda2d4e282fcbce25425a0642c572d00840cd3094b000000"
        ],
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=utf-8",
          "gzip",
          "Thu, 15 Jun 2023 09:04:38 GMT",
          "Thu, 15 Jun 2023 09:04:38 GMT",
          "private, max-age=0",
          "nosniff",
          "SAMEORIGIN",
          "frame-ancestors 'self'",
          "1; mode=block",
          "GSE",
          "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
          "close",
          "chunked"
        ],
        "responseIsBinary": false,
        "decodedResponse": {
          "success": false,
          "error-codes": [
            "invalid-input-response"
          ]
        }
      }
    ],
    "9614b755e15616aa7a3435838a47874d": [
[...]
