{
  "communication/send-sms/twilio/SendMessage": {
    "4f4a441f07fd79a650647531ad3872a8": [
      {
        "scope": "https://api.twilio.com:443",
        "method": "POST",
        "path": "/2010-04-01/Accounts/PARAMS_accountSid/Messages.json",
        "body": "To=%2B4915207930698&From=%2B13369019173&Body=Hello+World%21",
        "status": 201,
        "response": {
          "sid": "SMf64014960e8f40e9bc41f9f94a14f972",
          "date_created": "Fri, 05 Nov 2021 08:16:26 +0000",
          "date_updated": "Fri, 05 Nov 2021 08:16:26 +0000",
          "date_sent": null,
          "account_sid": "AC9f56b1cce8444dbd5699095b19e3a1bc",
          "to": "+4915207930698",
          "from": "+13369019173",
          "messaging_service_sid": null,
          "body": "Sent from your Twilio trial account - Hello World!",
          "status": "queued",
          "num_segments": "1",
          "num_media": "0",
          "direction": "outbound-api",
          "api_version": "2010-04-01",
          "price": null,
          "price_unit": "USD",
          "error_code": null,
          "error_message": null,
          "uri": "/2010-04-01/Accounts/AC9f56b1cce8444dbd5699095b19e3a1bc/Messages/SMf64014960e8f40e9bc41f9f94a14f972.json",
          "subresource_uris": {
            "media": "/2010-04-01/Accounts/AC9f56b1cce8444dbd5699095b19e3a1bc/Messages/SMf64014960e8f40e9bc41f9f94a14f972/Media.json"
          }
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "Twilio-Concurrent-Requests",
          "1",
          "Twilio-Request-Id",
          "RQ207e99f33671079264402f253f3babae",
          "Twilio-Request-Duration",
          "0.151",
          "X-Shenanigans",
          "none",
          "X-Home-Region",
          "us1",
          "X-API-Domain",
          "api.twilio.com"
        ],
        "responseIsBinary": false
      }
    ],
    "38dfc9918714c19665b0e24d97878c70": [
[...]
      {
        "scope": "https://api.twilio.com:443",
        "method": "GET",
        "path": "/2010-04-01/Accounts/PARAMS_accountSid/Messages/SM4a81e54d478f4ef281c77e3a6702a253.json",
        "body": "",
        "status": 200,
        "response": {
          "body": "Sent from your Twilio trial account - Hello World 2!",
          "num_segments": "1",
          "direction": "outbound-api",
          "from": "+13369019173",
          "date_updated": "Fri, 05 Nov 2021 08:16:26 +0000",
          "price": null,
          "error_message": null,
          "uri": "/2010-04-01/Accounts/AC9f56b1cce8444dbd5699095b19e3a1bc/Messages/SM4a81e54d478f4ef281c77e3a6702a253.json",
          "account_sid": "AC9f56b1cce8444dbd5699095b19e3a1bc",
          "num_media": "0",
          "to": "+4915207930698",
          "date_created": "Fri, 05 Nov 2021 08:16:26 +0000",
          "status": "sending",
          "sid": "SM4a81e54d478f4ef281c77e3a6702a253",
          "date_sent": null,
          "messaging_service_sid": null,
          "error_code": null,
          "price_unit": "USD",
          "api_version": "2010-04-01",
          "subresource_uris": {
            "media": "/2010-04-01/Accounts/AC9f56b1cce8444dbd5699095b19e3a1bc/Messages/SM4a81e54d478f4ef281c77e3a6702a253/Media.json",
            "feedback": "/2010-04-01/Accounts/AC9f56b1cce8444dbd5699095b19e3a1bc/Messages/SM4a81e54d478f4ef281c77e3a6702a253/Feedback.json"
          }
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "Last-Modified",
          "Fri, 05 Nov 2021 08:16:26 +0000",
          "Twilio-Concurrent-Requests",
          "1",
          "ETag",
          "6d0c1045c76412cedcf77e398dd55793",
          "Twilio-Request-Id",
          "RQb05e10036623e7f2661f5fada38bc177",
          "Twilio-Request-Duration",
          "0.041",
          "X-Shenanigans",
          "none",
          "X-Home-Region",
          "us1",
          "X-API-Domain",
          "api.twilio.com"
        ],
        "responseIsBinary": false
      }
    ]
  }
}