{
  "communication/send-sms/tyntec/SendMessage": {
    "d4ee7850b3e103b0910852144d1d0896": [
      {
        "scope": "https://api.tyntec.com:443",
        "method": "POST",
        "path": "/chat-api/v2/messages",
        "body": {
          "to": "+4915207930698",
          "channels": [
            "sms"
          ],
          "sms": {
            "from": "Tyntec APIs",
            "contentType": "text",
            "text": "Hello World!"
          }
        },
        "status": 202,
        "response": {
          "messageId": "26b01d7a-c59b-49b6-bba4-743ef84c0e17"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "X-TT-Upstream-Latency",
          "22",
          "X-TT-Proxy-Latency",
          "78"
        ],
        "responseIsBinary": false
      }
    ],
    "b89d7895cbd3fd903bdea47655e82b07": [
[...]
      {
        "scope": "https://api.tyntec.com:443",
        "method": "GET",
        "path": "/chat-api/v2/messages/23eb4d4a-bd24-41f6-86ed-1f7a74c986f9/history",
        "body": "",
        "status": 200,
        "response": {
          "messageId": "23eb4d4a-bd24-41f6-86ed-1f7a74c986f9",
          "history": [
            {
              "happendAt": "2021-11-05T09:00:29.598Z",
              "state": "message-accepted"
            },
            {
              "deliveryChannel": "sms",
              "happendAt": "2021-11-05T09:00:29.635Z",
              "state": "message-routing-success"
            },
            {
              "deliveryChannel": "sms",
              "happendAt": "2021-11-05T09:00:29.726Z",
              "state": "message-dispatching-success"
            }
          ]
        },
        "rawHeaders": [
          "Content-Type",
          "application/json",
          "X-TT-Upstream-Latency",
          "12",
          "X-TT-Proxy-Latency",
          "97"
        ],
        "responseIsBinary": false
      }
    ]
  }
}