[
  {
    "scope": "https://gitlab.com:443",
    "method": "GET",
    "path": "/api/v4/projects/Jakub-Vacek%2Fempty-test/merge_requests/9999",
    "body": "",
    "status": 404,
    "response": {
      "message": "404 Not found"
    },
    "rawHeaders": [
      "Thu, 04 Nov 2021 09:36:46 GMT",
      "Content-Type",
      "application/json",
      "27",
      "close",
      "no-cache",
      "01FKN4XM036W2MQ1AYRYHDPDCC",
      "0.031871",
      "RateLimit-Observed",
      "8",
      "RateLimit-Remaining",
      "1992",
      "RateLimit-Reset",
      "1636018666",
      "RateLimit-ResetTime",
      "Thu, 04 Nov 2021 09:37:46 GMT",
      "RateLimit-Limit",
      "2000",
      "GitLab-LB",
      "fe-13-lb-gprd",
      "GitLab-SV",
      "localhost",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000",
      "nosniff",
      "cloudflare",
      "6a8cdc1f6f96412b-PRG"
    ],
    "responseIsBinary": false
  }
]