[
  {
    "scope": "https://gitlab.com:443",
    "method": "GET",
    "path": "/api/v4/projects/Jakub-Vacek%2Fempty-test/merge_requests/1",
    "body": "",
    "status": 404,
    "response": {
      "message": "404 Project Not Found"
    },
    "rawHeaders": [
      "Fri, 05 Nov 2021 09:11:13 GMT",
      "Content-Type",
      "application/json",
      "35",
      "close",
      "no-cache",
      "nosniff",
      "SAMEORIGIN",
      "01FKQNVJ9H6ES06RTZN3KGX42H",
      "0.021284",
      "RateLimit-Observed",
      "7",
      "RateLimit-Remaining",
      "1993",
      "RateLimit-Reset",
      "1636103533",
      "RateLimit-ResetTime",
      "Fri, 05 Nov 2021 09:12:13 GMT",
      "RateLimit-Limit",
      "2000",
      "GitLab-LB",
      "fe-04-lb-gprd",
      "GitLab-SV",
      "localhost",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000",
      "cloudflare",
      "6a94f4148b4d4131-PRG"
    ],
    "responseIsBinary": false
  }
]