[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "GET",
    "path": "/v2/socialActions/urn:li:activity:6922116551575752704/comments",
    "body": "",
    "status": 200,
    "response": {
      "paging": {
        "start": 0,
        "count": 10,
        "links": [],
        "total": 0
      },
      "elements": []
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "Content-Type",
      "application/json",
      "x-restli-protocol-version",
      "1.0.0",
      "68",
      "Thu, 12 May 2022 09:21:02 GMT",
      "X-Li-Fabric",
      "prod-lva1",
      "X-Li-Source-Fabric",
      "prod-ltx1",
      "X-Li-Pop",
      "prod-ltx1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXezROf9jLvEHvl9d9+pw==",
      "bcookie=\"v=2&9a3a0fec-2ba5-433a-85ff-641bcd019f4b\"; Domain=.linkedin.com; Expires=Sat, 11-May-2024 20:58:34 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NTIzNDcyNjI7MjswMjHfz7kCkXlTUCBbP6WmLm2SN/rJea3J/nllK7tGcyeMWA==; Domain=.linkedin.com; Expires=Wed, 01 May 2024 19:13:23 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=VB00:s=V:r=V:a=V:p=V:g=5836:u=79:x=1:i=1652347262:t=1652432706:v=2:sig=AQHSreeAY4WMAEsB_K1341dfsz2hmnbu\"",
      "X-LI-Route-Key",
      "\"b=VB00:s=V:r=V:a=V:p=V:g=5836:u=79:x=1:i=1652347262:t=1652432706:v=2:sig=AQHSreeAY4WMAEsB_K1341dfsz2hmnbu\""
    ],
    "responseIsBinary": false
  }
]