[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "GET",
    "path": "/v2/socialActions/urn:li:activity:6905096044615405568/comments?count=10&start=0",
    "body": "",
    "status": 200,
    "response": {
      "paging": {
        "start": 0,
        "count": 10,
        "links": [],
        "total": 2
      },
      "elements": [
        {
          "actor": "urn:li:organization:81974063",
          "created": {
            "actor": "urn:li:organization:81974063",
            "impersonator": "urn:li:person:DT2dEpUrPf",
            "time": 1652352261767
          },
          "lastModified": {
            "actor": "urn:li:organization:81974063",
            "impersonator": "urn:li:person:DT2dEpUrPf",
            "time": 1652352261767
          },
          "id": "6930467700934590464",
          "$URN": "urn:li:comment:(urn:li:activity:6905096044615405568,6930467700934590464)",
          "message": {
            "attributes": [],
            "text": "rabbit"
          },
          "content": [
            {
              "type": "IMAGE",
              "entity": {
                "digitalmediaAsset": "urn:li:digitalmediaAsset:D4D2CAQF8T4WJR2Ic0g"
              },
              "url": "https://media-exp1.licdn.com/dms/image/D4D2CAQF8T4WJR2Ic0g/comment-image-shrink_8192_480/0/1652352261211?e=1654128000&v=beta&t=S2a7J9jSkNALElWuad-svJRFJlH90iU-AcFIrttiMhg"
            }
          ],
          "object": "urn:li:activity:6905096044615405568"
        },
        {
          "actor": "urn:li:organization:81974063",
          "created": {
            "actor": "urn:li:organization:81974063",
            "impersonator": "urn:li:person:DT2dEpUrPf",
            "time": 1652352009384
          },
          "lastModified": {
            "actor": "urn:li:organization:81974063",
            "impersonator": "urn:li:person:DT2dEpUrPf",
            "time": 1652352009384
          },
          "id": "6930466642367774720",
          "$URN": "urn:li:comment:(urn:li:activity:6905096044615405568,6930466642367774720)",
          "message": {
            "attributes": [],
            "text": "cats"
          },
          "likesSummary": {
            "selectedLikes": [
              "urn:li:like:(urn:li:company:81974063,urn:li:comment:(urn:li:activity:6905096044615405568,6930466642367774720))"
            ],
            "aggregatedTotalLikes": 1,
            "likedByCurrentUser": false,
            "totalLikes": 1
          },
          "object": "urn:li:activity:6905096044615405568"
        }
      ]
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "Content-Type",
      "application/json",
      "x-restli-protocol-version",
      "1.0.0",
      "1514",
      "Thu, 12 May 2022 13:44:29 GMT",
      "X-Li-Fabric",
      "prod-lva1",
      "X-Li-Source-Fabric",
      "prod-ltx1",
      "X-Li-Pop",
      "prod-ltx1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXe0MHOgpTbTv/POdJSzQ==",
      "bcookie=\"v=2&00d4000a-1437-4ad6-8b09-92a149fbacc2\"; Domain=.linkedin.com; Expires=Sun, 12-May-2024 01:22:01 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NTIzNjMwNjk7MjswMjGNE88xJdKlZVBQUM58v9Rg/6ba7Ezj53J/gTdZ7EIUdA==; Domain=.linkedin.com; Expires=Wed, 01 May 2024 18:30:18 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=VB00:s=V:r=V:a=V:p=V:g=5836:u=79:x=1:i=1652363069:t=1652432706:v=2:sig=AQH5NrFNyBJCbykTst8PhSClnjmg-1jy\"",
      "X-LI-Route-Key",
      "\"b=VB00:s=V:r=V:a=V:p=V:g=5836:u=79:x=1:i=1652363069:t=1652432706:v=2:sig=AQH5NrFNyBJCbykTst8PhSClnjmg-1jy\""
    ],
    "responseIsBinary": false
  }
]