[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/17841450841275119/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F0%2F09%2FSitta-carolinensis-001.jpg&caption=Test+media+publishing+from+Superface+Station.",
    "body": "",
    "status": 200,
    "response": {
      "id": "17943154441778581"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AaRnnQFYLp3hAOji7v9J6nW",
      "AY5HWBKesik",
      "1004957443",
      "gGhbMABrLoF3GKWbIEHvbcoWakUrGTOCus7jMwpVtXXhHg+HI7RxDi/XtKo8y+ADziah5vndNYLWjPSVTcsS4Q==",
      "Thu, 20 Jan 2022 07:57:47 GMT",
      "u=3,i",
      "h3=\":443\"; ma=3600, h3-29=\":443\"; ma=3600",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/17841450841275119/media_publish?creation_id=17943154441778581",
    "body": "",
    "status": 200,
    "response": {
      "id": "18031358569334558"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AvZ5Uokq7fTrpI2QpYqErN0",
      "BsJoBKoEgf4",
      "1004957443",
      "UWhvw52IjUTB52u/pvGHK9nfY6bYOzRB8xikaE/XYjk/yfRsNjwZikpDwqWX0tMWZeVtv30mp5/Awqm/aVQbZg==",
      "Thu, 20 Jan 2022 07:57:51 GMT",
      "u=3,i",
      "h3=\":443\"; ma=3600, h3-29=\":443\"; ma=3600",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v12.0/18031358569334558?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CY8b90TKY1S/",
      "id": "18031358569334558"
    },
    "rawHeaders": [
      "ETag",
      "\"02b067d7b8332a478c179d1b07134d4699acaa91\"",
      "Content-Type",
      "application/json",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AccKxGRsbAsT0F3RcGtTeJR",
      "Aof/RRIvEIS",
      "1004956910",
      "W3bVHPsEPEL008/yixOxdwbJr/6VmC+G5OAx3D69qCduotkEnViiugyN2ObN0XbIEngV2XnX8S7uT946cHgMVw==",
      "Thu, 20 Jan 2022 07:57:51 GMT",
      "h3=\":443\"; ma=3600, h3-29=\":443\"; ma=3600",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]