[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/17841450841275119/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F0%2F09%2FSitta-carolinensis-001.jpg&caption=Test+media+publishing+from+Superface+Station.",
    "body": "",
    "status": 200,
    "response": {
      "id": "17981603449498852"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "ArpkhGJzdbuW2K0AfX-Y6fV",
      "B9CyL3HPdRr",
      "1005354385",
      "b1y51zHA549uW+wRUMxTmT/3UCi8wIWr+5YEF3iFRA3AZeimqXrjyDUPDaWDfM56ZjVsGHIOBhLijwTTSIVSbQ==",
      "Thu, 14 Apr 2022 15:27:21 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/17841450841275119/media_publish?creation_id=17981603449498852",
    "body": "",
    "status": 200,
    "response": {
      "id": "17918417666257115"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "ADbMOG0OlYMQ4F-GwvDa1-V",
      "EWREBGL8ulo",
      "1005354385",
      "vSojBHCZ3t8NTMD/fqeLwX3ZaRMlcvamUCqc3IR6k2eKmUcjV8anmm1Fd0opo6RAOPTTmFfytCjJiuPThuoGCg==",
      "Thu, 14 Apr 2022 15:27:24 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v12.0/17918417666257115?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CcViL6Bq67O/",
      "id": "17918417666257115"
    },
    "rawHeaders": [
      "ETag",
      "\"858595846de1672b9d0965d0ea9b9e6ed851f91e\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AqjFo4t6sdNSDOo6H-vRzA9",
      "HI4L2SQ6S3M",
      "1005354385",
      "zcIq8qVsCLweLMKRg1khlQ21Ka/aXqzCVQTz6moThrX5hHUEs2mXu4OEoqTjyT6jB85Z138xwpUuq6JGVx+7aQ==",
      "Thu, 14 Apr 2022 15:27:25 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]