[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/17841450841275119/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F0%2F09%2FSitta-carolinensis-001.jpg&caption=Test+media+publishing+from+Superface+Station.",
    "body": "",
    "status": 200,
    "response": {
      "id": "17915683058304972"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AEpEcEk8qgwK9eUZpSLAHMX",
      "CYAr2m5gORI",
      "1005354385",
      "BK+ExzhXhZEBLYKW633ar1Un9KaOuHavVlxYMbiVqijfWgmv6pjOvV/ilYP1k/wNgx5mSD94K1pgrSKtE04JFw==",
      "Thu, 14 Apr 2022 14:53:05 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/17841450841275119/media_publish?creation_id=17915683058304972",
    "body": "",
    "status": 200,
    "response": {
      "id": "17874096131670746"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AVao_IAaNYyT0DLDjwf7nX_",
      "CoWIye2qf6e",
      "1005354264",
      "Utbx6ejNYX15H1hOeRS0zLOLyC/loLbJsMJNistfpitkkKFiWc9jTCtVAi7DCodsYvPyx/NTqMHKlJZtAn3G7w==",
      "Thu, 14 Apr 2022 14:53:09 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v12.0/17874096131670746?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CcVeRFhq21i/",
      "id": "17874096131670746"
    },
    "rawHeaders": [
      "ETag",
      "\"e95636ff06aab13134c43b9366f7af32d774e182\"",
      "Content-Type",
      "application/json",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AMtPba2JX2A9R9dQtRUkXaV",
      "AOD+MXrQjwA",
      "1005354385",
      "KXIUkv63QfbUJZ4nsgqzeBgmdIo+wp8Vglin4MY+Tf2L1HQ1qoSTSgk6mE8wMkg4igq3zg5kA0jFkextZ9kvjQ==",
      "Thu, 14 Apr 2022 14:53:09 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]