[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=17952174199986251",
    "body": "",
    "status": 200,
    "response": {
      "id": "17921650568575301"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AhKlFF9J8H6rwMXQ6W97hW4",
      "GVTA2z7LG1X",
      "1006155584",
      "A4MmbRY6UUkcBEbNv55+z/HNLEWMBN1NB4qSFL7eLYIpemjO0FPVmhgAFKGu1xJUZq9k/f3V7RmpE/BXBJtvrg==",
      "Wed, 07 Sep 2022 14:33:19 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/17921650568575301?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CiNYCGHK1N4/",
      "id": "17921650568575301"
    },
    "rawHeaders": [
      "ETag",
      "\"94355fcdc505996b4e63fd05fbdc356f96a52564\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "A1Ubb02_Psl4ET1Kki3lz1n",
      "CTx7SKOrX6A",
      "1006155584",
      "HUjtpJr+OwucZliZg0PZRR+mnKXynwmLNRJhhkPtK1vzZn03j+6xTGks72W5Hx9dEwHvN9YCDJ+A1FvVmEmBEw==",
      "Wed, 07 Sep 2022 14:33:20 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]