[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=17944248500128615",
    "body": "",
    "status": 200,
    "response": {
      "id": "17957350709060432"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "Ar_0tWSUrSk9OF0X_mhfAXx",
      "CgyPc9uyh4x",
      "1006251251",
      "lDvHaVI5nWnJf11t1HPX0jNOdZLq3hmnKQ7TRhWTpjiDVg2/MvcfA/H+kk8YA7MYrBbtTwa5NJTYpLvu/V+xuA==",
      "Thu, 22 Sep 2022 15:23:58 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/17957350709060432?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/reel/Ci0FuMbKuJ7/",
      "id": "17957350709060432"
    },
    "rawHeaders": [
      "ETag",
      "\"893b4576791ce9ed8b6f970719fc1ffdcfba4071\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "Ar7ki8rdFDOByEtdPE-hLw8",
      "EW8QMQagetG",
      "1006251251",
      "wqVXQUkAT3YH9oNYgHm+JTDanq7lf773mQ/+wp7EsgL3jzYVhbJ4ahGEO9jZzvikf85Q1SV2B1QCEXiBu0mHOg==",
      "Thu, 22 Sep 2022 15:23:59 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "89"
    ],
    "responseIsBinary": false
  }
]