[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/17841450841275119/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F0%2F09%2FSitta-carolinensis-001.jpg&caption=Test+media+publishing+from+Superface+Station.",
    "body": "",
    "status": 200,
    "response": {
      "id": "17956571809709688"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "Aw41PLGxKGpJbMaZXRMsG-b",
      "D+ua4WHh5Ks",
      "1005354385",
      "FFz3eUNhaqucFwR1ad2e42h1XsUGo0vtJcr+5llWRTzYdTNrRvYXqt94OKvnUZYRmi9+7avDRsJXmDHRxdDRNA==",
      "Thu, 14 Apr 2022 15:16:33 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/17841450841275119/media_publish?creation_id=17956571809709688",
    "body": "",
    "status": 200,
    "response": {
      "id": "18087839620292055"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "ATmKlYvbbYB9HwNvTX4rvTp",
      "FjlRDOb6aZY",
      "1005354264",
      "Lx8l5QNI4t/+xcN2MSknrNvNFmay+z2533GMKM5qMONeH1SXksjn7LpYvNCEaWY+Yy8XYuLs7V5WOtknz+Psgg==",
      "Thu, 14 Apr 2022 15:16:36 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v12.0/18087839620292055?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CcVg83aqg6m/",
      "id": "18087839620292055"
    },
    "rawHeaders": [
      "ETag",
      "\"53c670928ad3c25f40a48170162225ea796d4460\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AIOiOmdJhJamEXPny-gCGQY",
      "AP7ZWY+o9B0",
      "1005354385",
      "NnpssHH/Buqfq+ChitQVZXDevOtcM/sbsz9NWZ0XijbYnOu7/TfqXtw52OA49seJjGPMrh9AYsNcqf4ToKSYxA==",
      "Thu, 14 Apr 2022 15:16:36 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]