[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=17950244213157265",
    "body": "",
    "status": 200,
    "response": {
      "id": "17881946546670638"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "ArkEeV5BmBlHOuRmvQiQc33",
      "A9PdE3U0bQQ",
      "1006164866",
      "KLvAShudNGcn+p5Qv/CA3dBx8nRWc7nV/i7wUywqw/Ui+inOWi8uXzz6kWNl9Ojt3mIehbJjudNHgatEWjsHjQ==",
      "Thu, 08 Sep 2022 16:29:28 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/17881946546670638?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/reel/CiQKFvVKMfb/",
      "id": "17881946546670638"
    },
    "rawHeaders": [
      "ETag",
      "\"1ea551c0b5b5fe848a77d49aac6d30b0c69bbb45\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AWi1azxatME5BgCBGijZYIz",
      "BknyQDf9ylP",
      "1006165276",
      "i+ocSiYDpLoLIHny0fQmGnkwkH45l1B8xaJorQj1nBjYFpcNFqzLe9c+j3W+3f7RP3WR4R8eB0tZQyqo9YZASw==",
      "Thu, 08 Sep 2022 16:29:28 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "89"
    ],
    "responseIsBinary": false
  }
]