[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=17953314143089493",
    "body": "",
    "status": 200,
    "response": {
      "id": "17901378965653697"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AgDcnO8bGwhejdrj4RgEQfi",
      "EJp/0A33MvH",
      "1006155584",
      "63OKWMRnISRqtjSFuR9hRg0OYQ6/+vsZ65h2PRf0fmV+kKIcfWG7gKgZnPczO7Sbn1zvcgDJQN390nIVnXRfwA==",
      "Wed, 07 Sep 2022 14:20:13 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/17901378965653697?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CiNWf4gqh_E/",
      "id": "17901378965653697"
    },
    "rawHeaders": [
      "ETag",
      "\"067d1414bf4080358e8a3a62bc9484f36df5ca01\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AKxFP1BsUhRRFwYtQ3lwsmp",
      "EtbQrJyDkVH",
      "1006155584",
      "uGhW7cBXgfg2mhnqxnTwIJpzEdvmGW5MsIFxjr+Qi790wYBOSbtUkowZ9owpqgltxKjXzVWO6ZVdhFkkqAmPWA==",
      "Wed, 07 Sep 2022 14:20:13 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]