[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fb%2Fb5%2FBloem_van_een_Astrantia_major_%2527Roma%2527._24-06-2021_%2528actm.%2529_01.jpg%2F960px-Bloem_van_een_Astrantia_major_%2527Roma%2527._24-06-2021_%2528actm.%2529_01.jpg&is_carousel_item=true",
    "body": "",
    "status": 200,
    "response": {
      "id": "17931401468234972"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AzjZm6EwYJlijrNj5BDZkCa",
      "Hjq1/2H6vn6",
      "1005895111",
      "qVFGso8TQijEh7SSKUvbAafYmH2tOiJDglPwBddV9J9Nx6rsFaZBEEzIfUcE+X2TJh7euzleAWFTs7IXviGYrw==",
      "Fri, 22 Jul 2022 19:20:20 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F0%2F09%2FSitta-carolinensis-001.jpg&is_carousel_item=true",
    "body": "",
    "status": 200,
    "response": {
      "id": "17938910873241210"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "A8kRtLG-1WJf8qqMLgpL8zj",
      "E/SVflNDHxb",
      "1005895111",
      "+6jXR7CEOg1Jz6B03XXdNns/nFCrOUaGCxR8y9S7a208XFLepkpICP34buWd0NBFwc4AMGx4ptgCnNq2m6kBTQ==",
      "Fri, 22 Jul 2022 19:20:22 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media?caption=Carousel+post+from+Superface+Station.&media_type=CAROUSEL&children=%5B%2217931401468234972%22%2C%2217938910873241210%22%5D",
    "body": "",
    "status": 200,
    "response": {
      "id": "17964475606774245"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AkTQqsyeutkLog2PNC9NvWv",
      "EhkdNSqoSR1",
      "1005895111",
      "fzrQCGeDEUvBM43qXF27TKa8tLiX8BslG2CLOGyXW6XEpbyc4QCGZVQoUAyJrY34K3CvCA7Ic3jClL5OBPJ34g==",
      "Fri, 22 Jul 2022 19:20:25 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=17964475606774245",
    "body": "",
    "status": 200,
    "response": {
      "id": "18219205078144675"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AvUpqI4jo2hiM0aAeTQjoo1",
      "HMgvWudtvhV",
      "1005895111",
      "6K78blsMxbKGtIyc0jMqOY04WeBuopMJt4Obxm+riBbPNVus/DiYKIjGf2cNf3HKAp2meFwcQNpAsfIm81giNA==",
      "Fri, 22 Jul 2022 19:20:27 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/18219205078144675?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CgU3j4ftpdn/",
      "id": "18219205078144675"
    },
    "rawHeaders": [
      "ETag",
      "\"8c455ad4dbe19ed971cbd13aab9807d2e27ee8e6\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AoLS6BpUz_fNjOyqreM1cP_",
      "B5dSzUM6LoY",
      "1005895111",
      "xnN8Y6j6jOU9tnicUnasnaYoHgZ3ateqZwTWKUEl3ijRxmrKI3O7xXPkoRayfOjOWV9LyibM3jLbDiTqTjSbSQ==",
      "Fri, 22 Jul 2022 19:20:27 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]