[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=17933650889306168",
    "body": "",
    "status": 200,
    "response": {
      "id": "17949132197290443"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "ANXUsI_Z6fCe_0ZSrQotySe",
      "EQrKinECFkf",
      "1006173205",
      "xdWo4ftvesH9inQEhtirahznNTJlwnJLxcfyUNIlAWQID3HMbfasazWNRcki9NntsYushWo3wbKseMU6U3m/WA==",
      "Fri, 09 Sep 2022 17:37:19 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/17949132197290443?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CiS2qe5tXYn/",
      "id": "17949132197290443"
    },
    "rawHeaders": [
      "ETag",
      "\"aae412d9398f729647cd24b10a6f25706665d301\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AI-6yulfq3OEFsaJs7378EU",
      "CfzOXpZshu1",
      "1006173205",
      "bHfkMk82sk6I0EV3vwrpvuwlNablxfFbjvl+3LgnTW6yUw6WKlOinYsm2iuMS5dme9ds9a3Wvw1LjszVsaSsGA==",
      "Fri, 09 Sep 2022 17:37:19 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]