[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=17873072687761945",
    "body": "",
    "status": 200,
    "response": {
      "id": "17872934387765074"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AjuPJWoBvMsTeBnY30sEL6d",
      "Ee1WjoCwJRM",
      "1006251251",
      "SXXSuFn5oDe0SeNrsZ0r8yjM/ruTAwx7pTxYSf+mTTGF+OrvR5DpI3PdJZgpfkN6vv/BA03KFnJQDn4lApNv9g==",
      "Thu, 22 Sep 2022 15:23:14 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/17872934387765074?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/Ci0Fp2WKFEd/",
      "id": "17872934387765074"
    },
    "rawHeaders": [
      "ETag",
      "\"b3ecac21b73b3304fabbb0886218bc0c3f8c40d4\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "Ah8aLvZUTF8jvQSnqWt-2Qx",
      "G/Z6rgnwhmk",
      "1006251251",
      "m9evtuaEzih1fVJIc3aHpEa/gzcwOqux5TMQHlaia6OXieRWdKQlkGFU/+wH6v1HBzvPvLE3Wk8nvqoE4BpcNQ==",
      "Thu, 22 Sep 2022 15:23:15 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]