[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=17985138253529188",
    "body": "",
    "status": 200,
    "response": {
      "id": "17934169565396380"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AiEypos3TvIGev86P6YEgbU",
      "CgtcF9RVGgf",
      "1006145250",
      "Ctumd5bKseVZbJdWJQMIzD+7iw+M/W9yxJkK72cRXxGECN0TGefobUUyii2QI594xPpnfZf3zFfTRMn7qjhMJw==",
      "Tue, 06 Sep 2022 18:15:39 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/17934169565396380?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CiLMrsEqAYE/",
      "id": "17934169565396380"
    },
    "rawHeaders": [
      "ETag",
      "\"acbe3495614b1fcf90bdf5c8c991a26b034a661d\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AdIdIb1MFsDY2NQKDVaAXp_",
      "EU5LDRcsLok",
      "1006145250",
      "mH89rkJa/qpzQdRxnvUdjw+nAe09In7VqyQ4GcMCL9p5AvzsR0+2VNg1N1OVyd1pDYu0/01PEZOB0b83ReKbyQ==",
      "Tue, 06 Sep 2022 18:15:39 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]