[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F0%2F09%2FSitta-carolinensis-001.jpg&caption=Test+media+publishing+from+Superface+Station.",
    "body": "",
    "status": 200,
    "response": {
      "id": "18145195246261154"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "A8W7Q_oi3iPLvRtTtufhtsq",
      "A/ydF7mBn/j",
      "1005895111",
      "V/zpAG8V4wRjzW48kq9vlKBntj2RnJqhpdd5MxbfjVgtc7JEbnq2lpK4m6BFoOqiwArW/NEwexPu+5f9XwLmIQ==",
      "Fri, 22 Jul 2022 18:46:09 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=18145195246261154",
    "body": "",
    "status": 200,
    "response": {
      "id": "17949466961029747"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AtqornxmwSx-4w4bZg4iLgq",
      "Ee59H7ywVbJ",
      "1005895111",
      "2MVzrkS3A0Wh2/wWTDjqZvSJ19mTsnSAfUOrPiJuLyCOSB6hAGA1Lnd/jWw73yNz/eadg+/rnv2KmKUMgJ6pKQ==",
      "Fri, 22 Jul 2022 18:46:11 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/17949466961029747?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CgUzo9DNHno/",
      "id": "17949466961029747"
    },
    "rawHeaders": [
      "ETag",
      "\"031d631478b196c06bf12bf462290346c576a4ea\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "ALX-qgx94A0XTfWaeSB64F4",
      "C88QGpN6Z3y",
      "1005895111",
      "+r5wEgmoym9SEi8yQdIc69KxGmxhtmi8BuHUkJKAs4MddqFt/S4J+GnpaUYFv8gv+/KD3T/BkGPEpfHQUiJw6A==",
      "Fri, 22 Jul 2022 18:46:12 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]