[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F0%2F09%2FSitta-carolinensis-001.jpg&caption=Single+post+from+Superface+Station.",
    "body": "",
    "status": 200,
    "response": {
      "id": "18017539678410998"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "Ako2CWBdBYRljtmhrVmenzu",
      "FWBUlFLuB1Z",
      "1005895111",
      "WMegvDOND2h4sAUvoDd4vAnYkNK0uc/7lrQIubBNPsO9FbbkMFckmUMTAEqq3hcuB8AF4b6OH/BhYHq/BPsh0A==",
      "Fri, 22 Jul 2022 19:20:14 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=18017539678410998",
    "body": "",
    "status": 200,
    "response": {
      "id": "17903829641624005"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AJxmk8PkXKRv6WD2b6srx7e",
      "DoLcZ3O8lKE",
      "1005895111",
      "KgO8i6pHTKle60swBRBwYVEjRvLZ/7c+kpFxwstoT6MYHsOZGixmEVs0g9halfWOlh0YwhFFgJ0DGumGjQUI+w==",
      "Fri, 22 Jul 2022 19:20:16 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/17903829641624005?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CgU3ilsNGN8/",
      "id": "17903829641624005"
    },
    "rawHeaders": [
      "ETag",
      "\"496e64a655e72538c8d2d3172de32560234b6b54\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "A-qdP_VoSRYGKM193YwaE7g",
      "G6bQRuJXV5O",
      "1005895111",
      "agFdvcejdHmTMXSkAsjXSDS4xaNvCRkannUcjiANMnEC6N9hcY3/dhqqlZ6y+581O3lxZlx2+nyaziRNNgz7vg==",
      "Fri, 22 Jul 2022 19:20:16 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]