[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=17974427638683999",
    "body": "",
    "status": 200,
    "response": {
      "id": "18213091378088633"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AFGSb8vsNUiwooOBrrCKF9R",
      "GA2JtHyFBA6",
      "1006164866",
      "bS1ro56K2Lf4zdG4LipB8lMlWkQ7UJ/ufP4SW6GNIDZnEuooQ/+nNDNYJPu1ER2YNs1M//a+h5TWp/ex7fz0Og==",
      "Thu, 08 Sep 2022 16:28:41 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/18213091378088633?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CiQKArFKp4E/",
      "id": "18213091378088633"
    },
    "rawHeaders": [
      "ETag",
      "\"34156873eea57fe01ce2558342753869b3c399db\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AGkhBICGOD9vt1iWt8URSGv",
      "Bqc1dYYCuK5",
      "1006164866",
      "DWG/jDLZTnvFqhIStUrXlWlBI3WjgmwJUscJdxEvhjWyU+gD8TEhsevx+J/MgqxD8xC+YgzXT4qKMWFmTLYtFg==",
      "Thu, 08 Sep 2022 16:28:41 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]