[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=17928162404359628",
    "body": "",
    "status": 200,
    "response": {
      "id": "18314393020023853"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "Ai9_dEQwzFQOoQtAFualB5u",
      "CqLoh+UEvKl",
      "1006155584",
      "tqC7pfPf4dT3yw104uHg+3l+1UMYlKDwzpeaD+zZhPHkAO6aEhSamDdOWDM81Q4de1vzOboLDdhRc6CxgDWLVw==",
      "Wed, 07 Sep 2022 14:34:00 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/18314393020023853?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/reel/CiNYFgTK3CI/",
      "id": "18314393020023853"
    },
    "rawHeaders": [
      "ETag",
      "\"e277d76c7ddcb3b70085783ce91292194d3cd6bb\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AAocZAlhYYhm_ouya2JCp22",
      "DCVWu6+AqcW",
      "1006155584",
      "Zio1KcvqfoE9/XtRopq6ETTIdUy6HlqRfrjZMn06z2Cvxgzwg/+Qofn1YzgjpZaGBYxErbp02Rt45UIPfzYAtA==",
      "Wed, 07 Sep 2022 14:34:01 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "89"
    ],
    "responseIsBinary": false
  }
]