[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/17841450841275119/media?image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F0%2F09%2FSitta-carolinensis-001.jpg&caption=Test+media+publishing+from+Superface+Station.",
    "body": "",
    "status": 200,
    "response": {
      "id": "17892037976610473"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AQbCJUsXCTmzkh7-valFVFD",
      "CBrJibQe051",
      "1005354385",
      "oPzlLrfp94w6ZMRnHmkUdAdbBpxs5vMHXmCXytfk/dT72zDQbUDdMpElhJYJTzVoe09qBv6mYq3QpXEPSe4FWg==",
      "Thu, 14 Apr 2022 15:41:50 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v12.0/17841450841275119/media_publish?creation_id=17892037976610473",
    "body": "",
    "status": 200,
    "response": {
      "id": "17926446668245635"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "All9heKdFYccTxNoPZIWgbk",
      "Dhh1a6ExfbV",
      "1005354385",
      "JtzLmcVQ7lSZ2vxwQz/mPBRzojrWs+guAkDu78/hRF04J+6shgu7PeI5FRH+Avs5AST3dD5736xN22E02AeHLQ==",
      "Thu, 14 Apr 2022 15:41:53 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v12.0/17926446668245635?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/p/CcVj2DGKcnl/",
      "id": "17926446668245635"
    },
    "rawHeaders": [
      "ETag",
      "\"fb314beeb63dd00603775bc7c7571e9c4332c780\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AXyyMDcqKe6e6drqO8Or4HS",
      "Dx/FFXmfzvW",
      "1005354385",
      "3gVhDrVnbRVmzuZw44Z5OEM9IXtK59RURGCfij6iDU1msW/dqtHKBWdO0u0fjOFpF07uUT5ZfdfwnfHyzkIayA==",
      "Thu, 14 Apr 2022 15:41:53 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "86"
    ],
    "responseIsBinary": false
  }
]