[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media_publish?creation_id=17950798184136322",
    "body": "",
    "status": 200,
    "response": {
      "id": "18243350563184704"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AC-wUBOXjOzbjxgowb6HAwP",
      "CDVPxLFyZ8w",
      "1006173205",
      "7utOu4aLHCOvSUFzexhx8ImXURPqZmK5qGEt0X27E8MiqRU8ObZuJa+rBbtDV+NbTA2gUR47Fjn6aPp8W4QU6g==",
      "Fri, 09 Sep 2022 17:38:11 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v14.0/18243350563184704?fields=permalink",
    "body": "",
    "status": 200,
    "response": {
      "permalink": "https://www.instagram.com/reel/CiS2vkVtyAe/",
      "id": "18243350563184704"
    },
    "rawHeaders": [
      "ETag",
      "\"2741154906540dd97ff6aac4790ab87327af6895\"",
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AyspwWoFT7fmxRY0DLvEj1d",
      "CWZ0nVDAcd9",
      "1006173660",
      "I+NX0H7DpEQ+4J517QCy6DZWMHc2DON1s+L58zN66ljw4TbJwnn1vxrVZjY1itU15my5YfXzEozWySETfDna9g==",
      "Fri, 09 Sep 2022 17:38:11 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "89"
    ],
    "responseIsBinary": false
  }
]