[
  {
    "scope": "https://api.ipbase.com:443",
    "method": "GET",
    "path": "/v2/info?ip=256.256.256.256",
    "body": "",
    "status": 422,
    "response": {
      "message": "The ip must be a valid IP address.",
      "errors": {
        "ip": [
          "The ip must be a valid IP address."
        ]
      }
    },
    "rawHeaders": [
      "Fri, 06 May 2022 08:36:25 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "no-cache, private",
      "*",
      "X-RateLimit-Limit-quota-minute",
      "10",
      "X-RateLimit-Remaining-quota-minute",
      "9",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=ldEz7EJDSUCo14SFiYNBvomYzpiA%2BDjVDXOulXKSN2onmmcB9ClMixWULdRZAtBCjnXHo5AbnfcDSWC%2FVCSP%2B6b03pRjk0rRYxln637AjWfYmk7kSkMeue6ro%2FNbsELH5g%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "cloudflare",
      "707063580dd37457-LHR",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]