[
  {
    "scope": "https://slack.com:443",
    "method": "GET",
    "path": "/api/conversations.list?exclude_archived=true&limit=4&types=public_channel",
    "body": "",
    "status": 200,
    "response": {
      "ok": true,
      "channels": [
        {
          "id": "CF34EJ4HF",
          "name": "business-plan",
          "is_channel": true,
          "is_group": false,
          "is_im": false,
          "is_mpim": false,
          "is_private": false,
          "created": 1546167104,
          "is_archived": false,
          "is_general": false,
          "unlinked": 0,
          "name_normalized": "business-plan",
          "is_shared": false,
          "is_org_shared": false,
          "is_pending_ext_shared": false,
          "pending_shared": [],
          "context_team_id": "TF3U3G65B",
          "parent_conversation": null,
          "creator": "UF4PRBHL7",
          "is_ext_shared": false,
          "shared_team_ids": [
            "TF3U3G65B"
          ],
          "pending_connected_team_ids": [],
          "is_member": true,
          "topic": {
            "value": "",
            "creator": "",
            "last_set": 0
          },
          "purpose": {
            "value": "",
            "creator": "",
            "last_set": 0
          },
          "previous_names": [],
          "num_members": 2
        },
        {
          "id": "CF3H7S63W",
          "name": "random",
          "is_channel": true,
          "is_group": false,
          "is_im": false,
          "is_mpim": false,
          "is_private": false,
          "created": 1546167104,
          "is_archived": false,
          "is_general": false,
          "unlinked": 0,
          "name_normalized": "random",
          "is_shared": false,
          "is_org_shared": false,
          "is_pending_ext_shared": false,
         [...]
