[
  {
    "scope": "https://api.postmarkapp.com:443",
    "method": "POST",
    "path": "/email",
    "body": {
      "From": "invalidemail",
      "To": "invalidemail",
      "Subject": "",
      "TextBody": "",
      "Attachments": null
    },
    "status": 422,
    "response": {
      "ErrorCode": 300,
      "Message": "Error parsing 'To': Illegal email address 'invalidemail'. It must contain the '@' symbol."
    },
    "rawHeaders": [
      "content-type",
      "application/json; charset=utf-8",
      "x-postmark-account",
      "220280",
      "x-postmark-server",
      "8386826"
    ],
    "responseIsBinary": false
  }
]