[
  {
    "scope": "https://discord.com:443",
    "method": "POST",
    "path": "/api/channels/938614740995960844/messages",
    "body": {
      "content": "Test 4"
    },
    "status": 200,
    "response": {
      "id": "1014466827394498640",
      "type": 0,
      "content": "Test 4",
      "channel_id": "938614740995960844",
      "author": {
        "id": "935958634016419920",
        "username": "TestApp",
        "avatar": null,
        "avatar_decoration": null,
        "discriminator": "7207",
        "public_flags": 0,
        "bot": true
      },
      "attachments": [],
      "embeds": [],
      "mentions": [],
      "mention_roles": [],
      "pinned": false,
      "mention_everyone": false,
      "tts": false,
      "timestamp": "2022-08-31T09:28:59.533000+00:00",
      "edited_timestamp": null,
      "flags": 0,
      "components": [],
      "referenced_message": null
    },
    "rawHeaders": [
      "Wed, 31 Aug 2022 09:28:59 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "__dcfduid=57fa7188290f11ed9ee6fe4b83168ecb; Expires=Mon, 30-Aug-2027 09:28:59 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=57fa7188290f11ed9ee6fe4b83168ecbc7bde28e9974134912aa6eacc824e27abc4bd57fd5ca862db5e81288bfe6dada; Expires=Mon, 30-Aug-2027 09:28:59 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "a06de0de4a08126315431cc0c55ee3dc",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "1",
      "x-ratelimit-reset",
      "1661938143",
      "x-ratelimit-reset-after",
      "4",
      "gzip",
      "67",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=lrYMaNbYpsep4VMno%2BZ0xURHolMzX%2Bk0wA4tkGbZjrMFLyiSJslUCfh7Ognqr5%2BAChIxhtq0puDUBhe3lxbmNstnn3P1YQ%2FVRp26SacPxda12mJsy7W8hboybowX\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "7434bd3b68f7fca1-VIE"
    ],
    "responseIsBinary": false
  }
]