[
  {
    "scope": "https://discord.com:443",
    "method": "POST",
    "path": "/api/channels/938614740995960844/messages",
    "body": {
      "content": "Test 1"
    },
    "status": 200,
    "response": {
      "id": "1014466820947857408",
      "type": 0,
      "content": "Test 1",
      "channel_id": "938614740995960844",
      "author": {
        "id": "935958634016419920",
        "username": "TestApp",
        "avatar": null,
        "avatar_decoration": null,
        "discriminator": "7207",
        "public_flags": 0,
        "bot": true
      },
      "attachments": [],
      "embeds": [],
      "mentions": [],
      "mention_roles": [],
      "pinned": false,
      "mention_everyone": false,
      "tts": false,
      "timestamp": "2022-08-31T09:28:57.996000+00:00",
      "edited_timestamp": null,
      "flags": 0,
      "components": [],
      "referenced_message": null
    },
    "rawHeaders": [
      "Wed, 31 Aug 2022 09:28:58 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "__dcfduid=570fec1c290f11ed865f6a1d55d064f0; Expires=Mon, 30-Aug-2027 09:28:58 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=570fec1c290f11ed865f6a1d55d064f03ad1aebe6cf4e001cf4a53b3b044ae84c275958fc4d15e61fefd6be9b333f1e3; Expires=Mon, 30-Aug-2027 09:28:58 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "a06de0de4a08126315431cc0c55ee3dc",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1661938143",
      "x-ratelimit-reset-after",
      "5",
      "gzip",
      "70",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=arnyw0at8rE%2Fwl9HvbDZFS0g%2BNlsHLHXtMBrCXbYmGa3gDovZfEgHfTHNXMWY9bzQ9b3I%2FCwwzfr%2FOYKc7Il9sXeKYzuu%2FwxGUplQB9Y1mCXYBDSZ4k1Y2bIIy2U\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "7434bd31df9fc2f0-VIE"
    ],
    "responseIsBinary": false
  }
]