[
  {
    "scope": "https://discord.com:443",
    "method": "POST",
    "path": "/api/channels/000000000000000000/messages",
    "body": {
      "content": "test"
    },
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Fri, 11 Feb 2022 08:13:53 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=8cd885f18b1211ec8d9d42010a0a038f; Expires=Wed, 10-Feb-2027 08:13:53 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=8cd885f18b1211ec8d9d42010a0a038f2ec4c6b99ce13fbe9a61cb19a1501561968e1cdd14f128bdcda773a746b18944; Expires=Wed, 10-Feb-2027 08:13:53 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "a06de0de4a08126315431cc0c55ee3dc",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1644567239",
      "x-ratelimit-reset-after",
      "5",
      "20",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=QYcQWnN6ZE8BJWrM21%2BEwgth88xvdSQKxa8b1zEhxniwJe9jvPWTTex%2Fc1khjfBU7M%2FrBj87snhhAsCsu73DIVJfDCBz6sumgIhS6mv0IYjm2OwTaOSV3iA2rkt%2B\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "6dbc1eda2fce4137-PRG"
    ],
    "responseIsBinary": false
  }
]