[
  {
    "scope": "https://discord.com:443",
    "method": "POST",
    "path": "/api/channels/938614740995960844/messages",
    "body": {
      "content": "Test 3"
    },
    "status": 200,
    "response": {
      "id": "1014466825184083978",
      "type": 0,
      "content": "Test 3",
      "channel_id": "938614740995960844",
      "author": {
        "id": "935958634016419920",
        "username": "TestApp",
        "avatar": null,
        "avatar_decoration": null,
        "discriminator": "7207",
        "public_flags": 0,
        "bot": true
      },
      "attachments": [],
      "embeds": [],
      "mentions": [],
      "mention_roles": [],
      "pinned": false,
      "mention_everyone": false,
      "tts": false,
      "timestamp": "2022-08-31T09:28:59.006000+00:00",
      "edited_timestamp": null,
      "flags": 0,
      "components": [],
      "referenced_message": null
    },
    "rawHeaders": [
      "Wed, 31 Aug 2022 09:28:59 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "__dcfduid=57aa4956290f11ed8930b6bf100c5887; Expires=Mon, 30-Aug-2027 09:28:59 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=57aa4956290f11ed8930b6bf100c5887cede5da0dc3a9a45aba7ac754d68dc17ea7838e278d0a96c031561b61b4ee676; Expires=Mon, 30-Aug-2027 09:28:59 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "a06de0de4a08126315431cc0c55ee3dc",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "2",
      "x-ratelimit-reset",
      "1661938143",
      "x-ratelimit-reset-after",
      "5",
      "gzip",
      "81",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=0rFACBln15%2FLHYyEQYKyTTrYOR2dD15zRNiUjIcwZSsOBQZdzj5RM%2FONufaLRk2xmF21bmQAeezY8b%2BCryssk08hW0vDQV98mm7VuZXEYwkad3KkQgruVg7DLoBP\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "7434bd381fd8c2c5-VIE"
    ],
    "responseIsBinary": false
  }
]