[
  {
    "scope": "https://discord.com:443",
    "method": "POST",
    "path": "/api/channels/000000000000000000/messages",
    "body": {
      "content": "test"
    },
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Fri, 04 Feb 2022 11:03:28 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=14203c3785aa11ec9ff442010a0a06f9; Expires=Wed, 03-Feb-2027 11:03:28 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=14203c3785aa11ec9ff442010a0a06f9c2c8c8d5f5a8831e8456fbafce724c030af48230f060ae4bc6b054e168273bb9; Expires=Wed, 03-Feb-2027 11:03:28 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "a06de0de4a08126315431cc0c55ee3dc",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1643972614",
      "x-ratelimit-reset-after",
      "5",
      "15",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=81xjr4NCX138eAXWcFNQtkhftzlN4nJgFnh60lGP85gsphwZpZvtrNgq1ogM0wg%2FmaeKrwX3dLSV%2BFgB%2BQtlvizFVrBcZoN16CNY0SOIWPNzgRqSfkUIxKJUA1AL\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "6d8369a2cf7f4114-PRG"
    ],
    "responseIsBinary": false
  }
]