[
  {
    "scope": "https://discord.com:443",
    "method": "POST",
    "path": "/api/channels/938614740995960844/messages",
    "body": {
      "content": "Test 2"
    },
    "status": 200,
    "response": {
      "id": "1014466823305039893",
      "type": 0,
      "content": "Test 2",
      "channel_id": "938614740995960844",
      "author": {
        "id": "935958634016419920",
        "username": "TestApp",
        "avatar": null,
        "avatar_decoration": null,
        "discriminator": "7207",
        "public_flags": 0,
        "bot": true
      },
      "attachments": [],
      "embeds": [],
      "mentions": [],
      "mention_roles": [],
      "pinned": false,
      "mention_everyone": false,
      "tts": false,
      "timestamp": "2022-08-31T09:28:58.558000+00:00",
      "edited_timestamp": null,
      "flags": 0,
      "components": [],
      "referenced_message": null
    },
    "rawHeaders": [
      "Wed, 31 Aug 2022 09:28:58 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "__dcfduid=5768f0dc290f11edb105a26617486ddf; Expires=Mon, 30-Aug-2027 09:28:58 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=5768f0dc290f11edb105a26617486ddfb6e821716fd8fb4e5083becec0abe9f77dc44a317dc8e4ec694c7c28c19fffee; Expires=Mon, 30-Aug-2027 09:28:58 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "a06de0de4a08126315431cc0c55ee3dc",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "3",
      "x-ratelimit-reset",
      "1661938143",
      "x-ratelimit-reset-after",
      "5",
      "gzip",
      "140",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=IpXaDoIDBdFr0baUleAQkOjWhnHrY6h4fCAJMN4cSLEKUzQ6a8YfBHeZsFwciLOFoZS%2FBwoKVN8w%2BVfbI6NSvOfYl5qNzV8QogL3Tum1Sp5MN%2BEmjWyS9QM06fOg\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "7434bd350ce5c306-VIE"
    ],
    "responseIsBinary": false
  }
]