[
  {
    "scope": "https://discord.com:443",
    "method": "POST",
    "path": "/api/channels/938614740995960844/messages",
    "body": {
      "content": "Test 5"
    },
    "status": 200,
    "response": {
      "id": "1014466829466488922",
      "type": 0,
      "content": "Test 5",
      "channel_id": "938614740995960844",
      "author": {
        "id": "935958634016419920",
        "username": "TestApp",
        "avatar": null,
        "avatar_decoration": null,
        "discriminator": "7207",
        "public_flags": 0,
        "bot": true
      },
      "attachments": [],
      "embeds": [],
      "mentions": [],
      "mention_roles": [],
      "pinned": false,
      "mention_everyone": false,
      "tts": false,
      "timestamp": "2022-08-31T09:29:00.027000+00:00",
      "edited_timestamp": null,
      "flags": 0,
      "components": [],
      "referenced_message": null
    },
    "rawHeaders": [
      "Wed, 31 Aug 2022 09:29:00 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "__dcfduid=584ab968290f11ed99adbe42f734c3dd; Expires=Mon, 30-Aug-2027 09:29:00 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=584ab968290f11ed99adbe42f734c3dd8462a4d45d233d7a7e577fc44e49540b4e9267275355a5c200180fad606d06e7; Expires=Mon, 30-Aug-2027 09:29:00 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "a06de0de4a08126315431cc0c55ee3dc",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "0",
      "x-ratelimit-reset",
      "1661938143",
      "x-ratelimit-reset-after",
      "3",
      "gzip",
      "122",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=IEC08dEaxDXYW2Zw49mUjgZEIQXLKwKR8w1RCdqbCVye%2FWJlBetBVSw7%2FYeLerkz9lHE9juKAvM2wmPfCZCRwmZWXfT9jLJD413KxM88rS%2F4uO87pKLewxFLCFAP\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "7434bd3e5878cba0-VIE"
    ],
    "responseIsBinary": false
  }
]