{
  "prepare-social-media/publishing-profiles/instagram/GetProfilesForPublishing": {
    "abec4f0962fcfa6e4fc6a88d06622f5c": [
      {
        "scope": "https://graph.facebook.com:443",
        "method": "GET",
        "path": "/v12.0/me/accounts?access_token=PARAMS_accessToken&fields=id%2Cinstagram_business_account",
        "body": "",
        "status": 200,
        "response": {
          "data": [
            {
              "id": "110658944785122",
              "instagram_business_account": {
                "id": "17841450841275119"
              }
            }
          ],
          "paging": {
            "cursors": {
              "before": "MTEwNjU4OTQ0Nzg1MTIy",
              "after": "MTEwNjU4OTQ0Nzg1MTIy"
            }
          }
        },
        "rawHeaders": [
          "ETag",
          "\"afaab171dbd40a3c9faa3c458721cdb0c5b06a68\"",
          "Content-Type",
          "application/json",
          "x-business-use-case-usage",
          "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
          "0",
          "*",
          "facebook-api-version",
          "v14.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "AXUfZ3ecpnNu8i0tPudukf-",
          "BFk8ayiU7LW",
          "1006251251",
          "Mz225KjGrIo6umNU/wwjhYLL8RjzCme9tRKaeXtYJFrv44Co8aObStw9YuAzTAHapETKVc4Pi5NFxH2Ro2Bu7A==",
          "Thu, 22 Sep 2022 15:23:42 GMT",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "177"
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://graph.facebook.com:443",
        "method": "GET",
        "path": "/v13.0/110658944785122?fields=instagram_business_account%7Bid%2Cname%2Cusername%2Cprofile_picture_url%7D&access_token=PARAMS_accessToken",
        "body": "",
        "status": 200,
        "response": [
          "1f8b080000000000000365905d4f83301885ff8ae9055703fad296161262d832bfeecce6e60c4903a503d415a44589c6ff6e34bbf3f23ce7b938395fa833d695cd589e6435d9ce686b65a9543f1987d22fd4d52845c00505cab0a010[...]
[...]
      {
        "scope": "https://graph.facebook.com:443",
        "method": "POST",
        "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fdownload.samplelib.com%2Fmp4%2Fsample-5s.mp4&video_url=https%3A%2F%2Fdownload.samplelib.com%2Fmp4%2Fsample-5s.mp4&caption=Single+video+from+Superface+Station.&media_type=VIDEO",
        "body": "",
        "status": 200,
        "response": {
          "id": "17873072687761945"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=UTF-8",
          "x-business-use-case-usage",
          "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
          "0",
          "*",
          "facebook-api-version",
          "v14.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "AdSjcL4sRisTi7yUjvWepPI",
          "F/eyZ4oaqoM",
          "1006251251",
          "bMjKVtyh3wwPnpgPhrcOjkZFJFqZzqthmHGPg/fZQzMeLu7GVCsJRZRqrPbVJcUt/vpGj0A7sX0SUMEihwmdRQ==",
          "Thu, 22 Sep 2022 15:22:39 GMT",
          "u=3,i",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "26"
        ],
        "responseIsBinary": false
      }
    ],
    "4c7de6588e89657e4f8d24eb1fa6a9af": [
      {
        "scope": "https://graph.facebook.com:443",
        "method": "POST",
        "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fassets.mixkit.co%2Fvideos%2Fdownload%2Fmixkit-waves-in-the-water-1164.mp4&video_url=https%3A%2F%2Fassets.mixkit.co%2Fvideos%2Fdownload%2Fmixkit-waves-in-the-water-1164.mp4&caption=Single+reel+from+Superface+Station.&media_type=REELS",
        "body": "",
        "status": 200,
        "response": {
          "id": "17944248500128615"
       [...]
      {
        "scope": "https://graph.facebook.com:443",
        "method": "GET",
        "path": "/17873072687761945?fields=status%2Cstatus_code&access_token=PARAMS_accessToken",
        "body": "",
        "status": 200,
        "response": {
          "status": "Finished: Media has been uploaded and it is ready to be published.",
          "status_code": "FINISHED",
          "id": "17873072687761945"
        },
        "rawHeaders": [
          "ETag",
          "\"c3ed15da5b86f480f08ef673f569ca2c9cc69ccb\"",
          "Content-Type",
          "application/json; charset=UTF-8",
          "cross-origin",
          "x-app-usage",
          "{\"call_count\":49,\"total_cputime\":0,\"total_time\":20}",
          "0",
          "*",
          "facebook-api-version",
          "v14.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "AFPHOYO5pmIxhk6aOkbaKDT",
          "BgHkz7ZuEsg",
          "1006251251",
          "txeJwHfvAYgIzjW1XsfqIdXf9KIa3Loy8jrsuTGPntV8ab8UBHAbJ+1phwhf8eYixO0U7TtWhDKrqK6xbCknEg==",
          "Thu, 22 Sep 2022 15:23:05 GMT",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "129"
        ],
        "responseIsBinary": false
      }
    ],
    "f716da99d7d6179846aa993ef13f5599": [
[...]
      {
        "scope": "https://graph.facebook.com:443",
        "method": "POST",
        "path": "/v14.0/17841450841275119/media_publish?creation_id=17873072687761945",
        "body": "",
        "status": 200,
        "response": {
          "id": "17872934387765074"
        },
        "rawHeaders": [
          "Content-Type",
          "application/json; charset=UTF-8",
          "x-business-use-case-usage",
          "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
          "0",
          "*",
          "facebook-api-version",
          "v14.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "AjuPJWoBvMsTeBnY30sEL6d",
          "Ee1WjoCwJRM",
          "1006251251",
          "SXXSuFn5oDe0SeNrsZ0r8yjM/ruTAwx7pTxYSf+mTTGF+OrvR5DpI3PdJZgpfkN6vv/BA03KFnJQDn4lApNv9g==",
          "Thu, 22 Sep 2022 15:23:14 GMT",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "26"
        ],
        "responseIsBinary": false
      },
      {
        "scope": "https://graph.facebook.com:443",
        "method": "GET",
        "path": "/v14.0/17872934387765074?fields=permalink",
        "body": "",
        "status": 200,
        "response": {
          "permalink": "https://www.instagram.com/p/Ci0Fp2WKFEd/",
          "id": "17872934387765074"
        },
        "rawHeaders": [
          "ETag",
          "\"b3ecac21b73b3304fabbb0886218bc0c3f8c40d4\"",
          "Content-Type",
          "application/json; charset=UTF-8",
          "x-business-use-case-usage",
          "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
          "0",
          "*",
          "facebook-api-version",
          "v14.0",
          "max-age=15552000; preload",
          "no-cache",
          "private, no-cache, no-store, must-revalidate",
          "Sat, 01 Jan 2000 00:00:00 GMT",
          "Ah8aLvZUTF8jvQSnqWt-2Qx",
          "G/Z6rgnwhmk",
          "1006251251",
          "m9evtuaEzih1fVJIc3aHpEa/gzcwOqux5TMQHlaia6OXieRWdKQlkGFU/+wH6v1HBzvPvLE3Wk8nvqoE4BpcNQ==",
          "Thu, 22 Sep 2022 15:23:15 GMT",
          "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
          "close",
          "86"
        ],
        "responseIsBinary": false
      }
    ],
    "0d2d386fa690fcf3d7be674ee2cf5ff9": [
[...]
