[
  {
    "scope": "https://api.github.com:443",
    "method": "GET",
    "path": "/repos/superfaceai/astexplorer/pulls/3",
    "body": "",
    "status": 403,
    "response": {
      "message": "API rate limit exceeded for 78.80.97.139. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)",
      "documentation_url": "https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "X-GitHub-Media-Type",
      "github.v3; format=json",
      "X-RateLimit-Limit",
      "60",
      "X-RateLimit-Remaining",
      "0",
      "X-RateLimit-Reset",
      "1635957191",
      "X-RateLimit-Resource",
      "core",
      "X-RateLimit-Used",
      "60"
    ],
    "responseIsBinary": false
  },
[...]
