{
  "recruitment/list-companies/breezy-hr/ListCompanies": {
    "14e108a63ea9dc1483457e8ff2615149": [
      {
        "scope": "https://api.breezy.hr:443",
        "method": "GET",
        "path": "/v3/companies",
        "body": "",
        "status": 200,
        "response": [
          {
            "_id": "PARAMS_COMPANY_ID",
            "name": "Superface demo",
            "friendly_id": "superface2",
            "creation_date": "2022-12-07T13:43:08.399Z",
            "updated_date": "2022-12-08T09:41:48.076Z",
            "member_count": 0,
            "initial": "SD"
          }
        ],
        "rawHeaders": [
          "Tue, 20 Dec 2022 14:48:39 GMT",
          "Content-Type",
          "application/json; charset=utf-8",
          "194",
          "close",
          "nginx/1.22.0",
          "Redstone",
          "X-RateLimit-Limit",
          "100",
          "X-RateLimit-Remaining",
          "99",
          "X-RateLimit-Reset",
          "1671547780",
          "ETag",
          "W/\"c2-BxVzhjJoDVInrphjTkTRS2ux2Xw\""
        ],
        "responseIsBinary": false
      }
    ]
  }
}