[
  {
    "scope": "https://atlas.microsoft.com:443",
    "method": "GET",
    "path": "/search/address/json?api-version=1.0&query=++++&subscription-key=SECURITY_subscription-key",
    "body": "",
    "status": 400,
    "response": {
      "error": {
        "code": "400 BadRequest",
        "message": "query is missing or empty"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "x-ms-azuremaps-region",
      "West Europe"
    ],
    "responseIsBinary": false
  }
]