[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/channels/000000000000000000/messages",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Thu, 10 Feb 2022 12:38:31 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=59da2a378a6e11eca5a542010a0a0699; Expires=Tue, 09-Feb-2027 12:38:31 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=59da2a378a6e11eca5a542010a0a0699f180aa58c2ad1f30d3b5c08458cfed02a8c3d9b279f228529856a370b2c2251e; Expires=Tue, 09-Feb-2027 12:38:31 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "fccc1d589e71dd6f0c55fde9faa2838d",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1644496717",
      "x-ratelimit-reset-after",
      "5",
      "33",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=uCoU6zeqLwwqb3LTxHhn781FxyafJ6mekqcLHVr3uU99XO9fH24E4eAiDSeeXNzuNKZSxLpXFHqkx0abzBhtEfissHSp7Dk%2FazmNhLxPMCLGABfH%2FRk5L21f%2Fpsb\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "6db5651e4d72f9d2-PRG"
    ],
    "responseIsBinary": false
  }
]