[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/channels/000000000000000000/messages",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Thu, 17 Feb 2022 10:04:16 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=f65646d48fd811eca48142010a0a0709; Expires=Tue, 16-Feb-2027 10:04:16 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=f65646d48fd811eca48142010a0a070991e524a6a8bf9debbf7609f6b27b22a3a54407c2b2ac86063920936ab2f84c73; Expires=Tue, 16-Feb-2027 10:04:16 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "fccc1d589e71dd6f0c55fde9faa2838d",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1645092262",
      "x-ratelimit-reset-after",
      "5",
      "13",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=m%2BiqtK%2Ff3mjb%2BCyG5vDBjZbnS2U0GI8zX76PbNrqWUAQPia9wQ073UdUYog7SODiRA4cMSyn90vV0co4Y7JKb%2FUeYwW%2FQ7gbSdtgbVs0kQWsZ6oRtlC5bWYt7HtS\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "6dee30cbfcf127c0-PRG"
    ],
    "responseIsBinary": false
  }
]