[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/channels/000000000000000000/messages",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Tue, 07 Jun 2022 12:52:25 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=ae18082ee66011ec864d929935b1c213; Expires=Sun, 06-Jun-2027 12:52:25 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=ae18082ee66011ec864d929935b1c213b5b825a054792db8f3bc26ce60efb81eaa644523928fe354eb91d1cdb976c26e; Expires=Sun, 06-Jun-2027 12:52:25 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "fccc1d589e71dd6f0c55fde9faa2838d",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1654606351",
      "x-ratelimit-reset-after",
      "5",
      "43",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=30eyG8pj1mroGJrq0BCq86tm30Uu7q6AY%2BXHKyJ%2F6qlx2qxMacALVnWRfkjw021Ne4s1E04scnny5WtbLBeFGfbeGtODTwPuePCCr5mWiCLR%2BwvIRyMuElpRWhzy\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "71798659ea022798-PRG"
    ],
    "responseIsBinary": false
  }
]