[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/channels/000000000000000000/messages",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Tue, 27 Sep 2022 08:11:35 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=01316acc3e3c11ed9a571e7d54c3a08c; Expires=Sun, 26-Sep-2027 08:11:35 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "fccc1d589e71dd6f0c55fde9faa2838d",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1664266301",
      "x-ratelimit-reset-after",
      "5",
      "23",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=fvhR3nJMrUVsXTWjchR1yYicpf%2BI4LxexSoGdsVzBVuLAzruz%2Bfef783l%2FWQRpGETll%2BYP%2BmxL6UOJEoa1M1YMj2kwvmeP43Q2DdwmbqSmFMSwBcxl1z9n8zWGuW\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "__sdcfduid=01316acc3e3c11ed9a571e7d54c3a08c9c4bde7f50116441bd0187e9bb24befba30a6fd60451ed826248001ddb8a4365; Expires=Sun, 26-Sep-2027 08:11:35 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__cfruid=c8bf4fa2ef4947c4f4fee85331c85fb5e716756f-1664266295; path=/; domain=.discord.com; HttpOnly; Secure; SameSite=None",
      "cloudflare",
      "7512c4fbccb0b386-PRG"
    ],
    "responseIsBinary": false
  }
]