[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/channels/000000000000000000/messages",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Wed, 23 Mar 2022 13:13:52 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=15e7dd36aaab11ec89b1f60c6e251ac7; Expires=Mon, 22-Mar-2027 13:13:52 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "fccc1d589e71dd6f0c55fde9faa2838d",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1648041238",
      "x-ratelimit-reset-after",
      "5",
      "21",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "__sdcfduid=15e7dd36aaab11ec89b1f60c6e251ac765ed7f7ff679d673d6d58d5e229b58cf6faefc70060a05618e8d4f7f23828fad; Expires=Mon, 22-Mar-2027 13:13:52 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=VACE2C%2B6Gvn5c2QDBlxPCZTLym4BCl%2FNwmL3CqfjH0AMHUMdAXxY5HJs9bXTzNtDBmoLpGbXXL0dQVTrpO40WuK4hUlwsCcUL6nMlpXhhcstfH8zSiCy2MZk4DRR\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "6f076d46bfe877ef-VIE"
    ],
    "responseIsBinary": false
  }
]