[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/channels/000000000000000000/messages",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Wed, 17 Aug 2022 14:43:48 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=00d42c7a1e3b11ed80e252ab439a5692; Expires=Mon, 16-Aug-2027 14:43:48 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=00d42c7a1e3b11ed80e252ab439a56929089344d882d66af60755529991801ba974aa475405883d78d3326e067c318a7; Expires=Mon, 16-Aug-2027 14:43:48 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "fccc1d589e71dd6f0c55fde9faa2838d",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1660747434",
      "x-ratelimit-reset-after",
      "5",
      "40",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=ZRhcnjkPRqaXAdK5e7M34zF3GLIiFHDt2TocWJCUwsh3VOCRIj0Nsz9lqrIw%2BKUWvHxVK5bjOO8SE5YS6AoKgyFWbqJxKXWEeqiasHIOQ9la%2B2rqxzgftWMPXkWw\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "73c32f22dd70c214-VIE"
    ],
    "responseIsBinary": false
  }
]