[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/channels/938614740995960844/messages?before=INPUT_page&limit=2",
    "body": "",
    "status": 200,
    "response": [
      {
        "id": "1014467150775341086",
        "type": 0,
        "content": "Test 2",
        "channel_id": "938614740995960844",
        "author": {
          "id": "935958634016419920",
          "username": "TestApp",
          "avatar": null,
          "avatar_decoration": null,
          "discriminator": "7207",
          "public_flags": 0,
          "bot": true
        },
        "attachments": [],
        "embeds": [],
        "mentions": [],
        "mention_roles": [],
        "pinned": false,
        "mention_everyone": false,
        "tts": false,
        "timestamp": "2022-08-31T09:30:16.633000+00:00",
        "edited_timestamp": null,
        "flags": 0,
        "components": []
      },
      {
        "id": "1014467147956756511",
        "type": 0,
        "content": "Test 1",
        "channel_id": "938614740995960844",
        "author": {
          "id": "935958634016419920",
          "username": "TestApp",
          "avatar": null,
          "avatar_decoration": null,
          "discriminator": "7207",
          "public_flags": 0,
          "bot": true
        },
        "attachments": [],
        "embeds": [],
        "mentions": [],
        "mention_roles": [],
        "pinned": false,
        "mention_everyone": false,
        "tts": false,
        "timestamp": "2022-08-31T09:30:15.961000+00:00",
        "edited_timestamp": null,
        "flags": 0,
        "components": []
      }
    ],
    "rawHeaders": [
      "Wed, 31 Aug 2022 09:30:19 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "__dcfduid=87cfd6be290f11ed8e45220ed5b73d05; Expires=Mon, 30-Aug-2027 09:30:19 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=87cfd6be290f11ed8e45220ed5b73d05ffbaeb703320ad26c85bad8b5c3422d3a2b0649a5fd9cd153d9d9c0c530580ea; Expires=Mon, 30-Aug-2027 09:30:19 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "fccc1d589e71dd6f0c55fde9faa2838d",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "3",
      "x-ratelimit-reset",
      "1661938225",
      "x-ratelimit-reset-after",
      "5",
      "gzip",
      "56",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=ebzBllVilKRhbjSStAOTxMRcdd1kQHYTmvhlm9vn4csFM3qGWgv8NDi8P8R%2BSjK%2FKktcNkWQ81n8zLGeLJtq1DtBMeWoxzuYHFfWrvHr9PhFWJNTEAjaWo8DO9xH\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "7434bf312bf6c282-VIE"
    ],
    "responseIsBinary": false
  }
]