[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/channels/938614740995960844/messages?limit=3",
    "body": "",
    "status": 200,
    "response": [
      {
        "id": "1014470432730120282",
        "type": 0,
        "content": "Test 5",
        "channel_id": "938614740995960844",
        "author": {
          "id": "935958634016419920",
          "username": "TestApp",
          "avatar": null,
          "avatar_decoration": null,
          "discriminator": "7207",
          "public_flags": 0,
          "bot": true
        },
        "attachments": [],
        "embeds": [],
        "mentions": [],
        "mention_roles": [],
        "pinned": false,
        "mention_everyone": false,
        "tts": false,
        "timestamp": "2022-08-31T09:43:19.112000+00:00",
        "edited_timestamp": null,
        "flags": 0,
        "components": []
      },
      {
        "id": "1014470430091919401",
        "type": 0,
        "content": "Test 4",
        "channel_id": "938614740995960844",
        "author": {
          "id": "935958634016419920",
          "username": "TestApp",
          "avatar": null,
          "avatar_decoration": null,
          "discriminator": "7207",
          "public_flags": 0,
          "bot": true
        },
        "attachments": [],
        "embeds": [],
        "mentions": [],
        "mention_roles": [],
        "pinned": false,
        "mention_everyone": false,
        "tts": false,
        "timestamp": "2022-08-31T09:43:18.483000+00:00",
        "edited_timestamp": null,
        "flags": 0,
        "components": []
      },
      {
        "id": "1014470427046854706",
        "type": 0,
        "content": "Test 3",
        "channel_id": "938614740995960844",
        "author": {
          "id": "935958634016419920",
          "username": "TestApp",
          "avatar": null,
          "avatar_decoration": null,
          "discriminator": "7207",
          "public_flags": 0,
          "bot": true
        },
        "attachments": [],
        "embeds": [],
        "mentions": [],
        "mention_roles": [],
        "pinned": false,
        "mention_everyone": false,
        "tts": false,
        "timestamp": "2022-08-31T09:43:17.757000+00:00",
        "edited_timestamp": null,
        "flags": 0,
        "components": []
      }
    ],
    "rawHeaders": [
      "Wed, 31 Aug 2022 09:43:19 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "__dcfduid=58ac0aea291111ed930112136b79f3aa; Expires=Mon, 30-Aug-2027 09:43:19 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=58ac0aea291111ed930112136b79f3aa50b2e2d98a6d75df85dfc2e2f519ab1fc6a7f088143613c4939c826c678e7d87; Expires=Mon, 30-Aug-2027 09:43:19 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "fccc1d589e71dd6f0c55fde9faa2838d",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1661939005",
      "x-ratelimit-reset-after",
      "5",
      "gzip",
      "42",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=6rJ%2BVJOp8Cn2K9DKs9l3trAFUDf6krjHmZR%2BRu%2BGyOcw7zx9WYTErNQReIfPP5bPEjGT8KnztK7zyG836JhpSL2S6dyb%2BDhRPZP5o5V26j0FRZUzHQD1OYOzIIXT\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "7434d23b8dcbc293-VIE"
    ],
    "responseIsBinary": false
  }
]