[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/channels/000000000000000000/messages",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Tue, 26 Jul 2022 15:47:05 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=333725980cfa11ed94e1d2616856c6f3; Expires=Sun, 25-Jul-2027 15:47:05 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=333725980cfa11ed94e1d2616856c6f3b6030b6b3e037e542001f0bf3efb86e978a4b416522ff29bc97b8af86d12b7fd; Expires=Sun, 25-Jul-2027 15:47:05 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "fccc1d589e71dd6f0c55fde9faa2838d",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1658850431",
      "x-ratelimit-reset-after",
      "5",
      "23",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=F0vcVuW2xcxiYV0s%2FgyKCI4DR6HVADx2YWe716NuPKGcxTKhWcniLGfi7gKEkWvmBloZ72enJqguGrprW7yLTMqvG%2FevPJ5KiX1i9dO7WGoDYKFUzec7cXCcz5a4\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "730e45993a17b327-PRG"
    ],
    "responseIsBinary": false
  }
]