[
  {
    "scope": "https://discord.com:443",
    "method": "GET",
    "path": "/api/channels/000000000000000000/messages",
    "body": "",
    "status": 404,
    "response": {
      "message": "Unknown Channel",
      "code": 10003
    },
    "rawHeaders": [
      "Thu, 10 Feb 2022 13:07:49 GMT",
      "Content-Type",
      "application/json",
      "45",
      "close",
      "__dcfduid=71cc423c8a7211ecb7dd42010a0a0687; Expires=Tue, 09-Feb-2027 13:07:49 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "__sdcfduid=71cc423c8a7211ecb7dd42010a0a0687b8b41a87f4ac2a9fbd44eb3365f64dbe2add04fb7f41f7154d10aa2608d01106; Expires=Tue, 09-Feb-2027 13:07:49 GMT; Max-Age=157680000; Secure; HttpOnly; Path=/",
      "max-age=31536000; includeSubDomains; preload",
      "x-ratelimit-bucket",
      "fccc1d589e71dd6f0c55fde9faa2838d",
      "x-ratelimit-limit",
      "5",
      "x-ratelimit-remaining",
      "4",
      "x-ratelimit-reset",
      "1644498475",
      "x-ratelimit-reset-after",
      "5",
      "29",
      "1.1 google",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=x%2BYHlkKDIYLDS%2F9dt%2Bz7j6vRzNLWRObGJSVZ6FdgUhOljZsYH0LqRe4mxVDZkDsQEeC3SDs39xCt8eHsc5EWvZ5MdC9Tt5b14r2WxJuMih5Tui4EWzI3oQaFvRWC\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
      "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
      "nosniff",
      "cloudflare",
      "6db590088fd827b4-PRG"
    ],
    "responseIsBinary": false
  }
]