[
  {
    "scope": "https://api.tyntec.com:443",
    "method": "POST",
    "path": "/chat-api/v2/messages",
    "body": {
      "to": "+4915207930698",
      "channels": [
        "sms"
      ],
      "sms": {
        "from": "Tyntec APIs",
        "contentType": "text",
        "text": "Hello World!"
      }
    },
    "status": 202,
    "response": {
      "messageId": "26b01d7a-c59b-49b6-bba4-743ef84c0e17"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-TT-Upstream-Latency",
      "22",
      "X-TT-Proxy-Latency",
      "78"
    ],
    "responseIsBinary": false
  }
]