[
  {
    "scope": "https://api.tyntec.com:443",
    "method": "POST",
    "path": "/chat-api/v2/messages",
    "body": {
      "to": "+4915207930698",
      "channels": [
        "sms"
      ],
      "sms": {
        "from": "+13369019173",
        "contentType": "text",
        "text": "Hello World 2! "
      }
    },
    "status": 202,
    "response": {
      "messageId": "23eb4d4a-bd24-41f6-86ed-1f7a74c986f9"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-TT-Upstream-Latency",
      "20",
      "X-TT-Proxy-Latency",
      "81"
    ],
    "responseIsBinary": false
  }
]