[
  {
    "scope": "https://api.twitter.com:443",
    "method": "POST",
    "path": "/2/tweets",
    "body": {
      "text": "Test from Superface Station."
    },
    "status": 201,
    "response": [
      "1f8b0800000000000000aa564a492c4954b2aa56ca4c51b2523234b130b630b63437323730330422336363251da592d48a12a064486a7189425a517eae427069416a515a6272aa4270496249667e9e9e526d2d000000ffff0300b70dec044b000000"
    ],
    "rawHeaders": [
      "Wed, 19 Jan 2022 16:32:14 UTC",
      "tsa_o",
      "location",
      "https://api.twitter.com/2/tweets/1483839727061061633",
      "guest_id_marketing=v1%3A164260993397575733; Max-Age=63072000; Expires=Fri, 19 Jan 2024 16:32:14 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "guest_id_ads=v1%3A164260993397575733; Max-Age=63072000; Expires=Fri, 19 Jan 2024 16:32:14 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "personalization_id=\"v1_Mpt2joJ9ZqMh01BLyJFUTQ==\"; Max-Age=63072000; Expires=Fri, 19 Jan 2024 16:32:14 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "guest_id=v1%3A164260993397575733; Max-Age=63072000; Expires=Fri, 19 Jan 2024 16:32:14 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "api-version",
      "2.34",
      "content-type",
      "application/json; charset=utf-8",
      "no-cache, no-store, max-age=0",
      "98",
      "x-access-level",
      "read-write",
      "SAMEORIGIN",
      "gzip",
      "0",
      "x-rate-limit-limit",
      "200",
      "x-rate-limit-reset",
      "1642610833",
      "content-disposition",
      "attachment; filename=json.json",
      "nosniff",
      "x-rate-limit-remaining",
      "199",
      "max-age=631138519",
      "x-response-time",
      "192",
      "x-connection-hash",
      "81cb7ea2701f87a9915132f80a808446c77f9b0ded34f27463567fa8d2237ef7",
      "close"
    ],
    "responseIsBinary": false
  }
]