[
  {
    "scope": "https://api.twitter.com:443",
    "method": "POST",
    "path": "/2/tweets",
    "body": {
      "text": "Test from Superface Station 7."
    },
    "status": 201,
    "response": [
      "1f8b0800000000000000aa564a492c4954b2aa56ca4c51b2523234b1303130b330b3b030343232373335363453d2512a49ad28014a86a4169728a415e5e72a049716a416a52526a72a0497249664e6e72998eb29d5d602000000ffff030094b94adb4d000000"
    ],
    "rawHeaders": [
      "Thu, 20 Jan 2022 07:42:02 UTC",
      "tsa_o",
      "location",
      "https://api.twitter.com/2/tweets/1484068688122765316",
      "guest_id_marketing=v1%3A164266452255045237; Max-Age=63072000; Expires=Sat, 20 Jan 2024 07:42:02 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "guest_id_ads=v1%3A164266452255045237; Max-Age=63072000; Expires=Sat, 20 Jan 2024 07:42:02 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "personalization_id=\"v1_Lhg7EEGFYJt1i0s/f7SbmA==\"; Max-Age=63072000; Expires=Sat, 20 Jan 2024 07:42:02 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "guest_id=v1%3A164266452255045237; Max-Age=63072000; Expires=Sat, 20 Jan 2024 07:42:02 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "api-version",
      "2.34",
      "content-type",
      "application/json; charset=utf-8",
      "no-cache, no-store, max-age=0",
      "102",
      "x-access-level",
      "read-write",
      "SAMEORIGIN",
      "gzip",
      "0",
      "x-rate-limit-limit",
      "200",
      "x-rate-limit-reset",
      "1642665422",
      "content-disposition",
      "attachment; filename=json.json",
      "nosniff",
      "x-rate-limit-remaining",
      "199",
      "max-age=631138519",
      "x-response-time",
      "180",
      "x-connection-hash",
      "1cdf01f9ffb2940238105071a266978a36872f8c572af90c630478a4122f6f2d",
      "close"
    ],
    "responseIsBinary": false
  }
]