[
  {
    "scope": "https://api.twitter.com:443",
    "method": "POST",
    "path": "/2/tweets",
    "body": {
      "text": "Test from Superface Station 7."
    },
    "status": 201,
    "response": [
      "1f8b0800000000000000aa564a492c4954b2aa56ca4c51b2523234b13031b030b034353235b1303736b2343650d2512a49ad28014a86a4169728a415e5e72a049716a416a52526a72a0497249664e6e72998eb29d5d602000000ffff03003d01b66e4d000000"
    ],
    "rawHeaders": [
      "Thu, 20 Jan 2022 08:30:46 UTC",
      "tsa_o",
      "location",
      "https://api.twitter.com/2/tweets/1484080952548732930",
      "guest_id_marketing=v1%3A164266744661591370; Max-Age=63072000; Expires=Sat, 20 Jan 2024 08:30:46 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "guest_id_ads=v1%3A164266744661591370; Max-Age=63072000; Expires=Sat, 20 Jan 2024 08:30:46 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "personalization_id=\"v1_fYIfzZ2TKnXqya86ChBCDg==\"; Max-Age=63072000; Expires=Sat, 20 Jan 2024 08:30:46 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "guest_id=v1%3A164266744661591370; Max-Age=63072000; Expires=Sat, 20 Jan 2024 08:30:46 GMT; Path=/; Domain=.twitter.com; Secure; SameSite=None",
      "api-version",
      "2.34",
      "content-type",
      "application/json; charset=utf-8",
      "no-cache, no-store, max-age=0",
      "102",
      "x-access-level",
      "read-write",
      "SAMEORIGIN",
      "gzip",
      "0",
      "x-rate-limit-limit",
      "200",
      "x-rate-limit-reset",
      "1642668231",
      "content-disposition",
      "attachment; filename=json.json",
      "nosniff",
      "x-rate-limit-remaining",
      "197",
      "max-age=631138519",
      "x-response-time",
      "190",
      "x-connection-hash",
      "880e41c941e89ae86d7a001770369c10924d06f626a639139e6ee9737d47cbb8",
      "close"
    ],
    "responseIsBinary": false
  }
]