[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fdownload.samplelib.com%2Fmp4%2Fsample-5s.mp4&video_url=https%3A%2F%2Fdownload.samplelib.com%2Fmp4%2Fsample-5s.mp4&caption=Single+video+from+Superface+Station.&media_type=VIDEO",
    "body": "",
    "status": 200,
    "response": {
      "id": "17953314143089493"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AU9DjizeULBbqr2u35eQRsa",
      "BNK+UGj9qtQ",
      "1006155584",
      "aQTud/AUYUBhpGjzh2XwGYzgmD0me0bxMv+6+qbuaGrxrDhxo2ooln/EWVcEgqFQdVckg63IxmT2sglZ2rI/WQ==",
      "Wed, 07 Sep 2022 14:19:27 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  }
]