[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "POST",
    "path": "/v14.0/17841450841275119/media?image_url=https%3A%2F%2Fassets.mixkit.co%2Fvideos%2Fdownload%2Fmixkit-waves-in-the-water-1164.mp4&video_url=https%3A%2F%2Fassets.mixkit.co%2Fvideos%2Fdownload%2Fmixkit-waves-in-the-water-1164.mp4&caption=Single+reel+from+Superface+Station.&media_type=REELS",
    "body": "",
    "status": 200,
    "response": {
      "id": "17928162404359628"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v14.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "A6xgvea4PNxNsH6opujQ8tt",
      "C6O1UV4id2J",
      "1006155584",
      "1m+PQYf0kFGDJrZub/og2JYAXegrGEVfvO8svrN3i6+oIdlaubQLQGe4+jKOu7KCL0Gg/BCW7wj7YhVVdpk10w==",
      "Wed, 07 Sep 2022 14:33:21 GMT",
      "u=3,i",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "26"
    ],
    "responseIsBinary": false
  }
]