{
  "starwars/character-information/swapi/RetrieveCharacterInformation": {
    "faefe072bbc475d144d04cff94f9d663": [
      {
        "scope": "https://swapi.dev:443",
        "method": "GET",
        "path": "/api/people/?search=Luke+Skywalker",
        "body": "",
        "status": 200,
        "response": {
          "count": 1,
          "next": null,
          "previous": null,
          "results": [
            {
              "name": "Luke Skywalker",
              "height": "172",
              "mass": "77",
              "hair_color": "blond",
              "skin_color": "fair",
              "eye_color": "blue",
              "birth_year": "19BBY",
              "gender": "male",
              "homeworld": "https://swapi.dev/api/planets/1/",
              "films": [
                "https://swapi.dev/api/films/1/",
                "https://swapi.dev/api/films/2/",
                "https://swapi.dev/api/films/3/",
                "https://swapi.dev/api/films/6/"
              ],
              "species": [],
              "vehicles": [
                "https://swapi.dev/api/vehicles/14/",
                "https://swapi.dev/api/vehicles/30/"
              ],
              "starships": [
                "https://swapi.dev/api/starships/12/",
                "https://swapi.dev/api/starships/22/"
              ],
              "created": "2014-12-09T13:50:51.644000Z",
              "edited": "2014-12-20T21:17:56.891000Z",
              "url": "https://swapi.dev/api/people/1/"
            }
          ]
        },
        "rawHeaders": [
          "nginx/1.16.1",
          "Thu, 04 Nov 2021 19:24:13 GMT",
          "Content-Type",
          "application/json",
          "chunked",
          "close",
          "SAMEORIGIN",
          "ETag",
          "\"6021e700215aa3d3e11540c3cc3179bb\"",
          "Allow",
          "GET, HEAD, OPTIONS",
          "max-age=15768000"
        ],
        "responseIsBinary": false
      }
    ],
    "675bec39da5001da740542931776c2e2": [
      {
        "scope": "https://swapi.dev:443",
        "method": "GET",
        "path": "/api/people/?search=Luke",
        "body": "",
        "status": 200,
        "response": {
          "count": 1,
          "next": null,
          "previous": null,
          "results": [
            {
              "name": "Luke Skywalker",
              "height": "172",
              "mass": "77",
              "hair_color": "blond",
              "skin_color": "fair",
              "eye_color": "blue"[...]
      {
        "scope": "https://swapi.dev:443",
        "method": "GET",
        "path": "/api/people/?search=Duke",
        "body": "",
        "status": 200,
        "response": {
          "count": 0,
          "next": null,
          "previous": null,
          "results": []
        },
        "rawHeaders": [
          "nginx/1.16.1",
          "Thu, 04 Nov 2021 19:24:13 GMT",
          "Content-Type",
          "application/json",
          "chunked",
          "close",
          "SAMEORIGIN",
          "ETag",
          "\"4200165871240e4de02c79cbd62d9180\"",
          "Allow",
          "GET, HEAD, OPTIONS",
          "max-age=15768000"
        ],
        "responseIsBinary": false
      }
    ]
  }
}