[
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v12.0/me/accounts?access_token=PARAMS_accessToken&fields=id%2Cinstagram_business_account",
    "body": "",
    "status": 200,
    "response": {
      "data": [
        {
          "id": "34298089714"
        },
        {
          "id": "88576184565"
        },
        {
          "id": "155739931949"
        },
        {
          "id": "110658944785122",
          "instagram_business_account": {
            "id": "17841450841275119"
          }
        }
      ],
      "paging": {
        "cursors": {
          "before": "MzQyOTgwODk3MTQZD",
          "after": "MTEwNjU4OTQ0Nzg1MTIy"
        }
      }
    },
    "rawHeaders": [
      "ETag",
      "\"47be90f8a49c548500dc530e0d697629417f6247\"",
      "Content-Type",
      "application/json",
      "x-business-use-case-usage",
      "{\"17841450841275119\":[{\"type\":\"instagram\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}",
      "0",
      "*",
      "facebook-api-version",
      "v12.0",
      "max-age=15552000; preload",
      "no-cache",
      "private, no-cache, no-store, must-revalidate",
      "Sat, 01 Jan 2000 00:00:00 GMT",
      "AfEJAj3b9mbgl9VrklRBP-v",
      "BspjEcL1RE4",
      "1005354385",
      "01EOizX0x1umNlI8QHJlzWwhFxjlhO8qpRtbe/jLR1wFvvjoKOT7KG2Utnmmfa7QoAmpsph0o5M9hMGreGwtnA==",
      "Thu, 14 Apr 2022 14:53:00 GMT",
      "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
      "close",
      "238"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://graph.facebook.com:443",
    "method": "GET",
    "path": "/v13.0/110658944785122?fields=instagram_business_account%7Bid%2Cname%2Cusername%2Cprofile_picture_url%7D&access_token=PARAMS_accessToken",
    "body": "",
    "status": 200,
    "response": [
      "1f8b08000000000000036d90416be3301844ffcaa2834f89ad4f962cc96016b53864f752b22ddb34188423cb89bb8d6c24d96d29fdefa5a5c73dce9b7718e60d0d2ec4f6e4db8b3ece61703604dd1a33ce2ea2f20d0d1d2a11704181322c2810ce00245a21d75e2c2ad1ede6[...]
