{
  "language/translate/deepl/TranslateText": {
    "bad900cc1d9f2615dbfb50c66944d02c": [
      {
        "scope": "https://api-free.deepl.com:443",
        "method": "GET",
        "path": "/v2/translate?text=Testovanie&target_lang=EN&auth_key=SECURITY_apikey",
        "body": "",
        "status": 200,
        "response": {
          "translations": [
            {
              "detected_source_language": "SK",
              "text": "Testing"
            }
          ]
        },
        "rawHeaders": [
          "Content-Type",
          "application/json"
        ],
        "responseIsBinary": false
      }
    ],
    "1d788d339d646cf2006bd9b0ca39b1e7": [
      {
        "scope": "https://api-free.deepl.com:443",
        "method": "GET",
        "path": "/v2/translate?target_lang=EN&auth_key=SECURITY_apikey",
        "body": "",
        "status": 400,
        "response": {
          "message": "\"Parameter 'text' not specified.\""
        },
        "rawHeaders": [
          "Content-Type",
          "application/json"
        ],
        "responseIsBinary": false
      }
    ]
  }
}