[
  {
    "scope": "https://api.PARAMS_REGION.natural-language-understanding.watson.cloud.ibm.com:443",
    "method": "POST",
    "path": "/instances/PARAMS_INSTANCE_ID/v1/analyze?version=2021-08-01",
    "body": {
      "text": "",
      "language": "wrong_language_code",
      "features": {
        "sentiment": {
          "document": true
        }
      }
    },
    "status": 400,
    "response": {
      "error": "invalid request: content is empty",
      "code": 400
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "x-dp-watson-tran-id",
      "2a833db2-6ac1-4097-ada8-527f1938d20d",
      "x-dp-watson-tran-id",
      "2a833db2-6ac1-4097-ada8-527f1938d20d",
      "x-global-transaction-id",
      "2a833db2-6ac1-4097-ada8-527f1938d20d",
      "X-EdgeConnect-MidMile-RTT",
      "5",
      "X-EdgeConnect-Origin-MEX-Latency",
      "22"
    ],
    "responseIsBinary": false
  }
]