[
  {
    "scope": "https://api.parameters-removed-to-keep-them-secure.natural-language-understanding.watson.cloud.ibm.com:443",
    "method": "POST",
    "path": "/instances/parameters-removed-to-keep-them-secure/v1/analyze?version=2021-08-01",
    "body": {
      "text": "Enjoy your stay!",
      "language": "en",
      "features": {
        "sentiment": {
          "document": true
        }
      }
    },
    "status": 200,
    "response": {
      "usage": {
        "text_units": 1,
        "text_characters": 16,
        "features": 1
      },
      "sentiment": {
        "document": {
          "score": 0.956482,
          "label": "positive"
        }
      },
      "language": "en"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "x-dp-watson-tran-id",
      "97d23618-4b35-402c-9545-5f83d86a3646",
      "x-dp-watson-tran-id",
      "97d23618-4b35-402c-9545-5f83d86a3646",
      "x-global-transaction-id",
      "97d23618-4b35-402c-9545-5f83d86a3646",
      "X-EdgeConnect-MidMile-RTT",
      "5",
      "X-EdgeConnect-Origin-MEX-Latency",
      "181"
    ],
    "responseIsBinary": false
  }
]