[
  {
    "scope": "https://api.eu-de.natural-language-understanding.watson.cloud.ibm.com:443",
    "method": "POST",
    "path": "/instances/parameters-removed-to-keep-them-secure/v1/analyze?version=2021-08-01",
    "body": {
      "text": "",
      "language": "wrong_language_code",
      "features": {
        "sentiment": {
          "document": true
        }
      }
    },
    "status": 400,
    "response": {
      "error": "invalid request: content is empty",
      "code": 400
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "x-dp-watson-tran-id",
      "b0c16993-1aad-4818-8087-0df1a7ab2c70",
      "x-dp-watson-tran-id",
      "b0c16993-1aad-4818-8087-0df1a7ab2c70",
      "x-global-transaction-id",
      "b0c16993-1aad-4818-8087-0df1a7ab2c70",
      "X-EdgeConnect-MidMile-RTT",
      "5",
      "X-EdgeConnect-Origin-MEX-Latency",
      "35"
    ],
    "responseIsBinary": false
  }
]