[
  {
    "scope": "https://api.PARAMS_REGION.natural-language-understanding.watson.cloud.ibm.com:443",
    "method": "POST",
    "path": "/instances/PARAMS_INSTANCE_ID/v1/analyze?version=2021-08-01",
    "body": {
      "text": "I feel tired this morning.",
      "language": "en",
      "features": {
        "sentiment": {
          "document": true
        }
      }
    },
    "status": 200,
    "response": {
      "usage": {
        "text_units": 1,
        "text_characters": 26,
        "features": 1
      },
      "sentiment": {
        "document": {
          "score": -0.924742,
          "label": "negative"
        }
      },
      "language": "en"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "x-dp-watson-tran-id",
      "edc63ae1-c9ce-427f-bbc1-2059fce3fa51",
      "x-dp-watson-tran-id",
      "edc63ae1-c9ce-427f-bbc1-2059fce3fa51",
      "x-global-transaction-id",
      "edc63ae1-c9ce-427f-bbc1-2059fce3fa51",
      "X-EdgeConnect-MidMile-RTT",
      "5",
      "X-EdgeConnect-Origin-MEX-Latency",
      "235"
    ],
    "responseIsBinary": false
  }
]