[
  {
    "scope": "https://api.linkedin.com:443",
    "method": "GET",
    "path": "/v2/organizationAcls?q=roleAssignee&state=APPROVED&role=ADMINISTRATOR&projection=%28paging%2Celements%28*%28organization%7E%28id%2ClocalizedName%2CvanityName%2ClogoV2%28cropped%7E%3AplayableStreams%29%29%29%29%29&count=100",
    "body": "",
    "status": 200,
    "response": {
      "paging": {
        "count": 100,
        "start": 0,
        "links": []
      },
      "elements": [
        {
          "organization~": {
            "vanityName": "sf-test-1",
            "localizedName": "sf-test",
            "id": 80893183
          },
          "organization": "urn:li:organization:80893183"
        }
      ]
    },
    "rawHeaders": [
      "x-li-responseorigin",
      "RGW",
      "Content-Type",
      "application/json;charset=utf-8",
      "189",
      "Thu, 27 Jan 2022 11:00:14 GMT",
      "X-Li-Fabric",
      "prod-ltx1",
      "X-Li-Source-Fabric",
      "prod-lva1",
      "X-Li-Pop",
      "prod-lva1-x",
      "X-LI-Proto",
      "http/1.1",
      "X-LI-UUID",
      "AAXWjjkKBsbivSz8tQADEA==",
      "bcookie=\"v=2&b4fdfdf3-7e19-4796-8422-3a6f27e5d3f5\"; Domain=.linkedin.com; Expires=Sat, 27-Jan-2024 22:37:46 GMT; Path=/; Secure; SameSite=None",
      "li_gc=MTswOzE2NDMyODEyMTQ7MjswMjES9nUosUaDrBnaVwnfkFAeNy9MpXCf6wxubtEaNqudqA==; Domain=.linkedin.com; Expires=Fri, 26 Jan 2024 22:25:43 GMT; Path=/; Secure; SameSite=None",
      "lidc=\"b=TB26:s=T:r=T:a=T:p=T:g=3739:u=207:x=1:i=1643281214:t=1643363220:v=2:sig=AQF8fxAK5iuNMkBd0dIx2cXEOmnC6vaU\"",
      "X-LI-Route-Key",
      "\"b=TB26:s=T:r=T:a=T:p=T:g=3739:u=207:x=1:i=1643281214:t=1643363220:v=2:sig=AQF8fxAK5iuNMkBd0dIx2cXEOmnC6vaU\""
    ],
    "responseIsBinary": false
  }
]