[
  {
    "scope": "https://gitlab.com:443",
    "method": "GET",
    "path": "/api/v4/users/madeup/projects?page=1",
    "body": "",
    "status": 404,
    "response": {
      "message": "404 User Not Found"
    },
    "rawHeaders": [
      "Fri, 05 Nov 2021 11:02:59 GMT",
      "Content-Type",
      "application/json",
      "32",
      "close",
      "no-cache",
      "nosniff",
      "SAMEORIGIN",
      "01FKQW873VZP1WXA2PZW3TZ0TR",
      "0.017279",
      "RateLimit-Observed",
      "5",
      "RateLimit-Remaining",
      "1995",
      "RateLimit-Reset",
      "1636110239",
      "RateLimit-ResetTime",
      "Fri, 05 Nov 2021 11:03:59 GMT",
      "RateLimit-Limit",
      "2000",
      "GitLab-LB",
      "fe-06-lb-gprd",
      "GitLab-SV",
      "localhost",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000",
      "cloudflare",
      "6a9597ccff634132-PRG"
    ],
    "responseIsBinary": false
  }
]