[
  {
    "scope": "https://gitlab.com:443",
    "method": "GET",
    "path": "/api/v4/users/madeup/projects?page=1",
    "body": "",
    "status": 404,
    "response": {
      "message": "404 User Not Found"
    },
    "rawHeaders": [
      "Thu, 04 Nov 2021 09:36:46 GMT",
      "Content-Type",
      "application/json",
      "32",
      "close",
      "no-cache",
      "nosniff",
      "SAMEORIGIN",
      "01FKN4XMCVC42YPM6S8P587B1P",
      "0.024807",
      "RateLimit-Observed",
      "10",
      "RateLimit-Remaining",
      "1990",
      "RateLimit-Reset",
      "1636018666",
      "RateLimit-ResetTime",
      "Thu, 04 Nov 2021 09:37:46 GMT",
      "RateLimit-Limit",
      "2000",
      "GitLab-LB",
      "fe-03-lb-gprd",
      "GitLab-SV",
      "localhost",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "max-age=31536000",
      "cloudflare",
      "6a8cdc21f8084120-PRG"
    ],
    "responseIsBinary": false
  }
]